<form [formGroup]="frmStepFirst">

  <div class="tg-registration-step" fxLayout>

    <div class="tg-sidebar" fxFlex="1 1 150px">
      
      <div *ngFor="let race of racesList; let idx = index;"
        matRipple 
        class="tg-sidebar-item"
        [ngClass]="{'active': selectedRace === race.code}"
        (click)="setRace(race)">{{race.name}}
      </div>

    </div>

    <div class="tg-detail-content" fxFlex="1 1 100%">

      <ng-container *ngIf="!selectedRace; else raceDetailContent">
        <div class="tg-detail-text">
          <p>La scelta della <b class="tg-cyan">razza del tuo personaggio</b> è una delle decisioni più importanti. Essa determina che
            caratteristiche fisiche e mentali avrà,
            quali saranno i suoi punti di forza e debolezza, in cosa sarà più abile, se sarà cittadino di un villaggio o
            di una grande città e chi saranno
            i suoi amici e nemici.</p>
          <p>Seleziona razza e sesso del tuo personaggio dall'elenco a sinistra...</p>
        </div>
      </ng-container>
    </div>
  </div>
</form>

        
<ng-template #raceDetailContent>
    <div class="tg-detail-image">
        img: {{selectedRace}}
    </div>
    <div class="tg-detail-text"  [innerHtml]="raceDetailText"></div>
    <button mat-raised-button matStepperNext color="accent">Avanti</button>
</ng-template>
