// System 
$imgPath: "../images";

//Custom
$bodybackground : 'frame/background/dark-wood.jpg';

$inputbackground: #151512;

$area-border-size: 26px;
$ironlight-border-size : 8px;
$ironlight-mini-border-size: 4px;
$controlpanel-border-size: 11px;
$modal-border-size: 6px;
$modalpaper-border-size: 70px;

// Colors List
$tg-white: white;
$tg-lt-white: #fafafa;
$tg-gray: #b8b8b8;
$tg-red: #ff3400;
$tg-lt-red: #fe6442;
$tg-green: #27d018;
$tg-lt-green: #c6fac4;
$tg-blue: #006eff;
$tg-lt-blue: #5dc4ff;
$tg-magenta: #cf25df;
$tg-lt-magenta: #ff63ed;
$tg-cyan: #36b9d0;
$tg-lt-cyan: #63e8ff;
$tg-brown: #d19336;
$tg-yellow: #f2ff00;



/*Bootstrap override*/
$grid-breakpoints: (
  xs: 0,
  sm: 750px,
  md: 960px,
  lg: 1140px,
  xl: 1450px
);

$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, Verdana, Geneva, sans-serif !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;

$grid-gutter-width:16px;
$link-color: #FFF;
$input-border-radius: 0;
$input-border-radius-lg: 0;
$input-border-radius-sm: 0;
$btn-border-radius: 0;

$tooltip-padding-y:                 .45rem;
$tooltip-padding-x:                 .5rem;

$font-size-base: 0.7rem;


$input-group-addon-bg:                transparent;
$input-group-addon-border-color:      transparent;
$label-margin-bottom:                 0;

// Popovers


$popover-font-size:                 .6rem;
$popover-body-color:                #999;
$popover-bg:                        black;
$popover-border-width:              1px;
$popover-border-color:              #666;
$popover-border-radius:             0;
$popover-header-padding-y:          .3rem;
$popover-body-padding-y:            .4rem;
/*
$popover-font-size:                 $font-size-sm !default;
$popover-bg:                        $white !default;
$popover-max-width:                 276px !default;
$popover-border-width:              $border-width !default;
$popover-border-color:              rgba($black, .2) !default;
$popover-border-radius:             $border-radius-lg !default;
$popover-box-shadow:                0 .25rem .5rem rgba($black, .2) !default;

$popover-header-color:              $headings-color !default;
$popover-header-padding-y:          .5rem !default;
$popover-header-padding-x:          .75rem !default;

$popover-body-padding-y:            $popover-header-padding-y !default;
$popover-body-padding-x:            $popover-header-padding-x !default;

$popover-arrow-width:               1rem !default;
$popover-arrow-height:              .5rem !default;
$popover-arrow-color:               $popover-bg !default;

$popover-arrow-outer-color:         fade-in($popover-border-color, .05) !default;*/