@import 'abstract/variables';
@import 'abstract/sprites';
@import 'abstract/sprites-mixins';


.tg-status-inline {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  transform: translateY(-100%);
  transition: transform .2s ease-in-out;
  background: #190f06 url($imgPath + '/background/bg-ironbrown.jpg') repeat;
  z-index: 2;

  .tg-status-inline--wrap {
    padding: 1em;
    background: url($imgPath + "/borders/border-002-tiny.png") repeat-x bottom left;
  }

  .tg-status-row {
    .tg-status-name {
      padding:0.2em 1em .2em;
    }
  }

  .tg-meterbar {
    box-sizing: border-box;
    border: 1px solid #5f5c59;
    padding: 2px 3px;
    position: relative;
    background-color: black;
    text-align: center;
    color: white;

    .barC {
      display: block;
      width: 0%;
      height: 100%;
      background-repeat: repeat-x;
      background-position: top left;
      transition: width 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
    }

    .barC.red {
      background: url($imgPath + '/bars/healt.jpg') repeat-x left top;
    }
    .barC.green {
      background: url($imgPath + '/bars/stamina.jpg') repeat-x left top;
    }
    .barC.orange {
      background: url($imgPath + '/bars/fame.jpg') repeat-x left top;
    }
    .barC.blue {
      background: url($imgPath + '/bars/sete.jpg') repeat-x left top;
    }
  }

  .tg-status-msg {
    padding: .5em 0;
    display: block;
    text-align: center;
  }
}

.tg-status-inline.show {
  transform: none;
}