@import 'variables';


.tg-shortcut {
    .tg-icon {
        cursor: pointer;
    }
}

.tg-shortcuts-conflink {
}

.tg-shortcut-cmdlabel {
    line-height: 14px;
    height: 13px;
    font-size: 13px;
    padding: .2em;
    color: white;
    span {
        color: #8e8e8e;
    }
}