@import '~src/scss/colors';

.tg-shortcut {
    height: 32px;
    width: 32px;
    background: gray;
}

.tg-shortcuts-conflink {
}

.tg-shortcut-cmdlabel {
    line-height: 14px;
    height: 13px;
    font-size: 13px;
    padding: .2em;
    color: white;
    span {
        color: #8e8e8e;
    }
}