<div class="b-ironlight-mini tg-box"  cdkDrag cdkDragRootElement=".cdk-overlay-pane">
    <div class="tg-dialog-content-nopadding tg-shadow-inset">
      <div class="tg-dialog-title" cdkDragHandle>
        Scorciatoie
        <button mat-icon-button class="tg-dialog--close" [mat-dialog-close]="true">
          <mat-icon aria-label="Chiudi la finestra">close</mat-icon>
        </button>
      </div>
      <ng-container *ngIf="totalShortcuts.length > 0; else noShortcuts">
        <div class="tg-shortcutpanel" matDialogContent fxLayout="row wrap">
          <div 
            *ngFor="let shortcut of totalShortcuts; let i = index;" fxFlex="1 1 32px" 
            class="tg-shortcut-icon" 
            matRipple (click)="sendCmd(shortcut.alias)" 
            (mouseover)="changeCmdLabel(i)" 
            (mouseout)="changeCmdLabel('')">
              <img src="assets/images/shortcuts/shortcut_{{shortcut.icon}}.png" alt="">
          </div>
        </div>
        <div class="tg-shortcut-cmdlabel">
          <ng-container  *ngIf="totalShortcuts[cmdHoverId] &&  cmdHoverId >= 0">
            <span class="tg-brown">Comando:</span>&nbsp;{{totalShortcuts[cmdHoverId]?.alias}}, &nbsp; <span class="tg-brown">Azione:</span>&nbsp;{{totalShortcuts[cmdHoverId]?.cmd}}
          </ng-container>
        </div>
        <div matDialogActions class="tg-shortcuts-edit">
          <button mat-stroked-button (click)="openShortcutManager()" color="accent">
            modifica scorciatoie
          </button>
        </div>
      </ng-container>
    </div>
    <div class="tg-border-box">
      <div class="tg-border tg-border-top"></div>
      <div class="tg-border tg-border-left"></div>
      <div class="tg-border tg-border-right"></div>
      <div class="tg-border tg-border-bottom"></div>
    </div>
</div>

<ng-template #noShortcuts>
  <p class="no-shortcuts">
    Non hai ancora nessuna scorciatoia salvata.<br/>
    <button mat-stroked-button (click)="openShortcutManager()" color="accent">Creane subito una</button> 
  </p>
</ng-template>
