<div class="b-ironlight-mini tg-box"  cdkDrag cdkDragRootElement=".cdk-overlay-pane">
    <div class="tg-dialog-content-nopadding tg-shadow-inset">
      <div class="tg-dialog-title" cdkDragHandle>
        Scorciatoie
        <button mat-icon-button class="tg-dialog--close" [mat-dialog-close]="true">
          <mat-icon aria-label="Chiudi la finestra">close</mat-icon>
        </button>
      </div>
      <div class="tg-shortcutpanel" matDialogContent fxLayout="row wrap">
        <div class="tg-shortcut"
          *ngFor="let shortcut of totalShortcuts; let i = index;" fxFlex="1 1 32px">
          <button matRipple>s {{i+1}}</button>
        </div>
        <div class="tg-shortcut-cmdlabel">
          //cosa fa
        </div>
      </div>
      <div matDialogActions>
        <button mat-icon-button>
          <mat-icon aria-label="Modifica scorciatoie">settings</mat-icon>
        </button>
      </div>
    </div>
    <div class="tg-border-box">
      <div class="tg-border tg-border-top"></div>
      <div class="tg-border tg-border-left"></div>
      <div class="tg-border tg-border-right"></div>
      <div class="tg-border tg-border-bottom"></div>
    </div>
</div>