<!-- <ng-container *ngIf="dataTable$ | async as datatable">
  <tg-dialog [id]="dialogID" [config]="modalConfig" [titleDialog]="'Informazioni'">
    <div style="overflow: hidden;" #windowContent>
      <div class="tg-generictable" style="overflow:hidden">
        <div class="tg-dialog-inside-nopadding">
          <ngx-datatable
            #tgdatatable
            
            [columnMode]="'force'"
            [limit]="currentPageLimit"
            [rows]="rows"
            [sortType]='"single"'
            [rowHeight]="rowHeight"
            [messages]="messages"
            [headerHeight]="headerHeight"
            [footerHeight]="footerHeight"
            class="tg-rendetable table-hover material"
            [style.height.px]="contentHeight">
            <ng-container *ngFor="let col of columns; let i = index">
                <ng-container *ngIf="col.name === 'icona'">
                  <ngx-datatable-column
                    [prop]="col.prop" 
                    [name]="col.name">
                      <ng-template 
                        let-value="value" 
                        let-row="row" 
                        ngx-datatable-cell-template>
                        <tg-icons [icon]="value"></tg-icons>
                      </ng-template>
                    </ngx-datatable-column>
                </ng-container>
                <ng-container *ngIf="col.name !== 'icona'">>
                  <ngx-datatable-column 
                    [prop]="col.prop" 
                    [name]="col.name">
                    <ng-template 
                      let-value="value" 
                      let-row="row" 
                      ngx-datatable-cell-template>
                        {{ value | dataToHtml}}
                    </ng-template>
                  </ngx-datatable-column>
                </ng-container>
            </ng-container>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </tg-dialog>
</ng-container>
 -->
