@import 'variables';
@import 'sprites';
@import 'utils/sprites-mixins';


.tg-generictable {
    height: 100%;
    overflow: hidden;
    text-align: left;
}

datatable-header {
    background-color: #30241d;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;

    datatable-header-inner {
        height: 100%;
    }
    
    datatable-header-cell {
        border-right: 1px solid black;
    }
}

datatable-body {
    color: black;
    
    datatable-row-wrapper {
    }
    datatable-body-row {
        background: url($imgPath + '/interface/trow-bg-light.jpg') repeat-x bottom left;
        box-sizing: border-box;
        border-top: 1px solid  #42342c!important;
        transition: background .4s linear;
        cursor: pointer;
    }

    datatable-body-row:hover {
        background: url($imgPath + '/interface/trow-bg-dark.jpg') repeat-x bottom left;
    }

    datatable-body-cell {
        border-right: 1px solid #a79a73;
    }

    // datatable-selection {
    //     height: 1px;
    //     display: inline-block;
    // }
    // tbody tr:nth-of-type(even) {
    //     background: url($imgPath + '/interface/trow-bg-dark.jpg') repeat-x bottom left;
    //     background-color: #bcb190;
    
    // }

    .datatable-row-wrapper:hover{
        background-color: #ebdaa4;
    }

    .datatable-body-cell {
        display: flex!important;
        flex-direction: column;
        justify-content: center;
    }

    .datatable-body-cell-label {
        margin: 0 auto!important;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

datatable-footer{
    overflow: hidden;
    margin-top: -2px;
    .page-count {
        margin-left: 1.5em;
        text-align: left;
    }
}

datatable-pager {
    
    display: flex;
    align-items: center;

    ul {
        margin-left: auto;
    }

    li {
        vertical-align: middle;
        padding: 0;
        margin: 0;
        display: inline-block;
        list-style: none;
    }
    li.disabled a {
        cursor: not-allowed;
    }

    li.active {
        background-color: #4d3c31;
    }
    a {
        color: #e2cbaf;
        height: 22px;
        min-width: 24px;
        line-height: 22px;
        padding: 0 6px;
        margin: 6px 3px;
        text-align: center;
        vertical-align: top;
        text-decoration: none;
        vertical-align: bottom;
    }

    .icon-prev {
        font-size: 20px;
        line-height: 20px;
        padding: 0 3px;
    }

    i {
        vertical-align: middle;
    }
}

// .datatable-scroll {
//     width:  100%!important;
// }



.tg-generictable {

    // .table-cont {
    //     height: 100%;
    //     overflow: hidden;
    // }

    // a {
    //     cursor: pointer;
    // }



    // th {
    //     border: none;
    //     border: 1px solid  #42342c!important;
    //     padding-left:20px;
    //     font-weight: normal;
    //     font-size: 12px;
    // }

    // th, td {
    //     text-align: center;
    //     vertical-align: middle;
    //     border-right: 1px solid $table-dark-bg;
    //     border-top: 1px solid  $table-dark-bg;
    // }

    // td {
    //     color: black;
    // }


    // .checkbox {
    //     margin: 0 auto;
    //     @include sprite($notchecked-sprite);
    // }
    
    
    // .checkbox.checked {
    //     @include sprite($checked-sprite);
    // }
}
