<div class="tg-auth-form" fxLayout="row wrap" fxLayoutAlign="center center">
  <form [formGroup]="frmNewPassword" (ngSubmit)="onSubmit()">
    <div class="tg-auth-form-header" [@animate]="{value:'*', params:{delay:'150ms', y:'56px'}}">
      <div class="tg-base-logo big"></div>
      <h1>Inserisci una nuova password per il tuo account</h1>
    </div>

    <div class="tg-auth-form-body" style="text-align: center;" [@animate]="{value:'*', params:{delay:'300ms', y:'56px'}}">
      <ng-container *ngIf="!success; else successChangePassword">
        
        <div class="form-field-group">
          <label for="password">Nuova Password</label>
          <input type="password" formControlName="password" class="input-block form-control">
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required || f.password.errors.minlength">Password non valida o troppo corta.</div>
          </div>
        </div>
  
        <div class="form-field-group">
          <label for="confirmPassword">Ripeti la password</label>
          <input type="password" formControlName="confirmPassword" class="input-block form-control">
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">La password deve essere uguale.</div>
          </div>
        </div>
        <div class="form-field-group">
          <input type="submit" value="Accedi" name="submit" class="tg-submit-primary" [disabled]="onProcess">
        </div>
  
        <div class="tg-error" *ngIf="loginFailedError">{{loginFailedError}}</div>
      
      </ng-container>
      
      <ng-template #successChangePassword>
        <p>La tua password è stata aggiornata</p>
        <p>Vai alla <a [routerLink]="[ '/auth/login' ]" class="tg-yellow">pagina di login</a> e accedi con le nuove credenziali.</p>
      </ng-template>
      

    </div>
  </form>
</div>
