mat-panel-title{
}

mat-expansion-panel {
  padding: 12px 0;
}

.characters-action {
  margin-bottom: 20px;
}


.ch-avatar {
  width: 75px;
  height: 75px;
  border: 2px solid #866c1d;
  box-shadow: inset 0 0 13px black;
  background: rgb(45, 41, 38);

  .tg-base-logo {
    width: 100%;
    height: 100%;
    background-size: cover;
  }
}

.ch-infoaction {

  .ch-char-name {
    font-size: 16px;
    font-weight: bold;
  }
}

.ch-char-action {
  margin: auto;
}

.ch-char-details {
  padding: 6 12px;
}