<h2>Personaggi</h2>

<div class="header" fxLayout="column" fxLayoutAlign="center start" fxLayoutAlign.gt-sm="space-between end"
  fxLayout.gt-sm="row">
  <div class="characters-action">
    <button mat-raised-button color="accent">
      <mat-icon>add</mat-icon>
      Aggiungi personaggio
    </button> | slot liberi: <b>{{2 - charactersSizeMax}} / 2</b>
  </div>
</div>


<ng-container *ngIf="characters.length > 0; else noCharacters">

  <mat-accordion>
    <mat-expansion-panel *ngFor="let char of characters" [ngClass]="{'char-disabled': char.status === 'disabled'}">

      <mat-expansion-panel-header [collapsedHeight]="'auto'" [expandedHeight]="'auto'">

        <mat-panel-title fxLayout="row" fxLayoutGap="6px">
          <div class="ch-avatar mat-elevation-z4" fxFlex="0 0 75px">
            <div class="tg-base-logo"></div>
          </div>
          <div class="ch-infoaction" fxLayoutAlign="center start" fxLayout="column">
            <div class="ch-char-name"> {{char.name | capitalizeFirst}} </div>
            <div class="ch-char-subaction">
              <a href="#">Cambia immagine</a> | <a href="#">Segnala un problema</a>
            </div>
          </div>
        </mat-panel-title>

        <mat-panel-description>
          <div class="ch-char-action">
            <button mat-flat-button color="accent">Connetti</button>
          </div>
        </mat-panel-description>

      </mat-expansion-panel-header>

      <div class="ch-char-details">
        <p><b>Razza</b>: {{char.race}}</p>
        <p><b>Sesso</b>: {{char.sex}} </p>
        <p><b>Età</b>: {{char.age}} </p>
        <button mat-raised-button color="warn">Disabilita personaggio</button>
      </div>

    </mat-expansion-panel>
  </mat-accordion>

</ng-container>

<ng-template #noCharacters>
  Non possiedi ne hai creato alcun personaggio fino ad ora.
  Creane subito uno!
</ng-template>
