@import 'abstract/variables';

.tg-attr-name {
  
  position: relative;

  h2 {
    margin: 0;
    font-weight: normal;
    font-size: 100%;
  }

}

.tg-attribute-wrap {
  padding: 2em;
}


// Alignment

::ng-deep {
  .tg-registration-alignment {
    
    display: inline-block;
    margin-left: .5em;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 2px 6px;
    font-weight: bold;
    margin-bottom: 2px;
    box-shadow: 0 0 3px 0px black;
  
    &.green {
      background-color: #156918;
    }

    &.lightred {
      background-color: #ad381d;
    }

    &.red {
      background-color: #7b0000;
    }

    &.cyan {
      background-color: #1c7169;
    }

    &.white {
      background: white;
      color: black;
    }
  }
}