@import 'abstract/variables';

/* Others */
@import 'abstract/sprites';
@import 'abstract/sprites-mixins';
// @import '~@angular/flex-layout/mq';
@import '~@angular/flex-layout/mq';


$skyPath : $imgPath+'/sky/';

$lightining_color1: transparent;
$lightining_color2: rgba(255, 255, 255, 0.6);

@keyframes lightining {
  0% {
    background-color: $lightining_color1;
  }

  9% {
    background-color: $lightining_color1;
  }

  10% {
    background-color: $lightining_color2;
  }

  20.5% {
    background-color: $lightining_color1;
  }

  80% {
    background-color: $lightining_color1;
  }

  82% {
    background-color: $lightining_color2;
  }

  83% {
    background-color: $lightining_color1;
  }

  83.5% {
    background-color: $lightining_color2;
  }

  100% {
    background-color: $lightining_color1;
  }
}

:host {
  position: absolute;
  width: 358px;
  height: 215px;
  left: 28px;
  top: 13px;

  .sky-content {
    height: 100%;
    width: 100%;
    box-shadow: inset 0 0 20px 0px black;
    background-size: cover;
    background-position: top left;
    overflow: hidden;

    &:after {
      display: none;
      content: '';
      position: absolute;
    }

    /* Notte con Luna */
    &.sky-0,
    &.sky-1,
    &.sky-2,
    &.sky-3,
    &.sky-4 {
      background-image: url($skyPath + 'notte.jpg');

      /* Elemento Luna */
      &:after {
        @include sprite($weather-moon-sprite);
        display: block;
        transition: top 6s ease-in, left 6s ease-in;
      }
    }

    /* Lampi  */
    &.sky-d,
    &.sky-e,
    &.sky-f,
    &.sky-p,
    &.sky-r,
    &.sky-s {
      &:after {
        background-color: transparent;
        display: block !important;
        position: absolute;
        width: 100%;
        height: 100%;
        animation: lightining 8s infinite;
      }
    }


    /* Notte + luna 0/4 */
    &.sky-0:after {
      top: 80px;
      left: -16px;
    }

    /* Notte + luna 1/4 */
    &.sky-1:after {
      top: 12px;
      left: 20px;
    }

    /* Notte + luna 2/4 */
    &.sky-2:after {
      top: -18px;
      left: 177px;
      transform: translateX(-50%);
    }

    /* Notte + luna 3/4 */
    &.sky-3:after {
      top: 12px;
      right: 20px;
    }

    /* Notte + luna 4/4 */
    &.sky-4:after {
      top: 80px;
      right: -16px;
    }

    /* Alba */
    &.sky-5 {
      background-image: url($skyPath + 'alba.jpg');
    }

    /* Mattina */
    &.sky-6, &.sky-o {
      background-image: url($skyPath + 'mattina.jpg');
    }

    /*Mezzogiorno*/
    &.sky-7 {
      background-image: url($skyPath + 'mezzogiorno.jpg');
    }

    /*Pomeriggio*/
    &.sky-8 {
      background-image: url($skyPath + 'pomeriggio.jpg');
    }

    /* Sera */
    &.sky-9 {
      background-image: url($skyPath + 'sera.jpg');
    }

    /* Notte (no luna) */

    /* giorno con pioggia e fulmini */
    &.sky-d {
      background-image: url($skyPath + 'giorno-pioggia-fulmini.jpg');
    }

    /* giorno e pioggia */
    &.sky-e {
      background-image: url($skyPath + 'giorno-pioggia.jpg');
    }

    /* giorno e fulmini */
    &.sky-f {
      background-image: url($skyPath + 'giorno-nuvoloso.jpg');
    }

    /* Aurora boreale */
    &.sky-g {
      //@include sprite($auroraboreale-sprite);
    }

    /* Tramonto */
    &.sky-i {
      background-image: url($skyPath + 'tramonto.jpg');
    }

    /* Aurora */
    &.sky-N {
      background-image: url($skyPath + 'aurora.jpg');
    }

    /* Notte + pioggia + fulmini */
    &.sky-p {
      background-image: url($skyPath + 'notte-pioggia-fulmini.jpg');
    }

    /* Giorno nuvoloso  */
    &.sky-q {
      background-image: url($skyPath + 'giorno-nuvoloso.jpg');
    }

    /* Notte + Pioggia */
    &.sky-r {
      background-image: url($skyPath + 'notte-pioggia.jpg');
    }

    /* Notte + Pioggia + Fulmini */
    &.sky-s {
      background-image: url($skyPath + 'notte-pioggia-fulmini.jpg');
    }

    /* Giorno + Neve */
    &.sky-t {
      background-image: url($skyPath + 'giorno-neve.jpg');
    }

    /* Arcobaleno */
    &.sky-u {
      background-image: url($skyPath + 'rainbow.jpg');
    }

    /* Notte nuvolosa */
    &.sky-w {
      background-image: url($skyPath + 'notte-nuvolosa.jpg');
    }

    /* Notte con Neve */
    &.sky-y {
      background-image: url($skyPath + 'notte-neve.jpg');
    }
  }

  @include layout-bp(lt-lg) {

    width: 275px;
    height: 162px;
    top: 10px;
    left: 24px;
    right: 10px;
    z-index: 2;
    position: absolute;

    .sky-content {

      /* Notte + luna 0/4 */
      &.sky-0:after {
        top: 52px;
        left: -15px;
      }

      /* Notte + luna 1/4 */
      &.sky-1:after {
        top: 12px;
        left: 20px;
      }

      /* Notte + luna 2/4 */
      &.sky-2:after {
        top: -18px;
        left: 136px;
        transform: translateX(-50%);
      }

      /* Notte + luna 3/4 */
      &.sky-3:after {
        top: 12px;
        right: 20px;
      }

      /* Notte + luna 4/4 */
      &.sky-4:after {
        top: 52px;
        right: -15px;
      }
    }
  }
}
