
@import 'right-sidebar';

@include font-face(kingthinks, '/assets/fonts/Kingthings_Foundation', null, null, ttf );
body,
html {
  height: 100%;
  width: 100%;
}

body {
  background: #0b0807;
  color: $white;
  display: inline-block;
  vertical-align: top;
}

a,
button:focus,
input:focus,
.input:active,
textarea:focus,
select:focus,
button:active {
  outline: 0 none !important;
}

button,
input[type="checkbox"] {
  cursor: pointer;
  border: none;
}

caption {
  caption-side: top;
}

/* CLIENT LOGIN STATUS */
body[data-loginstatus=ready] {
  overflow: hidden;
}

/* BOX SHADOWS */
.tg-shadow {
  box-shadow: 0px 6px 11px 0 $black;
  background-color: black;
}

.tg-shadow-light {
  box-shadow: 0px 3px 5px 0 $black;
}

.tg-shadow-dialog {
  box-shadow: 0px 2px 20px 6px black;
}

.tg-shadow-inset {
  box-shadow: 0px 0px 11px 5px black inset;
}

.tg-area {
  width: 100%;
  height: 100%;
  min-height: 600px;
  display: flex;
  overflow: hidden;
  padding: 0;

  &.expanded {
    padding: 0;
  }
}

.tg-main {
  display: flex;
  min-height: 100%;
  max-height: 100%;
  flex-direction: column;
  z-index: 10;
  position: relative;

  .tg-main-row {
    flex: 1;
  }
}

.tg-leftside {
  display: flex;
  flex-direction: column;
  background: #0a0806;
  overflow: hidden;

}


@include media-breakpoint-down(md) {
  .tg-area {
    padding: 0;
  }

  .tg-main {
    .tg-controlpanel {
      margin-left: 0;
    }
  }
}

 .iconimg {
     background-image: url( $imgPath + '/tiles.png');
     background-repeat: no-repeat;
     width: 32px;
     height: 32px;
     min-width: 32px;
     transform: scale(.7);
     vertical-align: middle;
     &.tg-dragging {
         transform: none;
     }
 }
// .popover-header {
//     font-size:.6rem;
//     padding-bottom: 0;
// }

// .popover-body {
//     padding-top: 0;
//     a {
//         text-decoration: underline;
//         color: $tg-yellow;
//     }
// }

// .nav-tabs {
//     border-bottom: none;
// }
// .nav-tabs .nav-link {
//     border: none;
// }

// .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
//     border: none;
// }


// // Custom Form Elements
// .custom-control-label {
//     cursor: pointer;
// }
// .custom-checkbox .custom-control-label::before {
//     border-radius: 0;
//     border: none;
//     background-color: transparent;
//     // @include sprite($checkbox-sprite);
//     transition: none;
// }

// .custom-checkbox .custom-control-label::after {
//     border: none!important;
//     background-color: transparent;
// }

// .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
//     // @include sprite($checkbox-checked-sprite);
//     top: -4px;
//     background-size: unset;
// }

// .custom-control-input{
//     visibility: hidden;
// }
