// System 
$imgPath: "/assets/images";

//Custom
$bodybackground : 'frame/background/dark-wood.jpg';

$inputbackground: #f7f2e7;

$area-border-size: 26px;
$ironlight-border-size : 6px;
$ironlight-mini-border-size: 16px;
$controlpanel-border-size: 11px;
$modal-border-size: 6px;
$modalpaper-border-size: 80px;

// Colors List
$tg-white: white;
$tg-lt-white: #fafafa;
$tg-gray: #b8b8b8;
$tg-red: #ff3400;
$tg-lt-red: #fe6442;
$tg-green: #27d018;
$tg-lt-green: #92e48f;
$tg-blue: #006eff;
$tg-lt-blue: #5dc4ff;
$tg-magenta: #cf25df;
$tg-lt-magenta: #ff63ed;
$tg-cyan: #36b9d0;
$tg-lt-cyan: #63e8ff;
$tg-brown: #d19336;
$tg-yellow: #ffe010;