<tg-window-wrapper [hideTitle]="true" [nopadding]="true">
  <ng-container ngProjectAs="content">
      <ng-scrollbar  #scrollBar class="scrollbar scrollbar-dialog bitpadding">
        <h4 class="tg-title">Informativa ai sensi dell'art. 13 del Codice della Privacy</h4>
        <p>Questo sito fa uso di cookie e "local storage" ai soli fini tecnici di permettere il salvataggio della
          propria configurazione e il riconoscimento dell'utente per il conseguente accesso automatico. Le
          funzionalità di "Login tramite
          Facebook" e i pulsanti social "Mi piace" richiedono il salvataggio di cookie di terze parti. <br>
          Maggiori
          informazioni sono disponibili
          <a target="_blank"
            href="http://www.thegatemud.it/documenti-e-aiuto/documenti/209-termini-e-condizioni-d-uso-del-servizio#cookie">qui</a>.
          <b class="cookie-lastalert">Proseguendo nell'accesso si acconsente all'uso dei cookie.</b>
        </p>
        <div class="custom-checkbox">
          <mat-checkbox (change)="buttonDisabled = !buttonDisabled">Ho letto e accetto</mat-checkbox>
        </div>
          <button mat-raised-button (click)="onContinue()" color="accent" [disabled]="buttonDisabled">Continua</button>
      </ng-scrollbar>
  </ng-container>
</tg-window-wrapper>