@import "~bootstrap/scss/mixins";
@import '~src/scss/colors';

.tg-characterpanel {
  position: relative;
  background-repeat: no-repeat;
  background-position: top left;
  margin-bottom: 8px;
  margin-left: 3px;
  margin-right: 3px;
  background: url($imgPath + '/background/background-rock-dark.jpg') repeat top left;

  .tg-characterpanel-wrap {
    position: relative;
    z-index: 2;
    flex: 1 1 100%;
  }
}

@include media-breakpoint-down(sm) {
  .tg-characterpanel {
    display: none;
  }
}
