  <div class="tg-combatpanel--wrap">
    <div class="tg-combatpanel--box">
      <div class="enemyname" [innerHtml]="name | dataToHtml" *ngIf="name"></div>
      <div class="tg-enemyicon">
          <tg-icons [icon]="icon"></tg-icons>
      </div>
      <div class="enemy-h-prc">{{healt}}%</div>
      <div class="tg-enemy-h">
        <div class="enemy-bar enemyH" [style.width.%]="healt"></div>
      </div>
      <div class="enemy-m-prc">{{move}}%</div>
      <div class="tg-enemy-m">
        <div class="enemy-bar enemyM" [style.width.%]="move"></div>
      </div>
    </div>
  </div>
