
tg-profile {

  .profile-username {
    margin: 0;
    font-size: 28px;
  }
  
  .profile-id {
    font-size: 12px;
    letter-spacing: 1px;
    padding-top:6px;
    padding-bottom: 12px;
  
    b {
      color: white;
      font-weight: 700;
    }
  }
  
  .profile-actions {
    padding-bottom: 12px;
  }

}