.profile-username {
  margin-bottom: 0;
}

.profile-id {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.80);
  letter-spacing: 1px;
  padding-top:6px;
  padding-bottom: 12px;

  b {
    color: white;
    font-weight: 700;
  }
}

.profile-actions {
  padding-bottom: 12px;
}