<ng-container *ngIf="region$ | async as region">
  <div class="tg-geolocal tg-shadow-inset">
    <div class="tg-geolocal--title"></div>
    <div fxLayout="column" style="height: 100%">
      <div class="tg-geolocal--imagecnt tg-shadow">
        <div class="tg-geolocal--image tg-shadow-inset" [@fadeInFadeOut]="changeState" [ngStyle]="{'background-image': 'url(' + regionImageUrl + ')'}">
        </div>
      </div>
      <div class="b-regions tg-box">
        <div style="position:relative; z-index: 1; height: 100%;">
          <ng-scrollbar class="scrollbar nopadding" [appearance]="'compact'">
            <div class="tg-geolocal--data" fxLayout="column" fxLayoutAlign="center center" fxFlex="0 1 auto">
              <div class="tg-geolocal--databox" fxFlex="1 1 100%" fxLayout="column" fxLayoutAlign="center center">
                <span class="tg-geolocal--region tg-llt-white">{{region.name}}</span>
                <span class="tg-geolocal--regiontype" [ngClass]="
                {'tg-lt-green': region.type == 'pacifica',
                  'tg-brown': region.type == 'selvaggia', 
                  'tg-lt-red': region.type == 'guerra'}">({{region.type}})</span>

                <span class="tg-geolocal--control tg-lt-yellow">
                  {{region.clan_name || "Landa selvaggia"}}
                </span>
                <span>- Controllo territoriale -</span>
                
              </div>
            </div>
          </ng-scrollbar>
        </div>
        <div class="tg-border-box">
          <div class="tg-border tg-border-top"></div>
          <div class="tg-border tg-border-left"></div>
          <div class="tg-border tg-border-right"></div>
          <div class="tg-border tg-border-bottom"></div>
          <div class="tg-border tg-border-area"></div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
