<p-dialog #dialog 
  [(visible)]="visible" 
  [header]="config.header"
  [showHeader]="config.header ? true : false"
  [modal]="config.modal"
  [responsive]="true" 
  [resizable]="config.resizable"
  [draggable]="config.draggable"
  [maximizable]="config.maximizable"
  [baseZIndex]="10000"
  [styleClass]="config.styleClass"
  [appendTo]="'body'"
  [blockScroll]="config.blockScroll"
  (onHide)="onHide($event)"
  [style]="{width: config.width, height: config.height}">
    <ng-content></ng-content>
</p-dialog>