<tg-window-wrapper [nopadding]="true" [border]="'thin'">
  <ng-container ngProjectAs="title">
    Log di Gioco
  </ng-container>
  <ng-container ngProjectAs="content">
    
    <div class="tg-log-content">
      <ng-scrollbar [appearance]="'compact'" class="scrollbar">
        <div class="tg-log-date">Data Inizio Log: {{ dateTime }}</div>
        <div #logContentArea>
          <ng-container *ngFor="let log of logStorage">
            <div class="tg-log-line" fxLayout>
              <div class="tg-log-linenumber" [attr.data-lognumber]="log.l"></div>
              <div [innerHtml]="log.d | dataToHtml" class="tg-log-msg"></div>
            </div>
          </ng-container>
        </div>
      </ng-scrollbar>
    </div>
    
    <div class="tg-log-action" mat-dialog-actions>
      <button mat-raised-button color="accent" (click)="saveLog()">Salva su File</button>
      <!-- <button mat-raised-button color="alert" (click)="resetLog()">Cancella Log</button> -->
    </div>
    
  </ng-container>
</tg-window-wrapper>
