<div class="tg-log" cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <div class="b-ironlight-mini tg-box">
    <div class="tg-dialog-content-nopadding tg-shadow-inset" fxLayout="column">
      
      <div class="tg-dialog-title" cdkDragHandle>
        Log di Gioco
        <button mat-icon-button class="tg-dialog--close" [mat-dialog-close]="true">
          <mat-icon aria-label="Chiudi la finestra">close</mat-icon>
        </button>
      </div>
      
      <div class="tg-log-content"  matDialogContent>
        <ng-scrollbar [appearance]="'compact'" class="scrollbar">

          <div class="tg-log-date">Data Inizio Log: {{dateTime}}</div>
          <div #logContentArea>
            <ng-container *ngFor="let log of logStorage">
              <div class="tg-log-line" fxLayout>
                <div class="tg-log-linenumber" [attr.data-lognumber]="log.l"></div>
                <div [innerHtml]="log.d | dataToHtml" class="tg-log-msg"></div>
              </div>
            </ng-container>
          </div>

        </ng-scrollbar>
      </div>

      <div class="tg-log-action" mat-dialog-actions>
        <button mat-raised-button color="accent" (click)="saveLog()">Salva su File</button>
        <!-- <button mat-raised-button color="alert" (click)="resetLog()">Cancella Log</button> -->
      </div>

    </div>
    <div class="tg-border-box">
      <div class="tg-border tg-border-top"></div>
      <div class="tg-border tg-border-left"></div>
      <div class="tg-border tg-border-right"></div>
      <div class="tg-border tg-border-bottom"></div>
    </div>
  </div>
</div>
