.tg-log {
}

.tg-log-content {
  color: white;
  font-size: .9em;
  background: black;
  font-family: 'Courier New', Courier, monospace;
  height: 100%;
  color: white;
}

.tg-log-date {
  text-align: center;
  color: gray;
  padding: .5em 0;
  border-bottom: 1px solid #54544d;
}

.tg-log-line {
  padding: 3px 0;
}

.tg-log-linenumber {
  padding: 3px .5em 0 0;
  color: rgb(95, 95, 95);
  border-right: 1px solid #191919;
  max-width: 25px;
  min-width: 25px;
  text-align: right;

  &:before {
    content: attr(data-lognumber);
  }
}

.tg-log-msg {
  width: 100%;
  padding: .5em 20px 0 20px;
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 1.2em;
    left: 0;
    width: 12px;
    height: 1px;
    background-color: #313131;
  }

  br {
    display: none !important;
  }

  h1,
  h2,
  h3,
  h4 ,
  > p{
    margin-top: 0 !important;
  }

}


.tg-log-action {

  border-top: 1px solid #54544d;

  button {
    margin: 0 auto;

  }
}
