<div class="tg-input tg-box b-ironlight tg-shadow">
  <input type="text" autofocus placeholder="Scrivi qualcosa" 
    #inputCommand (keydown.enter)="onEnter($event, inputCommand.value)" 
    (keydown.arrowUp)="onUpKey($event)"
    (keydown.arrowDown)="onDownKey($event)" 
    name="sendinput"/>
  <!-- <span class="drop-alert">
    <b class="tg-yellow">Comando:
      <span id="dropcmd"></span> [#selezione]</b> - Trascina qui per aggiungere alla fine del comando la tua selezione.</span> -->
  <div class="tg-inputcommand">
    <button  type="button" class="tg-fnt-button  d-none d-sm-inline-block" rel="tooltip" title="Espandi/Comprimi l'Interfaccia"
      (mousedown)="toggleExtraOutput($event)"
      [ngClass]="{'isActive': extraOutputStatus$ | async}">
      <fa-icon [icon]="facolumns"></fa-icon>
    </button>
    <button type="button" class="tg-fnt-button" rel="tooltip" title="Chiudi/Apri la tua Dashboard" 
      (mousedown)="toggleDashboard($event)"
      [ngClass]="{'isActive': dashBoardStatus$ | async}">
      <fa-icon [icon]="faSolarPanel"></fa-icon>
    </button>
    <button type="button" class="tg-fnt-button d-none d-sm-inline-block" rel="tooltip" title="Modalit&agrave; Zen" 
      (mousedown)="toggleZen($event)">
      <fa-icon [icon]="faBullseye"></fa-icon>
    </button>
  </div>
  <div class="tg-border-box">
    <div class="tg-border tg-border-top"></div>
    <div class="tg-border tg-border-left"></div>
    <div class="tg-border tg-border-right"></div>
    <div class="tg-border tg-border-bottom"></div>
  </div>
</div>
