<div class="tg-input tg-box b-ironlight tg-shadow">
  <input type="text" autofocus placeholder="Scrivi qualcosa" 
    #inputCommand (keydown.enter)="onEnter($event, inputCommand.value)" 
    (keydown.arrowUp)="onUpKey($event)"
    (keydown.arrowDown)="onDownKey($event)" 
    name="sendinput"/>
  <!-- <span class="drop-alert">
    <b class="tg-yellow">Comando:
      <span id="dropcmd"></span> [#selezione]</b> - Trascina qui per aggiungere alla fine del comando la tua selezione.</span> -->
  <div class="tg-inputcommand">
    <button
      class="tg-fnt-button  d-none d-sm-inline-block"
      type="button"
      tooltip="Tipo de condición en la que se realiza la venta." [tooltipDisabled]="false" [tooltipAnimation]="true" tooltipPlacement="top"
      (mousedown)="toggleExtraOutput($event)"
      [ngClass]="{'isActive': extraOutputStatus$ | async}">
      <fa-icon [icon]="facolumns"></fa-icon>
    </button>
    <button 
      class="tg-fnt-button"
      type="button" 
      tooltip="Espandi / Comprimi la tua Dashboard"
      tooltipPlacement="top"
      (mousedown)="toggleDashboard($event)"
      [ngClass]="{'isActive': dashBoardStatus$ | async}">
      <fa-icon [icon]="faSolarPanel"></fa-icon>
    </button>
    <button 
      class="tg-fnt-button d-none d-sm-inline-block"
      type="button"
      title="Modalit&agrave; Zen" 
      (mousedown)="toggleZen($event)">
      <fa-icon [icon]="faBullseye"></fa-icon>
    </button>
  </div>
  <div class="tg-border-box">
    <div class="tg-border tg-border-top"></div>
    <div class="tg-border tg-border-left"></div>
    <div class="tg-border tg-border-right"></div>
    <div class="tg-border tg-border-bottom"></div>
  </div>
</div>
