@import 'abstract/variables';
@import 'abstract/sprites-mixins';
@import 'abstract/sprites';

:host {
  color: $base-text-color;
} 

.tg-control-panel--tab {
  background:  #ffffff12  url($imgPath + '/borders/border-002-tiny-v.png') top right repeat-y;;
  text-transform: uppercase;
  color: $base-text-color;
  height: 100%;
}

.tg-control-panel-tabitem{
  padding:1em;
  cursor: pointer;
  background-color: none;
  transition: background-color .1s linear;

  &:hover, &.active{
    color: white;
    background-color: rgba(255, 255, 255, 0.08);
  }
}

.tg-control-panel--subtitle {
  color: $tg-yellow;
  font-weight: normal;
}

.tg-control-panel--tabcontent {
  background-color: #00000082;
  display: none;
  padding: 1em;
  min-height: 400px;
  position: relative;
  padding: 1em;

  &.active {
    display: block;
  }
}

.tg-control-panel--option {
  padding-bottom: 1em;
}

.tg-control-panel--suboption{
  padding:0;

  h4 {
    color: #bfbfbf;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
  }
}
