<tg-window-wrapper [nopadding]="true">
  <ng-container ngProjectAs="title">
    Preferenze
  </ng-container>
  <ng-container ngProjectAs="content">
    <div fxLayout="row" fxFlexFill>
      <div fxFlex="0 0 auto" class="tg-control-panel--tab">
        <div class="tg-control-panel-tabitem" (click)="setTab(0)" matRipple [ngClass]="{ active: 0 === tabOpen }">
          Generale
        </div>
        <div class="tg-control-panel-tabitem" (click)="setTab(1)" matRipple [ngClass]="{ active: 1 === tabOpen }">
          Audio
        </div>
        <div class="tg-control-panel-tabitem" (click)="setTab(2)" matRipple [ngClass]="{ active: 2 === tabOpen }">
          Scorciatoie
        </div>
      </div>
      <div fxFlex="0 1 100%" class="tg-control-panel--tabcontent">
        <ng-scrollbar class="scrollbar bitpadding" #scrollBar>
          <!-- Generale -->
          <div class="content" [ngClass]="{ active: 0 === tabOpen }">
            <tg-general-tab fxLayout="column"></tg-general-tab>
          </div>
          <!-- Audio -->
          <div class="content" [ngClass]="{ active: 1 === tabOpen }">
            <tg-audio-tab fxLayout="column"></tg-audio-tab>
          </div>
          <!-- Shortcuts -->
          <div class="content" [ngClass]="{ active: 2 === tabOpen }">
            <tg-shortcuts-manager fxLayout="column"></tg-shortcuts-manager>
          </div>
        </ng-scrollbar>
      </div>
    </div>
  </ng-container>
</tg-window-wrapper>
