<div class="tg-registration"  fxLayout="column" fxLayoutAlign="center center">
  <div class="tg-registration--wrap">
    <div class="b-ironlight-mini tg-box tg-shadow">
      <div class="tg-registration-content tg-shadow-inset">
        <router-outlet></router-outlet>
      </div>
      <div class="tg-border-box">
        <div class="tg-border tg-border-top"></div>
        <div class="tg-border tg-border-left"></div>
        <div class="tg-border tg-border-right"></div>
        <div class="tg-border tg-border-bottom"></div>
      </div>
    </div>
  </div>
  <div class="tg-registration-footer">
    <p><a routerLink="/">Torna alla pagina di login</a></p>
  </div>
</div>