@import 'variables';
@import 'sprites';
@import 'utils/sprites-mixins';

:host {
  display: flex;
  height: 100%;
}

.tg-registration {
    width: 100%;
}

.tg-registration-content {
  background: #190f06 url($imgPath + '/background/bg-ironbrown.jpg') repeat;
  z-index: 2;
  position: relative;

}

.tg-registration-footer {
  text-align: center;

  a {
    text-decoration: none;
    color: $tg-yellow;
  }
}