@import 'variables';
@import 'sprites';
@import 'utils/sprites-mixins';

:host {
  display: block;
  background: url($imgPath + '/registration/bg.jpg') no-repeat top left;
  background-size: contain;
  background-attachment: fixed;
  background-color: black;
  height: 100%;
  min-height: 400px;
  padding-top: 40px;
}

.tg-registration {
  display: flex;
  width: 100%;
  height: 100%;
}

.tg-registration-content {
  background: #190f06 url($imgPath + '/background/bg-ironbrown.jpg') repeat;
  z-index: 2;
  position: relative;
  color: #9b9285;
}

.tg-registration-footer {
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;

  a {
    color: #9b9285;
  }
}
