@import 'abstract/variables';

@import 'abstract/sprites';
@import 'abstract/sprites-mixins';
@import '~@angular/flex-layout/mq';


.tg-characterpanel {
  position: relative;
  background-repeat: no-repeat;
  background-position: top left;
  margin-right: 2px;
  background: #100f0d;

  .tg-characterpanel-wrap {
    position: relative;
    background:  url($imgPath + '/borders/border-002-tiny-v.png') top right repeat-y;
    z-index: 2;
    padding-right: 2px;
  }
  
  /* TG Character Side */
  .tg-character {
  
    .tg-characteravatar {
      cursor: pointer;
      width: 80px;
      height: 66px;
      box-sizing: border-box;
      overflow: hidden;
      position: relative;
      box-shadow: 0px 2px 11px 0 #000;
      margin: auto 0 0;
  
      .tg-avatar-wrap {
        border: 1px solid #705611;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
  
      img {
        max-height: 100%;
      }
    }
  
    .tg-infochar {
      padding-right: 0;
    }
  
    .tg-infocharname {
      height: 100%;
      line-height: 18px;
      text-align: left;
      letter-spacing: 1px;
      font-size: .8em;
      width: 100%;
      color: $base-text-color;
      box-shadow: inset 0px -7px 15px black;
      padding: 2px 0 0;
    }
  
    .charName {
      text-shadow: 0 0 9px #f8fdda;
      text-transform: uppercase;
      padding-left:  8px;
      color: #f1ebc2;
      padding-right: 0.5em;
    }
  
    /* status icons */
  
    .hero-infostatus {
      vertical-align: middle;
      display: inline-block;
      letter-spacing: 0;
      color: #ccc1b1;
      text-transform: uppercase;
      font-family: 'Roboto', sans-serif;
      font-size: 12px;
  
      > div {
        padding-right: 6px;
        margin: auto .5em auto;
        cursor: pointer;
      }
  
      .infostatus-block {
        padding-left: 6px;
        background:  url($imgPath + '/borders/border-002-tiny-v.png') top left repeat-y;
      }
  
      span {
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

  
      // CONV
      .status-conva {
        .status-icon-box i {
          @include sprite($conva-ng-sprite);
          margin-top: 2px;
          display: block;
        }
      }

    }
  
    
      
    @include layout-bp(lt-sm) {
      .tg-infocharname {
        padding-left: 0;
      }
      .hero-infostatus {
        margin-left: 0;
        padding-left: 0;
      }
    }
  
    // BARS
    .tg-meterbar {
      z-index: 2;
      flex: 1 1 100%;
      flex-direction: column;
      margin-top: auto;
      padding: 0 0 0 4px;
      
  
      .barcont {
        box-sizing: border-box;
        border: 1px solid #5f5c59;
        padding: 2px 3px;
        position: relative;
        background-color: #171614;
        box-shadow: inset 0 0 5px 2px #423931;
        cursor: help;
      }
  
      .barbig {
        height: 20px;
        margin-bottom: 4px;
      }
  
      .barthin {
        height: 100%;
        width: 50%;
        display: inline-block;
        text-align: left;
        margin-right: 4px;
        @include layout-bp(xs) {
          margin-right: 0;
        }

      }
  
      .tg-extrabars {
        width: 100%;
        height: 21px;
        margin-bottom: 2px;
      }
  
      .tg-statusbar-text {
        overflow: hidden;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 10px;
        color: $tg-white;
        text-transform: uppercase;
  
        i {
          font-style: normal;
        }
      }
  
      .barC {
        display: block;
        width: 0%;
        height: 100%;
        background-repeat: repeat-x;
        background-position: top left;
        transition: width .2s cubic-bezier(0.65, 0.05, 0.36, 1);
  
        &.red {
          background-image: url($imgPath + '/bars/healt.jpg' );
        }
  
        &.green {
          background-image: url($imgPath + '/bars/stamina.jpg' );
        }
  
        &.orange {
          background-image: url($imgPath + '/bars/fame.jpg' );
        }
  
        &.blue {
          background-image: url($imgPath + '/bars/sete.jpg' );
        }
      }

      @include layout-bp(xs) {
       padding: 0;
       margin-bottom: 0;
      }
    }
  }

}

body.zen :host{
  display: none!important;
}