// System 
$imgPath: "/assets/images";

//Custom
$bodybackground : 'frame/background/dark-wood.jpg';

$inputbackground: #f7f2e7;


// Colors List
$tg-white: white;
$tg-lt-white: #fafafa;
$tg-gray: #b8b8b8;
$tg-red: #ff0000;
$tg-lt-red: #fe6442;
$tg-green: #27d018;
$tg-lt-green: #92e48f;
$tg-blue: #006eff;
$tg-lt-blue: #5dc4ff;
$tg-magenta: #cf25df;
$tg-lt-magenta: #ff63ed;
$tg-cyan: #36b9d0;
$tg-lt-cyan: #63e8ff;
$tg-brown: #d69813;
$tg-yellow: #ffc400;



// Text
$base-text-color: #bdb9b2;