// System 
$imgPath: "~/assets/images";

//Custom
$bodybackground : 'frame/background/dark-wood.jpg';

$inputbackground: #f7f2e7;


// Colors List
$tg-white: white;
$tg-llt-white: #bdb9b2;
$tg-lt-white: #aaaaaa;
$tg-gray: #aaaaaa;
$tg-red: #ff0000;
$tg-lt-red: #fe6442;
$tg-green: #15ff00;
$tg-lt-green: #6dda68;
$tg-blue: #006eff;
$tg-lt-blue: #5dc4ff;
$tg-magenta: #cf25df;
$tg-lt-magenta: #ff63ed;
$tg-cyan: #2fb1c8;
$tg-lt-cyan: #00ffff;
$tg-brown: #b18012;
$tg-yellow: #ffe100;
$tg-lt-yellow: #ddd06d;



// Text
$base-text-color: #bdb9b2;
$base-text-color-dark: #69645c;
$base-text-color-hover: #d1cec8;

