<div class="b-ironlight-mini tg-box">
  <div class="tg-dialog-inside-nopadding tg-shadow-inset">
    <div id="editorDialog" mat-dialog-content>
      <div class="editor-dialog">
        <div class="tg-modal-contentwrap b-paper tg-box">
            <div fxLayout>
              <div fxFlex="100">
                <div class="tg-editor--heroname">
                  {{HeroName$ | async}}
                </div>
                <div class="textarea-cont">
                  <textarea #textareaDescription name="editor" cols="30" rows="10" autofocus [maxLength]="maxChars"
                    (input)="onDescrChange($event.target.value)">{{description}}</textarea>
                </div>
              </div>
            </div>
          <div class="tg-border-box">
            <div class="tg-border tg-border-top"></div>
            <div class="tg-border tg-border-left"></div>
            <div class="tg-border tg-border-right"></div>
            <div class="tg-border tg-border-bottom"></div>
          </div>
        </div>
        <div id="editorMaxCharsCount" class="tg-txt-maxcharcount">{{totalChars}}</div>
        <div class="tg-modal-buttons-group">
          <button type="button" class="tg-button tg-button-annulla ml-auto tg-shadow-light" (click)="onCancel()">Annulla</button>
          <button type="button" class="tg-button tg-button-salva mr-auto ml-1 tg-shadow-light" (click)="onSave(textareaDescription.value)">Salva</button>
        </div>
        <div class="tg-border-box">
          <div class="tg-border tg-border-top"></div>
          <div class="tg-border tg-border-left"></div>
          <div class="tg-border tg-border-right"></div>
          <div class="tg-border tg-border-bottom"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="tg-border-box">
    <div class="tg-border tg-border-top"></div>
    <div class="tg-border tg-border-left"></div>
    <div class="tg-border tg-border-right"></div>
    <div class="tg-border tg-border-bottom"></div>
  </div>
</div>
