<div class="tg-area tg-box b-area" tgAutofocusInputbar>
  <!-- Main Panel -->
  <div class="tg-main" fxLayout="column" fxFill>
    <tg-navbar></tg-navbar>
    
    <div fxLayout="row" fxFlex="1 1 0%" class="tg-main-row min-h-0" style="overflow: auto;">
      <div class="tg-leftside" fxFlex="1 1 auto" fxLayout="column">
        <!-- Output -->
        <tg-output fxLayout fxFlex="1 1 100%" class="min-h-0"></tg-output>

        <!-- <mat-progress-bar mode="indeterminate" fxFlexOrder="3"></mat-progress-bar> -->

        <!-- Hero Dashboard -->
        <tg-dashboard [ngClass]="{'top': 0 === tgConfig.characterPanelTopPosition}"></tg-dashboard>
        <tg-input></tg-input>
      </div>
      <!-- Right Sidebar -->
      <tg-right-sidebar fxLayout fxFlex="0 0 auto" fxHide.xs="true"></tg-right-sidebar>

    </div>
  </div>

  <!-- AUDIO & MUSIC -->
  <tg-audio></tg-audio> 

</div>