@import 'variables';
@import '~@angular/flex-layout/mq';

:host {
  background: #ebeff5;
  width: 1045px;
  max-width: 100%;
  margin: 0 auto;
  height: 100%;
  display: block;
}

.tg-manager-wlft {
  background: url($imgPath + '/commons/maincontent-left-bg.jpg') repeat-y top left;
  padding-left: 13px;
  box-sizing: border-box;
  max-width: 100%;
  height: 100%;
}

.tg-manager-wrgt {
  background: #ebeff5 url($imgPath + '/commons/maincontent-right-bg.jpg') repeat-y top right;
  padding-right: 13px;
}


::ng-deep {
  h1, h2, h3{
    font-weight: normal;
  }

  h2 {
    font-size: 24px;
  }

  .mat-divider {
    border-top-color: rgba(255, 255, 255, 0.2);
  }
}


mat-toolbar {
  background-color: #181411;

  .mat-icon {
    color: #bdb3a3;
  }
}

mat-sidenav-container {
  width: 100%;
  box-sizing: border-box;
}

mat-sidenav-content {
  position: relative;
  background-color: #25201b;
  box-shadow: inset 0 0 0px black;
  color: white;
  box-shadow: inset 0 0 12px black;
}


mat-sidenav {
  background-color: #0f0b08;
  border-right-color: rgba(255, 255, 255, 0.2);
}



.sidenav-content {
  padding: 0 1em;
  overflow: hidden;
}

h1 {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: normal;
}



@include layout-bp(lt-sm) {

  .tg-manager-wlft,
  .tg-manager-wrgt {
    background-image: none;
    padding-left: 0;
    padding-right: 0;
  }

  .tg-manager-avatar {
    display: none;
  }

}
