:host {
  font-size: 1rem;
  line-height: 1.25;
  color: #a4abb3;
  background: #ebeff5;
  height: 100%;
  width: 100%;
  display: flex;
}

// mat-sidenav-container {
// }

mat-sidenav-content {
  padding: 0 20px;
}

mat-sidenav {
  color: white;
  padding: 10px 0;
  font-size: 12px;
  margin-top: 20px;
  border-top-right-radius: .375rem;
  width: 220px;
  
  nav {
    button.menu-item {
      padding: .6rem 32px .6rem 24px;
      line-height: 16px;
      margin: 0;
      font-size: 13px;
      cursor: pointer;
      position: relative;
      display: block;
      width: 100%;
      text-align: left;
      background: 0 0;
      border: none;
      outline: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }

    ul {
      list-style-type: none;
      margin: 0 0 5px;
      padding: 0;
      overflow: hidden;
    }

    li {
      font-size: 13px;
      line-height: 16px;
      margin: 0;
      padding: 5px 16px 5px 32px;
    }

    li button {
      border-bottom: none;
      padding-top: 0;
      padding-bottom: 0;
    }

    button {
      font-weight: normal;
      padding-top: 0;
      padding-bottom: 0;
      color: #2a2a2a;
    }

    button:hover, button.active {
      font-weight: 600;
    }

    mat-icon {
      margin-right: 8px;
      vertical-align: middle;
      color: #a4abb3;
    }
  }




  .menu-item {
    span {
      display: inline-block;
      vertical-align: middle;
    }
  }
  
  
}
