<div class="tg-manager-wlft tg-shadow" fxLayout="column">

  <mat-sidenav-container class="tg-manager-wrgt" fxFlex="1 1 100%">

    <mat-sidenav #sidenav opened="true" mode="side">
      <div class="tg-manager-avatar">
        <mat-icon>account_circle</mat-icon>
      </div>
      <nav>
        <button class="menu-item" [routerLink]="['/manager/dashboard']" [ngClass]="{'active': selectedItem === 0}"
          (click)="selectItmeMenu(0)">
          <mat-icon>home</mat-icon>
          <span class="menu-item-label">Dashboard</span>
        </button>
      </nav>

      <mat-divider></mat-divider>

      <nav *ngIf="isEnableFor('administrator')">

        <button class="menu-item" [routerLink]="['/manager/administration']" [ngClass]="{'active': selectedItem === 3}"
          (click)="selectItmeMenu(3)">
          <mat-icon>ballot</mat-icon>
          <span class="menu-item-label">Amministrazione</span>
        </button>

        <ul>

          <li>
            <button class="menu-item" [routerLink]="['/manager/statistiche']">
              <span>Statistiche</span>
            </button>
          </li>

          <li>
            <button class="menu-item" [routerLink]="['/manager/immagini']">
              <span>Immagini Gioco</span>
            </button>
          </li>

        </ul>
        
      </nav>
    </mat-sidenav>

    <mat-sidenav-content>

      <div class="sidenav-content">
        <router-outlet></router-outlet>
      </div>

    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
