<div style="height: 100%">
  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav #sidenav fxLayout="column" opened="true" mode="side">
      <div fxLayout="column">
        <nav>
          <button class="menu-item" [routerLink]="['/manager/dashboard']">
            <mat-icon>dashboard</mat-icon>
            <span>Dashboard</span>
          </button>
          <ul>
            <li>
              <button class="menu-item" [routerLink]="['profilo']">
                <span>Profilo</span>
              </button>
            </li>
            <li>
              <button class="menu-item" [routerLink]="['personaggi']">
                <span>I miei personaggi</span>
              </button>
            </li>
          </ul>
        </nav>
        <nav>
          <button class="menu-item">
            <mat-icon>ballot</mat-icon>
            <span>Amministrazione</span>
          </button>
          <ul>
            <li>
              <button class="menu-item" [routerLink]="['/manager/statistiche']">
                <span>Statistiche</span>
              </button>
            </li>
            <li>
              <button class="menu-item" [routerLink]="['/manager/immagini']">
                <span>Immagini Gioco</span>
              </button>
            </li>
          </ul>
        </nav>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="sidenav-container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
