<div fxLayout="row" class="extraboard-content">
  <div fxFlex="0 0 auto" fxHide fxShow.gt-md>
    <div class="tg-main-buttons" fxLayout="row wrap" >
      <div class="wrap-btnend-box">
        <button 
          class="tg-button btn-info-graph" 
          (mouseup)="buttonClick('info')"
          tooltip="Scheda Personaggio" placement="top" show-delay="500"
          matRipple>Info</button>
      </div>
      <div class="wrap-btnend-box">
        <button 
          class="tg-button btn-equip-graph" 
          (mouseup)="buttonClick('equip')"
          tooltip="Equipaggiamento" placement="top" show-delay="500"
          matRipple>Equip</button>
      </div>
      <div class="wrap-btnend-box">
        <button 
          class="tg-button btn-inventario-graph" 
          (mouseup)="buttonClick('inventario')"
          tooltip="Inventario" placement="top" show-delay="500"
          matRipple>Inventario</button>
      </div>
      <div class="wrap-btnend-box">
        <button 
          class="tg-button btn-skill-graph" 
          (mouseup)="buttonClick('abilita')"
          tooltip="Abilità" placement="top" show-delay="500"
          matRipple>Abilit&agrave;</button>
      </div>
      <div class="wrap-btnend-box">
        <button 
          class="tg-button btn-stato-graph" 
          (mouseup)="buttonClick('stato')"
          tooltip="Stato" placement="top" show-delay="500"
          matRipple>Stato</button>
      </div>
      <div class="wrap-btnend-box">
        <button 
          class="tg-button btn-config-graph"
          (mouseup)="openPreferences()"
          tooltip="Preferenze" placement="top" show-delay="500"
          matRipple>Preferenze</button>
      </div>
    </div>
  </div>
</div>