@import "src/scss/core";
@import './glow';

/* Init Login box */
.tg-loginpanel {
  background-color: #0b0807;
  background-image: url($imgPath + '/login/login_background_01.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 416px;
  padding: .5rem;
  z-index: 10;
  overflow: hidden;

  >.row {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .tg-login-container {
    width: 415px;
    max-width: 100%;
    position: relative;
  }

  .tg-logo-composit {
    width: 244px;
    height: 184px;
    position: relative;
    box-sizing: content-box;
    visibility: visible;
    background: url($imgPath + '/login/logo_hd.png');
    z-index: 3;
    margin: 0 auto;


    &:after {
      content: '';
      display: block;
      position: absolute;
      background: url($imgPath + '/login/logo_light_triangle.png') no-repeat;
      width: 98px;
      height: 91px;
      left: 70px;
      top: 58px;
      opacity: 0;
      animation: logolightAnimation 8s infinite;
      animation-delay: .5s;
    }

    @keyframes logolightAnimation {
      0% {
        opacity: 0;
      }

      50% {
        opacity: .6;
      }

      100% {
        opacity: 0;
      }
    }
  }

  .tg-loginform {
    background: url($imgPath + '/login/border-top-mainbox.png') no-repeat top left;
    background-size: 100%;
    text-align: center;
    padding-top: 53px;
    margin-top: -28px;
    position: relative;


    .tg-loginform-wrap {
      background: url($imgPath + '/login/border-bottom-mainbox.jpg') no-repeat bottom left;
      background-size: 100%;
      padding-bottom: 13px;
      position: relative;
      z-index: 4;
    }

    .tg-loginform-content {
      padding: 0 2rem 2rem;
      background: url($imgPath + '/login/border-central-mainbox.jpg') repeat-y top;
      background-size: 100%;
      color: #ababaa;
    }

    h2 {
      font-size: 16px;
      line-height: 1.2;

      span {
        color: white;
      }
    }

    input {
      margin-bottom: .2rem;
      border: 1px solid #403a32;
      line-height: 38px;
      width: 100%;
      height: auto;
      box-sizing: border-box;
      color: #feece0;
      background: rgba(18, 13, 10, .8);
      background-repeat: no-repeat;
      background-position: 1em;
      font-size: 16px;
      padding: 0 .5em 0 3.2em;
      margin-bottom: .8em;
      box-shadow: inset 0 0 9px 2px black;
      position: relative;

      &[type="text"] {
        background-image: url($imgPath + '/login/username_labelico.png');
      }

      &[type="password"] {
        background-image: url($imgPath + '/login/password_labelico.png');
      }
    }

    .tg-loginbtn {
      background-color: transparent;
      @include sprite($login-button-sprite);
      text-indent: -9999px;
      cursor: pointer;
      position: relative;
      border: none;
      margin-bottom: .5em;

      &:before {
        content: '';
        opacity: 0;
        @include sprite($login_button_hover-sprite);
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity .3s linear;
      }

      &:hover:before {
        opacity: 1;
      }
    }
  }


  .tg-newcharacter {
    padding: .5em 0;
    border-top: 1px solid #55584d;
    border-bottom: 1px solid #55584d;
    display: inline-block;

    a,
    a:hover {
      text-decoration: underline;
    }
  }

  .tg-serverstatus,
  .tg-loginstatus {
    padding: 0;
    text-align: center;
  }

  .tg-serverstatus {
    text-transform: uppercase;
    font-size: 10px;

    &:before {
      content: '';
      display: inline-block;
      width: .5rem;
      height: .5rem;
      border-radius: 50%;
      margin-right: 0.2rem;
    }
  }

  .tg-loginstatus {
    min-height: 1.5em;
    padding-bottom: .4em;
    padding: 1em 0;
    font-size: .9em;
    line-height: 1em;
    box-sizing: content-box;
    text-transform: uppercase;
  }

  .tg-login-footer {
    padding-top: .5em;
    padding-bottom: .5em;
    font-size: .9em;
    color: $gray-500;

    a {
      color: $gray-300;
    }
  }
}

.tg-intro-rotatext {
  color: #9c9c9c;
  font-family: kingthinks;
  font-size: 1.2em;
  min-height: 2.4em;
  box-sizing: content-box;

  .phrase {
    // display: none;
  }

  .auth {
    font-style: italic;
    font-size: 0.8em;
    display: block;

  }
}

.tg-version-name {
  padding-top: .4em;
  font-size: 9px;
  text-transform: uppercase;
  text-align: center;

  span {
    display: inline-block;
    color: $gray-600;
  }
}

// Server OFFLINE
body[data-serverstatus="0"],
body[data-serverstatus="9999"] {
  .tg-loginpanel {
    background-image: none;
  }

  .tg-loginstatus,
  .tg-logo-composit,
  .tg-intro-rotatext,
  .glow_container {
    display: none;
  }

  .tg-serverstatus:before {
    background: red;
  }
}

body[data-serverstatus="0"] {
  .tg-loginpanel {
    background-image: none;
  }

  .tg-login-container {
    &:before {
      content: 'Il gioco è offline, torna più tardi :) !';
      text-align: center;
      width: 100%;
      display: block;
      font-size: 27px;
      font-family: kingthinks;
      line-height: 1;
      color: $gray-500;
    }
  }
}

/* Server ONLINE */
body[data-serverstatus="1"] {
  .tg-loginform {
    display: block;
  }

  .tg-serverstatus:before {
    background: green;
  }

}

body[data-loginstatus="0"],
body[data-loginstatus="preload"] {
  .b-area {
    transition: none !important;
    padding: 0 !important;
  }

}

/* ON PRELOAD */
body[data-loginstatus="preload"],
body[data-loginstatus="ready"] {

  .tg-loginform,
  .tg-serverstatus,
  .tg-version-name {
    display: none;
  }

  .tg-preloader {
    overflow: hidden;
    display: block;
  }
}

body[data-loginstatus="disconnect"] {
  .tg-area {
    filter: blur(3px);
  }
}



/* Preloader in Login */

.tg-preloader {
  display: none;
  position: relative;
  text-align: center;
  margin: .5em 0;
  border: 1px solid $tg-brown;

  span {
    position: relative;
    z-index: 2;
    text-shadow: 0 0 1px black;
  }

  //bar
  div.pbar {
    background-color: $tg-brown;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
  }
}
