
// Status Bar Character
.tg-status-bar {
  color: #e0dbd0;
  padding: 3px 6px;
  border-bottom: 1px solid #5f5f5f;
  background-color: #211f1d;
  font-size: 1em;
  text-transform: uppercase;
  box-shadow: 0px 6px 15px 4px black;
  position: relative;
  font-size: .8em;
  z-index: 2;
  display: flex;
  font-size: .8em;
  
  .badge {
    padding: 1px 6px;
    border-radius: 4px;
    margin: 0 12px 0 6px;
    box-shadow: 0 2px 4px 2px black;
    margin-top: -2px;
    transition: all ease-in-out .3s;
    white-space: nowrap;
    cursor: pointer;


    &.badge-red {
      background: #bb0000f0;
    }
    &.badge-violet {
      background: #8000bbf0;
    }

  }

  .badge-icon {
    background: url(/assets/images/icons/_inpiedi.svg);
    width: 17px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin: auto;
    white-space: nowrap;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
  }
}