@import 'abstract/variables';
@import '~@angular/flex-layout/mq';


:host {
  order: 2;
  margin: 0 2px;
  background: #080807  url($imgPath + '/borders/border-002-tiny-v.png') top left repeat-y;
  padding-left: 2px;
}

.tg-status-bar--button {
  line-height: normal;
  text-transform: uppercase;
  padding: 3px 12px;
  font-size: 10px;

  &.with-label {
    height: 100%;
    padding: 3px 12px 3px 0;
  }
}

// Status Bar Character
.tg-status-bar {
  background: url($imgPath + '/borders/border-002-tiny-v.png') top right repeat-y;
  padding-right: 2px;
  color: $base-text-color;
  font-size: 1em;
  text-transform: uppercase;
  position: relative;
  font-size: 8px;
  z-index: 2;
  display: flex;
  font-size: .6em;
  font-weight: bold;
  letter-spacing: 1px;

  .tg-status-bar-wrap {
    padding: 0 10px 0 6px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    box-shadow: inset 0 0px 6px 2px black;
  }

  .badges-left {
    .badge {
      border-left: 1px solid rgba(255, 255, 255, 0.2);
      &:first-child {
        border-left: 0;
      }
      
    }
    @include layout-bp(lt-md) {
      place-content: center center;
      .badge {
        border-left: 0;
      }
    }
  }

  .badges-right {
    margin-left: auto;
  }

  .badge {
    margin-right: 6px;
  }

  .badge:first-child {
    padding-left: 0;
  }

  .badge-label {
    margin: auto 0;
    padding-right: 6px;
    padding-left: 6px;
    font-size: 10px;
    line-height: 22px;
    font-weight: normal;

    @include layout-bp(lt-lg) {
      display: none;
    }
  }

  .badge-text {
    padding:3px 0;
    font-size: 10px;
  }

  .badge-black {
    color: snow;
    background: #2f2f2f;
  }

  .double-badge {
    padding: 0 0 0 6px;
  }

  .badge-icon {
    background: url(/assets/images/icons/_inpiedi.svg);
    width: 17px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin: auto;
    white-space: nowrap;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

  }
}


.status-icon-box {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin: 0 5px 0 0;
}


.status-walk,
.status-combat-mod,
.status-combat-attegg,
.status-position {
  i {
    display: block;
    margin: auto;
    white-space: nowrap;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
  }
}

/* POSITION */
.status-position {
  color: white;

  i {
    background-image: url($imgPath + '/icons/_inpiedi.svg');
  }

  //Morto
  &.pos-0 {
    color: $tg-red;

    i {
      background-image: url($imgPath + '/icons/_morto.svg');
    }
  }

  //bloccato
  &.pos-2 {
    color: $tg-yellow;

    i {
      background-image: url($imgPath + '/icons/_bloccato.svg');
    }
  }

  //addormentato
  &.pos-3 {
    color: $tg-gray;

    i {
      background-image: url($imgPath + '/icons/_dormiente.svg');
    }
  }

  //sdraiato
  &.pos-4 {
    color: $tg-brown;

    i {
      background-image: url($imgPath + '/icons/_sdraiato.svg');
    }
  }

  //seduto
  &.pos-5 {
    color: $tg-lt-cyan;

    i {
      background-image: url($imgPath + '/icons/_seduto.svg');
    }
  }

  //in piedi
  &.pos-6 i {
    background-image: url($imgPath + '/icons/_inpiedi.svg');
  }
}

/* WALK */
.status-walk {
  &.walk-0 i {
    background-image: url($imgPath + '/icons/0_passeggio.svg');
  }

  &.walk-1 i {
    background-image: url($imgPath + '/icons/1_camminata.svg');
  }

  &.walk-2 i {
    background-image: url($imgPath + '/icons/2_marcia.svg');
  }

  &.walk-3 i {
    background-image: url($imgPath + '/icons/3_corsa.svg');
  }

  &.walk-4 i {
    background-image: url($imgPath + '/icons/4_scatto.svg');
  }
}


// COMBATSET

.status-combat-mod {
  &.mod-par-a i {
    background-image: url($imgPath + '/icons/c_parataA.svg');
  }

  &.mod-par-s i {
    background-image: url($imgPath + '/icons/c_parataS.svg');
  }

  &.mod-sch i {
    background-image: url($imgPath + '/icons/c_schivata.svg');
  }
}

.status-combat-attegg i {
  background-image: url($imgPath + '/icons/_atteggiamento.svg');
}



body.zen :host {
  display: none !important;
}
