<div class="tg-status-bar" *ngIf="hero$ | async as hero">
  <div 
    matRipple
    [tooltip]="combatDifTooltip" show-delay="500" placement="top" content-type="template">
    <!-- Combat Strategies -->
    Atteggiamento:
    <span class="badge badge-red">
      {{hero.combat.atteg}} <span>({{hero.combat.mod}})</span>
    </span>
  </div>

  <!-- Various -->
  <span class="badge badge-violet">Sei nascosto!</span>

  <!-- Speed & Position -->
  <div class="speed-position-badge">
    Velocità: 
    <span > Corsa | sei in piedi</span>
    <div class="status-icon-box">
      <i></i>
    </div>

  </div>

  <ng-template #positionTooltip>
    <!-- Sei <b class='tg-yellow'>{{hero_pos[hero.position] }}</b> -->
  </ng-template>
  
  <ng-template #combatDifTooltip>
      Atteggiamento: {{hero.combat.attegg}} | Difesa: <b class='tg-yellow'>{{combatSet.mod}}</b>
  </ng-template>

</div>

