<tg-window-wrapper [nopadding]="true">
  <ng-container ngProjectAs="title">
    {{ headerTitle }}
  </ng-container>
  <ng-container ngProjectAs="content">
    <div fxLayout="column">

      <mat-form-field 
        class="tg-table--filter" 
        fxFlex="0 0 auto" >
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Cerca" autocomplete="off" />
      </mat-form-field>
      
      <div class="table-responsive" fxFlex="0 1 100%">
        <table mat-table [dataSource]="dataSource" matSort class="dark">
          <ng-container [matColumnDef]="column" *ngFor="let column of columnsToDisplay">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <span [innerHtml]="column | dataToHtml"></span>
            </th>
    
            <td mat-cell *matCellDef="let element">
              <!-- Icon type -->
              <tg-icons [icon]="element[column]" *ngIf="column === 'icona'"></tg-icons>
              <!-- Ip Address type-->
              <a
                target="_blank"
                *ngIf="column === 'ipaddr'"
                href="http://www.infosniper.net/index.php?ip_address= {{ element[column] }}"
                >{{ element[column] }}</a
              >
              <!-- Default Text type -->
              <span
                [innerHtml]="element[column] | dataToHtml"
                *ngIf="element[column] && column !== 'icona' && column !== 'ipaddr'"
              ></span>
            </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
        </table>
      </div>

      <mat-paginator 
        fxFlex="0 0 auto" 
        [pageSize]="15" 
        [pageSizeOptions]="[5, 10, 15, 25]" 
        showFirstLastButtons></mat-paginator>

    </div>
  </ng-container>
</tg-window-wrapper>
