.tg-mp.modal-cookielaw {
    &.mfp-bg {
        background: #0b0b0b;
    }
    
    .mfp-content {
        width: 450px;
    }
    .tg-modal-content {
        text-align: center;
        overflow: hidden;
        background: #231c16;
        padding: 24px 12px;
        
        .tg-title {
            color: $tg-yellow;
            font-size: 11px;
            text-transform: uppercase;
        }
        .tg-btn-cookieconsent {
            cursor: pointer;
            background: #ffc000;
            border: none;
            text-transform: uppercase;
        }

        .cookie-lastalert {
            padding:.5em;
            text-decoration: underline;
            display: block;
        }

        .custom-checkbox {
            line-height: 22px;
            padding-bottom: .5em;
            label {
                cursor: pointer;
            }
        }
    }
}
