/* ==== Editor */
.modal-editor  {
    .mfp-close {
      top: 8px;
      right: -8px;
    }
    .mfp-content {
  
      .tg-modal-icon:after {
        @include sprite($editor_lapis-sprite);
      }
  
      .tg-modal-buttons-group {
        position: absolute;
        margin: 0 auto;
        bottom: -18px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 4;
        .tg-button {
          float: left;
        }
      }
    }
  }