.modal-notizie{
    .mfp-content {
      padding:1.5em 2.5em;
      background: #dabe8b;
      color: black;
    }

    h2 {
        font-size: 30px;
        color: #ac4c55;
        font-family: kingthinks;
    }
  }