.tg-mp { 
  &.modal-notizie{


    .mfp-content {
      color: black;
      width: 700px;
    }
    h2 {
        font-size: 30px;
        color: #ac4c55;
        font-family: kingthinks;
    }

    .scrollable {
      max-height: 300px;
    }

    //vertical scrollbar
    .ps__rail-y {
      opacity: 1;
    }

    .notizie-action {
      padding-top: .5em;
      margin-top: .5em;
      border-top: 1px solid #dcc59d;
    }
  }
}