/* ==== Widget Login */
.modal-login  {

    .tg-loginform-widget {
        border:1px solid $tg-yellow;
        background: $gray-900;
    }
    .tg-loginpanel {
        background-image: none;
    }
    h2, .tg-newcharacter {
        display: none;
    }
}