<div mat-dialog-title cdkDrag cdkDragHandle cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary="body">
    {{headerTitle}}
    <button mat-icon-button class="tg-dialog--close" [mat-dialog-close]="true">
      <mat-icon aria-label="Chiudi la finestra">close</mat-icon>
    </button>
</div>
<ng-container *ngIf="dataTable$ | async">
    <div class="tg-generictable">
      <div class="b-ironlight-mini tg-box">
        <div class="tg-dialog-content-nopadding tg-shadow-inset">


          <!-- Generic Table content start -->
          <!-- <p-table 
            #genericTable
            [value]="rows" 
            [columns]="columns" 
            [autoLayout]="true" 
            [paginator]="true"  
            [rows]="currentPageLimit"
            [rowHover]="true"
            sortMode="multiple"
            [reorderableColumns]="true">
            <ng-template pTemplate="header" let-columns>
               -->
              <!-- Caption-->
              <!-- <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                  <span [innerHtml]="col.name | dataToHtml"></span>
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
              <tr [pReorderableRow]="index">
                <td *ngFor="let col of columns">
                  <ng-container *ngIf="col.name ==='icona'">
                    <tg-icons [icon]="rowData[col.field]"></tg-icons>
                  </ng-container>

                  <ng-container *ngIf="col.name ==='ipaddr'">
                      <a target="_blank" href="http://www.infosniper.net/index.php?ip_address= {{rowData[col.field]}}">{{rowData[col.field]}}</a>
                  </ng-container>

                  <ng-container *ngIf="col.name !== 'icona' && col.name !=='ipaddr'">
                    <span [innerHtml]="rowData[col.field] | dataToHtml"  pReorderableRowHandle *ngIf="rowData[col.field]"></span>
                  </ng-container>
                </td>
              </tr>
            </ng-template>
            
            <ng-template pTemplate="summary">
              Visualizzati {{rows.length }} risultati
            </ng-template> -->
          <!-- </p-table> --> 
          <!-- Generic Table content end -->
        </div>
        <div class="tg-border-box">
          <div class="tg-border tg-border-top"></div>
          <div class="tg-border tg-border-left"></div>
          <div class="tg-border tg-border-right"></div>
          <div class="tg-border tg-border-bottom"></div>
        </div>
      </div>
    </div>
</ng-container>
