<div class="comp-content comp-padd">
  
  <div class="ch-block">
    <h3 class="tg-brown">Aggiungi un nuovo personaggio</h3>
    <p>
      Segui la procedura guidata e crea il tuo personaggio <span class="tg-white">TheGate <span class="tg-brown">Mud</span></span>:
    </p>
    <button mat-raised-button [routerLink]="[ '/manager/nuovo-personaggio']" id="addnewchar" color="green">
      Nuovo personaggio
    </button>

    <form name="verifyCharacterForm" 
      [formGroup]="verifyCharacterForm" 
      (ngSubmit)="verify()"
      autocomplete="off"
      novalidate>

      <h3 class="tg-brown">Aggiungi manualmente</h3>
      <p>
        Se hai già un personaggio e conosci le credenziali di accesso puoi aggiungerlo manualmente al tuo account.
      </p>

      <mat-form-field class="i-fullwidth">
        <input matInput placeholder="Nome Personaggio" type="text" formControlName="characterName">
      </mat-form-field>

      <mat-form-field class="i-fullwidth">
        <input matInput placeholder="Password" type="password" formControlName="characterPassword">
      </mat-form-field>

      <div class="tg-error-bold" *ngIf="apiError">
        Errore nell'aggiunta del personaggio. Forse non esiste.
      </div>
      <button mat-flat-button type="submit" [disabled]="verifyFormSubmitted" color="accent">Verifica</button>

      <div class="verify-text-response" [hidden]="!verifyFormSubmitted">
        <mat-spinner color="accent" diameter="24"></mat-spinner> Verifica in corso. Attendi...
      </div>
    </form>
  </div>

</div>
