@import 'abstract/variables';
@import 'abstract/sprites';
@import 'abstract/sprites-mixins';

.tg-summary {
  width: 100%;
  margin: auto;
  background: black;
  position: relative;
  border-radius: 10px;
  max-width: 400px;
}


.tg-summary-content {
  background: #190f06 url($imgPath + '/background/bg-ironbrown.jpg') repeat;
  padding: 0 1em;
  z-index: 2;
  position: relative;
  overflow: hidden;
  font-size: 13px;
  text-align: center;
  color: #cec7bd;


}

  h2 {
    font-family: $modern-antiqua;
    font-size: 2.5em;
    font-weight: normal;
    text-shadow: 0 0 13px black;
  }

  p {
    margin: 0;
  }

  .tg-summary-total {
    padding: 2em 0;
    margin: 1em 0;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid #ffffff1f;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 0 20px 0px black;
  }

  .tg-entra-btn {
    background: url($imgPath + '/registration/start-btn.png') no-repeat;
    width: 200px;
    height: 56px;
  }

  a {
    text-decoration: underline;
    color: #cec7bd;
  }

  .summary-action {
    margin:0 0 2em;
  }

  .mat-divider {
    margin: 1em;
    border-top-color: rgba(255, 255, 255, 0.10);
  }


@media print {
  * {
    color: black!important;
  }

  .tg-summary {
    border: 2px solid black;
  }

  .tg-summary-content h2 { 
    text-shadow: none;
  }

  .summary-action {
    display: none;
  }

  .tg-shadow-inset, .tg-shadow {
    box-shadow: none!important;
  }
}
