    <div class="tg-manager-avatar">
      <mat-icon>account_circle</mat-icon>
    </div>

    <ng-template #itemContent let-item="item" let-index="idx">
      <nav *ngIf="item.permission ==  null || (item.permission !== null && currentUser.hasPermission(item.permission))">
        <!-- *ngIf="child.permission === null || (child.permission !== null && currentUser.hasPermission(child.permission))" -->
        <button class="menu-item" [routerLink]="item.url ? item.url : null"
          [ngClass]="{'active': selectedItem === index}" (click)="selectItmeMenu(0)">
          <mat-icon>{{item.icon}}</mat-icon>
          <span class="menu-item-label">{{item.title}}</span>
        </button>

        <ng-container *ngIf="item.children">
          <ul>
            <li *ngFor="let child of item.children">
              <button class="menu-item" [routerLink]="[child.url]"
                *ngIf="child.permission == null || (child.permission != null && currentUser.hasPermission(child.permission))">
                <span>{{child.title}}</span>
              </button>
            </li>
          </ul>
        </ng-container>

      </nav>

    </ng-template>

    <ng-container *ngFor="let item of links; let i = index">
      <ng-container [ngTemplateOutlet]="itemContent" [ngTemplateOutletContext]="{ item: item, idx: i}"></ng-container>
    </ng-container>
