<div class="tg-navbar--wrap"  fxFlex="0 0 100%" fxLayout>
  <div class="brand">
    <img src="assets/images/logo/tgminilogo.png" />
  </div>

  <mat-menu #clientMenu="matMenu" class="mat-elevation-z4">
    <button mat-menu-item (click)="onItemClick('log')">Log di gioco</button>
    <button mat-menu-item (click)="onItemClick('preferences')">Preferenze</button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="onItemClick('disconnect')">
      <mat-icon>exit_to_app</mat-icon>Disconnetti</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="clientMenu">Client</button>

  <mat-menu #gameMenu="matMenu" class="mat-elevation-z4">
      <button mat-menu-item (click)="onItemClick('showGameCommands')">Comandi di gioco</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="gameMenu">Gioco</button>

  <mat-menu #guideMenu="matMenu" class="mat-elevation-z4">
      <button mat-menu-item (click)="onItemClick('news')">Notizie</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="guideMenu">Guida</button>

  <div class="nav-right">
    V.2.0.0.7-beta
  </div>
</div>
