
<div fxLayout="row" fxLayoutGap="20px" class="tg-attribute-wrap">
  <div class="tg-attribute-column" fxFlex="1 1 50%">
    <div class="tg-attribute">
      <div class="tg-attr-name">
        <h2 class="example-h2">Forza</h2>
      </div>
      <div class="tg-attr-value">
        <mat-slider [(ngModel)]="value"></mat-slider>
      </div>
    </div>
    <div class="tg-attribute">
      <div class="tg-attr-name">
        <h2 class="example-h2">Costituzione</h2>
      </div>
      <div class="tg-attr-value">
        <mat-slider [(ngModel)]="value"></mat-slider>
      </div>
    </div>
    <div class="tg-attribute">
      <div class="tg-attr-name">
        <h2 class="example-h2">Taglia</h2>
      </div>
      <div class="tg-attr-value">
        <mat-slider [(ngModel)]="value"></mat-slider>
      </div>
    </div>
    <div class="tg-attribute">
      <div class="tg-attr-name">
        <h2 class="example-h2">Destrezza</h2>
      </div>
      <div class="tg-attr-value">
        <mat-slider [(ngModel)]="value"></mat-slider>
      </div>
    </div>
  </div>
  <div class="tg-attribute-column" fxFlex="1 1 50%">
    <div class="tg-attribute">
      <div class="tg-attr-name">
        <h2 class="example-h2">Velocità</h2>
      </div>
      <div class="tg-attr-value">
        <mat-slider [(ngModel)]="value"></mat-slider>
      </div>
    </div>
    <div class="tg-attribute">
      <div class="tg-attr-name">
        <h2 class="example-h2">Empatia</h2>
      </div>
      <div class="tg-attr-value">
        <mat-slider [(ngModel)]="value"></mat-slider>
      </div>
    </div>
    <div class="tg-attribute">
      <div class="tg-attr-name">
        <h2 class="example-h2">Intelligenza</h2>
      </div>
      <div class="tg-attr-value">
        <mat-slider [(ngModel)]="value"></mat-slider>
      </div>
    </div>
    <div class="tg-attribute">
      <div class="tg-attr-name">
        <h2 class="example-h2">Volontà</h2>
      </div>
      <div class="tg-attr-value">
        <mat-slider [(ngModel)]="value"></mat-slider>
      </div>
    </div>
  </div>
</div>
<div class="attr-points">Punti creazione disponibili: <span id="attr-points">0</span></div>
<div class="attr-descr">

</div>