<tg-window-wrapper [nopadding]="true">
  <ng-container ngProjectAs="title">Scorciatoie personali</ng-container>
  <ng-container ngProjectAs="content">
    <ng-container *ngIf="totalShortcuts.length > 0; else noShortcuts">
      <div fxLayout="row wrap">
        <div
          *ngFor="let shortcut of totalShortcuts; let i = index"
          fxFlex="1 1 32px"
          class="tg-shortcut-icon"
          matRipple
          (click)="sendCmd($event, shortcut.alias)"
          (mouseover)="changeCmdLabel(i)"
          (mouseout)="changeCmdLabel('')"
        >
          <img src="assets/images/shortcuts/shortcut_{{ shortcut.icon }}.png" alt="" />
        </div>
      </div>
      <div class="tg-shortcut-cmdlabel">
        <ng-container *ngIf="totalShortcuts[cmdHoverId] && cmdHoverId >= 0">
          <span class="tg-brown">Comando:</span>&nbsp;{{ totalShortcuts[cmdHoverId]?.alias }}, &nbsp;
          <span class="tg-brown">Azione:</span>&nbsp;{{ totalShortcuts[cmdHoverId]?.cmd }}
        </ng-container>
      </div>
      <div matDialogActions class="tg-shortcuts-edit">
        <button mat-raised-button (click)="openShortcutManager()" color="accent">
          Modifica scorciatoie
        </button>
      </div>
    </ng-container>
    <ng-template #noShortcuts>
      <div class="no-shortcuts">
        <p>
          Non hai ancora nessuna scorciatoia salvata.
        </p>
        <p>
          <button mat-raised-button (click)="openShortcutManager()" color="accent">Creane subito una</button>
        </p>
      </div>
    </ng-template>
  </ng-container>
</tg-window-wrapper>
