@import 'abstract/variables';
@import '~@angular/flex-layout/mq';


tg-sidebar {
  .mat-list-base .mat-list-item {
    line-height: 16px;
    margin: 0;
    position: relative;
    text-align: left;
    background: 0 0;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
    transition: background-color .2s ease-out;

    &.active, &:hover {
      background-color: #675842;
      color: white;
    }
  }
      
  // Account Avatar
  .tg-manager-avatar {
    width: 100%;
    margin: 12px;
    border: 6px solid rgba(255, 255, 255, 0.1);
    border-bottom-color: rgba(255, 255, 255, 0.2);

    img {
      max-width: 100%;
      max-height: 100%;
      display: block;
    }

    >.mat-icon {
      width: 100%;
      height: 100%;
      font-size: 120px;
      color: rgba(255, 255, 255, 0.1);
    }
  }

  // .menu-item-label {
  //   display: inline-block;
  //   vertical-align: middle;
  //   margin-left: 8px;
  // }

  .sub-items {
    text-align: right;
  }
}
