<ng-container *ngIf="eqcont">
  <ng-container *ngTemplateOutlet="withEquipCont"></ng-container>
</ng-container>
<ng-container *ngIf="objcont">
  <ng-container *ngTemplateOutlet="withObjCont"></ng-container>
</ng-container>

<ng-template #withEquipCont>
  <div class="tg-objperson" fxLayout="column">
    <div class="tg-objperson--title" *ngIf="eqcont.list.length > 0">
      {{eqcont.title}}
    </div>
    <ng-container *ngFor="let item of eqcont.list">
      <div class="tg-objperson--line">
        <tg-icons [icon]="item.icon" [attr.cntnum]="item.cntnum"></tg-icons>
        <div class="hstat" [style.background-position]="getHstat(item.condprc)"></div>
        
        <!-- Equip Position Name  -->
        <div class="tg-objperson--equippos" *ngIf="item.eq[0] && item.eq[0] < 100; else modifierEq">[ <span class="tg-yellow">{{newListEquip[item.eq[0]-1] }} </span>] </div>
        <ng-template #modifierEq>
          <div class="tg-objperson--equippos">
            [&nbsp;<span class="tg-green">Modificatore</span>&nbsp;]
          </div>
        </ng-template>

        <div class="tg-objpers--itemdesc" [innerHtml]="item.desc + '.' | dataToHtml | capitalizeFirst"></div>
      </div>
    </ng-container>
  </div>

</ng-template>

<ng-template #withObjCont>
  <div class="tg-objperson" fxLayout="column">
    <div class="tg-objperson--title" *ngIf="objcont.list.length > 0">
      {{objcont.title}}
    </div>
    <ng-container *ngFor="let item of objcont.list">
      <div class="tg-objperson--line">
        <tg-icons [icon]="item.icon" [attr.cntnum]="item.cntnum"></tg-icons>
        <div class="hstat" [style.background-position]="getHstat(item.condprc)"></div>
        <div class="tg-objpers--itemdesc" [innerHtml]="item.desc | dataToHtml | capitalizeFirst"></div>
      </div>
    </ng-container>
  </div>
</ng-template>

