:host {
  padding-top: .5em;

  /* Object or Person Detail */
  .tg-objperson {
    display: flex;
    padding-bottom: .5em;
    flex-direction: column;
    padding: .5em 0 0;
  }

  .tg-objperson--action {
    display: flex;
    padding-bottom: .2em;
    font-size: 14px;
    font-family: kingthings;
  }

  .tg-objperson--descbase {
    font-family: kingthings;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: .5em;
  }

  .tg-objperson--where {
    font-size: 12px;
    margin-left: 6px;
    vertical-align: middle;
    color: #9a9a9a;
    line-height: 18px;
  }

  .tg-objpers--line {}

}
