<button class="tg-dir dir-nord" 
  tooltip="Vai a nord" placement="left" show-delay="800" 
  (mousedown)="goToDirection($event, 0)"
  (contextmenu)="closeLockDoor($event, 0)">
  <span class="dir-ico" [ngStyle]="doorsStyle['nord']"></span>
</button>
<button class="tg-dir dir-est" 
  tooltip="Vai a est" placement="left" show-delay="800" 
  (mousedown)="goToDirection($event, 1)"
  (contextmenu)="closeLockDoor($event, 1)">
  <span class="dir-ico" [ngStyle]="doorsStyle['est']"></span>
</button>
<button class="tg-dir dir-sud" 
  tooltip="Vai a sud" placement="bottom" show-delay="800" 
  (mousedown)="goToDirection($event, 2)"
  (contextmenu)="closeLockDoor($event, 2)">
  <span class="dir-ico" [ngStyle]="doorsStyle['sud']"></span>
</button>
<button class="tg-dir dir-ovest" 
  tooltip="Vai a ovest" placement="left" show-delay="800" 
  (mousedown)="goToDirection($event, 3)"
  (contextmenu)="closeLockDoor($event, 3)">
  <span class="dir-ico" [ngStyle]="doorsStyle['ovest']"></span>
</button>
<button class="tg-dir dir-alto" data-label="alto" 
  tooltip="Vai verso l'alto" placement="top" show-delay="800" 
  (mousedown)="goToDirection($event, 4)"
  (contextmenu)="closeLockDoor($event, 4)">
  <span class="dir-ico" [ngStyle]="doorsStyle['alto']"></span>
</button>
<button class="tg-dir dir-basso" data-label="basso"
  tooltip="Vai verso il basso" placement="top" show-delay="800" 
  (mousedown)="goToDirection($event, 5)"
  (contextmenu)="closeLockDoor($event, 5)">
  <span class="dir-ico" [ngStyle]="doorsStyle['basso']"></span>
</button>

