<div class="tg-input tg-box b-ironlight tg-shadow">
  <input type="text" autofocus placeholder="Scrivi qualcosa" 
    #inputCommand (keydown.enter)="onEnter($event, inputCommand.value)" 
    (keydown.arrowUp)="onUpKey($event)"
    (keydown.arrowDown)="onDownKey($event)"
    autocomplete="off"
    name="sendinput"/>
  <div class="tg-inputcommand">
    <ng-container *ngIf="inCombat === true">
      <div>
        <button type="button" class="tg-button tg-button-pieta" (mousedown)="sendCmd('pieta')"></button>
      </div>
      <div>
        <button type="button" class="tg-button tg-button-tregua"  (mousedown)="sendCmd('tregua')"></button>
      </div>
    </ng-container>
    
    <div class="tg-btn-font">
      <button
        matTooltip="Aumenta / Diminuisci Testo"
        [matTooltipPosition]="'above'"
        type="button"
        class="tg-fnt-button"
        (mousedown)="onFontSizeChange()">
        <fa-icon [icon]="faFont"></fa-icon>
      </button>
    </div>
    <div class="tg-btn-extraboard" fxHide fxShow.gt-sm>
      <button
        matTooltip="Apri/Chiudi Dettagli"
        [matTooltipPosition]="'above'"
        type="button"
        class="tg-fnt-button"
        (mousedown)="toggleExtraOutput($event)"
        [ngClass]="{'isActive': tgConfig.layout.extraOutput}">
        <fa-icon [icon]="facolumns"></fa-icon>
      </button>
    </div>
    <div class="tg-btn-dashboard">
      <button
        matTooltip="Apri/Chiudi Dashboard"
        [matTooltipPosition]="'above'"
        type="button" 
        class="tg-fnt-button"
        (mousedown)="toggleCharacterPanel($event)"
        [ngClass]="{'isActive': tgConfig.layout.characterPanel}">
        <fa-icon [icon]="faSolarPanel"></fa-icon>
      </button>
    </div>
    <div class="tg-btn-zen" fxHide fxShow.gt-xs>
      <button 
        matTooltip="Modalità Zen"
        [matTooltipPosition]="'above'"
        type="button"
        class="tg-fnt-button"
        (mousedown)="toggleZen($event)"
        [ngClass]="{'isActive': tgConfig.layout.zen}">
        <fa-icon [icon]="faBullseye"></fa-icon>
      </button>
    </div>
  </div>
  <div class="tg-border-box">
    <div class="tg-border tg-border-top"></div>
    <div class="tg-border tg-border-left"></div>
    <div class="tg-border tg-border-right"></div>
    <div class="tg-border tg-border-bottom"></div>
  </div>
</div>


