<div class="tg-input tg-box b-ironlight tg-shadow">
  <input type="text" autofocus placeholder="Scrivi qualcosa" 
    #inputCommand (keydown.enter)="onEnter($event, inputCommand.value)" 
    (keydown.arrowUp)="onUpKey($event)"
    (keydown.arrowDown)="onDownKey($event)"
    autocomplete="off"
    name="sendinput"/>
  <div class="tg-inputcommand">
    <ng-container *ngIf="inCombat === true">
      <div>
        <button type="button" class="tg-button tg-button-pieta" (mousedown)="sendCmd('pieta')"></button>
      </div>
      <div>
        <button type="button" class="tg-button tg-button-tregua"  (mousedown)="sendCmd('tregua')"></button>
      </div>
    </ng-container>
    
    <div class="tg-btn-font">
      <button mat-icon-button
        tooltip="Aumenta / Diminuisci Testo" show-delay="500" placement="top"
        type="button"
        class="tg-fnt-button"
        (mousedown)="onFontSizeChange()">
        <mat-icon>format_size</mat-icon>
      </button>
    </div>
    <div class="tg-btn-extraboard" fxHide fxShow.gt-sm>
      <button
        mat-icon-button
        tooltip="Apri/Chiudi Dettagli" show-delay="500" placement="top"
        type="button"
        class="tg-fnt-button"
        (mousedown)="toggleExtraOutput($event)"
        [ngClass]="{'isActive': tgConfig.layout.extraOutputDisplay}">
        <mat-icon>vertical_split</mat-icon>
      </button>
    </div>
    <div class="tg-btn-dashboard">
      <button mat-icon-button
        tooltip="Apri/Chiudi Dashboard" show-delay="500" placement="top"
        type="button"
        class="tg-fnt-button"
        (mousedown)="toggleCharacterPanel($event)"
        [ngClass]="{'isActive': tgConfig.layout.characterPanel}">
        <mat-icon>face_outline</mat-icon>
      </button>
    </div>
    <div class="tg-btn-zen" fxHide fxShow.gt-xs>
      <button mat-icon-button
        tooltip="Modalità Zen" placement="top" type="button"
        class="tg-fnt-button"
        (mousedown)="toggleZen($event)"
        [ngClass]="{'isActive': tgConfig.layout.zen}">
        <mat-icon>aspect_ratio_outline</mat-icon>
      </button>
    </div>
  </div>
  <div class="tg-border-box">
    <div class="tg-border tg-border-top"></div>
    <div class="tg-border tg-border-left"></div>
    <div class="tg-border tg-border-right"></div>
    <div class="tg-border tg-border-bottom"></div>
  </div>
</div>


