<mat-toolbar class="tg-mainnav">
  <mat-toolbar-row fxLayout="wrap" fxLayoutGap="20px">

    <div class="hamburger-item">
      <button class="tg-mainnav-icon" mat-icon-button (click)="toggleSidenav.emit()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <div class="tg-brand">
      <a href="http://www.thegatemud.it" class="tg-base-logo">
        <span>The Gate <i>Mud</i></span>
      </a>
    </div>

    <ng-container *ngIf="!userIsInGame">
      <!-- Default Menu -->
      <div class="tg-mainnav-item" fxLayout fxHide fxShow.gt-sm fxLayoutAlign="center center">
        <a #button mat-button href="http://www.thegatemud.it" target="_blank" title="The Gate Mud HomePage">Home</a>
      </div>
      <div class="tg-mainnav-item" fxLayout fxHide fxShow.gt-sm fxLayoutAlign="center center">
        <a #button mat-button href="http://forum.thegatemud.it" target="_blank">Forum</a>
      </div>
      <div class="tg-mainnav-item" fxLayout fxHide fxShow.gt-sm fxLayoutAlign="center center">
        <button #button mat-button [routerLink]="['/novita']" [routerLinkActive]="['active']">Novità</button>
      </div>
      <!-- End Default Menu -->
    </ng-container>


    <!-- Game Menu -->
    <div *ngIf="userIsInGame" fxFlex="1 1 100%" fxHide fxShow.gt-sm class="mr0">
      <tg-game-items></tg-game-items>
    </div>
    <!-- End Game Menu-->
  </mat-toolbar-row>
</mat-toolbar>
