@import 'abstract/variables';
@import '~@angular/flex-layout/mq';

tg-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  font-size: 12px;
  border-bottom: 1px solid rgb(66, 62, 58);
  box-shadow: 0 3px 6px rgba(12, 8, 7, 1);

  .tg-brand {
    height: 100%;
    margin-right: 40px !important;
    color: #bdb3a3;
    display: flex;

    .tg-base-logo {
      line-height: 32px;
      text-decoration: none;
      padding-left: 30px;
      height: 100%;
      margin: auto 0;
      display: inline-block;
      background-position: left;
      background-size: 28px auto;
    }

    span {
      font-size: 11px;
      text-transform: uppercase;
      color: #e8e3d2;

      i {
        font-style: normal;
        color: $tg-brown;
      }

    }
  }

  .tg-mainnav {
    font-size: 12px;
    background: #231f1c url($imgPath + '/navbar/bg.jpg') repeat-x 0 0;
    box-shadow: inset 0px -6px 9px 7px black;
    height: auto;

    p {
      display: inline-block;
      margin: 0;
    }
  }

  .tg-mainnav-wrap {
    margin: 0 auto;
    overflow: hidden;
  }

  .tg-mainnav-item {
    display: none;
    font-size: 1em;
    vertical-align: middle;
    margin-right: 20px;
  }

  .mat-menu-item {
    font-size: 1em;
    line-height: 1;
    height: 40px;
  }

  .mr0 {
    margin-right: 0 !important;
  }

  .mat-icon-button,
  .mat-button {
    mat-icon {
      color: #6d6d6d;
      width: auto;
      height: auto;
    }
  }

  .mat-icon.mat-primary{
    color: rgb(109, 109, 109);
    vertical-align: middle;
  }

  .mat-icon-button {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;

    mat-icon {
      font-size: 18px!important;
    }
    
    &:hover mat-icon, &.active mat-icon {
      color: $tg-brown;
    }
  }


  .tg-mainnav-item .mat-button {
    min-width: 0;
    padding: 0;
    height: 100%;
  }

  .tg-mainnav-item a,
  .tg-mainnav-item .mat-button {
    text-decoration: none;
    text-transform: uppercase;
    color: #bdb3a3;
    transition: text-shadow .2s linear;
    font-size: 1em;
    line-height: 1;

    &:hover,
    &.active {
      color: $tg-brown;
      text-shadow: 0 0 12px white;
    }
  }

  .hamburger-item {
    display: none;

    mat-icon {
      font-size: 24px;
      color: $base-text-color-light;
    }
  }

  .menu-label {
    padding: 6px 12px;
  }

  .menu-block {

    &:after,
    &:before {
      content: '';
      display: inline-block;
      max-height: 90%;
      height: 20px;
      vertical-align: middle;
      width: 2px;
      margin: 0 12px 0 12px;
      background: black;
    }

    &:before {
      border-left: 1px solid rgba(255, 255, 255, .2);
    }

    &:after {
      border-left: 1px solid rgba(255, 255, 255, .2);
    }
  }

  @include layout-bp(lt-md) {

    header {
      height: auto;
    }

    .tg-brand {
      margin-right: 0 !important;

      a {
        margin: 0;
      }
    }

    .hamburger-item {
      display: flex;
      margin: auto 0;
    }

    .mat-button mat-icon,
    .mat-icon-button mat-icon {
      font-size: 24px;
      width: auto;
      height: auto;
    }
  }
}

// Badge Client Version
.tg-wcversion {
  display: block;
  border-radius: 4px;
  padding: 2px 8px;
  font-weight: bold;
  color: #9e8917;
  line-height: 1;
  cursor: help;
  flex: auto;
  margin: auto 0;
  border: 1px solid #3c3c3c;
}


/* Badge Game Time*/
.tg-game-time {
  display: inline-block;
  font-size: 11px;
  text-transform: uppercase;
  margin: auto auto auto 0;

  span {
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
  }

  b {
    font-weight: normal;
  }

  .time-image {
    overflow: hidden;
    position: relative;
    border: 1px solid rgb(146, 146, 146);
    border-top: 0;
    width: 100px;
    height: 18px;
    display: inline-block;
    border-radius: 5px;
    vertical-align: middle;
    background-size: contain;
    background: url(/assets/images/sky/mezzogiorno.jpg); // Is a Test
    background-position: bottom center;
    box-shadow: inset 0 0 5px 0px black;
    margin-top: -1px;
    cursor: pointer;
  }

  .time-icon {
    display: inline-block;
    background: url($imgPath + '/sky/sun.png') no-repeat top left;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 5px;
    position: absolute;
    left: 45%;
    top: 2px;

    &:before {
      content: '';
      width: 2px;
      height: 2px;
      display: block;
      background: white;
      position: relative;
      top: 8px;
      left: 8px;
      box-shadow: 0 0 20px 8px #ffe000;
    }
  }
}
