<mat-toolbar class="tg-mainnav">
  <mat-toolbar-row fxLayout="wrap" fxLayoutGap="20px">

    <div class="hamburger-item">
      <button class="tg-mainnav-icon" mat-icon-button (click)="toggleSidenav.emit()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <div class="tg-brand">
      <a href="http://www.thegatemud.it" class="tg-base-logo">
        <span>The Gate <i>Mud</i></span>
      </a>
    </div>

    <ng-container *ngIf="!userIsInGame">
      <!-- Default Menu -->
      <div class="tg-mainnav-item" fxLayout fxHide fxShow.gt-sm fxLayoutAlign="center center">
        <a mat-button href="http://www.thegatemud.it" target="_blank" title="The Gate Mud HomePage">Home</a>
      </div>
      <div class="tg-mainnav-item" fxLayout fxHide fxShow.gt-sm fxLayoutAlign="center center">
        <a mat-button href="http://forum.thegatemud.it" target="_blank">Forum</a>
      </div>
      <div class="tg-mainnav-item" fxLayout fxHide fxShow.gt-sm fxLayoutAlign="center center">
        <button mat-button [routerLink]="['/novita']" [routerLinkActive]="['active']">Novità</button>
      </div>
      <!-- End Default Menu -->
    </ng-container>

    <!-- User Registration/Login Menu -->
    <ng-container *ngIf="!userIsInGame; else userLoggedInMenu">
      <div class="m-right user-side" fxHide fxShow.gt-xs fxFlex="0 1 0" fxLayoutAlign="flex-end"
        fxLayoutGap.gt-xs="20px">
        <div class="tg-mainnav-item" fxLayout fxLayoutAlign="center center">
          <button mat-button [routerLink]="['/auth/login-character']" [routerLinkActive]="['active']">Accedi</button>
        </div>
        <div class="tg-mainnav-item  mr0" fxLayout fxLayoutAlign="center center">
          <button mat-button [routerLink]="['/auth/nuovo-personaggio/benvenuto']" [routerLinkActive]="['active']" class="tg-yellow">Nuovo</button>
        </div>
      </div>
    </ng-container>


    <!-- Game Menu -->
    <ng-template #userLoggedInMenu>
      <div fxFlex="1 1 100%" fxHide fxShow.gt-sm class="mr0">
        <tg-game-items></tg-game-items>
      </div>
    </ng-template>
    
    <!-- End Game Menu-->
  </mat-toolbar-row>
</mat-toolbar>
