@import 'abstract/variables';
@import '~@angular/flex-layout/mq';

tg-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  font-size: 12px;
  border-bottom: 1px solid rgb(66, 62, 58);
  box-shadow: 0 3px 6px rgba(12, 8, 7, 1);

  .mat-icon-button {
    &.tg-mainnav-icon {
      height: 32px;
      line-height: 32px;
    }

  }

  .tg-brand {
    height: 100%;
    margin-right: 40px !important;
    color: #bdb3a3;
    display: flex;

    .tg-base-logo {
      line-height: 32px;
      text-decoration: none;
      padding-left: 30px;
      height: 100%;
      margin: auto 0;
      display: inline-block;
      background-position: left ;
      background-size: 28px auto;
    }

    span {
      font-size: 11px;
      text-transform: uppercase;
      color: #e8e3d2;

      i {
        font-style: normal;
        color: $tg-brown;
      }

    }
  }

  .tg-mainnav {
    font-size: 12px;
    background: #231f1c url($imgPath + '/navbar/bg.jpg') repeat-x 0 0;
    box-shadow: inset 0px -6px 9px 7px black;
    height: auto;

    p {
      display: inline-block;
      margin: 0;
    }
  }

  .tg-mainnav-wrap {
    margin: 0 auto;
    overflow: hidden;
  }

  .tg-mainnav-item {
    display: none;
    font-size: 1em;
    vertical-align: middle;
    margin-right: 20px;
  }


  .mat-menu-item {
    font-size: 1em;
    line-height: 1;
    height: 40px;
  }


  .mr0 {
    margin-right: 0!important;
  }
  
  .m-right {
    margin-left: auto;
  }

  .hamburger-item {
    display: none;
  }

  .mat-icon-button,
  .mat-button {
    mat-icon {
      font-size: 20px;
      width: auto;
      height: auto;
    }
  }

  .tg-mainnav-item .mat-button {
    min-width: 0;
    padding: 0;
    height: 100%;
  }

  .tg-mainnav-item a,
  .tg-mainnav-item .mat-button {
    text-decoration: none;
    text-transform: uppercase;
    color: #bdb3a3;
    transition: text-shadow .2s linear;
    font-size: 1em;
    line-height: 1;

    &:hover,
    &.active {
      color: rgb(189, 179, 163);
      text-shadow: 0 0 12px white;
    }
  }

  .mat-icon,
  .user-side {
    color: #bdb3a3;
    vertical-align: middle;
  }


  .menu-label {
    padding: 6px 12px;
  }



  @include layout-bp(lt-md) {

    header {
      height: auto;
    }

    .tg-brand {
      margin-right: 0 !important;
      a {
        margin: 0;
      }
    }

    .hamburger-item {
      display: flex;
      margin: auto 0;
    }

    .mat-button mat-icon,
    .mat-icon-button mat-icon {
      font-size: 24px;
      width: auto;
      height: auto;
    }
  }
}

// Badge Client Version
.tg-wcversion {
  display: block;
  border-radius: 4px;
  padding: 2px 8px;
  font-weight: bold;
  color: #9e8917;
  line-height: 1;
  cursor: help;
  flex: auto;
  margin: auto 0;
  border: 1px solid #3c3c3c;
}


/* Badge Game Time*/
.tg-game-time {
  display: inline-block;
  font-size: 13px;
  margin: auto 0;

  span {
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    padding-right: 14px;
  }

  b {
    font-weight: normal;
  }

  .time-icon {
    display: inline-block;
    background: url($imgPath + '/sky/sun.png') no-repeat top left;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 2px;
    position: relative;

    &:before {
      content: '';
      width: 2px;
      height: 2px;
      display: block;
      background: white;
      position: absolute;
      position: relative;
      top: 8px;
      left: 8px;
      box-shadow: 0 0 20px 8px #ffe000;
    }
  }

  .time-image {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-top: 0;
    width: 100px;
    height: 18px;
    display: inline-block;
    border-radius: 5px;
    vertical-align: middle;
    background-size: contain;
    margin-right: 2em;
    background: url(/assets/images/sky/alba.jpg); // Is a Test
    background-position: top left;
    box-shadow: inset 0 0 5px 0px black;
  }
}