<form [formGroup]="frmStepFive">
  <div class="tg-registration-step" fxLayout>
    <div class="tg-regsidebar" fxFlex="1 1 30%">
      <div class="tg-regsidebar-text">
        <h2 class="tg-detail-title tg-yellow">Luogo di partenza</h2>
        <p>
          Scegli ora <span class="tg-yellow">dove iniziare</span> il tuo gioco. I personaggi entrano in
          Ikhari attraverso antichi cerchi di pietre di origine misteriosa e legati
          ad una profezia di immortalità. Nelle vicinanze di questi cerchi sono
          sorti, nel corso della storia, diversi insediamenti legati alle varie
          razze. La scelta è quindi limitata dalla razza del tuo personaggio.<br>
          <br>
          I cerchi di pietre consigliati per i nuovi giocatori sono segnati dal
          simbolo.
        </p>
      </div>
    </div>
    <div class="tg-detail-content" fxFlex="1 1 70%">
      <div class="tg-detail-ikharimap">
          <img src="/assets/images/registration/mappa-di-Ikhari.jpg" alt="Mappa di Ikhari">
      </div>
      <div class="tg-detail-text"> 
        <p>Città selezionata: <span class="tg-yellow">[city_value]</span></p> 
        <div class="tg-detail-action">
          <button mat-raised-button matStepperPrevious class="tg-step-back">Indietro</button>&nbsp;
          <button mat-raised-button matStepperNext class="tg-step-next">Avanti</button>
        </div>
      </div>
    </div>
  </div>
</form>
