.tg-book {
  height: 100%;
  line-height: 1.4;
  color: #3a2e19;
}

.tg-book * {
  outline: none;
}

.tg-book-inset {
  z-index: 2;
  position: relative;
  height: 100%;
  min-height: 550px;
}

.page {
  padding-right: .5em;
  font-size: 13px;
}


.tg-book-title {
  font-family: kingthings;
  font-size: 1.6em;
  line-height: 1;
  text-align: center;
  padding-bottom: .5em;
}

.tg-book-language {
  padding-bottom: .5em;
  font-weight: 500;
  display: block;
}


.tg-book-pagetext {
  text-align: justify;
}

.tg-book-pager {
  
  margin: .5em 0;

  .pager-btns {
    margin-right: auto;
  }

  button {
    background: transparent;
    margin-right: 6px;
    background: #d9c5a5;
  
    &:hover {
      background: #e7d5b9;
    }
  }
}
