@import '~@angular/flex-layout/mq';
/**** FONTS *****/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Modern+Antiqua');
/********************/

html {
  height: 100%;
  width: 100%;
}

body {
  background: #000000;
  color: $base-text-color;
  min-height: 100%;
  line-height: 1.5;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  min-height: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
}

body.size-xs {
  font-size: 10px;
}

body.size-s {
  font-size: 11px;
}

body.size-m {
  font-size: 12px;
}

body.size-l {
  font-size: 12.5px;
}

body.size-xl {
  font-size: 13px;
}

body.size-xxl {
  font-size: 13.5px
}

body.size-xxxl {
  font-size: 14px;
}


a,
button:focus,
input:focus,
.input:active,
textarea:focus,
select:focus,
button:active {
  outline: 0 none !important;
}

a {
  text-decoration: none;
  color: $tg-brown;
}

a.underlink {
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

button,
input[type="checkbox"] {
  cursor: pointer;
  border: none;
}

.min-h-0 {
  min-height: 0;
}

/* CLIENT LOGIN STATUS */
body[data-loginstatus=ready] {
  overflow: hidden;
}


tg-main {
  height: 100%;
  overflow: hidden;
  background: #0a0706 url($imgPath + '/background/default-bg.jpg') no-repeat top center;
  background-size: 100% auto;
  background-attachment: fixed;
  background-color: black;
  position: relative;
  display: block;
  box-sizing: border-box;
}

.main-content {
  display: table;
  margin: 0 auto;
  max-width: 1410px;
  box-sizing: border-box;
}

.tg-base-logo {
  background-image: url($imgPath + "/logo/triang_int.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin: 0 auto;

  &.big {

    width: 90px;
    height: 90px;
  }
}

a.tg-base-logo {
  display: block;
}

/* Icons & Stuff */

.tg-icon {
  margin: auto auto;
  background-image: url($imgPath + '/tiles.png');
  background-repeat: no-repeat;
  transform: scale(.5);
  margin-top: -8px;
  width: 32px;
  height: 32px;
  line-height: 16px;
}

@include layout-bp(lt-md) {

  .tg-area {
    padding: 0;
  }

  .tg-main {
    .tg-controlpanel {
      margin-left: 0;
    }
  }
}

/* Various Sprite, Effects and State */
.cando {
  display: inline-block;
  @include sprite($checkbox-checked-sprite);
}

.cantdo {
  display: inline-block;
  @include sprite($notchecked-sprite);
}