@import 'abstract/variables';

.tg-output {
    .tg-white, .default, .tg-lt-white, .tg-gray, .tg-red, .tg-lt-red,
    .tg-green, .tg-lt-green, .tg-blue, .tg-lt-blue, .tg-magenta, .tg-lt-magenta,
    .tg-cyan, .tg-lt-cyan, .tg-brown, .tg-yellow {
        display: inline;
    } 
}

/* Output colors */
.tg-white, .default{
    color: $tg-white!important;
}
.tg-lt-white {
    color: $tg-lt-white!important;
}
.tg-llt-white {
    color: $tg-llt-white!important;
}
.tg-gray {
   color: $tg-gray!important; 
}
.tg-red {
    color: $tg-red!important;
}
.tg-lt-red {
    color: $tg-lt-red!important;
}
.tg-green {
    color: $tg-green!important;
}
.tg-lt-green {
    color: $tg-lt-green!important;
}
.tg-blue {
    color: $tg-blue!important;
}
.tg-lt-blue {
    color: $tg-lt-blue!important;
}
.tg-magenta {
    color: $tg-magenta!important;
}
.tg-lt-magenta {
    color: $tg-lt-magenta!important;
}
.tg-cyan {
    color: $tg-cyan!important;
}
.tg-lt-cyan {
    color: $tg-lt-cyan!important;
}
.tg-brown {
    color: $tg-brown!important;
}
.tg-yellow {
    color: $tg-yellow!important;
}

.tg-lt-yellow {
    color: $tg-lt-yellow!important;
}