
  .overlay-dark {
    background-color: rgba(0, 0, 0, 1);
  }
  
  
  .tg-dialog-content,
  .tg-dialog-content-nopadding {
    position: relative;
    z-index: 10;
    background: #190f06 url($imgPath + '/background/bg-ironbrown.jpg') repeat;
    height: 100%;
    max-height: 100%;
    border-radius: 5px;
    font-size: 12px;
  }
  
  .tg-dialog-content {
    margin: 0;
    padding: 8px;
  }
    
  .tg-dialog--close {
    line-height: 1;
    color: $tg-red;
    vertical-align: middle;
    height: auto;
    width: auto;
    position: absolute;
    right: 2px;
    top: 2px;
    border: 1px solid #3e3c3b;
    background-color: white;
    background: black;
    border-radius: 0;
  
    .mat-icon {
      font-size: 14px;
      line-height: 18px;
      height: 18px;
      width: 18px;

    }
  }

  
  .tg-dialog-title {
    cursor: pointer;
    border: none;
    width: auto !important;
    line-height: 24px;
    font-size: 13px;
    font-family: 'Modern Antiqua', cursive;
    letter-spacing: 1px;
    text-transform: capitalize;
    text-align: center;
    padding: 0 28px;
    box-sizing: content-box;
    color: #ccaa31;
    border-radius: 0;
    background: #423d38;
    transition: width .3s linear;
    box-shadow: inset 0px -3px 10px 0px black;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    position: relative;
    border-bottom: 1px solid #6d665e;
    text-shadow: 0 0 20px #000000;
    margin: 0 0 2px;
    background: url($imgPath + '/interface/dialog_background_title.jpg') repeat-x;
  }

