.tg-app {
  @import 'partials/material/mat-divider';
  @import 'partials/material/mat-expansion';
  @import 'partials/material/mat-menu';
  @import 'partials/material/mat-table';
  @import 'partials/material/mat-tab';
  @import 'partials/material/mat-sidenav';
  @import 'partials/material/mat-toolbar';
  @import 'partials/material/mat-buttons';
  @import 'partials/material/mat-form';
  @import 'partials/material/mat-list';
  @import 'partials/material/mat-progressbar';
  @import 'partials/material/mat-dialog';
  @import 'partials/material/mat-stepper';
  @import 'partials/material/mat-paginator';
  @import 'partials/material/mat-slider';

  @import 'partials/common';

  /* Components */
  @import 'partials/objects-list';

  .cdk-overlay-connected-position-bounding-box {
    z-index: 9999;
  }

  /* Border */
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: white;
  }

  /* Hint */

  .mat-form-field-appearance-legacy .mat-hint {
    color: rgba(255, 255, 255, 0.54);
  }

  /*checkbox */
  .mat-checkbox-frame {
    background: #5d5d5d;
  }

  .mat-checkbox-checkmark-path {
    stroke: black !important;
  }

  .cdk-drag {
    // display: block;
    height: 100%;
  }

  /* filter */
  .tg-table--filter {
    background-color: #0b0907;
    width: 100%;
    padding: 0 1em;
    box-sizing: border-box;
    box-shadow: inset 0 0 8px 2px black;

    input {
      color: white;
    }
  }

  /* Select */
  .mat-form-field-label {
    color: #8e8e8e;
  }

  .mat-form-field-infix:after {
    border-right-color: #ffc400 !important;
  }

  .mat-form-field-underline {
    background-color: rgba(255, 255, 255, 0.20);
  }

  /* Radio */
  .mat-radio-outer-circle {
    border-color: rgb(142, 142, 142);
  }

  /* Mat Tooltip */
  .mat-tooltip {
    background-color: rgba(62, 62, 62, 0.9);
  }
}
