<div class="tg-border-box">
  <div class="tg-border tg-border-top"></div>
  <div class="tg-border tg-border-left"></div>
  <div class="tg-border tg-border-right"></div>
  <div class="tg-border tg-border-bottom"></div>
  <!-- Main Panel -->
  <div class="tg-main container-fluid">
    <tg-navbar></tg-navbar> 
    <div class="tg-main-row row">
      <div class="tg-leftside col">
        <tg-output></tg-output>
        <tg-dashboard></tg-dashboard>
      </div>
      <div class="tg-rightside">
        <div class="tg-rightside-wrap">
          <tg-sky></tg-sky>
          <tg-map></tg-map>
        </div>
      </div>
    </div>
  </div>
</div> 
<tg-audio></tg-audio>