<div class="tg-input tg-box b-ironlight tg-shadow">
  <input id="inputcommand" type="text" autofocus placeholder="Scrivi qualcosa" 
    #inputCommand (keydown.enter)="onEnter($event, inputCommand.value)" 
    (keydown.arrowUp)="onUpKey($event)"
    (keydown.arrowDown)="onDownKey($event)"
    autocomplete="off"
    name="sendinput"/>
  <div class="tg-inputcommand">
  
    <ng-container *ngIf="inCombat === true">
      <div>
        <button type="button" class="tg-button tg-button-pieta" 
        (mousedown)="sendCmd('pieta')"
        matRipple
        ></button>
      </div>
      <div>
        <button type="button" class="tg-button tg-button-tregua"  
        (mousedown)="sendCmd('tregua')"
        matRipple
        ></button>
      </div>
    </ng-container>
    
    <button mat-icon-button
      tooltip="Disattiva/Attiva Autoscroll" show-delay="500" placement="top"
      type="button"
      class="tg-fnt-button"
      (mousedown)="pauseScrollOutput()"
      [ngClass]="{'isActive': pauseScroll | async}">
      <mat-icon>pause</mat-icon>
    </button>

    <button mat-icon-button *ngIf="!tgConfig.zen"
      tooltip="Apri/Chiudi Dashboard" show-delay="500" placement="top"
      type="button"
      class="tg-fnt-button"
      (mousedown)="toggleCharacterPanel()"
      [ngClass]="{'isActive': tgConfig.characterPanel}">
      <mat-icon>face_outline</mat-icon>
    </button>

    <button mat-icon-button fxHide fxShow.gt-xs
      tooltip="Modalità Zen" placement="top" type="button"
      class="tg-fnt-button"
      (mousedown)="toggleZen()"
      [ngClass]="{'isActive': tgConfig.zen}">
      <mat-icon>aspect_ratio_outline</mat-icon>
    </button>
    
  </div>
  <div class="tg-border-box">
    <div class="tg-border tg-border-top"></div>
    <div class="tg-border tg-border-left"></div>
    <div class="tg-border tg-border-right"></div>
    <div class="tg-border tg-border-bottom"></div>
  </div>
</div>

