@import 'variables';
/* Others */
@import 'sprites';
@import 'utils/sprites-mixins';

  // Fog
  .fog {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    border-radius: 50%;
    overflow: hidden;
    background: url($imgPath + '/mapobj/fog.png') repeat-x;
    background-size: cover;
    background-position: center;
  }