<form [formGroup]="frmStepFour">
  <div class="tg-registration-step" fxLayout>

    <div class="tg-sidebar" fxFlex="1 1 40%">
      <div class="tg-sidebar-text">

        <!-- Attribute Description & Help -->
        <ng-container *ngIf="!attributeHover; else attrDescription">
          <p>Il tuo personaggio ha diverse caratteristiche che ne descrivono le qualità
            fisiche e mentali. Esse dipendono in parte dalla sua razza, ma possono cambiare da individuo a
            individio.<br>
            Usa i <b class="tg-cyan">punti creazione</b> disponibili per modificare le caratteristiche
            del tuo personaggio <b>rispetto alla media della sua razza</b>. Se abbassi
            una caratteristica riceverai dei punti che potrai spendere per alzarne
            altre. Alzare una caratteristica ti costerà invece punti.
          </p>
        </ng-container>

        <ng-template #attrDescription>
          <p [innerHtml]="attributeDesc"></p>
        </ng-template>

      </div>
    </div>

    <div class="tg-detail-content" fxFlex="1 1 60%">

      <div class="attr-points">Punti creazione disponibili: <span id="attr-points">{{points}}</span></div>

      <div class="tg-attribute-wrap">
        <table class="tg-attribute-table">
          <ng-container 
            *ngTemplateOutlet="attrSlider;context:{$implicit: 50, name:'Forza', file: 'strength'}">
          </ng-container>
          <ng-container
            *ngTemplateOutlet="attrSlider;context:{$implicit: 50, name:'Costituzione', file:'constitution'}">
          </ng-container>
          <ng-container 
            *ngTemplateOutlet="attrSlider;context:{$implicit: 50, name:'Taglia', file:'size'}">
          </ng-container>
          <ng-container 
            *ngTemplateOutlet="attrSlider;context:{$implicit: 50, name:'Destrezza', file:'dexterity'}">
          </ng-container>
          <ng-container 
            *ngTemplateOutlet="attrSlider;context:{$implicit: 50, name:'Velocità', file:'speed'}">
          </ng-container>
          <ng-container 
            *ngTemplateOutlet="attrSlider;context:{$implicit: 50, name:'Empatia', file:'empathy'}">
          </ng-container>
          <ng-container
            *ngTemplateOutlet="attrSlider;context:{$implicit: 50, name:'Intelligenza', file:'intelligence'}">
          </ng-container>
          <ng-container 
            *ngTemplateOutlet="attrSlider;context:{$implicit: 50, name:'Volontà', file:'willpower'}">
          </ng-container>
        </table>

      </div>

      <button mat-raised-button matStepperPrevious>Indietro</button>&nbsp;
      <button mat-raised-button matStepperNext color="accent">Avanti</button>

    </div>
  </div>

</form>

<ng-template #attrSlider let-default let-name="name" let-file="file">
  <tr>
    <th>
      <h3 (mouseover)="onAttribute($event, file)" (mouseout)="onAttribute($event, null)">{{name}}</h3>
    </th>
    <td>
      <div class="tg-attribute-bar">
        <span class="barsection fill"></span>
        <span class="barsection fill"></span>
        <span class="barsection"></span>
        <span class="barsection"></span>
      </div>
    </td>
    <td>
      <div class="points-action">
        <button type="button" mat-button><</button>
        <span class="point-value">0</span>
        <button type="button" mat-button>></button>
      </div>
    </td>
  </tr>
</ng-template>
