<p>
  Scegli ora <b>dove iniziare</b> il tuo gioco. I personaggi entrano in
  Ikhari attraverso antichi cerchi di pietre di origine misteriosa e legati
  ad una profezia di immortalità. Nelle vicinanze di questi cerchi sono
  sorti, nel corso della storia, diversi insediamenti legati alle varie
  razze. La scelta è quindi limitata dalla razza del tuo personaggio.<br>
  <br>
  I cerchi di pietre consigliati per i nuovi giocatori sono segnati dal
  simbolo.
</p>

<button mat-raised-button color="accent">Avanti</button>

