
@import 'variables';


h3 { 
  display: inline-block;
}

.tg-attribute-table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;

  h3 {
    margin: 0;
  }
  td, th {
    padding: 0.3rem;
    vertical-align: middle;
  }
}

.tg-attribute-bar {
  border:1px solid #5f5c59;
  min-width: 175px;
  width: 100%;
  height: 16px;
  padding: 1px;
  display: flex;

  span.barsection {
    display: inline-block;
    // width: 20%;
    flex: 1;
    height: 100%;
    box-sizing: border-box;
    background-color: #171614;
    border-right: 1px solid #5f5c59;
  
    &:last-child {
      border-right: none;
    }
  
    &.fill {
      background-image: url($imgPath + '/bars/stamina.jpg' );
    }
  }
}

.decrease-btn {
  width: 20px;
  height: 31px;
  background: url($imgPath + '/registration/decrease-btn.png') no-repeat; 
}

.increase-btn {
  width: 20px;
  height: 31px;
  background: url($imgPath + '/registration/increase-btn.png') no-repeat; 
}

.point-value {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 22px;
  color: #f3e6c8;
  display: inline-block;
  width: 35px;
  text-align: center;
  vertical-align: middle;
  padding-left: .5em;
}

