tg-splashscreen {
  display: block;
  background-color: #0b0807;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  pointer-events: none;

  .tg-splashscreen--percentage {
    margin: auto;
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .tg-splashscreen--percentagetext {
    font-size: 11px;
    text-align: center;
    color: #67615a;
  }

  .tg-splashscreen--percentagebar {
    height: 1px;
    width: 40vw;
    position: relative;
    margin: 5px auto;

    .tg-splashscreen--percentageamount {
      position: absolute;
      left: 0;
      display: block;
      background-color: #d69813;
      width: 0;
      height: 100%;
      box-shadow: 0 0 16px 1px #d69813;
      transition: width .1s linear;
    }
  }
}
