    <div class="tg-loginwidget" >
      <div class="b-ironlight-mini tg-box">
        <div class="tg-dialog-content-nopadding tg-shadow-inset">

          <div class="tg-widgetlogin-status">
            Sei stato disconnesso.
          </div>
          <div class="tg-widgetlogin-menu" *ngIf="!showForm" fxLayout="column">
            <button type="button" class="btn-reconnect tg-button" (click)="onReconnect()">Riconnetti
              <span></span>
            </button>
            <!-- <button type="button" class="btn-newlogin tg-button" (click)="toggle()">Accedi con un personaggio diverso.</button> -->
            <button type="button" class="btn-backtohome tg-button" (click)="navigateToHome()">Torna alla Home</button>
          </div>
          <form autocomplete="off" 
            [formGroup]="smartLoginForm"
            *ngIf="showForm" (ngSubmit)="login()">
            <input 
              [ngClass]="{'is-invalid': !username.valid && username.touched}"
              formControlName="username"
              class="form-control" name="username" type="text" 
              autocomplete="off" placeholder="Username" required>
            <input 
              [ngClass]="{'is-invalid': !password.valid && password.touched}"
              formControlName="password"
              class="form-control" name="password" type="password" 
              autocomplete="off" placeholder="Password">
            <button type="submit" class="form-control btn-loginwidget tg-button" value="accedi">Accedi</button>
            {{loginReplayMessage}}
            <span href="#" class="back-to-root" (click)="toggle()">Torna indietro</span>
          </form>
        </div>
        <div class="tg-border-box">
          <div class="tg-border tg-border-top"></div>
          <div class="tg-border tg-border-left"></div>
          <div class="tg-border tg-border-right"></div>
          <div class="tg-border tg-border-bottom"></div>
        </div>
      </div>
    </div>
