@import 'variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';


// RIGHT SIDE AREA
:host {
    background: url($imgPath + '/background/wood_rightside.jpg') repeat top left;
    overflow: hidden;
  
    .tg-rightside-wrap {
        height: 100%;
        width: 100%;
        background: url($imgPath + '/borders/border-paneleft-left.png') repeat-y top left;
        padding-left: 15px;
        box-shadow: inset 3px -2px 112px 7px black;
        position: relative;
        display: flex;
        flex-direction: column;
    }
  
    @include media-breakpoint-down(xs) {
      display: none;
    }
  }