<div class="tg-signup" fxLayout="row wrap" >
  <div class="tg-signup-wrap">
    <div class="tg-signup-content">
      <div class="tg-auth-form-header" [@animate]="{value:'*', params:{delay:'150ms', y:'56px'}}">
        <div class="tg-base-logo"></div>
        <h1>Crea un Account</h1>
      </div>
      
      <form name="signup" [formGroup]="signupForm" (ngSubmit)="onSubmit()" [@animate]="{value:'*', params:{delay:'300ms', y:'56px'}}">
        <p>Crea un account <b>TheGateMud</b> per poter accedere alla tua area privata, creare il tuo personaggio e
          usufruire di tutti gli strumenti messi a disposizione per te. </p>
  
        <p><b>Attenzione</b>: Il nome utente in questo step non equivale al nome del tuo futuro personaggio.</p>
          <div class="api-error" *ngIf="apiError">
            {{ apiError }}
          </div>
          <div class="form-field-group">
            <input class="tg-input" placeholder="Nome utente" type="text" formControlName="username">
            <mat-hint>minimo 5 caratteri</mat-hint>
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required || f.username.errors.minlength">Nome utente non valido.</div>
            </div>
          </div>
          <div class="form-field-group">
            <input class="tg-input" placeholder="La tua e-mail" type="email" formControlName="email">
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required  || f.email.errors.email">E-mail non valida</div>
            </div>
          </div>
          <div class="form-field-group">
            <input class="tg-input" placeholder="Scrivi di nuovo la tua e-mail" type="email" formControlName="confirmEmail">
            <div *ngIf="submitted && f.confirmEmail.errors" class="invalid-feedback">
                <div *ngIf="f.confirmEmail.errors.required || f.confirmEmail.errors.noEmailMatch">L'e-mail inserita non è uguale.</div>
            </div>
          </div>
          <div class="form-field-group">
            <input class="tg-input" placeholder="La tua password personale" type="password" formControlName="password">
            <mat-hint>minimo 5 caratteri</mat-hint>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required || f.password.errors.minlength">Password non valida.</div>
            </div>
          </div>
          <div class="form-field-group">
            <input class="tg-input" placeholder="Ripeti la password" type="password" formControlName="confirmPassword">
            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required  || f.confirmPassword.errors.noPassswordMatch">La password non è uguale.</div>
            </div>
          </div>

          <div class="conditions">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus diam vel commodo tristique. In
              scelerisque purus non pellentesque porta. Integer ut commodo risus, vitae lobortis mauris. Proin quis sem
              metus. Vivamus fringilla accumsan lacus luctus pretium. Praesent cursus mi eget euismod facilisis. Curabitur
              finibus dolor at magna posuere feugiat. Maecenas porttitor vestibulum imperdiet. Sed cursus ullamcorper
              mauris vel porttitor. Praesent augue dolor, efficitur nec dui ullamcorper, ultricies pellentesque sapien.
  
              Nullam facilisis sit amet quam eget semper. Pellentesque pellentesque ac sapien ac vestibulum. Integer
              blandit gravida arcu. Nullam ut turpis vitae velit convallis ornare. Vivamus id imperdiet leo. Suspendisse
              vestibulum consequat urna, id molestie neque pharetra at. Nam bibendum turpis eget placerat dapibus.
              Suspendisse nisi dolor, efficitur non ullamcorper sit amet, consectetur sit amet lectus. Aliquam in eros et
              mauris fringilla ornare. Sed ut enim rhoncus, egestas sapien fringilla, dignissim urna. Curabitur nisi ante,
              consectetur non feugiat quis, egestas nec purus. Fusce pretium ex ac velit dignissim semper. Integer sodales
              elit ligula, et mollis urna semper viverra.</p>
          </div>
          <div class="form-element form-field-group">
            <mat-checkbox formControlName="conditions">Accetto le condizioni</mat-checkbox>
            <div *ngIf="submitted && f.conditions.errors" class="invalid-feedback">
                <div *ngIf="f.conditions.errors.required">Devi accettare le condizioni sul trattamento dati.</div>
            </div>
          </div>
          <button type="submit" class="tg-submit">Crea un Account</button>
        </form>
    </div>
  </div>
</div>
