<ng-container *ngIf="commandsList as cmds">
  <div class="b-ironlight-mini b-thin tg-box" cdkDrag cdkDragRootElement=".cdk-overlay-pane">
    <div class="tg-dialog-content tg-shadow-inset">

      <div class="tg-dialog-title" cdkDragHandle mat-dialog-title>
        Lista Comandi
        <button mat-icon-button [mat-dialog-close]="true" class="tg-dialog--close">
          <mat-icon aria-label="Chiudi la finestra">close</mat-icon>
        </button>
      </div>
      <mat-dialog-content class="tg-commands-list no-padding">
        <div fxLayout fxFlexFill>

          <div class="cmd-group" fxFlex="0 0 auto">
            <mat-action-list dense>
  
              <ng-container *ngFor="let item of cmds | keyvalue; let i = index;">
                <button *ngIf="item.key !== 'title'"
                  mat-list-item (click)="setOpenedGroup(i)"
                  [ngClass]="{'active': i === groupOpen}">
                  {{item.key | capitalizeFirst}}
                </button>
              </ng-container>
  
            </mat-action-list>
          </div>
  
          <div class="cmd-values-container" fxFlex="1 0 auto">
            <ng-scrollbar class="scrollbar" #commandsScrollbar [visibility]="'always'" [appearance]="'standard'">
              <ng-container *ngFor="let item of cmds | keyvalue; let idOpenedGroup = index;">
                <div [ngClass]="{'group-show': groupOpen === idOpenedGroup}" class="cmd-values-wrapper" fxLayout="row wrap">
                  <div class="cmd-value" fxFlex="0 0 25%" *ngFor="let command of item.value"
                    (click)="sendCmd(item)">
                    {{command}}
                  </div>
                </div>
              </ng-container>
            </ng-scrollbar>
          </div>
          
        </div>
      </mat-dialog-content>
    </div>

    <div class="tg-border-box">
      <div class="tg-border tg-border-top"></div>
      <div class="tg-border tg-border-left"></div>
      <div class="tg-border tg-border-right"></div>
      <div class="tg-border tg-border-bottom"></div>
    </div>
  </div>
</ng-container>
