<!-- Output History Area -->
<div class="row tg-output tg-box b-ironlight tg-shadow">
  <div class="tg-box col-12 p-0 d-flex">
    <div class="tg-output-main">
      <div id="updateRoomNotify" class="output-notify-bottom">Vista aggiornata
        <i class="far fa-arrow-alt-circle-right"></i>
      </div>
      <!-- Output Area -->
      <jqxSplitter #nestedSplitter 
        [width]="'100%'" 
        [height]="'100%'" 
        [panels]="[{ size: '50%', collapsible: false}, { size: '50%', collapsible: false}]">
        <div>
          <jqxPanel [width]="'100%'" [height]="'100%'">
            <div class="tg-output-history" #list>
              <div *ngFor="let data of output">
                <div class="tg-line" [ngSwitch]="data.type">
                  <tg-text *ngSwitchCase="'base'" [html]="data.content"></tg-text>
                </div>
              </div>
            </div>
          </jqxPanel>
        </div>
        <div>
          <jqxPanel [width]="'100%'" [height]="'100%'">
            EXTRA SIDE
          </jqxPanel>
        </div>
      </jqxSplitter>
    </div>
    <!-- <div class="splitter-panel">
        <div class="tg-output-extra">
          <div id="extraoutput" class="tg-extraoutput-history">
            <div class="extraoutput-header">
              <div class="out-title" id="detailtitle"></div>
              <div class="extra-detailimg">
                <img src="" id="detailimage" />
              </div>
              <div class="detaildesc" id="detaildesc"></div>
            </div>
            <div class="extraoutput-detail">
              <div class="extranotice">
               <span>Guarda</span> dove ti trovi, qualcosa o qualcuno. 
              </div>
            </div>
          </div>
        </div>
      </div> -->
  </div>
  <div class="tg-border-box">
    <div class="tg-border tg-border-top"></div>
    <div class="tg-border tg-border-left"></div>
    <div class="tg-border tg-border-right"></div>
    <div class="tg-border tg-border-bottom"></div>
  </div>
</div>


<ng-template #nosplit>

</ng-template>

<ng-template #extrasplit>
  
</ng-template>