<!-- Output History Area -->
<div class="row tg-output tg-box b-ironlight tg-shadow">
  <div class="tg-box col-12 p-0 d-flex">
    <div class="output-split">
      <div class="splitter-panel">
        <div class="tg-output-main">
          <div id="updateRoomNotify" class="output-notify-bottom">Vista aggiornata
            <i class="far fa-arrow-alt-circle-right"></i>
          </div>
          <!-- Output Area -->
          <div id="output" class=" tg-output-history">
            <ng-container *ngFor="let data of output" [ngSwitch]="data.type">
              <tg-text *ngSwitchDefault [html]='data'></tg-text>
            </ng-container>
          </div>
        </div>
      </div>
      <!-- <div class="splitter-panel">
        <div class="tg-output-extra">
          <div id="extraoutput" class="tg-extraoutput-history">
            <div class="extraoutput-header">
              <div class="out-title" id="detailtitle"></div>
              <div class="extra-detailimg">
                <img src="" id="detailimage" />
              </div>
              <div class="detaildesc" id="detaildesc"></div>
            </div>
            <div class="extraoutput-detail">
              <div class="extranotice">
               <span>Guarda</span> dove ti trovi, qualcosa o qualcuno. 
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  <div class="tg-border-box">
    <div class="tg-border tg-border-top"></div>
    <div class="tg-border tg-border-left"></div>
    <div class="tg-border tg-border-right"></div>
    <div class="tg-border tg-border-bottom"></div>
  </div>
</div>
