<div class="tg-shortcuts-area" fxFlex="1 0 auto">
  <div [hidden]="newShortcutOpenedStatus">
    <h3 class="tg-control-panel--subtitle">
      Scorciatoie
    </h3>

    <ng-container *ngIf="!shortcuts.length; shortcutsList">
      <p class="tg-white">
        Le scorciatoie sono un comodo sistema che ti permette di eseguire una o più operazioni attraverso l'uso di un nuovo
        e personale comando da te inventato.
      </p>
      <h4>Esempio:</h4>
      <p>
        <span class="tg-white">Scorciatoia (il tuo comando)</span>: <span class="tg-green">"bistecca" </span><br />
        <span class="tg-white">Esegue</span>: <span class="tg-yellow">prendi bistecca tavolo; cuoci bistecca camino</span>
      </p>
    </ng-container>
  
    <ng-template #shortcutsList>
      <div class="tg-shortcuts-all" [hidden]="newShortcutOpenedStatus">
          <div *ngIf="shortcuts.length > 0" cdkDropList (cdkDropListDropped)="drop($event)" fxLayout="column" >
            <div fxLayout="row" fxAlignItems="center center" class="tg-shortcut-headerlist" fxLayoutGap="10px">
              <div fxFlex="1 1 10%">&nbsp;</div>
              <div fxFlex="1 1 30%">Icona</div>
              <div fxFlex="1 1 30%">Comando</div>
              <div fxFlex="1 1 30%">Azione</div>
            </div>
            <div>
              <div *ngFor="let sc of shortcuts; let isc = index" cdkDrag cdkDragLockAxis="y" class="tg-shortcut-row" fxLayoutGap="10px">
                <div fxFlex="1 1 10%" fxLayoutAlign="center center">
                  <button mat-icon-button class="small" cdkDragHandle type="button">
                    <mat-icon aria-label="ordina">reorder</mat-icon>
                  </button>
                </div>
                <div fxFlex="1 1 30%">
                  <div class="tg-shortcut-icon">
                    <img src="assets/images/shortcuts/shortcut_{{ sc.icon }}.png" alt="" />
                  </div>
                </div>
                <div style="color: white;" fxFlex="1 1 30%">
                  {{ sc.alias }}
                </div>
                <div fxFlex="1 1 30%">
                  <button mat-icon-button class="small" (click)="onEditShortcut(isc, sc.icon, sc.alias, sc.cmd)">
                    <mat-icon aria-label="Modifica" matTooltip="Modifica">edit</mat-icon>
                  </button>
                  <button mat-icon-button class="small" (click)="deleteShortcut(sc.alias)" matTooltip="Elimina">
                    <mat-icon aria-label="Rimuovi">delete_forever</mat-icon>
                  </button>
                  <button mat-icon-button class="small" [matTooltip]="sc.cmd">
                    <mat-icon aria-label="Info">help</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
    
          <p class="tg-gray" *ngIf="!shortcuts.length">
            Non hai ancora nessuna scorciatoia salvata
          </p>
      </div>
    </ng-template>
    
  
    <mat-divider></mat-divider>
    <button mat-raised-button color="accent" (click)="openNewShortcut()">
      Aggiungi
    </button>
  </div>

  <!-- New Shortcut Form -->
  <ng-container *ngIf="newShortcutOpenedStatus">

    <div class="tg-shortcut-new">
      <form [formGroup]="newShortcutForm" (ngSubmit)="saveShortcut()" #f="ngForm">
  
        <div class="tg-shortcut-icon" (click)="openIconsList()">
          <img src="assets/images/shortcuts/shortcut_{{ scIcon }}.png" alt="" />
        </div>
  
        <button mat-stroked-button (click)="openIconsList()" color="primary" type="button">
          Cambia icona
        </button>
  
        <mat-form-field [floatLabel]="'never'" class="field-full-width">
          <input matInput placeholder="Comando personale" formControlName="scAlias" required autocomplete="off" />
          <mat-hint>Digita il comando personale che utilizzerai</mat-hint>
        </mat-form-field>
  
        <mat-form-field [floatLabel]="'never'" class="field-full-width">
          <textarea matInput placeholder="Comando/i" formControlName="scCmd" required autocomplete="off"></textarea>
        </mat-form-field>
  
        <p *ngIf="shortcutExistError" class="tg-red">
          Questo comando è già presente tra le tue scorciatoie: cambiarlo o cancellare la scorciatoia precedente.
        </p>
  
        <button mat-raised-button color="accent" type="submit">Salva</button>&nbsp;
        <button mat-raised-button color="warn" (click)="closeNewShortcut()" type="button">
          Annulla
        </button>
      </form>
      <ng-container *ngIf="iconsListOpenedStatus">
        <!-- Icons List Panel  -->
        <div class="tg-shortcut-iconslist">
          <ng-scrollbar class="scrollbar bitpadding" #scrollBar [visibility]="'always'">
    
            <p>Seleziona un'icona come riferimento per la tua scorciatoia</p>
            <div class="tg-shortcut-iconslist-container" fxLayout="row wrap">
              <div
                class="tg-shortcut-icon"
                fxFlex="1 1 32px"
                *ngFor="let iconIndex of totalIcons; let iconIndex"
                (click)="setNewIcon(iconIndex + 1)"
              >
                <img src="assets/images/shortcuts/shortcut_{{ iconIndex + 1 }}.png" alt="" />
              </div>
            </div>
  
            <mat-divider></mat-divider>
  
            <button mat-raised-button (click)="openIconsList()" color="warn" type="button">
              Annulla
            </button>
    
          </ng-scrollbar>
        </div>
      </ng-container>
      
    </div>
  </ng-container>
</div>
