@import 'abstract/variables';

:host {
  height: 100%;
}

.tg-shortcuts-area {
  height: 100%;
}

.field-full-width {
  width: 100%;
}

.tg-button {
  margin-right: 1em;
  vertical-align: middle;
  display: inline-block;
}

.tg-control-panel--subtitle {
  font-weight: normal;
}


.tg-shortcut-iconslist,
.tg-shortcut-new {
  border: 1px solid rgba(255, 255, 255, 0.308);
  border-radius: 10px;
  background: black;
  z-index: 100;
  box-sizing: border-box;

  .mat-form-field {
    width: 100%;
  }
}

.tg-shortcut-iconslist-container {
  padding: 12px;
}

/* Form New Shortcut */

.tg-shortcut-new {
  margin-top: 1em;
  padding: 12px;
  button {
    font-size: 100%;
  }

  .tg-button, .tg-shortcut-icon{
    display: inline-block;
    vertical-align: middle;
  }
}

.tg-shortcut-row {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.541);
  margin:2px 0;
  align-items: center;
}


.tg-shortcut-iconslist {
  border: 0;
	border-radius: 0;
  background-color: rgba(0, 0, 0, 0.90);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

.tg-shortcut-headerlist {
  font-weight: bold;
  padding:.5em 0;
}

.tg-shortcuts-all {
  margin-bottom: 24px;
  max-height: 400px;
}

.tg-shortcuts-all .shortcuts-list {
  width: 100%;
  text-align: left;
  margin-bottom: 2em;
}


.tg-shortcut-icon {
	cursor: pointer;
	width: 32px;
	height: 32px;
	border: 1px solid #4e4229;
	padding: 1px;

	img {
		max-width: 100%;
		max-height: 100%;
  }

}



//angular icons
.mat-icon-button {
  height: 16px;
  width: 16px;
  line-height: 16px;

  .mat-icon {
    line-height: 16px;
    font-size: 16px;
  }

  &:hover {
    color: $tg-white;
  }
}
