<div class="tg-characterpanel b-controlpanel">
  <div class="tg-characterpanel-wrap">
    <div class="row">
      <div class="col">
        <div class="row">
          <!-- Character Detail -->
          <div class="tg-character col">
            <!-- Character Avatar -->
            <div class="tg-characteravatar b-ironlight tg-shadow" rel="tooltip" title="">
              <div class="tg-avatar-wrap">
                <!-- <img src="#" alt="Avatar" *ngIf="characterImg"/> -->
              </div>
              <div class="tg-border-box">
                <div class="tg-border tg-border-top"></div>
                <div class="tg-border tg-border-left"></div>
                <div class="tg-border tg-border-right"></div>
                <div class="tg-border tg-border-bottom"></div>
              </div>
            </div>
            <div class="tg-infochar">
              <!-- Character Name & Status -->
              <div class="tg-infocharname">
                <span class="charName">[NAME]</span>
                <i class="pg-status"></i>
              </div>
              <!-- Character Status Bars -->
              <div class="tg-meterbar">
                <div class="tg-extrabars">
                  <div class="barcont barthin lft">
                    <span class="tg-statusbar-text" rel="tooltip" title="Punti Salute">PS:
                      <i>{{ status[0] }}</i> / 100</span>
                    <span class="red barC healthbar" [style.width.%]="status[0]"></span>
                  </div>
                  <div class="barcont barthin" rel="tooltip" title="Punti Movimento">
                    <span class="tg-statusbar-text">PM:
                      <i>{{ status[1] }}</i> / 100</span>
                    <span class="green barC movebar" [style.width.%]="status[1]"></span>
                  </div>
                </div>
                <div class="tg-extrabars">
                  <div class="barcont barthin lft" rel="tooltip" title="Fame">
                    <span class="tg-statusbar-text">Fame:
                      <i>{{ status[2] }}</i> / 100</span>
                    <span class="orange barC hungrybar" [style.width.%]="status[2]"></span>
                  </div>
                  <div class="barcont barthin" rel="tooltip" title="Sete">
                    <span class="tg-statusbar-text">Sete:
                      <i>{{ status[3] }}</i> / 100</span>
                    <span class="blue barC thirstbar" [style.width.%]="status[3]"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tg-combatpanel col-auto pr-0" *ngIf="inCombat">
            <tg-combat-panel></tg-combat-panel>
          </div>
          <tg-extraboard class="col-auto d-none d-sm-flex flex-column"></tg-extraboard>
        </div>
      </div>
    </div>
  </div>
  <div class="tg-border-box">
    <div class="tg-border tg-border-top"></div>
    <div class="tg-border tg-border-left"></div>
    <div class="tg-border tg-border-right"></div>
    <div class="tg-border tg-border-bottom"></div>
  </div>
</div>


<!-- <div class="tg-combatpanel col-auto pr-0">
  <div class="tg-combatpanel-wrap">
    <div class="tg-combatpanel-box">
      <div class="enemyname"></div>
      <div class="tg-enemyicon">
        <div class="iconimg enemyicon"></div>
      </div>
      <div class="enemy-h-prc">0%</div>
      <div class="tg-enemy-h">
        <div class="enemy-bar enemyH"></div>
      </div>
      <div class="enemy-m-prc">0%</div>
      <div class="tg-enemy-m">
        <div class="enemy-bar enemyM"></div>
      </div>
    </div>
  </div>
</div> -->
<!-- Extra Board in Dashboard -->
<!-- <div class="tg-extraboard col-auto d-none d-sm-flex flex-column">
  <div class="row h-100">
    <div class="col-12 d-flex flex-row pl-1">
      <div class="extraboard-btnmenu nav flex-column nav-pills order-2" id="tg-pills-extraboard" role="tablist"
        aria-orientation="vertical">
        <a class="nav-link active" id="tg-pills-tab-shortcut" data-toggle="pill" href="#tg-pills-shortcut" role="tab"
          aria-controls="tg-pills-shortcut" aria-selected="false" title="Scorciatoie">
          <i class="ra ra-rune-stone"></i>
        </a>
        <a class="nav-link" id="tg-pills-tab-utility" data-toggle="pill" href="#tg-pills-utility" role="tab"
          aria-controls="tg-pills-utility" aria-selected="false" title="Utility">U</a>
      </div>
      <div class="extraboard-content tab-content" id="tg-pills-extraboardContent"> -->
<!-- Shortcut -->
<!-- <div class="tab-pane active" id="tg-pills-shortcut" role="tabpanel" aria-labelledby="tg-pills-shortcut-tab"></div> -->
<!-- Utility -->
<!-- <div class="tab-pane" id="tg-pills-utility" role="tabpanel" aria-labelledby="tg-pills-utility">Utility</div> -->
<!-- </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-auto pl-0">
      <div class="extraboard-caption d-flex">
        <div class="extraboard-addin"></div>
        <div id="extraboardCaption" class="ml-auto"></div>
      </div>
    </div>
  </div>
</div> -->
