<div class="tg-characterpanel b-controlpanel" *ngIf="toggleStatus$ | async">
  <div class="tg-characterpanel-wrap">
    <div class="row">
      <div class="col">
        <div class="row">
          <!-- Character Detail -->
          <div class="tg-character col pr-lg-0">
            <!-- Character Avatar -->
            <div class="tg-characteravatar b-ironlight" title="{{heroName}}">
              <div class="tg-avatar-wrap">
                <img [src]="heroImage" alt="Avatar" *ngIf="heroImage" />
              </div>
              <div class="tg-border-box">
                <div class="tg-border tg-border-top"></div>
                <div class="tg-border tg-border-left"></div>
                <div class="tg-border tg-border-right"></div>
                <div class="tg-border tg-border-bottom"></div>
              </div>
            </div>
            <div class="tg-infochar">
              <!-- Character Name & Status -->
              <div class="tg-infocharname">
                <span class="charName">{{heroName}}</span>
                <!-- <i class="pg-status"></i> -->
                <!-- <div class="hero-genericstatus">
                  <span *ngIf="conva === 1"> OK </span>
                </div> -->
              </div>
              <!-- Character Status Bars -->
              <div class="tg-meterbar">
                <div class="tg-extrabars">
                  <div class="barcont barthin lft">
                    <span class="tg-statusbar-text" title="Punti Salute">
                      <i>{{ status.hit }}</i> / 100</span>
                    <span class="red barC healthbar" [style.width.%]="status.hit"></span>
                  </div>
                  <div class="barcont barthin" title="Punti Movimento">
                    <span class="tg-statusbar-text">
                      <i>{{ status.move }}</i> / 100</span>
                    <span class="green barC movebar" [style.width.%]="status.move"></span>
                  </div>
                </div>
                <div class="tg-extrabars">
                  <div class="barcont barthin lft" title="Fame">
                    <span class="tg-statusbar-text">
                      <i>{{ status.food }}</i> / 100</span>
                    <span class="orange barC hungrybar" [style.width.%]="status.food"></span>
                  </div>
                  <div class="barcont barthin" title="Sete">
                    <span class="tg-statusbar-text">
                      <i>{{ status.drink}}</i> / 100</span>
                    <span class="blue barC thirstbar" [style.width.%]="status.drink"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tg-combatpanel col-auto pr-lg-0" *ngIf="inCombat">
            <tg-combat-panel [enemyHealt]="enemyHealt" [enemyMove]="enemyMove" [enemyIcon]="enemyIcon" [enemyName]="enemyName"></tg-combat-panel>
          </div>
          <tg-extraboard class="col-auto d-none d-lg-flex flex-column"></tg-extraboard>
        </div>
      </div>
    </div>
  </div>
  <div class="tg-border-box">
    <div class="tg-border tg-border-top"></div>
    <div class="tg-border tg-border-left"></div>
    <div class="tg-border tg-border-right"></div>
    <div class="tg-border tg-border-bottom"></div>
  </div>
</div>