<div class="tg-characterpanel b-controlpanel" *ngIf="toggleStatus$ | async">
  <div class="tg-characterpanel-wrap" fxFlex="100" fxLayout="row">
    <!-- Character Detail -->
      <div class="tg-character" fxLayout="row" fxFlex="1 0 auto">
        <!-- Character Avatar -->
        <div class="tg-characteravatar b-ironlight" 
          tooltip="Scheda personaggio" placement="top" show-delay="500" 
          fxHide fxShow.gt-sm>
          <div class="tg-avatar-wrap">
            <img [src]="heroImage" alt="Avatar" *ngIf="heroImage" />
          </div>
          <div class="tg-border-box">
            <div class="tg-border tg-border-top"></div>
            <div class="tg-border tg-border-left"></div>
            <div class="tg-border tg-border-right"></div>
            <div class="tg-border tg-border-bottom"></div>
          </div>
        </div>
        <div class="tg-infochar" fxLayout="column" fxFlex="1 0 auto"> 
          <!-- Character Name & Status -->
          <div class="tg-infocharname">
            <span class="charName">{{heroName}}</span>
            <!-- <i class="pg-status"></i> -->
            <!-- <div class="hero-genericstatus">
              <span *ngIf="conva === 1"> OK </span>
            </div> -->
          </div>
          <!-- Character Status Bars -->
          <div class="tg-meterbar">
            <div class="tg-extrabars" fxLayout="row">
              <div class="barcont barthin lft">
                <span class="tg-statusbar-text" tooltip="Salute" placement="top" show-delay="500">
                  <i>{{ status.hit }}</i> / 100</span>
                <span class="red barC healthbar" [style.width.%]="status.hit"></span>
              </div>
              <div class="barcont barthin" tooltip="Movimento" placement="top" show-delay="500">
                <span class="tg-statusbar-text">
                  <i>{{ status.move }}</i> / 100</span>
                <span class="green barC movebar" [style.width.%]="status.move"></span>
              </div>
            </div>
            <div class="tg-extrabars"  fxLayout="row">
              <div class="barcont barthin lft" tooltip="Fame" placement="top" show-delay="500">
                <span class="tg-statusbar-text">
                  <i>{{ status.food }}</i> / 100</span>
                <span class="orange barC hungrybar" [style.width.%]="status.food"></span>
              </div>
              <div class="barcont barthin" tooltip="Sete" placement="top" show-delay="500">
                <span class="tg-statusbar-text">
                  <i>{{ status.drink}}</i> / 100</span>
                <span class="blue barC thirstbar" [style.width.%]="status.drink"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tg-combatpanel" *ngIf="inCombat" fxFlex="0 0 auto">
        <tg-combat-panel [enemyHealt]="enemyHealt" [enemyMove]="enemyMove" [enemyIcon]="enemyIcon" [enemyName]="enemyName"></tg-combat-panel>
      </div>
      <tg-extraboard fxLayout="column" fxFlex="0 0 auto"></tg-extraboard>
  </div>
  <div class="tg-border-box">
    <div class="tg-border tg-border-top"></div>
    <div class="tg-border tg-border-left"></div>
    <div class="tg-border tg-border-right"></div>
    <div class="tg-border tg-border-bottom"></div>
  </div>
</div>