@import "~bootstrap/scss/mixins";
@import '~src/scss/colors';

.tg-characterpanel {
  position: relative;
  background-repeat: no-repeat;
  background-position: top left;
  margin-bottom: 3px;
  margin-left: 3px;
  margin-right: 3px;
  background: url($imgPath + '/background/background-rock-dark.jpg') repeat top left;

  .tg-characterpanel-wrap {
    position: relative;
    z-index: 2;
    flex: 1 1 100%;
  }
}


/* TG Character Side */
.tg-character {
  padding-top: 3px;
  padding-bottom: 3px;
  display: flex;

  .tg-characteravatar {
    cursor: pointer;
    padding-right: 6px;
    width: 60px;
    height: 60px;
    overflow: hidden;
    position: relative;

    .tg-avatar-wrap {
      border: 1px solid #705611;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    img {
      margin-left: -8px;
      max-height: 100%;
      height: 80px;
    }
  }

  .tg-infochar {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 6px;
    padding-right: 0;
  }

  .tg-infocharname {
    padding: 0 2px 1px 4px;
    height: 20px;
    line-height: 1;
    text-align: left;
    font-family: kingthings;

    /* status icons */
    .pg-status {
      font-style: normal;
      color: $tg-yellow;
    }
  }

  // BARS
  .tg-meterbar {
    z-index: 2;
    flex: 1 1 100%;
    flex-direction: column;
    padding: 0;

    .barcont {
      box-sizing: border-box;
      border: 1px solid #5f5c59;
      padding: 2px 3px;
      position: relative;
      background-color: #171614;
      box-shadow: inset 0 0 5px 2px #53371c;
    }

    .barbig {
      height: 20px;
      margin-bottom: 4px;
    }

    .barthin {
      height: 100%;
      width: 50%;
      display: inline-block;
    }

    .tg-extrabars {
      width: 100%;
      height: 18px;
      flex-direction: row;
      margin-bottom: 2px;
      display: flex;
      
      .lft {
        margin-right: 2px;
      }
    }

    .tg-statusbar-text {
      position: absolute;
      top: 50%;
      left: 10px;
      right: 10px;
      transform: translateY(-50%);
      padding-left: .5em;
      text-shadow: 0 1px 0px black;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      i {
        font-style: normal;
      }
    }

    .barC {
      display: block;
      width: 0%;
      height: 100%;
      background-repeat: repeat-x;
      background-position: top left;
      transition: width .2s cubic-bezier(0.65, 0.05, 0.36, 1);

      &.red {
        background-image: url($imgPath + '/bars/healt.jpg' );
      }

      &.green {
        background-image: url($imgPath + '/bars/stamina.jpg' );
      }

      &.orange {
        background-image: url($imgPath + '/bars/fame.jpg' );
      }

      &.blue {
        background-image: url($imgPath + '/bars/sete.jpg' );
      }
    }
  }
}


@include media-breakpoint-down(sm) {
  .tg-characterpanel {
    display: none;
  }
}
