@import '~src/scss/colors';
@import 'sprites';
@import 'utils/sprites-mixins';


.tg-characterpanel {
  position: relative;
  background-repeat: no-repeat;
  background-position: top left;
  margin-bottom: 3px;
  margin-left: 3px;
  margin-right: 3px;
  background: url($imgPath + '/background/background-rock-dark.jpg') repeat top left;

  .tg-characterpanel-wrap {
    position: relative;
    z-index: 2;
  }
}

/* TG Character Side */
.tg-character {

  .tg-characteravatar {
    cursor: pointer;
    width: 78px;
    height: 68px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 2px 11px 0 #000;
    margin-top: 3px;
    margin: auto 0 auto 3px;

    .tg-avatar-wrap {
      border: 1px solid #705611;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    img {
      max-height: 100%;
    }
  }

  .tg-infochar {
    padding-left: 6px;
    padding-right: 0;
  }

  .tg-infocharname {
    padding: 1px 0 4px 0;
    line-height: 18px;
    text-align: left;
    font-family: kingthings;
    letter-spacing: 1px;
    font-size: 12px;
    width: 100%;
    color: white;
    margin-top: 2px;
  }

  /* status icons */

  .hero-infostatus {
    vertical-align: middle;
    display: inline-block;
    margin-left: 16px;
    letter-spacing: 0;
    color: #ccc1b1;
    font-size: 12px;

    > div {
      padding-right: 6px;
      margin-right: .5em;
      margin: auto .5em;
    }

    i {
      display: block;
      margin: auto 6px auto 2px;
      white-space: nowrap;
    }

    span {
      flex: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .status-conva {
      i {
        @include sprite($conva-ng-sprite);
      }
    }

    .status-walk, .status-combat {
      i {
        @include sprite($default-statuslabel-sprite);
      }
    }



  }

  // BARS
  .tg-meterbar {
    z-index: 2;
    flex: 1 1 100%;
    flex-direction: column;
    padding: 0;
    margin-top: auto;
    margin-bottom: 2px;
    

    .barcont {
      box-sizing: border-box;
      border: 1px solid #5f5c59;
      padding: 2px 3px;
      position: relative;
      background-color: #171614;
      box-shadow: inset 0 0 5px 2px #53371c;
      cursor: pointer;
    }

    .barbig {
      height: 20px;
      margin-bottom: 4px;
    }

    .barthin {
      height: 100%;
      width: 50%;
      display: inline-block;
      text-align: left;
      margin-right: 58px;
    }

    .tg-extrabars {
      width: 100%;
      height: 18px;
      margin-bottom: 2px;
    }

    .tg-statusbar-text {
      overflow: hidden;
      position: absolute;
      right: -50px;

      i {
        font-style: normal;
      }
    }

    .barC {
      display: block;
      width: 0%;
      height: 100%;
      background-repeat: repeat-x;
      background-position: top left;
      transition: width .2s cubic-bezier(0.65, 0.05, 0.36, 1);

      &.red {
        background-image: url($imgPath + '/bars/healt.jpg' );
      }

      &.green {
        background-image: url($imgPath + '/bars/stamina.jpg' );
      }

      &.orange {
        background-image: url($imgPath + '/bars/fame.jpg' );
      }

      &.blue {
        background-image: url($imgPath + '/bars/sete.jpg' );
      }
    }
  }
}