@import '~src/scss/colors';
@import 'sprites';
@import 'utils/sprites-mixins';

@import 'utils/fix';

:host {
  background: black;
  margin-bottom: 3px;

  .tg-output-main {
    height: 100%;
    width: 100%;
  }

  @include layout-bp(gt-md) {
    margin-bottom: 0;
  }
}

.tg-output--history,
.tg-output--extradetail {
  font-family: verdana;
  z-index: 2;
  color: #d2d2d2; //  default color
  box-sizing: border-box;
  font-size: 10.5px;
  line-height: 1;
}


.tg-output--history {
  padding: 8px 8px 8px 8px;
}

.tg-output--extradetail {
  height: 100%;
  padding: 0 0 8px 0;
}

tg-text {
  width: 100%;
  display: block;
}

::ng-deep.tg-line {
  display: block;
  padding-bottom: 1em;
  line-height: 1.4;

  &::first-letter {
    text-transform: uppercase;
  }

  &:first-of-type .room {
    padding-top: .5em;
  }

  br {
    width: 100%;
    clear: both;
    height: 1px;
  }


  >span {
    padding-top: 8px;
  }
}

:host ::ng-deep {

  p {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .breakline {
    width: 100%;
    display: flex;
    line-height: 1px;
    height: .4em;
  }

  .tg-backdetail {

    cursor: pointer;
    display: flex;
    flex: 1 0 auto;
    padding-bottom: 0.5em;

    tg-icons {
      margin-right: 0;
    }

    span {
      background-color: #191816;
      border: 1px solid #433b3a;
      border-top: 0;
      border-left: 0;
      padding: 2px 8px 2px 9px;
      color: #aea495;
      vertical-align: middle;
      display: flex;
      margin: 1px 0 2px;
      place-content: center left;
      align-items: center;
      width: 100%;

    }

    &:hover span {
      color: $tg-yellow;
    }
  }


  .tg-icon {
    vertical-align: middle;
    float: left;
  }

  .tg-room {
    padding-bottom: .2em;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .tg-room--title {
    font-size: 14px;
    color: #ac4c55;
    font-family: kingthings;
  }

  .tg-room--desc {
    flex-direction: column;
    line-height: 1.4em;
    color: #989898;
    padding-bottom: 0.5em;
    margin-bottom: .5em;
  }



  /* LIST Mob & Object*/
  .tg-objects,
  .tg-persons {
    display: flex;
    // padding-bottom: .5em;
    padding-right: .5em;
    flex-direction: column;
  }

  .tg-objects--line,
  .tg-persons--line,
  .tg-objperson--line {
    display: flex;
    padding-right: 5px;
    user-select: none;
    padding-bottom: .8em;
    margin-right: auto;
    box-sizing: border-box;
    line-height: 1.4;

    >div {
      margin: auto 0;
    }

    .tg-icon {
      margin: 0 0 auto;
      cursor: pointer;
    }

    .tg-persons--itemdesc,
    .tg-objects--itemdesc {
      flex: 0 1 auto;
    }

    &.expandlist {
      cursor: pointer;
      display: flex;
    }

    &.open {
      flex: 1 1 100% !important;
    }


  }

  .tg-expandedlist {
    padding-left: 9px;
    display: flex;
    flex: 1 0 100% !important;
    flex-wrap: wrap;
    box-sizing: border-box;
    border: 1px solid #2d2d29;
    margin-bottom: 1em;
    padding: .5em 0 .5em 0;
    margin-right: auto;

    .tg-persons--line,
    .tg-objects--line {
      flex: 0 1 auto;
    }
  }


  .tg-objects--line {
    color: $tg-yellow;

  }

  .tg-persons--line {
    color: $tg-lt-green;
  }


  /* Double Columns style */
  .list-50 {
    width: 50%;
    display: inline-block;
    flex-direction: row;

    >div {
      flex: 1 0 50%;
    }
  }

  .list-50-50 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    >div {
      flex: 1 0 50%;
    }
  }

  @include layout-bp(lt-md) {
    .list-50 {
      width: 100%;

      >div {
        flex: 1 0 100% !important;
      }
    }

    .list-50-50 {
      >div {
        flex: 1 0 100% !important;
      }
    }
  }

  .size-qty {
    margin-right: 20px !important;
    background: #2a1f15;
    color: white;
    height: auto;
    border-radius: 4px;
    padding: 0px 4px;
    border: 1px solid #5f5c59;
    display: inline-block;
    position: relative;
    
    span {
      font-size: 9px;
      min-width: 30px;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
      height: 100%;
      min-width: 20px;
    }

    
    &:after {
      content: '';
      display: block;
      @include sprite($input-right-decoration-sprite);
      margin: auto 0 auto 9px;
      top: 0;
      right: -16px;
      position: absolute;
    }

  }

  &.expandlist.open .size-qty:after {
    transform: rotate(90deg);
  }

  .tg-extraoutput--header {
    overflow: hidden;
    margin-left: 0;
    margin-right: 0;
    border-bottom: 1px solid #433b3a;
    box-shadow: inset 0 -13px 65px 0px black;
    background: url($imgPath + '/background/detaildesc-bg.jpg');
    flex: 0 0 auto;

    .tg-room--title {
      background: url($imgPath + '/background/blood_dark.jpg') repeat top left;
      padding: 6px 10px 6px 0;
      color: #dbbf90;
      text-shadow: 0 0 12px #dbbf90;
      box-shadow: inset 0px 0px 20px 4px black;
      font-size: 16px;
      overflow: hidden;
      display: flex;

      .squared {
        margin-right: .5em;
      }

      >span {
        margin: auto 0;
      }

    }

    .tg-room--desc {
      padding: 0.5em .5em .2em;
      line-height: 1.4;
      color: #e2d6c7;
      border-top: 1px solid #433b3a;
    }

    
    .tg-objperson--descdetail {
      display: block;
      padding: 0.5em .5em .2em;
    }

    .tg-room--image {
      max-width: 148px;
      border: 1px solid #60482b;
      padding: 2px;
      float: left;
      margin: 6px 1em .5em 4px;

      img {
        max-width: 100%;
      }
    }
  }


  // /* Extra Output Area */
  // .extranotice {
  //   display: table;
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   z-index: 2;
  //   max-width: 90%;
  //   transform: translateX(-50%);
  //   text-align: center;
  //   font-size: 12px;
  //   padding: 10px 10px;
  //   border-bottom: 1px solid #222;
  //   border-top: 1px solid #222;
  //   box-sizing: border-box;
  //   color: #9e9e9e;
  //   letter-spacing: 1px;
  //   white-space: nowrap;

  //   span {
  //     color: #e0df9d;
  //   }
  // }
}

// @include layout-bp(gt-sm) {
//   .hstat {
//     display: none;
//   }
// }
