<div class="row tg-output tg-box b-ironlight tg-shadow">
  <div class="tg-box col-12 p-0 d-flex">
    <div class="tg-output-main">
      <!-- <div class="tg-output--toast">Vista aggiornata
        <i class="far fa-arrow-alt-circle-right"></i>
      </div> -->
      <!-- Output Area -->
      <ng-container *ngIf="extraDetail$ | async; else noextra">
        <jqxSplitter #nestedSplitter [width]="'100%'" [height]="'100%'">
          <div style="height: 100%; overflow:hidden;">
            <ng-scrollbar class="scrollbar" [autoUpdate]="true" #scrollBar>
              <div class="tg-output--history">
                <div *ngFor="let data of output">
                  <ng-container [ngSwitch]="data.type">
                    <tg-text *ngSwitchCase="'base'" [html]="data.content"></tg-text>
                  </ng-container>
                </div>
              </div>
            </ng-scrollbar>
          </div>
          <div style="height: 100%; overflow:hidden;">
            <div class="tg-output--extradetail">
              <tg-room [html]="typeDetail ==='room' ? (lastRoom$ | async) : objPersDetail" [withExtra]="extraDetail$ | async"
                [lastDescription]="lastRoomDescription" [type]="typeDetail"></tg-room>
            </div>
          </div>
        </jqxSplitter>
      </ng-container>
    </div>
  </div>
  <div class="tg-border-box">
    <div class="tg-border tg-border-top"></div>
    <div class="tg-border tg-border-left"></div>
    <div class="tg-border tg-border-right"></div>
    <div class="tg-border tg-border-bottom"></div>
  </div>
</div>

<ng-template #noextra>
  <div style="height: 100%; overflow:hidden;">
    <ng-scrollbar class="scrollbar" #scrollBar>
      <div class="tg-output--history">
        <div *ngFor="let data of output">
          <ng-container [ngSwitch]="data.type">
            <tg-room *ngSwitchCase="'room'" [withExtra]="false" [html]="data.content" [lastDescription]="lastRoomDescription"></tg-room>
            <tg-text *ngSwitchCase="'base'" [html]="data.content"></tg-text> 
            <tg-objpers-detail *ngSwitchCase="'objpersdetail'" [html]="data.content"></tg-objpers-detail>
          </ng-container>
        </div>
      </div>
    </ng-scrollbar>
  </div>
</ng-template>
