@import 'variables';
@import '~src/scss/colors';

@import 'sprites';
@import 'utils/sprites-mixins';

/* Tg Extra Board */
:host {
  // min-width: 40%;
  max-width: 50%;
  background: url($imgPath + '/borders/border-002-tiny-v.png') top left repeat-y;
  padding-left: 2px;

  .tg-extraboard-wrap {
    height: 100%;
    text-transform: uppercase;
    font-size: 11px;
  }

  .extraboard-content {
    width: 100%;
    max-height: 66px;
    height: 75px;
    position: relative;
    background-color: #0f0e0e;
    box-shadow: inset 0 0 6px 0px black;

    .tab-pane {
      padding-right: 12px;
    }
  }

  .extraboard-btnmenu {
    height: 100%;
    margin-left: auto;
    background: url($imgPath + '/borders/border-002-tiny-v.png') top left repeat-y;
    padding-left: 2px;

    .nav-tabs {
      border: none;
    }

    .nav-link {
      background: transparent;
      padding: 0;
      color: white;
      border: none;
      border-radius: 0;
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      background: url($imgPath + '/borders/border-002-tiny.png') repeat-x bottom;
    }
  }

  /*Dashboard Tabs*/
  .shortcut-btn {
    width: 35px;
    height: 35px;
    border: 1px solid gray;
    float: left;
    margin: 1px 3px;
    cursor: pointer;

    span {
      display: inline-block;
      width: 18px;
      height: 18px;
      text-align: center;
      color: $tg-brown;
      display: block;
      line-height: 32px;
      text-align: center;
      width: 100%;
    }
  }
}

.tg-main-buttons{
  background: black url($imgPath + "/borders/border-002-tiny-v.png") repeat-y top left;
	box-sizing: content-box;
	height: 100%;
	width: 102px;

  // Buttons 
  button {
    margin: auto;
  }

  button:hover {
    box-shadow: inset 0 0 17px 0px #8e5f18;
  }

  .btn-inventario-graph {
    @include sprite($btn-inventario-graph-sprite);
  }

  .btn-stato-graph {
    @include sprite($btn-stato-graph-sprite);
  }

  .btn-info-graph {
    @include sprite($btn-info-graph-sprite);
  }

  .btn-equip-graph {
    @include sprite($btn-equip-graph-sprite);
  }

  .btn-skill-graph {
    @include sprite($btn-skill-graph-sprite);
  }

  .btn-config-graph {
    @include sprite($btn-config-graph-sprite);
  }
}
