<div class="row h-100">
    <div class="col-12 d-flex flex-row pl-1">
      <div class="extraboard-content">
          <a href="#openshortcut">shortcuts</a>
        <!-- <div class="shortcut-btn" *ngFor="let shortcut of shortcutsNumber | keyvalue">
          <span>{{shortcut.key}}</span>
        </div> -->
        <!-- Shortcut -->
        <!-- <div class="tab-pane active" id="tg-pills-shortcut" role="tabpanel" aria-labelledby="tg-pills-shortcut-tab"></div> -->
        <!-- Utility -->
        <!-- <div class="tab-pane" id="tg-pills-utility" role="tabpanel" aria-labelledby="tg-pills-utility">Utility</div> -->
      </div>
    </div>
  </div>