<tg-main-navigation [hidden]="!isCookieAccepted" (toggleSidenav)="navigationSidenav.toggle()"></tg-main-navigation>
<mat-sidenav-container autosize >

  <mat-sidenav mode="over" #navigationSidenav role="navigation">

    <mat-toolbar fxLayout="wrap" fxLayoutGap="20px">
      <mat-toolbar-row>

      </mat-toolbar-row>
    </mat-toolbar>

    <tg-sidebar></tg-sidebar>

  </mat-sidenav>

  <mat-sidenav-content>

    <ng-container *ngIf="isCookieAccepted">
      <div class="tg-layout-container" fxLayout="column">

        <router-outlet></router-outlet>

      </div>
    </ng-container>

  </mat-sidenav-content>
</mat-sidenav-container>

<tg-footer></tg-footer>
