<div class="tg-upload-avatar" cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <div class="b-ironlight-mini tg-box">
    <div class="tg-dialog-content-nopadding tg-shadow-inset">
      <div class="tg-dialog-title" cdkDragHandle mat-dialog-title>
        Cambia l'immagine del tuo personaggio
        <button mat-icon-button class="tg-dialog--close" [mat-dialog-close]="true">
          <mat-icon aria-label="Chiudi la finestra">close</mat-icon>
        </button>
      </div>
  
      <mat-dialog-content class="no-padding">
        <p>
          Puoi personalizzare il tuo personaggio con un'immagine che lo rappresenti. 
          Questa potrà essere vista sia da te che da qualsiasi altro giocatore quando incontrerà e 
          proverà a guardarti!<br/>
          Per farlo ti basterà inviarci una foto e attendere la sua approvazione.
          Segui queste semplici regole:
        </p>
        <ul>
          <li>
            No immagini fuori ambientazione.
          </li>
          <li>
            No immagini offensive, violente o inappropriate.
          </li>
          <li>
            No immagini di minori o di persone reali.
          </li>
        </ul>

        <label for="singleFile">Upload file</label>
        <input id="singleFile" type="file"/>
        <br>
         
        <mat-file-upload-queue #fileUploadQueue
            [fileAlias]="'file'"
            [httpUrl]="'http://localhost:8180/jax-rs-jersey-application-sample'">
         
            <mat-file-upload [file]="file" [id]="i" *ngFor="let file of fileUploadQueue.files; let i = index"></mat-file-upload>
        </mat-file-upload-queue>
      </mat-dialog-content>
    </div>
      <div class="tg-border-box">
        <div class="tg-border tg-border-top"></div>
        <div class="tg-border tg-border-left"></div>
        <div class="tg-border tg-border-right"></div>
        <div class="tg-border tg-border-bottom"></div>
      </div>
  </div>
</div>
