@import 'abstract/variables';
@import 'abstract/sprites';
@import 'abstract/sprites-mixins';

:host {
  display: block;
  width: 850px;
  max-width: 100%;
  box-sizing: border-box;
  color: $base-text-color;
  padding: 0 12px;
  margin: 0 auto;
}

h1.newchar-title {
  margin-bottom: 0;
}

.tg-newcharcter-content {
  background: #190f06 url($imgPath + '/background/bg-ironbrown.jpg') repeat;
  z-index: 2;
  position: relative;
  color: #9b9285;
}

.tg-newcharcter-footer {
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;

  a {
    color: #9b9285;
  }
}
