<div class="tg-newchar" >
  <div class="tg-newchar--wrap"  [@animate]="{value:'*', params:{delay:'150ms', y:'56px'}}">
    <h1 class="newchar-title">Nuovo personaggio!</h1>
    <p>Prepara la tua nuova avventura nelle terre di Ikhari. Inizia da qui!</p>
    <div class="b-ironlight-mini tg-box tg-shadow">
      <div class="tg-newchar-content tg-shadow-inset">
        <router-outlet></router-outlet>
      </div>
      <div class="tg-border-box">
        <div class="tg-border tg-border-top"></div>
        <div class="tg-border tg-border-left"></div>
        <div class="tg-border tg-border-right"></div>
        <div class="tg-border tg-border-bottom"></div>
      </div>
    </div>
    <div class="tg-newchar-footer">
      <p><a routerLink="/manager">Torna alla Dashboard</a></p>
    </div>
  </div>
</div>