<div class="tg-loginpanel" fxLayout="column" fxFill>
  <!-- Login Panel -->
  <div fxLayout="column" fxFlex="1 1 0%" fxLayoutAlign="center center">
    
    <div class="tg-login-container">
      <div class="tg-logo-composit">
      </div>
      <div class="tg-loginform">
        <div class="tg-loginform-wrap">
          <div class="tg-loginform-content">
            <h2>Gioco di Ruolo Fantasy Online
              <br> Accedi
              <span>gratis</span> al mondo di Ikhari!
            </h2> 
            <form name="loginForm" [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="off" novalidate>
              <div fxLayout="row wrap">
                <div fxFlex="100">
                  <input class="form-control" formControlName="username" type="text" autocomplete="off" placeholder="Username" required autofocus  [ngClass]="{'is-invalid': !username.valid && username.touched}" />
                </div>
              </div>
              <div fxLayout="row wrap">
                <div fxFlex="100">
                  <input class="form-control" formControlName="password" type="password" autocomplete="off" placeholder="Password" required  [ngClass]="{'is-invalid': !password.valid && password.touched}"/>
                </div>
              </div>
              <button type="submit" class="tg-loginbtn" value="accedi" [disabled]="!loginForm.valid">Accedi</button>
              <p class="tg-newcharacter">Sei nuovo?
                <!-- <a routerLink="/registration">Crea un Personaggio</a> -->
                <a pTooltip="Funzione non ancora implementata" tooltipPosition="top" showDelay="100" hideDelay="300" [escape]="false">Crea un Personaggio</a>
              </p>
            </form>
          </div>
        </div>
      </div>
      <div class="tg-loginstatus">{{ socketloginReplayMessage }}</div>
      <tg-quotes></tg-quotes>
    </div>
    <!-- glow Effect ### //-->
    <div class="glow_container">
      <div class="glow_wamp glow_box"></div>
      <div class="glow_box _spectral">
        <div class="glow_stream _type_1">
          <div class="glow_slide">
            <div class="shake">
              <div class="glow_item _type_1"></div>
              <div class="glow_item _type_2"></div>
              <div class="glow_item _type_3"></div>
              <div class="glow_item _type_4"></div>
            </div>
          </div>
          <div class="glow_slide _delay_1">
            <div class="shake _delay_1">
              <div class="glow_item _type_1"></div>
              <div class="glow_item _type_2"></div>
              <div class="glow_item _type_3"></div>
              <div class="glow_item _type_4"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Copyright and Usefull Links -->
  <div fxLayout="column" fxFlex="0 0 auto" class="tg-login-footer">
    <div fxLayout="row" >
      <div fxFlex="100">
        <div class="tg-serverstatus">
          <!-- {{ serverStatusText }} -->
        </div>
      </div>
    </div>
    <div fxLayout="row" >
      <div fxFlex="33.33" fxLayoutAlign="center flex-end">
        <i class="fab fa-facebook"></i>
        <a href="https://it-it.facebook.com/TheGateMUD/" target="_blank">Facebook</a>&nbsp;|&nbsp;
        <i class="fab fa-wpforms"></i>
        <a href="http://forum.thegatemud.it/" target="_blank">Forum</a>&nbsp;|&nbsp;
        <i class="fas fa-envelope"></i>
        <a href="#" target="_blank">Contattaci</a>
      </div>
      <div fxFlex="33.33" fxLayoutAlign="center flex-end">
        <span class="tg-version-name">TGWebClient Version 2 -
           {{ gitVersion }}
        </span>
      </div>
      <div fxFlex="33.33" fxLayoutAlign="center flex-end">
        &copy; 2013-2018 The Gate MUD&nbsp;|&nbsp;
        <a href="http://www.thegatemud.it/disclaimer-credits-the-gate-webclient" target="_blank">Credits and Disclaimer</a>
      </div>
    </div>
  </div>
</div>