<form [formGroup]="frmStepSecond">
  <div class="tg-registration-step" fxLayout>
    <div class="tg-regsidebar" fxFlex="1 1 210px" *ngIf="ethnicityList[race]; let ethnicities">
      <div *ngFor="let eth of ethnicities;" matRipple class="tg-regsidebar-item img-frame"
        [ngClass]="{'active': frmStepSecond.get('race_code').value === eth.code, 'limited': eth.limited === true}" (click)="setEthnicity(eth)">
        <div class="tg-regsidebar-img">
          <img src="assets/images/registration/avatars/{{eth.code}}.jpg">
        </div>
        {{eth.name}}
      </div>
    </div>

    <div class="tg-detail-content" fxFlex="1 1 100%">
      <ng-scrollbar class="scrollbar"  #scrollBar [visibility]="'always'">
        
      <ng-container *ngIf="!frmStepSecond.get('race_code').value; else ethnicityDescription">
        
          <div class="tg-detail-text">
            <h2 class="tg-detail-title tg-yellow">Etnia e Cultura</h2>
            <p>Le razze si differenziano per <span class="tg-yellow">etnie</span> che spesso abitano in comunità
              separate e con diversi stili di
              vita. Alcune razze sono molto coese, altre invece hanno vissuto una storia turbolenta e si sono divise in
              gruppi.
            </p>
            <p>L'etnia determinana le professioni, culture e credenze religiose inizialmente disponibili per il tuo
              personaggio, quindi anche il suo equipaggiamento e conoscenze iniziali.</p>
            <p class="tg-yellow">Scegli quindi un' etnia dalla lista di sinistra.</p>
          </div>
          
        </ng-container>

      </ng-scrollbar>

    </div>
  </div>
</form>

<ng-template #ethnicityDescription>
  <!-- Umani -->
  <div class="tg-detail-image">
    img: //race.code}}
  </div>
  <div class="tg-detail-text">
    <div [innerHtml]="ethnicityDetailText"></div>
    <div class="tg-detail-action">
      <button mat-raised-button matStepperPrevious class="tg-step-back">Indietro</button>&nbsp;
      <button mat-raised-button matStepperNext class="tg-step-next">Avanti</button>
    </div>
  </div>
</ng-template>
