<div class="tg-status-inline" [ngClass]="{'show': showed}">
  <div class="tg-status-inline--wrap">
    <div fxLayout="row" class="tg-status-row">
      <div class="tg-yellow">Vita:</div>
      <div>100/100</div>
      <div class="tg-yellow">Salute:</div>
      <div>70/100</div>
      <div class="tg-yellow">Fame:</div>
      <div>0/100</div>
      <div class="tg-yellow">Sete:</div>
      <div>20/100</div>
    </div>
    <div class="tg-status-msg">Il tuo atteggiamento è guerrafondaio.  Ultimo luogo di preghiera: Il villaggio della Cala.</div>
  </div>
</div>