<div (mouseenter)="onMouseEvent()" (mouseleave)="onMouseEvent()">
  <!-- Mini Mappa -->
  <tg-directions [isOnMap]="isOnMap"></tg-directions>
  <div class="tg-map-box">
    <div class="rain" *ngIf="showRain"></div>
    <div class="fog" *ngIf="showFog"></div>
    <canvas width="{{maxMapWidth * mapTileWidth}}" height="{{maxMapHeight * mapTileHeight}}" #map>
    </canvas>
    <canvas [ngClass]="{'run': showSnow}" class="canvas-snow" width="{{maxMapWidth * mapTileWidth}}" height="{{maxMapHeight * mapTileHeight}}"
      #snow></canvas>
    <canvas id="rainCanvas" class="canvas-rain"></canvas>
  </div>
</div>

<button class="tg-button"></button>
