<div class="tg-mainnav" [ngClass]="{'hamburger-open': hamburgerStatus}">
  <div class="tg-mainnav-wrap">
    <div class="hamburger-item" (click)="onHamburgerClick()" >
      <mat-icon>menu</mat-icon>
    </div>
    <div class="m-full" (click)="hamburgerStatus === true && onHamburgerClick()">
      <div class="m-left">
        <div class="tg-mainnav-item">
          <a href="http://www.thegatemud.it" title="The Gate Mud HomePage">Home</a>
        </div>
        <div class="tg-mainnav-item">
          <a [routerLink]="['/']" [ngClass]="{'active': active === 'login'}">Entra in gioco</a>
        </div>
        <div class="tg-mainnav-item">
          <a href="http://forum.thegatemud.it">Forum</a>
        </div>
        <div class="tg-mainnav-item">
          <a [routerLink]="['/novita']" [ngClass]="{'active': active === 'novita'}">Novità</a>
        </div>
      </div>
      <ng-container *ngIf="!loggedIn; else userLoggedIn">
        <div class="m-right">
          <div class="tg-mainnav-item">
            <a [routerLink]="['/login']" class="tg-yellow">Login</a>
          </div>
          <div class="tg-mainnav-item">
            <a [routerLink]="['/auth/signup']" [ngClass]="{'active': active === 'registrati'}">Registrati</a>
          </div>
        </div>
      </ng-container>
      
      <ng-template #userLoggedIn>
        <div class="m-right user-side">
          <div class="tg-mainnav-item">
            <mat-icon>account_box</mat-icon>
            lisandr84 - [Vai al profilo] <a [routerLink]="['/']" class="tg-btn-logout">Esci</a> 
          </div>
        </div>
      </ng-template>
      

    </div>
  </div>
</div>