<div class="tg-mainnav">
  <div class="tg-mainnav-wrap">
    <header class="m-full" fxLayout="wrap">

      <div class="hamburger-item" *ngIf="loggedIn">
        <button mat-icon-button (click)="onHamburgerClick($event)">
          <mat-icon>menu</mat-icon>
        </button>
      </div>

      <div class="tg-brand tg-mainnav-item" fxLayout fxFlex="1 1 28px" fxFlex.lt-sm="1 1 auto"
        fxLayoutAlign.lt-sm="center center">
        <a href="http://www.thegatemud.it" class="tg-base-logo"></a>
      </div>

      <div class="tg-mainnav-item" fxLayout fxHide fxShow.gt-xs fxLayoutAlign="center center">
        <a href="http://www.thegatemud.it" title="The Gate Mud HomePage">Home</a>
      </div>

      <div class="tg-mainnav-item" fxLayout fxHide fxShow.gt-xs fxLayoutAlign="center center">
        <a href="http://forum.thegatemud.it">Forum</a>
      </div>

      <div class="tg-mainnav-item" fxLayout fxHide fxShow.gt-xs fxLayoutAlign="center center">
        <a [routerLink]="['/novita']" [routerLinkActive]="['active']">Novità</a>
      </div>

      <ng-container *ngIf="!loggedIn; else userLoggedIn">

        <div class="m-right user-side" fxFlex="0 1 0" fxLayoutAlign="flex-end">
          <div class="tg-mainnav-item">
            <a [routerLink]="['/auth/login']" [routerLinkActive]="['active']" class="tg-yellow">Login</a>
          </div>
          <div class="tg-mainnav-item">
            <a [routerLink]="['/auth/signup']"  fxHide fxShow.lt-sm [routerLinkActive]="['active']">Registrati</a>
          </div>
        </div>

      </ng-container>



      <ng-template #userLoggedIn>
        <!-- User Menu -->
        <div class="m-right user-side" fxFlex="0 1 0" fxLayoutAlign="flex-end">

          <div class="tg-mainnav-item" fxLayout fxLayoutAlign="cente center">

            <button mat-icon-button>
              <mat-icon>notification_important</mat-icon>
            </button>

            <button mat-button [matMenuTriggerFor]="menu" class="user-button">
              <mat-icon>account_box</mat-icon>
              <span fxHide fxShow.gt-xs>{{currentUser.username | capitalizeFirst}}</span>
            </button>

            <mat-menu #menu="matMenu" class="mat-elevation-z4">
              <div class="user-menu-item">
                Collegato come <b class="tg-yellow">{{currentUser.username | capitalizeFirst}}</b>
              </div>

              <mat-divider></mat-divider>
              <button mat-menu-item class="user-menu-item">I tuoi personaggi</button>
              <button mat-menu-item class="user-menu-item" [routerLink]="['manager/profilo']">
                Vai al tuo profilo
              </button>
              <mat-divider></mat-divider>

              <ng-container *ngIf="currentUser.permissions === 'administrator'">
                <button mat-menu-item class="user-menu-item highlight">Amministrazione</button>
                <mat-divider></mat-divider>
              </ng-container>

              <button mat-menu-item class="user-menu-item" (click)="userOnLogout()">Logout</button>
            </mat-menu>

          </div>
        </div>
      </ng-template>
    </header>
  </div>
</div>
