<div class="tg-navbar--wrap" fxFlex="0 0 100%" fxLayout>

  <!-- Game Menu -->
  <div class="tg-mainnav-item" fxHide fxShow.gt-sm fxLayout fxLayoutAlign="center center" fxLayoutGap="10px">
    <button #button mat-button [matMenuTriggerFor]="gameMenu" #gameTrigger="matMenuTrigger"
      (mouseenter)="buttonEnter(gameTrigger)" (mouseleave)="buttonLeave(gameTrigger, button)">Gioco</button>

    <mat-menu #gameMenu="matMenu" [overlapTrigger]="false" [hasBackdrop]="false" class="mat-elevation-z4">
      <mat-action-list dense (mouseenter)="menuenter()" (mouseleave)="menuLeave(gameTrigger, button)">
        <button mat-list-item (click)="onItemClick('info')">Informazioni</button>
        <button mat-list-item (click)="onItemClick('equip')">Equipaggiamento</button>
        <button mat-list-item (click)="onItemClick('inventario')">Inventario</button>
        <button mat-list-item (click)="onItemClick('abilita')">Abilità conosciute</button>
        <mat-divider></mat-divider>
        <button mat-list-item (click)="onItemClick('cambia desc')">Cambia la descrizione personale</button>
      </mat-action-list>
    </mat-menu>
  </div>

  <!-- Client Menu -->
  <div class="tg-mainnav-item" fxHide fxShow.gt-sm fxLayout fxLayoutAlign="center center" fxLayoutGap="10px">
    <button #button mat-button [matMenuTriggerFor]="clientMenu" #clientTrigger="matMenuTrigger"
      (mouseenter)="buttonEnter(clientTrigger)" (mouseleave)="buttonLeave(clientTrigger, button)">Client</button>

    <mat-menu #clientMenu="matMenu" [overlapTrigger]="false" hasBackdrop="false" class="mat-elevation-z4">
      <mat-action-list dense (mouseenter)="menuenter()" (mouseleave)="menuLeave(clientTrigger, button)">
        <button mat-list-item (click)="onItemClick('log')">
          Log di gioco</button>
        <button mat-list-item (click)="onItemClick('preferences')">
          Preferenze
        </button>
        <mat-divider></mat-divider>
        <button mat-list-item (click)="onItemClick('disconnect')" class="tg-lt-red">
          Disconnetti
        </button>
      </mat-action-list>
    </mat-menu>
  </div>

  <!-- Guida  Menu -->
  <div class="tg-mainnav-item" fxHide fxShow.gt-sm fxLayout fxLayoutAlign="center center" fxLayoutGap="10px">
    <button mat-button [matMenuTriggerFor]="guideMenu" #guideTrigger="matMenuTrigger"
      (mouseenter)="buttonEnter(guideTrigger)" (mouseleave)="buttonLeave(guideTrigger, button)">Guida</button>
    <mat-menu #guideMenu="matMenu" [overlapTrigger]="false" hasBackdrop="false" class="mat-elevation-z4">
      <mat-action-list dense (mouseenter)="menuenter()" (mouseleave)="menuLeave(guideTrigger, button)">
        <button mat-list-item (click)="onItemClick('comandi')">Comandi di gioco</button>
        <button mat-list-item (click)="onItemClick('server')">Statistiche Server</button>
      </mat-action-list>
    </mat-menu>
  </div>

  <div fxLayoutAlign.lt-sm="flex-end" fxLayoutAlign="space-between" fxLayout="row" fxFlex="1 0 auto">

    <div class="m-left" fxLayout="row">
      <div class="tg-game-time menu-block" *ngIf="gameData$ | async as time" fxHide fxShow.gt-xs>
        <span class="tg-yellow" fxHide fxShow.gt-sm>
          Giorno <b class="tg-llt-white">{{time.day}}</b>
          Mese <b class="tg-llt-white">{{time.month}}</b>
          Anno <b class="tg-llt-white">{{time.year}}</b>
        </span>
        <div class="time-image" tooltip="E' {{time.datestr}}" placement="bottom" (click)="onItemClick('data')">
          <div class="time-icon"></div>
        </div>
      </div>
      <!-- Split & Widget Manager -->
      <div fxHide fxShow.gt-xs fxLayout fxLayoutAlign="center center">
        <button mat-icon-button [matMenuTriggerFor]="widgetsMenu" #widgetsTrigger="matMenuTrigger"
          (mouseenter)="buttonEnter(widgetsTrigger)" (mouseleave)="buttonLeave(widgetsTrigger, button)">
          <mat-icon>vertical_split</mat-icon>
        </button>
        <mat-menu #widgetsMenu="matMenu" [overlapTrigger]="false" hasBackdrop="false" class="mat-elevation-z4">
          <mat-selection-list dense (mouseleave)="menuLeave(widgetsTrigger, button)" (mouseenter)="menuenter()">
            <h4 matSubheader>Widgets</h4>
            <mat-list-option (click)="$event.stopPropagation(); onItemClick('widgetRoom', $event)"
              role="'menuitemcheckbox'" [selected]="tgConfig.widgetRoom.visible">Dettagli Stanza</mat-list-option>
            <mat-list-option (click)="$event.stopPropagation(); onItemClick('widgetEquipInv', $event)"
              role="'menuitemcheckbox'" [selected]="tgConfig.widgetEquipInv.visible">Equip/Inventario</mat-list-option>
            <mat-list-option (click)="$event.stopPropagation(); onItemClick(null, $event)" role="'menuitemcheckbox'"
              [selected]="tgConfig.widgetCombat.visible" [disabled]="true">Combattimento</mat-list-option>
          </mat-selection-list>
        </mat-menu>
      </div>
      <button mat-icon-button (click)="onItemClick('shortcuts')">
        <mat-icon color="primary" tooltip="Scorciatoie" show-delay="100" placement="bottom">
          vpn_key
        </mat-icon>
      </button>
    </div>

    <div class="m-right">
      <button mat-icon-button (click)="onItemClick('fontsize')">
        <mat-icon color="primary" tooltip="Aumenta/Diminuisci dimensioni testo" show-delay="100" placement="bottom">
          format_size
        </mat-icon>
      </button>
      <button [ngClass]="{'active': tgConfig.audio.enable}" mat-icon-button (click)="onItemClick('audio')"
        tooltip="Attiva/Disattiva audio" show-delay="100" placement="bottom">
        <mat-icon color="primary">
          {{tgConfig.audio.enable ? 'volume_up' : 'volume_off'}}
        </mat-icon>
      </button>
      <span [attr.title]="gitVersion" class="tg-wcversion" fxFlex="0 0 auto" fxHide fxShow.gt-xs>v2</span>
    </div>
  </div>

</div>
