<div class="tg-navbar--wrap" fxFlex="0 0 100%" fxLayout>

  <!-- Game Menu -->
  <div class="tg-mainnav-item" fxLayout fxLayoutAlign="center center" fxLayoutGap="10px">
    <button #button mat-button [matMenuTriggerFor]="gameMenu" #gameTrigger="matMenuTrigger"
      (mouseenter)="buttonEnter(gameTrigger)" (mouseleave)="buttonLeave(gameTrigger, button)">Gioco</button>

    <mat-menu #gameMenu="matMenu" [overlapTrigger]="false" [hasBackdrop]="false" class="mat-elevation-z4">
      <mat-action-list dense (mouseenter)="menuenter()" (mouseleave)="menuLeave(gameTrigger, button)">
        <button mat-list-item (click)="onItemClick('info')">Informazioni</button>
        <button mat-list-item (click)="onItemClick('equip')">Equipaggiamento</button>
        <button mat-list-item (click)="onItemClick('inventario')">Inventario</button>
        <button mat-list-item (click)="onItemClick('abilita')">Abilità conosciute</button>
        <mat-divider></mat-divider>
        <button mat-list-item (click)="onItemClick('cambia desc')">Cambia la descrizione personale</button>
      </mat-action-list>
    </mat-menu>
  </div>
  
  <!-- Client Menu -->
  <div class="tg-mainnav-item" fxLayout fxLayoutAlign="center center" fxLayoutGap="10px">
    <button #button mat-button [matMenuTriggerFor]="clientMenu" #clientTrigger="matMenuTrigger"
      (mouseenter)="buttonEnter(clientTrigger)" (mouseleave)="buttonLeave(clientTrigger, button)">Client</button>

    <mat-menu #clientMenu="matMenu" [overlapTrigger]="false" hasBackdrop="false" class="mat-elevation-z4">
      <mat-action-list dense (mouseenter)="menuenter()" (mouseleave)="menuLeave(clientTrigger, button)" >
        <button mat-list-item (click)="onItemClick('log')">
          Log di gioco</button>
        <button mat-list-item (click)="onItemClick('preferences')">
          Preferenze
        </button>
        <mat-divider></mat-divider>
        <button mat-list-item (click)="onItemClick('disconnect')" class="tg-lt-red">
          Disconnetti
        </button>
      </mat-action-list>
    </mat-menu>
  </div>

  <!-- Guida  Menu -->
  <div class="tg-mainnav-item" fxLayout fxLayoutAlign="center center" fxLayoutGap="10px">
    <button mat-button [matMenuTriggerFor]="guideMenu" #guideTrigger="matMenuTrigger"
      (mouseenter)="buttonEnter(guideTrigger)" (mouseleave)="buttonLeave(guideTrigger, button)">Guida</button>
    <mat-menu #guideMenu="matMenu" [overlapTrigger]="false" hasBackdrop="false" class="mat-elevation-z4">
      <mat-action-list dense (mouseenter)="menuenter()" (mouseleave)="menuLeave(guideTrigger, button)">
        <button mat-list-item (click)="onItemClick('comandi')">Comandi di gioco</button>
        <button mat-list-item (click)="onItemClick('server')">Statistiche Server</button>
      </mat-action-list>
    </mat-menu>
  </div>

  <div class="m-right">
    <button mat-icon-button (click)="onItemClick('audio')">
      <mat-icon style="font-size: 18px;" color="primary">
          {{tgConfig.audio.enable ? 'volume_up' : 'volume_off'}}
        </mat-icon>
      </button>
    {{gitVersion}}
  </div>
</div>
