<div class="tg-shortcuts-area">

  <h3 class="tg-control-panel--subtitle" style="margin-top:0;">Gestione Scorciatoie</h3>
  <p class="tg-white">Le scorciatoie sono un comodo modo per richiamare uno o più comandi concatenati attraverso un
    singolo nuovo comando personale.<br />
    Definisci qui un <span class="tg-yellow">alias</span> e definisci il comando che desideri richiamare.</p>
  <p>
    Esempio 1: <span class="tg-green">"bistecca" </span>: (prendi bistecca tavolo; cuoci bistecca camino)<br />
    Esempio 2: <span class="tg-green">"difenditi" </span>: (impugna spada; impugna scudo; combattimento difensivo;)</p>

  <div class="tg-shortcuts-all">
    <ng-container *ngIf="shortcuts">
      <mat-divider></mat-divider>
      <table>
        <tr>
          <th>Icona</th>
          <th>Alias</th>
          <th>Azione</th>
        </tr>
        <tr *ngFor="let sc of shortcuts">
          <td>
            <tg-icons [icon]="sc.icon" class="squared"></tg-icons>
          </td>
          <td style="color: white;">
            {{sc.alias}}
          </td>
          <td>
            <button mat-icon-button class="small">
              <mat-icon aria-label="Modifica"  matTooltip="Modifica">edit</mat-icon>
            </button>
            <button mat-icon-button class="small" (click)="deleteShortcut(sc.alias)" matTooltip="Elimina">
              <mat-icon aria-label="Rimuovi">delete_forever</mat-icon>
            </button>
            <button mat-icon-button class="small" [matTooltip]="sc.cmd">
              <mat-icon aria-label="Rimuovi">help</mat-icon>
            </button>
          </td>
        </tr>
      </table>

      <button mat-raised-button color="accent" (click)="openNewShortcut()">Aggiungi</button>

    </ng-container>
    <p class="tg-gray" *ngIf="!shortcuts.length">Non hai ancora nessuna scorciatoia salvata</p>
  </div>
  <div class="tg-shortcut-new" [ngClass]="{'open': newShortcutOpenedStatus}">
    <form [formGroup]="newShortcutForm"  (ngSubmit)="saveShortcut()">
      <tg-icons [(icon)]="scIcon" class="tg-button squared" matRipple (click)="openIconsList()"></tg-icons>
      <mat-form-field>
        <input matInput placeholder="Nome / Alias" formControlName="scAlias" required autocomplete="off">
      </mat-form-field>

      <mat-form-field class="field-full-width">
        <textarea matInput placeholder="Comando/i" formControlName="scCmd" required autocomplete="off"></textarea>
      </mat-form-field>
      
      <div *ngIf="shortcutExistError" class="tg-red">L'alias è già presente tra le tue scorciatoie: cambiarlo o cancellare la scorciatoia precedente.</div>

      <mat-divider></mat-divider>

      <button mat-raised-button color="accent" type="submit">Salva</button>&nbsp;
      <button mat-raised-button color="warn" (click)="closeNewShortcut()">Chiudi</button>
    </form>


    
  <div class="tg-shortcut-iconslist" [ngClass]="{'open': iconsListOpenedStatus}">
      <p>Seleziona un'icona come riferimento per la tua scorciatoia</p>
      <div class="tg-shortcut-icons--container" fxLayout="row wrap">
        <div class="tg-shortcut-icon" fxFlex="1 1 32px"><tg-icons class="squared" [icon]="870" (click)="setNewIcon(870)"></tg-icons></div>
        <div class="tg-shortcut-icon" fxFlex="1 1 32px"><tg-icons class="squared" [icon]="870" (click)="setNewIcon(870)"></tg-icons></div>
        <div class="tg-shortcut-icon" fxFlex="1 1 32px"><tg-icons class="squared" [icon]="870" (click)="setNewIcon(870)"></tg-icons></div>
        <div class="tg-shortcut-icon" fxFlex="1 1 32px"><tg-icons class="squared" [icon]="870" (click)="setNewIcon(870)"></tg-icons></div>
        <div class="tg-shortcut-icon" fxFlex="1 1 32px"><tg-icons class="squared" [icon]="870" (click)="setNewIcon(870)"></tg-icons></div>
        <div class="tg-shortcut-icon" fxFlex="1 1 32px"><tg-icons class="squared" [icon]="870" (click)="setNewIcon(870)"></tg-icons></div>
        <div class="tg-shortcut-icon" fxFlex="1 1 32px"><tg-icons class="squared" [icon]="870" (click)="setNewIcon(870)"></tg-icons></div>
        <div class="tg-shortcut-icon" fxFlex="1 1 32px"><tg-icons class="squared" [icon]="870" (click)="setNewIcon(870)"></tg-icons></div>
        <div class="tg-shortcut-icon" fxFlex="1 1 32px"><tg-icons class="squared" [icon]="870" (click)="setNewIcon(870)"></tg-icons></div>
        <div class="tg-shortcut-icon" fxFlex="1 1 32px"><tg-icons class="squared" [icon]="870" (click)="setNewIcon(870)"></tg-icons></div>
        <div class="tg-shortcut-icon" fxFlex="1 1 32px"><tg-icons class="squared" [icon]="870" (click)="setNewIcon(870)"></tg-icons></div>
        <div class="tg-shortcut-icon" fxFlex="1 1 32px"><tg-icons class="squared" [icon]="870" (click)="setNewIcon(870)"></tg-icons></div>
        <div class="tg-shortcut-icon" fxFlex="1 1 32px"><tg-icons class="squared" [icon]="870" (click)="setNewIcon(870)"></tg-icons></div>
        <div class="tg-shortcut-icon" fxFlex="1 1 32px"><tg-icons class="squared" [icon]="870" (click)="setNewIcon(870)"></tg-icons></div>
        <div class="tg-shortcut-icon" fxFlex="1 1 32px"><tg-icons class="squared" [icon]="870" (click)="setNewIcon(870)"></tg-icons></div>
        <div class="tg-shortcut-icon" fxFlex="1 1 32px"><tg-icons class="squared" [icon]="870" (click)="setNewIcon(870)"></tg-icons></div>
        <div class="tg-shortcut-icon" fxFlex="1 1 32px"><tg-icons class="squared" [icon]="870" (click)="setNewIcon(870)"></tg-icons></div>
        <div class="tg-shortcut-icon" fxFlex="1 1 32px"><tg-icons class="squared" [icon]="870" (click)="setNewIcon(870)"></tg-icons></div>
        <div class="tg-shortcut-icon" fxFlex="1 1 32px"><tg-icons class="squared" [icon]="870" (click)="setNewIcon(870)"></tg-icons></div>
        <div class="tg-shortcut-icon" fxFlex="1 1 32px"><tg-icons class="squared" [icon]="870" (click)="setNewIcon(870)"></tg-icons></div>
        <div class="tg-shortcut-icon" fxFlex="1 1 32px"><tg-icons class="squared" [icon]="870" (click)="setNewIcon(870)"></tg-icons></div>
        <div class="tg-shortcut-icon" fxFlex="1 1 32px"><tg-icons class="squared" [icon]="870" (click)="setNewIcon(870)"></tg-icons></div>
        <div class="tg-shortcut-icon" fxFlex="1 1 32px"><tg-icons class="squared" [icon]="870" (click)="setNewIcon(870)"></tg-icons></div>
        <div class="tg-shortcut-icon" fxFlex="1 1 32px"><tg-icons class="squared" [icon]="870" (click)="setNewIcon(870)"></tg-icons></div>
        <div class="tg-shortcut-icon" fxFlex="1 1 32px"><tg-icons class="squared" [icon]="870" (click)="setNewIcon(870)"></tg-icons></div>
        <div class="tg-shortcut-icon" fxFlex="1 1 32px"><tg-icons class="squared" [icon]="870" (click)="setNewIcon(870)"></tg-icons></div>
        <div class="tg-shortcut-icon" fxFlex="1 1 32px"><tg-icons class="squared" [icon]="870" (click)="setNewIcon(870)"></tg-icons></div>
        <div class="tg-shortcut-icon" fxFlex="1 1 32px"><tg-icons class="squared" [icon]="870" (click)="setNewIcon(870)"></tg-icons></div>
        <div class="tg-shortcut-icon" fxFlex="1 1 32px"><tg-icons class="squared" [icon]="870" (click)="setNewIcon(870)"></tg-icons></div>
        <div class="tg-shortcut-icon" fxFlex="1 1 32px"><tg-icons class="squared" [icon]="870" (click)="setNewIcon(870)"></tg-icons></div>
        <div class="tg-shortcut-icon" fxFlex="1 1 32px"><tg-icons class="squared" [icon]="870" (click)="setNewIcon(870)"></tg-icons></div>
        <div class="tg-shortcut-icon" fxFlex="1 1 32px"><tg-icons class="squared" [icon]="870" (click)="setNewIcon(870)"></tg-icons></div>
        <div class="tg-shortcut-icon" fxFlex="1 1 32px"><tg-icons class="squared" [icon]="870" (click)="setNewIcon(870)"></tg-icons></div>
        <div class="tg-shortcut-icon" fxFlex="1 1 32px"><tg-icons class="squared" [icon]="870" (click)="setNewIcon(870)"></tg-icons></div>
        <div class="tg-shortcut-icon" fxFlex="1 1 32px"><tg-icons class="squared" [icon]="870" (click)="setNewIcon(870)"></tg-icons></div>
        <div class="tg-shortcut-icon" fxFlex="1 1 32px"><tg-icons class="squared" [icon]="870" (click)="setNewIcon(870)"></tg-icons></div>
      </div>
    </div>

    
  </div>


</div>
