@import 'variables';

.tg-notizie {
    color: black;
    text-align: left;
    height: 100%;
    overflow: hidden;
    
    h2 {
        font-size: 30px;
        color: #3a2e19;
        font-family: kingthinks;
    }

    .tg-notizie--container {
        display: flex;
        flex-direction: column;
    }

    .tg-notizie--content {
        flex: 1;
    }
    
    .notizie-action {
        flex: 0 0 auto;
        justify-content: center;
        padding:2em 0 0;
        label {
            margin-left: 5px;
            color: black;
        }
    }
    
    .tg-mnch-img {
    width: 100%;
    min-height: 175px;
    background: url($imgPath + '/frame/munchkin_news.jpg') no-repeat center;
    background-size: contain;
    }
}
