@import 'variables';

.tg-notizie {
  color: black;
  text-align: left;
  height: 100%;

  h2 {
    font-size: 30px;
    color: #3a2e19;
    font-family: kingthings;
    margin: 0 0 .5em;
  }

  p {
    padding-bottom: 1em;
  }
  
  .notizie-action {
    padding: 2em 0 0;

    label {
      margin-left: 5px;
      color: black;
    }
  }

  .tg-mnch-img {
    width: 100%;
    min-height: 175px;
    background: url($imgPath + '/frame/munchkin_news.jpg') no-repeat center;
    background-size: contain;
    margin:  auto;
  }

  .input-checkbox {
      padding-top: 1em;
  }
}

body .ui-widget-overlay {
  background-color: rgba(0, 0, 0, 1);
}
