<tg-window-wrapper>
  <ng-container ngProjectAs="title">
    {{data.title}}
  </ng-container>
  <ng-container ngProjectAs="content">
    <div class="tg-selectable-content">
      <p>{{data.desc}}</p>
    </div>
    <div class="tg-selectable-content" fxFlex="1 1 auto">
      <ng-scrollbar class="scrollbar" #scrollBar [visibility]="'always'">
        <ng-container *ngIf="data.list">
          <mat-list #dense>
            <ng-container *ngFor="let category of data.list | keyvalue">
              <h3 class="tg-lt-yellow tg-category-key">{{category.key}}</h3>

              <mat-selection-list #selectableList (selectionChange)="onSelectionChange($event)">
                <mat-list-option 
                  *ngFor="let adjective of category.value"
                  [value]="adjective">
                  {{adjective.sel | capitalizeFirst}}
                </mat-list-option>
              </mat-selection-list>

            </ng-container>
          </mat-list>
        </ng-container>
      </ng-scrollbar>
    </div>
    <div class="tg-white" class="tg-selectable-prefix">
      <p>
        {{data.prefix}} <span class="tg-yellow">{{selectedValueText}}</span>
      </p>
      <p>
        Apparirai come: <span class="tg-yellow">{{adjectiveShowed}}</span>
      </p>
      <div>
        <button clickStopPropagation type="button"
        class="tg-button tg-button-salva mr-auto ml-1 tg-shadow-light"
        (click)="saveAdjective()">Salva</button>
      </div>
    </div>
  </ng-container>
</tg-window-wrapper>