@import 'abstract/variables';

:host {
  color: $base-text-color;
} 

.tg-selectable-content {
  padding: 0 24px;
}

.tg-category-key {
  margin: 0;
}

.mat-list-base .mat-list-option {
  height: 25px;
}

.tg-selectable-prefix {
  padding: 6px 24px 12px;
  background-color: black;
  border-top: 1px solid rgba(255,255,255, .2);
}

