/*
* Phrases Rotator - Footer Side 
*/

.tg-intro-rotatext {
  color: #cab887;
  font-family: 'Modern Antiqua', cursive;
  font-size: .9rem;
  min-height: 2.4em;
  box-sizing: content-box;
  position: relative;

  .phrase {
    opacity: 0;
    width: 100%;
    text-align: center;
    top: 0;
    position: absolute;
  }

  .auth {
    font-style: italic;
    font-size: 0.8em;
    display: block;
    color: #a8a8a8;
  }

}
