@import 'abstract/variables';
@import '~@angular/flex-layout/mq';


// RIGHT SIDE AREA
:host {
  background: url($imgPath + '/background/wood_rightside.jpg') repeat top left;
  overflow: hidden;
  position: relative;
  
  .tg-rightside-wrap {
    height: 100%;
    width: 100%;
    max-width: 396px;
    background: url($imgPath + '/borders/border-paneleft-left.png') repeat-y top left;
    padding-left: 14px;
    box-shadow: inset 3px -2px 112px 7px black;
  }

  .tg-date-game {
    border: 1px solid #947d66;
    border-radius: 5px;
    font-size: 11px;
    letter-spacing: 2px;
    font-family: 'Modern Antiqua';
    padding: 2px 12px;
    background: #190f06 url($imgPath +'/background/bg-ironbrown.jpg') repeat;
    position: absolute;
    margin-left: 7px;
    top: 0;
    left: 50%;
    z-index: 10;
    transform: translateX(-50%);
    color: $base-text-color;
    cursor: pointer;
  }


  @include layout-bp(lt-lg) {
    .tg-rightside-wrap {
      max-width: 310px;
    }
  }
}

body.zen :host {
  display: none!important;
}
