@import 'abstract/variables';
@import 'abstract/sprites-mixins';
@import 'abstract/sprites';


tg-icons {
  margin: auto 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
  box-sizing: content-box;
  line-height: 16px;
  position: relative;


  .tg-icon {
    background-image: url($imgPath + '/tiles.png');
    background-repeat: no-repeat;
    transform: scale(.5);
    width: 32px;
    height: 32px;
    position: absolute;
    left: -8px;
    top: -8px;
    margin: auto;
  }
}



tg-icons.squared {
  @include sprite($base-square-sprite);
  display: flex;

  .tg-icon {
    top: -4px;
    left: -4px;
  }
}