.tg-book {
  height: 100%;
  font-family: kingthings;
  font-size: 1em;
  line-height: 1.4;
  color: #3a2e19;
}

.tg-book * {
  outline: none;
}

.tg-book-inset {
  z-index: 2;
  position: relative;
  height: 100%
}

.tg-book-title {
  font-size: 1.8em;
  text-align: center;
  padding-bottom: .5em;
}

.tg-book-pagetitle {
  font-weight: bold;
}

.tg-book-pagetext {
  text-align: justify;

  .pager-btns {
    margin-right: auto;
  }

  button {
    background: transparent;
  }
}
