<ng-container *ngIf="book$ | async as book">
  <tg-dialog [id]="dialogID">
    <div class="tg-book">
      <div class="b-ironlight-mini tg-box">
        <div class="tg-dialog-content-nopadding tg-shadow-inset">
          <div class="b-paper tg-box">
            <div style="z-index: 2; position: relative; max-height: 100%">
              <ng-scrollbar class="scrollbar">
                <div class="tg-book-title" *ngIf="book.title">
                    {{book.title | capitalizeFirst}}
                </div>
                <ng-container *ngIf="book.pages; else noPage">
                  <div class="page" [attr.pagenumber]="i"  *ngFor="let page of book.pages let i=index">

                    <div class="tg-book-pagetitle">
                      {{page.title | capitalizeFirst}}
                    </div>
                    <div class="tg-book-pagetext" [innerHtml]="page.text | dataToHtml">
                    </div>

                  </div>
                </ng-container>

                <ng-template #noPage>
                  <div class="tg-book-pagetext">Non ci sono Pagine</div>
                </ng-template>
              </ng-scrollbar>
              
            </div>
            <div class="tg-border-box">
              <div class="tg-border tg-border-top"></div>
              <div class="tg-border tg-border-left"></div>
              <div class="tg-border tg-border-right"></div>
              <div class="tg-border tg-border-bottom"></div>
              <div class="tg-border tg-border-area"></div>
            </div>
          </div>
        </div>
        <div class="tg-border-box">
          <div class="tg-border tg-border-top"></div>
          <div class="tg-border tg-border-left"></div>
          <div class="tg-border tg-border-right"></div>
          <div class="tg-border tg-border-bottom"></div>
        </div>
      </div>
    </div>
  </tg-dialog>
</ng-container>