
<ng-container *ngIf="commands$ | async as cmds">
  <div class="b-ironlight-mini b-ironlight-thin tg-box" >
    <div class="tg-dialog-content-nopadding tg-shadow-inset">

      <div class="tg-dialog-title">
        Lista Comandi
        <button mat-icon-button [mat-dialog-close]="true" class="tg-dialog--close">
          <mat-icon aria-label="Chiudi la finestra">close</mat-icon>
        </button>
      </div>

      <div class="tg-commands-list" fxLayout >
        <div class="cmd-group" fxFlex="0 0 auto">
          <div *ngFor="let group of (removeTitleObject(cmds)) | keyvalue ; let i = index" (click)="setOpenedGroup(i)"
            class="cmd-group--item">
            <span [ngClass]="{'active': i === groupOpen}">
              {{group.key}}
            </span>
          </div>
        </div>
        <div class="cmd-values-container" fxFlex="1 0 0">
          <ng-scrollbar class="scrollbar" #commandsScrollbar [shown]="'always'">
            <div *ngFor="let cmdvalue of (removeTitleObject(cmds)) | keyvalue; let ii = index" fxLayout="row wrap">
              <div class="cmd-value " fxFlex="1 0 25%" *ngFor="let item of cmdvalue.value"
                [ngClass]="{'showlist': ii === groupOpen}" (click)="sendCmd(item)">
                {{item}}
              </div>
            </div>
          </ng-scrollbar>
        </div>
      </div>
    </div>

    <div class="tg-border-box">
      <div class="tg-border tg-border-top"></div>
      <div class="tg-border tg-border-left"></div>
      <div class="tg-border tg-border-right"></div>
      <div class="tg-border tg-border-bottom"></div>
    </div>
  </div>
</ng-container>
