<form [formGroup]="frmStepFirst">

  <div class="tg-registration-step" fxLayout>

    <div class="tg-sidebar" fxFlex="1 1 150px">
      
      <div *ngFor="let race of racesList; let idx = index;"
        matRipple 
        class="tg-sidebar-item checkable"
        [ngClass]="{'active': frmStepFirst.get('race').value === race.code}"
        (click)="setRace(race)">
        {{race.name}}
      </div>

    </div>

    <div class="tg-detail-content" fxFlex="1 1 100%">

      <ng-container *ngIf="!frmStepFirst.get('race').value; else raceDetailContent">
        <div class="tg-detail-text">
          <h2 class="tg-detail-title tg-yellow">Scelta della razza</h2>
          <p>La scelta della <span class="tg-yellow">razza del tuo personaggio</span> è una delle decisioni più importanti. Essa determina che
            caratteristiche fisiche e mentali avrà,
            quali saranno i suoi punti di forza e debolezza, in cosa sarà più abile, se sarà cittadino di un villaggio o
            di una grande città e chi saranno
            i suoi amici e nemici.</p>
          <p class="tg-yellow">Seleziona la razza del tuo personaggio dall'elenco a sinistra.</p>
        </div>
      </ng-container>
    </div>
  </div>
</form>

        
<ng-template #raceDetailContent>
    <div class="tg-detail-image">
        img: {{selectedRace}}
    </div>
    <div class="tg-detail-text">
      <div [innerHtml]="raceDetailText"></div>
      <div class="tg-detail-action">
        <button mat-raised-button matStepperNext class="tg-step-next">Avanti</button>
      </div>
    </div>
</ng-template>
