
@import 'abstract/variables';
@import '~@angular/flex-layout/mq';


:host {
  width: 100%;
  margin-top: auto;
}

.tg-footer {
  padding: 12px 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 11px;
  color: #867d6e;
  margin-top: auto;
  text-align: center;

  a {
    color: $tg-white;
  }
}

.tg-serverstatus {
  text-transform: uppercase;
  font-size: 10px;
  padding: 1em 0;
  text-align: center;

  span.serverstatus--txt {
    color: #ff3400;
    display: inline-block;

    &:before {
      content: '';
      display: inline-block;
      width: .5rem;
      height: .5rem;
      border-radius: 50%;
      margin-right: 0.2rem;
      background-color: $tg-red;
    }

    &.server_on {
      color: #bdb3a3;

      &:before {
        background-color: $tg-green;
      }
    }
  }

  .serverstatus--onlineuser {
    color: #bdb3a3;
  }
}

a.discord-link {
  color: #7289da!important;
}

.discord-icon {
  vertical-align: middle;
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url('https://discordapp.com/assets/f8389ca1a741a115313bede9ac02e2c0.svg') no-repeat;
  background-size: cover;
}

mat-divider {
  border-top-color: rgba(134, 125, 110, 0.2);
  flex: 1 1 50px;
  margin: 1em auto;
}
