<!-- Copyright and Usefull Links -->
<div class="tg-footer" fxLayout="column" fxFlex="0 0 100%" *ngIf="showFooter">
  <div fxLayout="row">
    <div fxFlex="100">
      <div class="tg-serverstatus">
        <span class="serverstatus--txt" [ngClass]="{'server_on': serverStatusMessage }">
          Server {{ serverStatusMessage === true ? 'online' : 'offline'}}
        </span>
        <ng-container *ngIf="serverStat | async  as stat">
          - Utenti in gioco: <span class="serverstatus--onlineuser">{{stat?.players.length || '0'}}</span>
        </ng-container>
      </div>
    </div>
  </div>
  <div fxLayout="row wrap">
    <div fxFlex.lt-md="100%" fxFlex.gt-sm="33.33" fxLayoutAlign="center flex-start">
      <a href="http://www.thegatemud.it" target="_blank">Home</a>&nbsp;|&nbsp;
      <a href="https://it-it.facebook.com/TheGateMUD" target="_blank">Facebook</a>&nbsp;|&nbsp;
      <a href="http://forum.thegatemud.it" target="_blank">Forum</a>
    </div>
    <div fxFlex.lt-md="100%" fxFlex.gt-sm="33.33" fxLayoutAlign="center flex-start">
      <span class="tg-version-name">Webclient [Public] Version {{ gitVersion }}
      </span>
    </div>
    <div fxFlex.lt-md="100%" fxFlex.gt-sm="33.33" fxLayoutAlign="center flex-start">
      &copy; 2013-2019 The Gate MUD
      <!-- &nbsp;|&nbsp; -->
      <!-- <a href="http://www.thegatemud.it/disclaimer-credits-the-gate-webclient" target="_blank">Credits and Disclaimer</a> -->
    </div>
  </div>
</div>
