<mat-toolbar class="tg-mainnav">
  <mat-toolbar-row fxLayout="wrap" fxLayoutGap="20px">

    <div class="hamburger-item">
      <button class="tg-mainnav-icon" mat-icon-button (click)="toggleSidenav.emit()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <div class="tg-brand">
      <a href="http://www.thegatemud.it" class="tg-base-logo">
        <span>The Gate <i>Mud</i></span>
      </a>
    </div>

    <ng-container *ngIf="!userIsInGame">
      <!-- Default Menu -->
      <div class="tg-mainnav-item" fxLayout fxHide fxShow.gt-sm fxLayoutAlign="center center">
        <a #button mat-button href="http://www.thegatemud.it" target="_blank" title="The Gate Mud HomePage">Home</a>
      </div>
      <div class="tg-mainnav-item" fxLayout fxHide fxShow.gt-sm fxLayoutAlign="center center">
        <a #button mat-button href="http://forum.thegatemud.it" target="_blank">Forum</a>
      </div>
      <div class="tg-mainnav-item" fxLayout fxHide fxShow.gt-sm fxLayoutAlign="center center">
        <button #button mat-button [routerLink]="['/novita']" [routerLinkActive]="['active']">Novità</button>
      </div>
      <!-- End Default Menu -->
    </ng-container>


    <!-- Game Menu -->
    <div *ngIf="userIsInGame" fxFlex="1 1 100%" class="mr0">
      <tg-game-menu></tg-game-menu>
    </div>
    <!-- End Game Menu-->

    <!-- User Registration/Login Menu -->
    <ng-container *ngIf="!userIsLoggedIn && !userIsInGame; else userLoggedInMenu">
      <div class="m-right user-side" fxFlex="0 1 0" fxLayoutAlign="flex-end" fxLayoutGap.gt-xs="20px"
        fxLayoutGap.lt-sm="5px">
        <div class="tg-mainnav-item" fxLayout fxLayoutAlign="center center">
          <a [routerLink]="['/auth/login']" [routerLinkActive]="['active']" class="tg-yellow" fxHide
            fxShow.gt-xs>Login</a>
          <button mat-icon-button [routerLink]="['/auth/login']" [routerLinkActive]="['active']" fxHide fxShow.lt-sm>
            <mat-icon class="tg-yellow" style="font-size: 18px;">vpn_key</mat-icon>
          </button>
        </div>
        <div class="tg-mainnav-item" fxLayout fxLayoutAlign="center center">
          <a [routerLink]="['/auth/signup']" [routerLinkActive]="['active']">Registrati</a>
        </div>
      </div>
    </ng-container>
    <!-- End User Registration/Login Menu-->

    <ng-template #userLoggedInMenu>
      <!-- User Menu -->
      <div class="m-right user-side" fxFlex="0 1 0" fxLayoutAlign="flex-end">
        <div class="tg-mainnav-item" fxLayout fxLayoutAlign="cente center" style="margin-right: 0;">

          <button mat-button [matMenuTriggerFor]="menu" class="user-button" *ngIf="user">
            <mat-icon>account_box</mat-icon>
            <span fxHide fxShow.gt-xs>{{user.username | capitalizeFirst}}</span>
          </button>

          <span *ngIf="!user && userIsInGame" class="tg-green">SEI IN GIOCO</span>

          <mat-menu #menu="matMenu" class="mat-elevation-z4">

            <div class="user-menu-item">
              Salve <span class="tg-yellow">{{user.username | capitalizeFirst}}</span>
            </div>

            <mat-divider class="light"></mat-divider>
            <!--  Characters List Fast Connector -->
            <mat-action-list dense>
            <div class="user-smart-chars" *ngIf="charactersList | async as chars">
                <div mat-list-item class="smart-char" *ngFor="let char of chars" fxLayout="row"
                  fxLayoutAlign="start center" (click)="loginCharacter(char.name)">
                  <div class="smart-char-avatar">
                    <ng-container *ngIf="char.image; else nocharImg">
                      <img [src]="env.media_address + '/' + char.image" alt="{{char.name}}" />
                    </ng-container>
                  </div>
                  <div class="smart-char-name">{{char.name}}</div>
                </div>

              <ng-template #nocharImg>
                <mat-icon>portrait</mat-icon>
              </ng-template>
            </div>

            <mat-divider class="light"></mat-divider>
            <button mat-list-item class="user-menu-button" (click)="userOnLogout()">Aiuto</button>
            <button mat-list-item class="user-menu-button" (click)="userOnLogout()">Preferenze</button>
            <button mat-list-item class="user-menu-button" (click)="userOnLogout()">Logout</button>
          </mat-action-list>

          </mat-menu>

        </div>
      </div>
      <!-- End User Menu -->

    </ng-template>

  </mat-toolbar-row>
</mat-toolbar>
