<mat-toolbar class="tg-mainnav">
  <mat-toolbar-row fxLayout="wrap" fxLayoutGap="20px">

    <div class="hamburger-item">
      <button class="tg-mainnav-icon" mat-icon-button (click)="toggleSidenav.emit()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <div class="tg-brand">
      <a href="http://www.thegatemud.it" class="tg-base-logo"></a>
      <span>The Gate Mud</span>
    </div>

    <!-- Default Menu -->
    <ng-container *ngIf="!userInGame">
      
          <div class="tg-mainnav-item" fxLayout fxHide fxShow.gt-sm fxLayoutAlign="center center">
            <button #button mat-button href="http://www.thegatemud.it" title="The Gate Mud HomePage">Home</button>
          </div>
      
          <div class="tg-mainnav-item" fxLayout fxHide fxShow.gt-sm fxLayoutAlign="center center">
            <button #button mat-button href="http://forum.thegatemud.it">Forum</button>
          </div>
      
          <div class="tg-mainnav-item" fxLayout fxHide fxShow.gt-sm fxLayoutAlign="center center">
            <button #button mat-button [routerLink]="['/novita']" [routerLinkActive]="['active']">Novità</button>
          </div>

    </ng-container>
    


    <!-- Game Menu -->
    <ng-container *ngIf="userInGame">
      <!-- <tg-navbar></tg-navbar> -->
    </ng-container>

    <!-- User Registration and login Menu -->
    <ng-container *ngIf="loggedIn === false ; else userLoggedIn">
      <div class="m-right user-side" fxFlex="0 1 0" fxLayoutAlign="flex-end" fxLayoutGap="20px">
        <div class="tg-mainnav-item" fxLayout fxLayoutAlign="center center">
          <a [routerLink]="['/auth/login']" [routerLinkActive]="['active']" class="tg-yellow">Login</a>
        </div>
        <div class="tg-mainnav-item" fxLayout fxLayoutAlign="center center">
          <a [routerLink]="['/auth/signup']" [routerLinkActive]="['active']">Registrati</a>
        </div>
      </div>
    </ng-container>

    <ng-template #userLoggedIn>
      <ng-container *ngIf="currentUser">
        <!-- User Menu -->
        <div class="m-right user-side" fxFlex="0 1 0" fxLayoutAlign="flex-end">

          <div class="tg-mainnav-item" fxLayout fxLayoutAlign="cente center">

            <!-- <button mat-icon-button class="tg-mainnav-icon">
              <mat-icon matBadge="4" matBadgeColor="accent" matBadgeSize="small" matBadgePosition="below after">notification_important</mat-icon>
            </button> -->

            <button mat-button [matMenuTriggerFor]="menu" class="user-button">
              <mat-icon>account_box</mat-icon>
              <span fxHide fxShow.gt-xs>{{currentUser.username | capitalizeFirst}}</span>
            </button>

            <mat-menu #menu="matMenu" class="mat-elevation-z4">
              <div class="user-menu-item">
                Salve <span class="tg-yellow">{{currentUser.username | capitalizeFirst}}</span>
              </div>

              <mat-divider class="light"></mat-divider>

              <!--  Characters List Fast Connector -->
              <div class="user-smart-chars" *ngIf="charactersList | async as chars">

                <div class="smart-char" *ngFor="let char of chars" fxLayout="row" fxLayoutAlign="start center" (click)="loginCharacter(char.name)">

                  <div class="smart-char-avatar">
                    <ng-container *ngIf="char.image; else nocharImg">
                      <img [src]="env.media_address + '/' + char.image" alt="{{char.name}}" />
                    </ng-container>
                  </div>

                  <div class="smart-char-name">{{char.name}}</div>
                </div>

                <ng-template #nocharImg>
                  <mat-icon>portrait</mat-icon>
                </ng-template>


              </div>
              <!-- END  Characters List Fast Connector -->

              <mat-divider class="light"></mat-divider>

              <!-- <ng-container *ngIf="currentUser.permissions === 'administrator'">
                  <button mat-menu-item class="user-menu-item highlight">Amministrazione</button>
                  <mat-divider class="light"></mat-divider>
                </ng-container> -->

              <button mat-menu-item class="user-menu-button" (click)="userOnLogout()">Aiuto</button>
              <button mat-menu-item class="user-menu-button" (click)="userOnLogout()">Preferenze</button>
              <button mat-menu-item class="user-menu-button" (click)="userOnLogout()">Logout</button>
            </mat-menu>
          </div>
        </div>
      </ng-container>
    </ng-template>

  </mat-toolbar-row>
</mat-toolbar>
