<div class="tg-auth-form" fxLayout="row wrap" fxLayoutAlign="center center">
  <form name="forgotPasswordForm" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">

    <div class="tg-auth-form-header" [@animate]="{value:'*', params:{delay:'150ms', y:'56px'}}">
      <div class="tg-base-logo"></div>
      <h1>Recupera la password</h1>
    </div>
    <div class="tg-auth-form-body" [@animate]="{value:'*', params:{delay:'300ms', y:'56px'}}">

      <ng-container *ngIf="!sended; else sendedSuccess">
        <p>Inserisci la tua mail, invieremo un link per poter effettuare il reset della tua password.</p>
      <div class="form-field-group">
        <input placeholder="La tua e-mail" type="text" formControlName="email" class="input-block form-control">
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors">Email non valida.</div>
        </div>
      </div>
      <div class="form-field-group">
        <input type="submit" value="Invia mail per recupero password" name="submit" class="tg-submit-primary">
      </div>
        <div class="api-error" *ngIf="resetPasswordError">{{resetPasswordError}}</div>
      </ng-container>

      <ng-template #sendedSuccess>
        Ti è stata inviata una mail all'indirizzo inviato per effettuare il recupero della tua password.
      </ng-template>

    </div>
  </form>
</div>
