<div class="tg-auth-form" fxLayout="row wrap" fxLayoutAlign="center center">
  <form name="forgotPasswordForm" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">

    <div class="tg-auth-form-header"  [@animate]="{value:'*', params:{delay:'150ms', y:'56px'}}">
      <div class="tg-base-logo"></div>
      <h1>Password dimenticata</h1>
    </div>
    <div class="tg-auth-form-body" [@animate]="{value:'*', params:{delay:'300ms', y:'56px'}}">
      <p>Inserisci la tua mail, invieremo un link per poter effettuare il reset della tua password.</p>
        <label for="authEmail">Username (la tua e-mail)</label>
        <input type="text" formControlName="email" class="input-block form-control">
        <input type="submit" value="Invia mail per recupero password" name="submit" class="tg-submit-primary">
    </div>

  </form>
</div>
