<div class="tg-output tg-box b-ironlight" fxFlex="1 1 100%" 
  [ngClass]="{'pause-scroll': pauseScroll}">
  <div class="tg-box" fxFlex="100" fxLayout="column">

    
    <div class="tg-output-main" #mainOutputArea>
      <!-- Output Area -->
      <ng-container *ngIf="showExtraByViewport && tgConfig.output.extraArea.visible as extra; else noextra">
        <as-split #splitArea class="tg-output--splitter" [gutterSize]="5" [direction]="'horizontal'" (dragEnd)="onDragEnd($event)" (dargStart)="onDragStart($event)">

          <as-split-area [size]="tgConfig.output.extraArea.size[0]" style="position:relative">
            <div class="tg-error alert-inline mat-elevation-z10" *ngIf="pauseScroll">
              Autoscroll disattivato
            </div>
            <tg-status></tg-status>

            <div style="height: 100%; overflow:hidden;" class="o-container">
              <ng-scrollbar class="scrollbar-output"  #scrollBar cdkscrollable>
                <div  class="tg-output--history" >
                  <div *ngIf="!output.length" class="no-output-notice">
                    Scrivi qualcosa o semplicemente aspetta...
                  </div>
                  <ng-container *ngFor="let data of output">

                    <ng-container [ngSwitch]="data.type">
                      <tg-text *ngSwitchCase="'base'" [html]="data.content"></tg-text>
                      <tg-generic-page *ngSwitchCase="'genericPage'" [html]='data.content'></tg-generic-page>
                    </ng-container>

                  </ng-container>
                </div>
                <div id="scrollerEnd" #scrollerEnd></div>
              </ng-scrollbar>
            </div>

          </as-split-area>
          <as-split-area [size]="tgConfig.output.extraArea.size[1]">
            <div style="height: 100%; overflow:hidden;">
              <div class="tg-output--extradetail">
                <tg-room [html]="typeDetail ==='room' ? (lastRoom$ | async) : objPersDetail" [withExtra]="extra"
                  [lastDescription]="lastRoomDescription" [type]="typeDetail"></tg-room>

              </div>
            </div>
          </as-split-area>

        </as-split>

      </ng-container>
    </div>

  </div>
  <div class="tg-border-box">
    <div class="tg-border tg-border-top"></div>
    <div class="tg-border tg-border-left"></div>
    <div class="tg-border tg-border-right"></div>
    <div class="tg-border tg-border-bottom"></div>
  </div>
</div>

<ng-template #noextra>

  <div class="tg-error alert-inline mat-elevation-z10" *ngIf="pauseScroll">
    Autoscroll disattivato
  </div>
  <tg-status></tg-status>

  <div style="height: 100%; overflow:hidden;">

    <ng-scrollbar class="scrollbar-output" #scrollBar>
      <div class="tg-output--history" cdkscrollable>
        <div *ngFor="let data of outputObservable | async; let i = index">
          <ng-container [ngSwitch]="data.type">
            <tg-text *ngSwitchCase="'base'" [html]="data.content"></tg-text>
            <tg-room *ngSwitchCase="'room'" [withExtra]="false" [html]="data.content"
              [lastDescription]="lastRoomDescription"></tg-room>
            <tg-objpers-detail *ngSwitchCase="'objPersDetail'" [html]="data.content"></tg-objpers-detail>
            <tg-generic-page *ngSwitchCase="'genericPage'" [html]='data.content'></tg-generic-page>
          </ng-container>
        </div>
      </div>
      <div #scrollerEnd></div>
    </ng-scrollbar>
  </div>
</ng-template>
