@import 'abstract/variables';
@import 'abstract/sprites';
@import 'abstract/sprites-mixins';
@import '~@angular/flex-layout/mq';


:host {
  background: black;
  order: 2;

  .tg-output-main {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border: 1px solid transparent;
    transition: all .2s ease-out;
  }

  @include layout-bp(gt-md) {
    margin-bottom: 0;
  }
}

.tg-output--history,
.tg-output--extradetail {
  width: 100%;
  font-family: Verdana, Geneva, sans-serif;
  z-index: 2;
  color: $output-base-color; //  default color
  box-sizing: border-box;
}

.tg-output--history {
  width: 100%;
  box-sizing: border-box;
  padding-left:6px;
  padding-top:6px;
  padding-right: 24px;

  &::ng-deep.tg-line {
    .list-50 {
      width: 50%;
      display: inline-block;
      flex-direction: row;

      >div {
        flex: 1 0 50%;
      }
    }

    .list-50-50 {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      >div {
        flex: 1 0 50%;
      }
    }

    @include layout-bp(lt-md) {
      .list-50 {
        width: 100%;

        >div {
          flex: 1 0 100% !important;
        }
      }

      .list-50-50 {
        >div {
          flex: 1 0 100% !important;
        }
      }
    }
  }
}

.tg-output--extradetail {
  height: 100%;
}

tg-text {
  width: 100%;
  display: block;
}

:host::ng-deep {

  &.tg-line {
    display: block;
    padding-bottom: .5em;
    line-height: 1.2;
  
    &::first-letter {
      text-transform: uppercase;
    }
  
    &:first-of-type .room {
      padding-top: .5em;
    }
  
    br {
      width: 100%;
      clear: both;
      height: 1px;
    }
  
  
    >span {
      padding-top: 8px;
    }
  }

  p {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .breakline {
    width: 100%;
    display: flex;
    line-height: 1px;
    height: .4em;
  }

  .tg-backdetail {
    cursor: pointer;
    display: flex;
    flex: 1 0 auto;

    tg-icons {
      margin-right: 0;
    }

    span {
      background-color: #0c0c0c;
      border: 1px solid #433b3a;
      border-top: 0;
      border-left: 0;
      padding: 2px 8px 2px 6px;
      color: $base-text-color;
      vertical-align: middle;
      display: flex;
      margin: 1px 0 2px;
      place-content: center left;
      align-items: center;
      width: 100%;
    }

    b {
      font-weight: normal;
      text-decoration: underline;
      color: $tg-lt-yellow;
    }

    &:hover b {
      color: $tg-yellow;
    }
  }

  .tg-icon {
    vertical-align: middle;
    float: left;
  }

  .tg-room {
    padding-bottom: .2em;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .tg-room--title {
    color: #ff7070;
    font-size: 1.2em;
    margin-bottom: 2px;
    padding-top: 1em;
  }

  .tg-room--desc {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-direction: column;
    line-height: 1.4;
    padding-bottom: 6px;
  }

  /* LIST Mob & Object*/
  .tg-objects,
  .tg-persons {
    display: flex;
    // padding-bottom: .5em;
    padding-bottom: 6px;
    flex-direction: column;
  }

  .tg-objects--line,
  .tg-persons--line,
  .tg-objperson--line {
    display: flex;
    padding-right: 5px;
    user-select: none;
    margin-right: auto;
    box-sizing: border-box;

    >div {
      margin: auto 0;
    }

    .tg-icon {
      margin: 0 0 auto;
      cursor: pointer;
    }

    .tg-persons--itemdesc,
    .tg-objects--itemdesc {
      flex: 0 1 auto;
    }

    &.expandlist {
      cursor: pointer;
      display: flex;
    }

    &.open {
      flex: 1 1 100% !important;
    }
  }

  .tg-objperson--title {
    padding: 0 0 .5em 0;
    display: block;
  }

  .tg-objperson--nothing {
    padding: 0 .5em;
    display: block;
    color: gray;
  }

  .tg-expandedlist {
    display: flex;
    flex: 1 0 100% !important;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0 0 0.5em 27px;

    .tg-persons--line,
    .tg-objects--line {
      flex: 0 1 auto;
    }
  }

  .tg-objects--line {
    color: $tg-yellow;
  }

  .tg-persons--line {
    color: $tg-lt-green;
  }

  .tg-d-details {
    padding-bottom: 3px;
    margin-bottom: 3px;
  }

  .size-qty {
    margin-right: 20px !important;
    color: white;
    height: auto;
    border: 1px solid #5f5c59;
    display: inline-block;
    position: relative;

    span {
      font-size: 90%;
      min-width: 30px;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
      height: 100%;
      min-width: 20px;
    }

    &:after {
      content: '';
      display: block;
      @include sprite($input-right-decoration-sprite);
      margin: auto 0 auto 9px;
      top: 0;
      right: -16px;
      position: absolute;
    }
  }

  &.expandlist.open .size-qty:after {
    transform: rotate(90deg);
  }

  .tg-extraoutput-detailcontent {
    padding: 6px 28px 0 6px;
  }

  .tg-extraoutput--header {
    margin-left: 0;
    padding-right: 0;
    border-bottom: 1px solid #433b3a;
    box-shadow: inset 0px -5px 11px 0px black;
    background: url($imgPath + '/background/detaildesc-bg.jpg');
    flex: 0 0 auto;

    .tg-room--title {
      top:0;
      min-height: 30px;
      display: flex;
      align-items: center;
      font-size: 1.2em;
      color: #ffe2ae;
      font-family: $modern-antiqua;
      padding: 0 32px 0 4px;
      box-shadow: inset 0px -5px 11px 0 black;
      position: sticky;
      z-index: 10;
      background: url(/assets/images/background/blood_dark.jpg) repeat top left !important;

      .squared {
        margin-right: .5em;
      }

      >span {
        margin: auto 0;
      }
    }

    .tg-room--desc {
      color: $base-text-color;
      padding: 3px 34px 0.2em 6px;
      line-height: 1.4;
      border-top: 1px solid #433b3a;
    }
    

    .tg-d-details {
      background: rgba(0, 0, 0, 0.6);
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    .tg-objperson--descdetail {
      display: block;
      padding: 0 28px 6px 6px;
      line-height: 1.4;
    }

    .tg-room--image {
      position: relative;
      max-width: 35%;
      border: 1px solid #60482b;
      padding: 2px;
      float: left;
      margin: 6px 6px 3px 6px;
      width: 190px;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: inset 0 0 20px 8px black;
      }
      
      img {
        float: left;
        max-width: 100%;
      }
    }
  }
}

.alert-inline {
  white-space: nowrap;
  position: absolute;
  top: 6px;
  left: 50%;
  z-index: 10;
  margin: 0;
  transform: translateX(-50%);
  padding: 0.2em 2em;
  text-shadow: 0 0 8px red;
  color: white;
  border-radius: 2px;
}

.placeholder-pause {
  margin: 12px 0;
  color: $tg-lt-red;
  &:before {
    content: '';
    display: inline-block;
    border-top: 1px dashed $tg-red;
    height: 1px;
    flex: 0 1 100%;
    margin: auto 6px;
  }
  &:after {
    content: '';
    display: inline-block;
    border-top: 1px dashed $tg-red;
    height: 1px;
    flex: 0 1 100%;
    margin: auto 6px;
  }
}

.in-pause::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: pulsing;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  pointer-events: none;
}


@keyframes pulsing {
  0% {
    border: 2px solid rgb(0, 0, 0);
  }
  50% {
    border: 2px solid rgb(255, 13, 0);
  }
  100% {
    border: 2px solid rgb(0, 0, 0);
  }
}
