<div class="tg-output tg-box b-ironlight" fxFlex="1 1 100%">
  <div class="tg-box" fxFlex="100">

    <div class="tg-output-main" #mainOutputArea>

      <!-- Output Area -->
      <ng-container *ngIf="showExtraByViewport && tgConfig.output.extraArea.visible as extra; else noextra">

        <as-split #splitArea class="tg-output--splitter" [direction]="'horizontal'" (dragEnd)="onDragEnd($event)">

          <as-split-area [size]="tgConfig.output.extraArea.size[0]" style="position:relative">

            <tg-status></tg-status>

            <div style="height: 100%; overflow:hidden;">
              <ng-scrollbar class="scrollbar" [autoUpdate]="true" #scrollBar [shown]="'always'"
                [disableOnBreakpoints]="false">
                <!-- <cdk-virtual-scroll-viewport  class="tg-output--history">
                  <ng-container *cdkVirtualFor="let data of output">

                    <ng-container [ngSwitch]="data.type">
                      <tg-text *ngSwitchCase="'base'" [html]="data.content"></tg-text>
                      <tg-generic-page *ngSwitchCase="'genericpage'" [html]='data.content'></tg-generic-page>
                    </ng-container>

                  </ng-container>
                </cdk-virtual-scroll-viewport> -->
              </ng-scrollbar>
            </div>

          </as-split-area>
          <as-split-area [size]="tgConfig.output.extraArea.size[1]">
            <div style="height: 100%; overflow:hidden;">
              <div class="tg-output--extradetail">
                <tg-room [html]="typeDetail ==='room' ? (lastRoom$ | async) : objPersDetail" [withExtra]="extra"
                  [lastDescription]="lastRoomDescription" [type]="typeDetail"></tg-room>
              </div>
            </div>
          </as-split-area>

        </as-split>

      </ng-container>
    </div>

  </div>
  <div class="tg-border-box">
    <div class="tg-border tg-border-top"></div>
    <div class="tg-border tg-border-left"></div>
    <div class="tg-border tg-border-right"></div>
    <div class="tg-border tg-border-bottom"></div>
  </div>
</div>

<ng-template #noextra>

  <tg-status></tg-status>

  <div style="height: 100%; overflow:hidden;">

    <!-- <ng-scrollbar class="scrollbar" #scrollBar [shown]="'always'" [disableOnBreakpoints]="false"> -->
    <cdk-virtual-scroll-viewport [itemSize]="1" autosize class="tg-output--history">
      <div *cdkVirtualFor="let data of outputObservable | async ; let i = index">
        <ng-container [ngSwitch]="data.type">
            <tg-text *ngSwitchCase="'base'" [html]="data.content"></tg-text>
            <tg-room *ngSwitchCase="'room'" [withExtra]="false" [html]="data.content"
              [lastDescription]="lastRoomDescription"></tg-room>
            <tg-objpers-detail *ngSwitchCase="'objpersdetail'" [html]="data.content"></tg-objpers-detail>
            <tg-generic-page *ngSwitchCase="'genericpage'" [html]='data.content'></tg-generic-page>
          </ng-container>
      </div>
    </cdk-virtual-scroll-viewport>
    <!-- </ng-scrollbar> -->
    <!--  -->
  </div>
</ng-template>
