<ng-container *ngIf="!preloadAssetsStatus; else clientReady">
    <tg-splashscreen [preloadPerc]="preloadPerc"></tg-splashscreen>
</ng-container>

<ng-template #clientReady>
    <!-- Cookie Law -->
    <tg-cookie-law (iAcceptCookie)="onCookieAccepted($event)"  *ngIf="!isCookieAccepted"></tg-cookie-law>
    <!-- Client -->
    <ng-container *ngIf="isCookieAccepted">
        <div class="tg-area tg-box b-area">
        <div class="tg-border-box">
            <div class="tg-border tg-border-top"></div>
            <div class="tg-border tg-border-left"></div>
            <div class="tg-border tg-border-right"></div>
            <div class="tg-border tg-border-bottom"></div>
        </div>
            <router-outlet></router-outlet>
        </div>
    </ng-container>
</ng-template>