<div class="tg-smart-equipinv">
  <div fxLayout="column" fxFlex="0 1 100%">
    <div class="tg-smart-tabtitle" fxLayout="row" fxFlex="0 0 auto" fxLayoutGap="5px">
     
      <ng-container *ngIf="show; else headerCollapsed">
        <div [ngClass]="{'active': tab === 1}">
          <button mat-button class="tg-smart-title" (click)="onTabClick('equipaggiamento', 1)">Equipaggiamento</button>
        </div>
        <div [ngClass]="{'active': tab === 2}">
          <button mat-button class="tg-smart-title" (click)="onTabClick('inventario', 2)">Inventario</button>
        </div>
      </ng-container>

      <ng-template #headerCollapsed>
        <div fxFlex="1 0 auto">
          <button mat-button class="tg-smart-title tg-lt-yellow" (click)="onCollapse()" style="width: 100%">
            Mostra equipaggiamento e inventario 
          </button>
        </div>
      </ng-template>
      
      <button mat-icon-button aria-label="Apri / Chiudi" class="tg-smart-collapsebtn" (click)="onCollapse()">
        <mat-icon>{{show ? 'keyboard_arrow_down' : 'keyboard_arrow_right'}}</mat-icon>
      </button>

    </div>
    <div fxFlex="1 0 auto" class="equinv-container" *ngIf="show">
      <ng-scrollbar class="scrollbar" fxFlex="1 1 100%" fxFlexFill>

        <div class="eqinv-wrapper-list" fxLayout="column" *ngIf="equip && tab === 1">
          <ng-container *ngIf="equip.length > 0; else noequip">

            <div class="eqinv-caption" fxLayout="row" fxFlex="0 0 auto">
              <div fxFlex="0 0 20%" fxLayoutAlign="flex-start center">Dove</div>
              <div fxFlex="0 0 65%" fxLayoutAlign="flex-start center">Oggetto</div>
              <div fxFlex="0 0 15%" fxLayoutAlign="flex-start center">Peso</div>
            </div>

            <div fxFlex="1 0 auto" class="eqinv-item-wrap" *ngFor="let item of equip">
              <div fxFlex="1 0 auto" *ngIf="equipPositionValue[(item.eq[0] - 1)][1]; let pos" class="eqinv-item-wrap">
                <div class="eqinv-item-position" fxFlex="0 0 20%" fxLayoutAlign="flex-start center">
                  <span class="tg-yellow">{{pos}}</span>
                </div>
                <div class="eqinv-item" 
                  fxFlex="0 0 65%" 
                  fxLayoutAlign="flex-start center"
                  tooltip="Guarda {{item.desc | dataToHtml}}" placement="top" show-delay="100" animation-duration="0"
                  (click)="interactElement(item)">
                  <tg-icons [icon]="item.icon"></tg-icons>
                  <tg-hstat [condprc]="item.condprc"></tg-hstat>
                  <span [innerHtml]="item.desc | dataToHtml | capitalizeFirst"></span>
                </div>
                <div class="eqinv-item-weight" fxFlex="0 0 15%" fxLayoutAlign="flex-start center">{{item.wgt}}pt</div>
              </div>
            </div>

          </ng-container>
        </div>

        <div class="eqinv-wrapper-list" fxLayout="column" *ngIf="inventory && tab === 2">
          <ng-container *ngIf="inventory.length > 0; else noinv">

            <div class="eqinv-caption" fxLayout="row">
              <div fxFlex="0 0 60%" fxLayoutAlign="flex-start center">Oggetto</div>
              <div fxFlex="0 0 20%" fxLayoutAlign="flex-start center">Quantità</div>
              <div fxFlex="0 0 20%" fxLayoutAlign="flex-start center">Peso</div>
            </div>

            <div fxLayout="column" fxFlex="0 1 100%">
              <div class="eqinv-wrapper-list" fxLayout="column">
                <div fxFlex="1 0 auto" class="eqinv-item-wrap" *ngFor="let item of inventory">
                  <div class="eqinv-item" 
                    fxFlex="0 0 60%" 
                    fxLayoutAlign="flex-start center"
                    tooltip="Guarda {{item.desc | dataToHtml}}" placement="top" show-delay="100" animation-duration="0"
                    (click)="interactElement(item, true)">
                    <tg-icons [icon]="item.icon"></tg-icons>
                    <tg-hstat [condprc]="item.condprc"></tg-hstat>
                    <span [innerHtml]="item.desc | dataToHtml"></span>
                  </div>
                  <div class="eqinv-item-qty" fxFlex="0 0 20%" fxLayoutAlign="flex-start center">
                    {{item.sz || '1'}}
                  </div>
                  <div class="eqinv-item-weight" fxFlex="0 0 20%" fxLayoutAlign="flex-start center">
                    {{item.wgt}} pt</div>
                </div>
              </div>
            </div>

          </ng-container>
        </div>
        
      </ng-scrollbar>

    </div>
  </div>
</div>

<ng-template #noinv>
  <span class="no-items-notice">Non hai niente nel tuo inventario!</span>
</ng-template>
<ng-template #noequip>
  <span class="no-items-notice">Non indossi nulla!</span>
</ng-template>
