@import 'abstract/variables';

.tg-smart-equipinv {
    height: 100%;
    color: $base-text-color;
    box-sizing: border-box;
}

.tg-smart-tabtitle {
    background: url($imgPath + '/background/blood_dark.jpg') repeat top left;



    .tg-smart-title {
        padding: 3px 6px;
        line-height: 22px;
        max-height: 22px;
        border-radius: 0;
        font-size: 1em;
        box-sizing: content-box;
        color: rgba(255, 255, 255, 0.5);
    }

    .tg-smart-collapsebtn {
        line-height: 22px;
        height: 22px;
        width: 22px;
        font-size: 22px;
        padding:3px 6px;
        box-sizing: content-box;
        margin: 0 6px 0 auto;
    }

    .active .tg-smart-title{
        background: rgba(0, 0, 0, 0.4);
        color: $tg-white;
    }
}

.equinv-container{
    padding:6px;
}

.eqinv-caption {
    text-align: left;
}

.eqinv-item {
    cursor: pointer;
}