
  <div class="tg-objects-list">
    <div fxLayout="column" fxFlex="0 1 100%">

      <div class="tg-box-header" fxLayout="row" fxFlex="0 0 auto" fxLayoutGap="5px">
        <div fxFlex="1 0 auto">
          <ng-container *ngIf="show; else headerCollapsed">
            <div 
              [ngClass]="{'active': tab === 1}" 
              fxFlex="0 0 auto" fxFlexAlign="center"
              class="tg-box-tab-container">
              <button mat-button class="tg-box-title"
                (click)="onTabClick('equipaggiamento', 1, $event)">Equipaggiamento</button>
            </div>
            <div 
              [ngClass]="{'active': tab === 2}" 
              fxFlex="0 0 auto" fxFlexAlign="center"
              class="tg-box-tab-container">
              <button mat-button class="tg-box-title"
                (click)="onTabClick('inventario', 2, $event)">Inventario</button>
            </div>
          </ng-container>
        </div>

        <ng-template #headerCollapsed>
          <div fxFlex="1 0 auto" fxFlexAlign="center">
            <button mat-button class="tg-box-title" style="width: 100%">
              Mostra equipaggiamento e inventario
            </button>
          </div>
        </ng-template>
      </div>

      <div fxFlex="1 0 auto" class="equinv-container" *ngIf="show">
        <ng-scrollbar class="scrollbar" [ngClass]="{'disabled': draggingSplitArea}" [disabled]="draggingSplitArea"
          fxFlex="1 1 100%" fxFlexFill>

          <div class="objlist-wrapper-list">
            <tg-hero-equipment fxLayout="column" *ngIf="tab === 1"></tg-hero-equipment>
          </div>
          <div class="objlist-wrapper-list">
            <tg-hero-inventory fxLayout="column" *ngIf="tab === 2"></tg-hero-inventory>
          </div>

        </ng-scrollbar>
      </div>

    </div>
  </div>


