@import 'abstract/variables';

:host {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tg-smart-equipinv {
  height: 100%;
  color: $base-text-color;
  box-sizing: border-box;
}




.eqinv-item,
.eqinv-item-weight,
.eqinv-item-position,
.eqinv-item-qty {
  padding: 1px 4px;
  line-height: 1;
  border-left: 1px solid #191616;

  &:first-child {
    border-left: none;
    padding-left: 0;
  }

  .eqinv-item-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
