<div class="b-ironlight-mini tg-box" cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <div class="tg-dialog-content-nopadding tg-shadow-inset">
    <div class="tg-dialog-title" cdkDragHandle>
      {{headerTitle}}
      <button mat-icon-button class="tg-dialog--close" [mat-dialog-close]="true">
        <mat-icon aria-label="Chiudi la finestra">close</mat-icon>
      </button>
    </div>
    <div class="tg-workslist">
      <div fxLayout="column" matDialogContent>

        <mat-form-field class="tg-table--filter">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Cerca" autocomplete="off">
        </mat-form-field>



          <table mat-table [dataSource]="dataSource" matSort class="dark">
            
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef matSortDisabled >#</th>
              <td mat-cell *matCellDef="let element">{{element.id}}</td>
            </ng-container>

            <ng-container matColumnDef="icon">
              <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDisabled>Icona</th>
              <td mat-cell *matCellDef="let element">
                  <tg-icons [icon]="element.icon"></tg-icons>
              </td>
            </ng-container>

            <ng-container matColumnDef="diff">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Difficoltà</th>
              <td mat-cell *matCellDef="let element" [ngClass]="
              {'tg-green': (element.diff == 'facile' || element.diff =='normale'),
              'tg-yellow': (element.diff == 'impegantiva' || element.diff =='difficile'),
              'tg-brown': (element.diff == 'molto difficile'),
              'tg-red': (element.diff == 'arduo' || element.diff == 'quasi impossibile' || element.diff == 'miracolo')}">
              {{element.diff}}</td>
            </ng-container>

            <ng-container matColumnDef="cando">
              <th mat-header-cell *matHeaderCellDef matSortDisabled>Puoi?</th>
              <td mat-cell *matCellDef="let element">
                  <div [ngClass]="element.cando === true ? 'cando' : 'cantdo'"></div>
              </td>
            </ng-container>

            <ng-container matColumnDef="desc">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Descrizione</th>
              <td mat-cell *matCellDef="let element">{{element.desc}}</td>
            </ng-container>

            <ng-container matColumnDef="cmd" >
              <th mat-header-cell *matHeaderCellDef matSortDisabled >Azione</th>
              <td mat-cell *matCellDef="let element">
                  <button class="tg-button btn-workcmd" (click)="onAction(element.id, $event)" 
                    matRipple 
                    [matRippleCentered]="true">
                </button>
              </td>
            </ng-container> 

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" ></tr>
            
          </table>

        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 15, 25]" showFirstLastButtons></mat-paginator>

      </div>
    </div>
  </div>
  <div class="tg-border-box">
    <div class="tg-border tg-border-top"></div>
    <div class="tg-border tg-border-left"></div>
    <div class="tg-border tg-border-right"></div>
    <div class="tg-border tg-border-bottom"></div>
  </div>
</div>
