/* ==== Editor */
.editor-dialog {
  background-color: #dabe8b;
   /* .mfp-content {
        width: 600px;
        max-width: 100%;  
      .tg-modal-icon:after {
        @include sprite($editor_lapis-sprite);
      }
    }
*/
    .tg-modal-content {
      max-width: none;
      background: #dabe8b;
    }

    .tg-modal-contentwrap {
      padding-bottom: 34px;
      height: 100%;
      display: flex;
      flex-direction: column;
    }

      
    textarea {
      background: #e3ceaa;
      border: none;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      resize: none;
      font-size: 14px;
      line-height: 1.4;
      box-shadow: 0 0 11px 4px #e3ceaa;
      position: relative;
      z-index: 3;
    }

    .tg-modal-buttons-group {
      z-index: 4;
      width: 100%;
      padding-top: 15px;
      margin: 0 auto;
      text-align: center;
    }

    
    .tg-txt-maxcharcount {
      background: #c6a779;
      border-radius: 6px;
      display: inline-block;
      color: black;
      padding:2px 12px;
      margin: 16px auto 0;
      font-size: 11px;
    }

  }