@import 'elements/table_filters';

.tg-generictable {
    width: 100%;
    background: black;
    display: none;
    .table-cont {
        padding: $grid-gutter-width / 2;
    }
    > div {
        height: 100%;
        overflow: hidden;
        overflow-y: auto;
    }

    thead, tbody, tr {
        display: table;
        width:100%;
        table-layout:fixed;/* even columns width , fix width of table too*/
    }

    th {
        display: table-cell;
    }

    table {
        background: #dabe8b;
        color: black;
        margin-bottom: 0;
        

        //thead, tbody { display: block; }

        tbody {
            overflow-y: auto;    /* Trigger vertical scroll    */
            overflow-x: hidden;  /* Hide the horizontal scroll */
        }
    }
}

.ui-dialog .tg-generictable {
    display: block;
}