@import "lib/datatable-bs4";
@import 'elements/table_filters';

.tg-generictable {
    width: 100%;
    background:  #111;
    color: white;
    display: none;

    .table-cont {
        padding: $grid-gutter-width / 2;
        padding: 0;
    }

    a {
        cursor: pointer;
    }
    
    > div {
        height: 100%;
        overflow: hidden;
    }

    th {
        border: none;
    }

    .dataTables_scrollHead {
        background-color: $table-dark-bg;
    }

    .dataTables_scrollBody {
        background-color: #d9cca4;
        color: black;
        margin-bottom: 0;

        
        a {
            color: black;
        }
    
    }
    
    .dataheader {
        padding:1em .5em;
        background-color: #212529;
        border-bottom: 1px solid #343a40;

        input[type="search"], select {
            color: white;
            background: #212529;
        }
    }
    .datafooter {
        background-color: #212529;
        padding:1em .5em;
    }
}


.ui-dialog .tg-generictable {
    display: block;
}