@import "../utils/datatable-bs4";
@import 'elements/table_filters';

.tg-generictable {
    width: 100%;
    color: white;
    display: none;
    background-color: #30241d;


    .table-cont {
        height: 100%;
        overflow: hidden;
    }

    a {
        cursor: pointer;
    }

    th {
        border: none;
        background-color: #30241d;
        border: 1px solid  #42342c!important;
    }

    th, td {
        text-align: center;
        vertical-align: middle;
        border-right: 1px solid $table-dark-bg;
        border-top: 1px solid  $table-dark-bg;
    }

    td {
      background: url($imgPath + '/interface/trow-bg-light.jpg') repeat-x bottom left;
    }

    .checkbox {
        margin: 0 auto;
        @include sprite($notchecked-sprite);
    }
    
    
    .checkbox.checked {
        @include sprite($checked-sprite);
    }
}


.ui-dialog .tg-generictable {
    display: block;
}