
.dataheader {
    overflow: hidden;
    padding:6px 0;

    .dataTables_filter, .dataTables_length {
        display: inline-block;
    }

    .dataTables_filter {
        float:right;
        text-align: right;
        width: 50%;
        height: 50%;
        input[type="search"] {
            background:black;
            color: white;
            border: 1px solid $gray-800;
            margin-left:4px;
        }
    }
    .dataTables_length {
        float:left;
        height: 50%;
        width: 50%;
    }
}

.datafooter {
    overflow: hidden;

    .dataTables_info {
        float:left;
        padding: 0!important;
        height: 50%;
        width: 50%;
    }

    .paging_simple_numbers {
        float: right;
        height: 50%;
        text-align: right;
        width: 50%;
    }

    .paginate_button {
        padding:0 .2em;
        &.current {
            color: $tg-yellow;
        }
    }
}