@import '~src/scss/variables';

.tg-loginwidget {
  text-align: center;
  height: 100%;
  background: #190f06 url($imgPath + '/background/bg-ironbrown.jpg') repeat;


  .tg-widgetlogin-status {
    color: #dcdac8;
    padding: 1em 0 0.5em;
  }

  .tg-loginpanel {
    background-image: none;
  }

  h2,
  .tg-newcharacter {
    display: none;
  }

  .tg-widgetlogin-menu {
    padding: .5em .5em 0;

    .tg-button {
      display: block;
      margin: 0 auto .5em;
    }
  }

  .form-control {
    border: none;
  }

  input.form-control {
    background: transparent;
    border: 1px solid #443e37;
    color: #dcdac8;
    background: #110a04;
    width: 90%;
    margin: 0 auto .5em;
    font-size: 14px;
  }

  .back-to-root {
    text-decoration: underline;
    padding: 1.5em;
    display: block;
    font-size: 11px;
    color: #dcdac8;
    cursor: pointer;
  }

  .btn-loginwidget {
    padding-bottom: 1em;
  }

  &.new {
    .tg-widgetlogin-menu {
      display: none;
    }

    form {
      display: block;
    }
  }
}
