
  /* Paginator */
  .mat-paginator {
    background: #0b0907;
    border-top: 1px solid rgba(255,255,255,.1);
  }

  .mat-paginator-page-size {
    margin-right: auto;
  }

  .mat-paginator,
  .mat-paginator-page-size .mat-select-trigger {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.5);
  }

  .mat-select-value {
    color: rgba(255, 214, 0, 0.90);
  }

  .mat-select-row {
    color: rgba(255, 255, 255, 0.5);
  }

  .mat-select-panel {
    background: #0c0a08;
    border: 1px solid #ffffff21;
  }

  .mat-select-arrow {
    color: rgba(255,255,255,.5);
  }

  .mat-option:hover:not(.mat-option-disabled),
  .mat-option:focus:not(.mat-option-disabled) {
    background-color: rgba(255, 255, 255, 0.04);
  }

  .mat-option-text {
    color: #ece9e0;
  }

