
.mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button {
  &.thin {
    line-height: 28px;
  }
}

.mat-raised-button, .mat-flat-button {
  border-radius: 0;
}

// Buttons
  .mat-raised-button {
    font-weight: 700;
    line-height: 28px;
  }

  
  .mat-button-wrapper {
    height: 100%; 
  }

  .mat-stroked-button:not([disabled]) {
    border-color: rgba(255, 255, 255, 0.16);
  }


  .mat-icon-button[disabled][disabled] {
    color: rgba(249, 249, 249, 0.26);
  }

  .mat-icon-button {
    vertical-align: middle;  
    &.small {
  
      width: 16px;
      height: 16px;
      line-height: 16px;
  
      .mat-icon {
        font-size: 16px;
        width: 16px;
        height: 16px;
        line-height: 16px;
      }
    }
  }


  .mat-raised-button, .mat-flat-button {
    line-height: 30px;
    font-weight: normal;
    background-image: linear-gradient(-180deg, #ffffff, #909090 90%);
    color: black;
  }

  .mat-raised-button.mat-accent, .mat-flat-button.mat-accent {
    font-weight: normal;
    background-image: linear-gradient(-180deg, #d69813, #a96f17 90%);
    color: white;
  }

  .mat-flat-button.mat-warn, .mat-raised-button.mat-warn, .mat-fab.mat-warn, .mat-mini-fab.mat-warn {
    font-weight: normal;
    background-image: linear-gradient(-180deg, #d62a13, #710505 90%);
    color: white;
  }


.mat-raised-button.mat-accent[disabled]{
  background-color: $tg-yellow;
}