  /* Slide Thumb */
  .mat-slider {
    max-width: 80%;
    width: 100%;
  }

  .mat-slider-track-fill {
    background-color: #ffc400;
  }

  .mat-slider-track-background,
  .mat-slider:hover .mat-slider-track-background {
    background-color: #252525;
  }

  .mat-accent .mat-slider-track-fill,
  .mat-accent .mat-slider-thumb,
  .mat-accent .mat-slider-thumb-label {
    background-color: #ffc400;
  }

  mat-slider-disabled .mat-slider-track-background, .mat-slider-disabled .mat-slider-track-fill, .mat-slider-disabled .mat-slider-thumb {
    background-color: rgba(255, 255, 255, 0.26)!important;
  }