.mat-menu-panel {
  background-color: #0e0c0b;
  color: $base-text-color;
  border: 1px solid rgba(105, 94, 80, 0.5);
}

.compact {
  .mat-menu-item {
    line-height: 24px;
    color: $base-text-color;
    height: 24px;
  }
}

