/* Dialog Overlay */
.overlay-dark {
  background-color: rgb(0, 0, 0);
}

.overlay-dark-throw {
  background-color: rgb(0, 0, 0);
  opacity: .8;
}

/* Dialog */
mat-dialog-container {
  background: transparent;
  border-radius: 8px;
  position: relative;
  padding: 0;
  color: $base-text-color;
  box-shadow:
    0px 11px 15px -7px rgb(0, 0, 0),
    0px 24px 38px 3px rgba(0, 0, 0, 0.14),
    0px 9px 46px 8px rgba(0, 0, 0, 0.12);

  .tg-window {
    display: block;
    height: 100%;
    max-height: 100vh;
  }
}

.minimal mat-dialog-container {
  border-radius: 0;
  border: 1px solid gray;
}

.mat-dialog-actions {
  margin: 0;
  padding: 0;
}

.mat-dialog-title {
  cursor: pointer;
  border: none;
  width: auto !important;
  line-height: 24px;
  font-size: 13px;
  font-family: $modern-antiqua;
  letter-spacing: 1px;
  text-transform: capitalize;
  text-align: center;
  padding: 0 28px;
  box-sizing: content-box;
  color: #ccaa31;
  border-radius: 0;
  transition: width .3s linear;
  box-shadow: inset 0px -3px 10px 0px black;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  position: relative;
  z-index: 100;
  border-bottom: 1px solid #6d665e;
  text-shadow: 0 0 20px #000000;
  margin: 0;
  background: url($imgPath + '/interface/dialog_background_title.jpg') repeat-x;
}

.tg-dialog--close {
  line-height: 1;
  color: $tg-red;
  vertical-align: middle;
  height: auto;
  width: auto;
  position: absolute;
  right: 2px;
  top: 2px;
  border: 1px solid #3e3c3b;
  background-color: white;
  background: black;
  border-radius: 0;

  .mat-icon {
    font-size: 14px;
    line-height: 18px;
    height: 18px;
    width: 18px;
  }
}

mat-dialog-content {
  color: $base-text-color;
  box-sizing: border-box;
  max-height: none;
  margin: 0;
  height: 100%;
  position: relative;
  z-index: 100;
  transition: opacity .1s linear;
  background: #190f06 url($imgPath + '/background/bg-ironbrown.jpg') repeat;
  
  &.no-padding {
    padding: 0;
  }
}