
  /* Dialog */
  .mat-dialog-container {
    background: transparent;
    border-radius: 8px;
    position: relative;
    padding: 0;
    box-shadow:
      0px 11px 15px -7px rgb(0, 0, 0),
      0px 24px 38px 3px rgba(0, 0, 0, 0.14),
      0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  }

  .mat-dialog-actions {
    margin: 0;
    padding: 0;
  }

  .mat-dialog-content {
    margin: 0;
    padding: 0;
    transition: opacity .1s linear;
    max-height: none;
    height: 100%;
    box-sizing: border-box;

  }

  // Needs best selector
  .tg-box {
    height: 100%;
  }