@import 'abstract/variables';

mat-ink-bar{
  height: 1px;
}

mat-tab-header{
  
  margin-bottom: 24px;
  
  .mat-tab-label-active {
    opacity: 1;
  }
  
  .mat-tab-label {
    color: $tg-white;
    
    &:first-child {
      padding-left: 0;
    }
  }
}

// sort header
.mat-sort-header-arrow {
  color: $tg-lt-yellow;
}