 
  /* Table */
  .mat-table.dark {
    background: #271d18;
    width: 100%;

    .mat-header-cell {
      color: #FFB300;
      border-right: 1px solid black;
      padding: 0 5px;
      background-color: #0b0907;
      border-right: 1px solid rgba(255, 255, 255, 0.12);
      border-bottom-color: rgba(255, 255, 255, 0.12);
      border-top: 1px solid rgba(255,255,255,0.12);
      text-align: center;
    }

    td.mat-cell {
      border-bottom-color: rgba(255, 255, 255, 0.12);
      border-right: 1px solid rgba(255, 255, 255, 0.12);
      color: #dedede;
      font-size: 100%;
      background: #191512;
      padding: 0 5px;
      text-align: center;
    }

    tr.mat-footer-row, tr.mat-row {
      height: 28px;
      background: #0b0907;
    }

    tr.mat-row:hover td {
      background: #272421;
    }
  }
