.mat-subheader {
  margin: 0;
  color:  $tg-brown;
}

.mat-list-base .mat-list-item {
  color: $base-text-color;
  padding: 0;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  &[disabled] {
    opacity: .3;
    background-color: rgba(255, 255, 255, 0.1);
  }
}  

.mat-primary .mat-pseudo-checkbox-checked{
  background-color: $tg-green;
}

.mat-pseudo-checkbox {
  color: rgba(255,255,255,.5);
}

.mat-list-item-disabled {
  background-color: transparent;
  .mat-list-text {
    color: #666!important;
  }

  .mat-pseudo-checkbox {
    color: #666;
  }
}

.mat-list-base .mat-list-option {
  font-size: 13px;
}
