mat-sidenav-container {
  background-color: transparent;
  height: 100%;
  mat-sidenav-content {
    display: flex;
    flex-direction: column;
  }
}

mat-sidenav {
  min-width: 150px;
  background-color: #171614;
}