//== combat Panel
.tg-combatpanel {
    display: none;
    min-width: 274px;
    background:  url($imgPath + '/borders/border-002-tiny-v.png') top left repeat-y;
    padding-left:6px;
    
    .tg-combatpanel-wrap {
        text-align: center;
        height: 100%;
        padding: 0 6px;
        display: flex;
        align-items: center;
        background-color:#0f0e0e;
    }
    
    .tg-combatpanel-box {
        position: relative;
        @include sprite($combatpanel-box-notarget-sprite);
        margin: 0 auto;
        background-repeat: no-repeat;
    }

    .tg-enemy-name{
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-top: 5px;
        overflow: hidden;
        font-size: 9px;
        text-transform: uppercase;
        color: #f5deb3;
    }

    .tg-enemyicon {
        margin: 5px auto;
        transform: none;
        width: 39px;
        height: 39px;
        position: absolute;
        top: 14px;
        left: 6px;
        z-index: 2;
        background: url($imgPath + '/frame/enemy-target-icon-box.png') no-repeat;
    }
    
    .enemyname {
        color: #d5cbad;
        text-transform: uppercase;
        font-size: 9px;
    }
    
    .tg-enemy-m, .tg-enemy-h {
        height: 11px;
        position: absolute;
        left: 39px;
        width: 172px;

        .enemy-bar {
            display: block;
            height: 100%;    
            background-size: cover;
            background-repeat: repeat-x;
            transition: width .2s linear; 
        }
    }
    .tg-enemy-h {
        top: 25px;
    }
    .tg-enemy-m {
        top: 38px;
    }

    .tg-enemy-h .enemy-bar {
        background: url($imgPath + '/bars/healt.jpg') center;
    }
    .tg-enemy-m .enemy-bar {
        background: url($imgPath + '/bars/stamina.jpg') center;
    }

    .enemy-h-prc {
        position: absolute;
        top: 24px;
        right: 8px;
        font-size: 9px;
        color: $tg-lt-red;
    }

    .enemy-m-prc {
        position: absolute;
        top: 38px;
        right: 8px;
        font-size: 9px;
        color: $tg-green;
    }
}

    
.in-combat {
    .tg-combatpanel {
        display: flex;
    }

    .tg-combatpanel-box {
        
        @include sprite($combatpanel-box-target-sprite);        
        :before {
            display: none;
        }

        .tg-enemy-name, .tg-enemy-h, .tg-enemy-m, .tg-icon, .enemy-h-prc, .enemy-m-prc, .tg-enemyicon{
            display: inline-block;
        }
    }

    .midopen .tg-combatpanel {
        display: none;
    }
}

.combatwidget-modal {
    display: none;
}

.ui-dialog {
    .combatwidget-modal {
        display: block;
    }
    .tg-combatpanel {
        cursor: pointer;
        padding-left: 0;
    }
    .tg-combatpanel-wrap {
        padding-top:6px;
        padding-bottom: 6px;
    }
    .tg-combatpanel-box {
        background: none;
        height: 64px;
    }
}