<div class="tg-character-card" *ngIf="heroInfo$ | async as hero">
  <div class="b-ironlight-mini tg-box">
    <div class="tg-dialog-content-nopadding tg-shadow-inset">
      <div class="tg-shadow-dialog">
        <div class="tg-character-content">
          <div class="tg-shadow-inside" fxLayout="row">
            <!-- Info Main Character -->
            <div class="info-main" fxLayout="column">
              <div class="info-avatar tg-shadow">
                <img id="infoimage" src="{{imageBaseUrl+hero.image}}" />
              </div>
              <div class="info-nametitle">
                <div class="info-name">{{hero.name}}</div>
                <div class="info-title">{{hero.title}}</div>
              </div>
              <nav class="info-menu flex-column">
                <a href="#infoGeneralData" class="btn-i-generale tg-button tg-shadow nav-item nav-link active" id="infoTabGenerale">Generalit&agrave;</a>
                <a href="#infoDescriptionData" class="btn-i-descr tg-button tg-shadow nav-item nav-link" id="infoTabGenerale">Descrizione</a>
                <a href="#infoBaseStatsData" class="btn-i-stats tg-button tg-shadow nav-item nav-link" id="infoTabGenerale">Statistiche</a>
              </nav>
            </div>
            <div class="info-right-data" fxLayout="column" fxFlex="0 1 100%">
              <!-- Info Description -->
              <div class="info-description" fxFlex="0 1 100%" fxLayout="column">
                <div class="b-paper tg-box" style="background-color: transparent;">
                  <div fxFlex="100" style="z-index: 2;" class="info-textarea--wrap">
                    <div class="info-textarea--container">

                      <ng-scrollbar class="scrollbar" #scrollBar [autoUpdate]="true" style="height: 200px;">
                        <div name="editor" cols="30" autofocus contenteditable="true" class="textarea" (input)="onDescrChange($event.target.value)"
                          [innerHtml]="parseDesc(hero.desc)"></div>
                      </ng-scrollbar>
                    </div>
                    <div class="info-textarea--action">
                      <div id="editorMaxCharsCount" class="tg-txt-maxcharcount"><b>Max.
                          Caratteri {{totalChars}}/max</b></div>
                      <button type="button" class="btn-i-modifica tg-button tg-shadow">Modifica</button>
                    </div>
                  </div>
                  <div class="tg-border-box">
                    <div class="tg-border tg-border-top"></div>
                    <div class="tg-border tg-border-left"></div>
                    <div class="tg-border tg-border-right"></div>
                    <div class="tg-border tg-border-bottom"></div>
                  </div>
                </div>
              </div>


              <!-- Base Character Data -->
              <div class="info-base" fxLayout="row wrap" fxFlex="0 0 auto">
                <div fxFlex="1 0 50%" fxLayout="row wrap">

                  <div class="data-name" fxFlex="1 0 50%">Razza:</div>
                  <div class="tg-brown" fxFlex="1 0 50%">{{hero.race.name}}</div>

                  <div class="data-name" fxFlex="1 0 50%">Cultura:</div>
                  <div class="tg-brown" fxFlex="1 0 50%">{{hero.cult}}</div>

                  <div class="data-name" fxFlex="1 0 50%">Etnia:</div>
                  <div class="tg-brown" fxFlex="1 0 50%">{{hero.ethn}}</div>

                  <div class="data-name" fxFlex="1 0 50%">Citt&agrave;:</div>
                  <div class="tg-brown" fxFlex="1 0 50%">{{hero.city || 'Nessuna'}}</div>

                  <div class="data-name" fxFlex="1 0 50%">Religione:</div>
                  <div class="tg-brown" fxFlex="1 0 50%">{{hero.relig}}</div>

                </div>
                <div fxFlex="1 0 50%" fxLayout="row wrap">

                  <div class="data-name" fxFlex="1 0 50%">Sesso:</div>
                  <div class="tg-brown" fxFlex="1 0 50%">{{hero.sex.name}}</div>

                  <div class="data-name" fxFlex="1 0 50%">Età:</div>
                  <div class="tg-brown" fxFlex="1 0 50%">{{hero.age}} anni</div>

                  <div class="data-name" fxFlex="1 0 50%">Aggettivo:</div>
                  <div class="tg-brown" fxFlex="1 0 50%">{{hero.adjective || 'Nessuno'}}</div>

                  <div class="data-name" fxFlex="1 0 50%">Peso:</div>
                  <div class="tg-brown" fxFlex="1 0 50%">{{hero.weight}} pietre</div>

                  <div class="data-name" fxFlex="1 0 50%">Altezza&agrave;:</div>
                  <div class="tg-brown" fxFlex="1 0 50%">{{hero.height}} cm.</div>

                </div>

                <!-- <div fxFlex="1 0 25%">
                </div>
                <div fxFlex="1 0 25%">
                </div>
                <div fxFlex="1 0 25%">
                </div>
                <div fxFlex="1 0 25%">
                </div>
                <div fxFlex="1 0 25%">
                </div>

                </div>
                <div fxFlex="1 0 25%" class="tg-brown">
                </div>
                <div fxFlex="1 0 25%">
                </div>
                <div fxFlex="1 0 25%" class="tg-brown">
                </div> -->
                <div fxFlex="1 0 100%" class="data-born">Sei nato il
                  <span class="tg-brown">{{hero.born}}</span>
                </div>
              </div>

              <!-- Base Stats Character -->
              <div class="info-stats" fxLayout="row" fxFlex="0 0 auto">
                <div fxFlex="1 0 auto" style="padding-right: .5em;">
                  <div class="data-name name-skill">Volont&agrave;</div>
                  <div class="data-name name-skill">Intelligenza</div>
                  <div class="data-name name-skill">Empatia</div>
                  <div class="data-name name-skill">Taglia</div>
                </div>
                <div fxFlex="1 1 100%" style="padding-right: .5em;">
                  <div class="data-skill-box"><span [style.width.%]="hero.abil.wil.prc"></span><i>{{hero.abil.wil.prc}}</i></div>
                  <div class="data-skill-box"><span [style.width.%]="hero.abil.int.prc"></span><i>{{hero.abil.int.prc}}</i></div>
                  <div class="data-skill-box"><span [style.width.%]="hero.abil.emp.prc"></span><i>{{hero.abil.emp.prc}}</i></div>
                  <div class="data-skill-box"><span [style.width.%]="hero.abil.siz.prc"></span><i>{{hero.abil.siz.prc}}</i></div>
                </div>
                <div fxFlex="1 0 auto" style="padding-right: .5em;">
                  <div class="data-name name-skill">Forza</div>
                  <div class="data-name name-skill">Costituzione</div>
                  <div class="data-name name-skill">Destrezza</div>
                  <div class="data-name name-skill">Velocit&agrave;</div>
                </div>
                <div fxFlex="1 1 100%">
                  <div class="data-skill-box"><span [style.width.%]="hero.abil.str.prc"></span><i>{{hero.abil.str.prc}}</i></div>
                  <div class="data-skill-box"><span [style.width.%]="hero.abil.con.prc"></span><i>{{hero.abil.con.prc}}</i></div>
                  <div class="data-skill-box"><span [style.width.%]="hero.abil.dex.prc"></span><i>{{hero.abil.dex.prc}}</i></div>
                  <div class="data-skill-box"><span [style.width.%]="hero.abil.spd.prc"></span><i>{{hero.abil.spd.prc}}</i></div>
                </div>
              </div>

              <!-- <div class="info-databo"> -->

              <!-- <form id="formUplAvatar" class="upload-avatar" enctype="multipart/form-data" method="post" action="">
                  <button class="tg-button btn-g-back"></button>
                  <input type="hidden" id="avatar" name="avatar">
                  <div id="croppied" class="avatar-crop tg-shadow"></div>
                  <div class="row">
                    <div class="col mx-auto mb-2">
                      <div class="custom-file">
                        <input name="avatar" type="file" class="custom-file-input" id="playerImgFile">
                        <label class="custom-file-label" for="avatar">Seleziona File</label>
                      </div>
                      <button type="button" id="cropAvatar" class="btn-crop">Ritaglia</button>
                      <button type="submit" id="submitUploadAvatar" class="btn-sendcrop">Invia</button>
                    </div>
                  </div>
                  <h3>Modifica l'immagine personale</h3>
                  <p>Arricchisci il tuo profilo con un'immagine che rappresenti al meglio il tuo personaggio.
                  </p>
                  <b class="tg-brown">L'immagine deve rispettare queste semplici regole:</b>
                  <ul class="mx-auto text-left">
                    <li>Deve essere coerente con la descrizione e la tipologia del tuo PG.</li>
                    <li>Non deve contenere elementi incongruenti con l'ambientazione.</li>
                    <li>Non deve contenere elementi offensivi e / o volgari.</li>
                  </ul>
                </form> -->
            </div>
            <!-- <div class="tab-pane tg-shadow-inside" id="characterEquip" role="tabpanel" aria-labelledby="character-equip-tab">
            <h3>Equipaggiamento</h3>
          </div>
          <div class="tab-pane tg-shadow-inside" id="characterInventory" role="tabpanel" aria-labelledby="character-inventory-tab">
            <h3>Inventario</h3>
          </div>
          <div class="tab-pane tg-shadow-inside" id="characterAbility" role="tabpanel" aria-labelledby="character-ability-tab">
            <div class="skill-cont">
              <h3>Abilità conosciute</h3>
            </div>
          </div> -->
          </div>
        </div>
        <!-- <nav id="characterPageNav" class="tg-character-nav">
        <div class="nav nav-tabs" id="characterTabNav" role="tablist">
          <a class="nav-item nav-link btn-info-tab tg-button" id="nav-info-tab" data-toggle="tab" href="#characterInfo"
            role="tab" aria-controls="nav-info" aria-selected="true" data-cmd="info">Informazioni</a>
          <a class="nav-item nav-link btn-equip-tab tg-button" id="nav-equip-tab" data-toggle="tab" href="#characterEquip"
            role="tab" aria-controls="nav-equip" aria-selected="false" data-cmd="equip">Equip</a>
          <a class="nav-item nav-link btn-inv-tab tg-button" id="nav-inventory-tab" data-toggle="tab" href="#characterInventory"
            role="tab" aria-controls="nav-inventory" aria-selected="false" data-cmd="inven">Inventario</a>
          <a class="nav-item nav-link btn-skill-tab tg-button" id="nav-ability-tab" data-toggle="tab" href="#characterAbility"
            role="tab" aria-controls="nav-ability" aria-selected="false" data-cmd="abil">Abilità</a>
        </div>
      </nav> -->
      </div>
    </div>
    <div class="tg-border-box">
      <div class="tg-border tg-border-top"></div>
      <div class="tg-border tg-border-left"></div>
      <div class="tg-border tg-border-right"></div>
      <div class="tg-border tg-border-bottom"></div>
    </div>
  </div>
