@import 'variables';
@import 'sprites';
@import 'utils/sprites-mixins';

:host {
  display: flex;
  background: url($imgPath + '/registration/bg.jpg') no-repeat top left;
  background-size: contain;
  background-attachment: fixed;
  background-color: black;
  height: 100%;
}

.tg-signup {
  width: 500px;
  max-width: 100%;
  padding-top: 10px;
  margin: auto;
  font-size: 1.2em;
}

.tg-signup-wrap {
  width: 100%;
}

.tg-signup-content {
  z-index: 2;
  position: relative;
  color: #9b9285;
  overflow: hidden;
  padding: 2em 1em;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-sizing: border-box;
  text-align: center;
  background-color: #0e0a07;
}

h2 {
  text-align: center;
  font-weight: normal;
  color: #c7bcad;
  font-size: 2.2em;
  margin-top: 0;
  line-height: 1;
}

