<tg-main-navigation></tg-main-navigation>

<div class="tg-signup" fxLayout="row wrap" fxLayoutAlign="center center">
  <div class="tg-signup-wrap">
    <div class="tg-signup-content">
      <div class="tg-logo-composit"></div>
      <div class="registration-response">
        <h2>Conferma il tuo indirizzo E-mail</h2>
        <p>
          Ti è stata inviata una mail all'indirizzo da te inserito con un link per confermare l'attivazione del tuo
          account.<br>
        </p>
        <p>Una volta confermato il tuo account potrai accedere con le tue credenziali. <br><br>
          <b>Lo staff di The Gate Mud.</b></p>
      </div>
    </div>
  </div>
</div>
