<div class="tg-auth-form" fxLayout="row wrap" fxLayoutAlign="center center">
  <div class="noform">
    <div class="tg-signup-content">
    <div class="tg-auth-form-header" [@animate]="{value:'*', params:{delay:'150ms', y:'56px'}}">
      <div class="tg-base-logo big"></div>
      <h1>Conferma il tuo indirizzo E-mail</h1>
    </div>
    <div class="tg-auth-form-body" style="text-align: center" [@animate]="{value:'*', params:{delay:'300ms', y:'56px'}}">
        <p>
          Ti è stata inviata una mail all'indirizzo da te inserito con un link per confermare l'attivazione del tuo
          account.<br>
        </p>
        <p>Una volta confermato il tuo account potrai accedere con le tue credenziali. <br><br>
        <h3>Lo Staff di The Gate Mud.</h3>
        </div>
    </div>
  </div>
</div>
