@import 'abstract/variables';

/* Character List Table */
.ch-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  background: transparent;
  color: $base-text-color;


  .ch-mainaction-block {
    display: inline-block;
  }

  .ch-connect {
    border-radius: 50%;
    width: 9px;
    height: 9px;

    &.online {
      background-color: $tg-green;
      box-shadow: 0 0 12px 2px #27d018;
      margin: 6px 9px;
    }

    &.offline {
      background-color: $tg-red;
      box-shadow: 0 0 12px 2px #27d018;
      margin: 6px 9px;
    }
  }

  .ch-avatar {
    padding: 2px;
    width: 45px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    margin: 12px 0;

    img {
      max-width: 100%;
      max-height: 100%;
      display: block;
    }

    .tg-base-logo {
      width: 100%;
      max-width: 100%;
      max-height: 45px;
      height: 75px;
      background-size: cover;
    }
  }


  .ch-char-name {
    line-height: 1;
    font-size: 1.1em;
    color: $tg-yellow;
  }

  .ch-char-ethnicity {
    font-size: 12px;
  }

  .ch-char-action {
    margin: auto;
  }

  .ch-char-details {
    padding: 12px 0 0;
  }

  /* Disabled Row Char */
  tr.disabled td {

    .ch-char-name {
      color: white;
    }

    .ch-char-ethnicity {
      color: #ababab;
    }
  }
}


tr.inactive {
  opacity: .7;

  .ch-char-name {
    color: $base-text-color;
  }

  .char-status {
    color: $base-text-color;
  }
}

tr.suspended {
  opacity: .7;
  ;
}

/* Characters Manager */
#addnewchar {
  margin: 1em 0;
  display: block;
}

.star-icon {
  font-size: 18px;
  height: 18px;
  line-height: auto;
  vertical-align: middle;
}

.no-characters-box {
  margin: 1em 0;
}
