<!-- 
<section class="section-profile">
  <tg-profile></tg-profile>
</section> 
-->

<!-- <mat-divider></mat-divider> -->

<section class="section-characters">

  <h1>Dashboard</h1>

  <mat-tab-group dynamicHeight animationDuration="100ms" #dashboardTabs selectedIndex="0">
    <mat-tab label="I miei personaggi">
      <tg-characters-list (goToManage)="dashboardTabs.selectedIndex = 1"></tg-characters-list>
    </mat-tab>
    <!-- <mat-tab label="Gestione personaggi">
      <tg-characters-manage></tg-characters-manage>
    </mat-tab> -->
  </mat-tab-group>
  
</section>