.tg-welcomeregistration-content {
    padding: 1em 0.5em;
    text-align: center;
}

.tg-newrequest-box, .tg-withinvitation-box {
    margin: 0 .5em;
    width: 300px;
    min-height: 300px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    border-radius: 5px;
}
