<form [formGroup]="frmStepSix" autocomplete="off">

  <div class="tg-registration-step" fxLayout>
    <div class="tg-sidebar" fxFlex="1 1 30%">
      <div class="tg-sidebar-text">
        <h2>Sei quasi pronto!</h2>
        Decidi ora un nome per il tuo personaggio. Ricorda che gli altri abitanti di Ikhari ti conosceranno con questo
        nome, pertanto scegline uno degno di lui!
        <ul>
          <li>Non usare il tuo nome reale o un nome comune.</li>
          <li>Inventa un nome tuo, non copiare da un film o da un libro.</li>
          <li>Non usare nomi offensivi o stupidi, o in generale nomi con cui non vorresti davvero che il tuo personaggio
            fosse chiamato.</li>
        </ul>
      </div>
    </div>
    <div class="tg-detail-content" fxFlex="1 1 70%">
      <div class="tg-detail-text tg-detail-left">
        <mat-form-field floatLabel="never" hintLabel="Max 16 caratteri">
          <input #inputName 
            matInput 
            [formControlName]="'name'" 
            maxlength="16" 
            placeholder="Nome del personaggio" 
            type="text">
          <mat-hint align="end">{{inputName.value?.length || 0}}/16</mat-hint>
        </mat-form-field>
        <mat-radio-group aria-label="Sesso:" [formControlName]="'sex'">
          <mat-radio-button value="m">Maschio</mat-radio-button>&nbsp;
          <mat-radio-button value="f">Femmina</mat-radio-button>
        </mat-radio-group>

        <mat-form-field floatLabel="never">
          <input matInput [formControlName]="'email'" placeholder="E-mail" type="text" autocomplete="off">
        </mat-form-field>
        <mat-form-field floatLabel="never">
          <input matInput [formControlName]="'confirmEmail'" placeholder="Ripeti la tua e-mail" type="text" autocomplete="off">
        </mat-form-field>
       <mat-form-field floatLabel="never">
          <input matInput [formControlName]="'password'" placeholder="Password" type="password" autocomplete="off">
        </mat-form-field>
        <mat-form-field floatLabel="never">
          <input matInput [formControlName]="'confirmPassword'" placeholder="Ripeti la password" type="password" autocomplete="off">
        </mat-form-field>

        <button mat-raised-button color="accent" (click)="test()">Completa</button>
      </div>
      <div class="tg-detail-right">
        <div class="tg-detail-summary">
          <div class="tg-detail-summary-header">
            Riepilogo
          </div>
          <p><span class="tg-white">Razza</span>: [razza_etnia]<br>
            <span class="tg-white">Mestiere</span>: [mestiere]<br>
            <span class="tg-white">Caratteristiche</span>: [lista]<br>
            <span class="tg-white">Città di partenza</span>: [città]</p>
        </div>
      </div>
    </div>

  </div>

</form>
