<form [formGroup]="frmStepSix">

  <div class="tg-registration-step" fxLayout>

    <div class="tg-detail-content" fxFlex="1 1 100%">
      <div class="tg-detail-text">
        <h2>Sei quasi pronto...</h2>
        Decidi ora un nome per il tuo personaggio. Ricorda che gli altri abitanti di Ikhari ti conosceranno con questo
        nome, pertanto scegline uno degno di lui!
        <ul>
          <li>Non usare il tuo nome reale o un nome comune.</li>
          <li>Inventa un nome tuo, non copiare da un film o da un libro.</li>
          <li>Non usare nomi offensivi o stupidi, o in generale nomi con cui non vorresti davvero che il tuo personaggio
            fosse chiamato.</li>
        </ul>

        <mat-form-field>
          <input matInput placeholder="Nome del personaggio" type="text" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Password" type="password" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Ripeti la password" type="password" autocomplete="off">
        </mat-form-field>

        <button mat-raised-button color="accent">Completa</button>
      </div>
    </div>

  </div>

</form>
