<div fxLayout="column" style="height: 100%">
  <!-- ######## Equip / Inventory ########  -->
  <div class="eqinv-container" fxLayout="column">
    <ng-container *ngIf="subTab == 'inventory'">
      <div class="tg-objects-list tg-shadow-inset" fxLayout="column" *ngIf="inventory$ | async; let inventory">
        <div class="tg-box-header active">
          <h3 class="tg-box-title">Inventario</h3>
        </div>
        
        <tg-hero-inventory fxLayout="column"></tg-hero-inventory>

        <ng-container [ngTemplateOutlet]="equipInvAction"
          [ngTemplateOutletContext]="{wprc: inventory.wprc, weight: inventory.weight}">
        </ng-container>
      </div>
    </ng-container>


    <ng-container *ngIf="subTab == 'equip'">
      <div class="tg-objects-list tg-shadow-inset" fxLayout="column" *ngIf="equip;">

        <div class="tg-box-header active">
          <h3 class="tg-box-title"> Equipaggiamento </h3>
        </div>

        <tg-hero-equipment fxLayout="column"></tg-hero-equipment>

        <ng-container [ngTemplateOutlet]="equipInvAction"
        [ngTemplateOutletContext]="{wprc: wprc, weight: weight}">
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #equipInvAction let-wprc="wprc" let-weight="weight">
  <div class="eqinv-totalweight" fxFlex="0 1 auto">
    <div class="eqinv-switch-action">
      <div class="wrap-btnend-box" [ngClass]="{'active': subTab == 'equip'}">
        <button class="tg-button btn-equip-graph" (mousedown)="buttonClick('equip', $event)">Equip</button>
      </div>
      <div class="wrap-btnend-box" [ngClass]="{'active': subTab == 'inventory'}">
        <button class="tg-button btn-inventario-graph"
          (mousedown)="buttonClick('inventory', $event)">Inventario</button>
      </div>
    </div>
    <div class="eqinv-totalweight-label" fxFlex="1 0 auto" fxLayoutAlign="flex-end center">
      Ingombro:&nbsp;<span
        [ngClass]="
        {'tg-green': +wprc < 25,
          'tg-yellow': +wprc >= 25 && wprc < 75,
          'tg-brown': +wprc >= 75 && wprc < 85,
          'tg-red': +wprc >= 85 }">{{wprc}} / 100 %</span>
      <span class="eqinv-totalweight-value" fxFlex="0 0 auto" fxLayoutAlign="center center">
        - Peso Totale:&nbsp;<b class="tg-brown">{{weight}}&nbsp;pietre</b>
      </span>
    </div>
  </div>
</ng-template>
