@import 'abstract/variables';
@import 'abstract/sprites';
@import 'abstract/sprites-mixins';

.eqinv-container {
  height: 100%;

}

.eqinv-totalweight {
    border-top: 1px solid #2c2a28;
    padding: .4em .5em;
    background-color: #18130c;
    margin-top: auto;
    letter-spacing: 1px;
    
    .eqinv-totalweight-value {
        padding: 0 .5em;
    }

    .eqinv-switch-action{

      margin-right: .8em;

      .wrap-btnend-box {
        margin-right: .2em;
        display: inline-block;
        transform: scale(.8);
        opacity: .8;
        filter: grayscale(1);
        transition: all .1s ease-out;
      }

      .wrap-btnend-box.active, .wrap-btnend-box:hover{
        transform: scale(1);
        opacity: 1;
        filter: grayscale(0);
      }
    }
}
