@import 'variables';

tg-icons{
  margin: auto 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
  box-sizing: content-box;

  .tg-icon {
    margin: auto auto;
    background-image: url( $imgPath + '/tiles_s.png');
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
  }
}