<div class="tg-character-card" *ngIf="heroBase$ | async as hero"
  cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <div mat-dialog-title cdkDragHandle>{{hero.name}} - Scheda personale
    <button mat-icon-button class="tg-dialog--close" [mat-dialog-close]="true">
      <mat-icon aria-label="Chiudi la finestra">close</mat-icon>
    </button>
  </div>
  <div class="b-ironlight-mini tg-box">
    <div class="tg-dialog-content-nopadding tg-shadow-inset">
        <div class="tg-character-content">
          <div fxLayout="row" style="height: 100%" >
            <!-- ######## Info Main Character ########  -->
            <div class="info-main" fxLayout="column" fxFlex="1 1 auto" fxHide fxShow.gt-sm>
              <div class="info-avatar tg-shadow">
                <img id="infoimage" src="{{ imagepath + hero.image }}" *ngIf="hero.image"/>
              </div>
              <div class="info-nametitle">
                <div class="info-name">{{ hero.name }}</div>
                <div class="info-title">{{ hero.title }}</div>
              </div>
              <nav class="info-menu flex-column">
                <button class="btn-i-generale tg-button tg-shadow nav-item nav-link active" (click)="data.tab !== 'info' && switchPanel('info', $event)"
                  [ngClass]="{'active': data.tab =='info'}">Generalit&agrave;</button>
                <button class="btn-i-equipinv tg-button tg-shadow nav-item nav-link" (click)="(data.tab !== 'equip' && data.tab !== 'inventory') && switchPanel('equip', $event)"
                  [ngClass]="{'active': (data.tab == 'equip' || data.tab == 'inventory')}">Equip &amp; Inventario</button>
                <button class="btn-i-ability tg-button tg-shadow nav-item nav-link" (click)="data.tab !== 'skills' && switchPanel('skills', $event)"
                  [ngClass]="{'active': data.tab =='skills'}">Abilità Personali</button>
              </nav>
            </div>
            <div class="right-data" fxLayout="column" fxFlex="0 1 100%" style="height:100%;">
              <tg-info *ngIf="data.tab == 'info'" style="height: 100%;"></tg-info>
              <tg-equip-inventory *ngIf="data.tab == 'equip' || data.tab == 'inventory'" style="height:100%;" [subTab]="data.tab"></tg-equip-inventory>
              <tg-skills *ngIf="data.tab == 'skills'" style="height:100%;"></tg-skills>
            </div>
          </div>
        </div>
    </div>
    <div class="tg-border-box">
      <div class="tg-border tg-border-top"></div>
      <div class="tg-border tg-border-left"></div>
      <div class="tg-border tg-border-right"></div>
      <div class="tg-border tg-border-bottom"></div>
    </div>
  </div>
</div>
