<div class="tg-summary">
  <div class="tg-summary--wrap" fxLayout="column">
    <div class="b-ironlight-mini tg-box tg-shadow">
      <div class="tg-summary-content tg-shadow-inset">
        <h2 class="tg-brown">
          Registrazione completata
        </h2>
        <div>
          <p>
            <span class="tg-yellow">{{name | capitalizeFirst}}</span> è appena approdato nelle terre di Ikhari e aspetta
            solo un tuo ingresso
            per vivere la sua nuova avventura.
          </p>
          <div class="tg-summary-total">
            <p>Nome personaggio: [nome]</p>
            <p>Razza: [razza]</p>
            <p>Luogo di nascita: [start]</p>
            <p>Cultura: [cultura]</p>
            <p>skills list: [skills]</p>
            <mat-divider></mat-divider>
            <p>E-mail di riferimento: [email]</p>
            <p>Password [ab********yz]</p>
            <mat-divider></mat-divider>
            [Stampa questa pagina]<br/>
            Accedi ora al gioco!<br/>
          </div>
        </div>
      </div>

      <div class="tg-border-box">
        <div class="tg-border tg-border-top"></div>
        <div class="tg-border tg-border-left"></div>
        <div class="tg-border tg-border-right"></div>
        <div class="tg-border tg-border-bottom"></div>
      </div>

    </div>
  </div>
</div>
