@import '~src/scss/colors';

.tg-cookielaw {
  font-size: 1.2em;
  max-width: 100%;
  margin: 0 auto;
  font-family: Kingthings;
  text-align: center;
  color: #86725a;

  a {
    text-decoration: underline;
    color: $tg-brown;
  }

  .tg-title {
    color: $tg-brown;
    font-size: 13px;
    margin: 0;
    padding:2em 0 1em;
  }

  .tg-btn-cookieconsent {
    cursor: pointer;
    background: #ffc000;
    border: none;
    margin-bottom: 1em;
    text-transform: uppercase;
  }

  .cookie-lastalert {
    padding: .5em;
    text-decoration: underline;
    display: block;
  }

  .custom-checkbox {
    line-height: 22px;
    padding-bottom: .5em;
    padding-top: .5em;
    color:  $tg-brown;

    label {
      cursor: pointer;
      line-height: 1;
      color: $tg-brown;
    }
  }
}
