.jqx-window {

	border: 0;
	background-color: transparent;

  .jqx-widget-content {
    border: none;
    background: transparent;
    padding: 0;
  }

  .jqx-widget-header {
    border: 0;
    height: 0;
    padding: 0 8px;
    visibility: hidden;
  }

  .jqx-window-close-button-background {
    display: none;
    margin-top: 4px;
  }

  &.show-title {
    .jqx-window-header {
      visibility: visible!important;
      height: auto;

    }
    .jqx-window-close-button-background {
      display: block;
    }
  }
}
