
  ng-scrollbar.scrollbar {
    --scrollbar-color: transparent;
    --scrollbar-container-color: transparent;
    --scrollbar-thumb-color: #332f25;
    --scrollbar-thumb-hover-color: #4c4535;
    --scrollbar-border-radius: 0;
    --scrollbar-size: 6px;
    --scrollbar-padding: 2px;
    --scroll-view-margin: 0;
    --scroll-view-color: transparent;
  }

  ng-scrollbar.scrollbar-light {
    --scrollbar-color: transparent;
    --scrollbar-container-color: #c3a87c;
    --scrollbar-thumb-color: #332f25;
    --scrollbar-thumb-hover-color: #4c4535;
    --scrollbar-border-radius: 0;
    --scrollbar-size: 6px;
    --scrollbar-padding: 4px;
    --scroll-view-margin: 0;
    --scroll-view-color: transparent;
  }