<div class="tg-registration-step">
  <div class="tg-registration-step--wrap">
    <div class="b-ironlight-mini tg-box tg-shadow">
      <div class="tg-registration-content tg-shadow-inset">
        <section>
            <mat-horizontal-stepper 
              linear
              labelPosition="bottom" 
              class="tg-registration-stepper"
              #registrationStepper>

              <mat-step [stepControl]="frmStepFirst">
                <ng-template matStepLabel>Inizio</ng-template>
                <tg-step-first (stepDone)="nextStep($event)"></tg-step-first>
              </mat-step>
                
              <mat-step [stepControl]="frmStepSecond">
                <ng-template matStepLabel>Etnia e Cultura</ng-template>
                <tg-step-second [race]="selectedBaseRace"></tg-step-second>
              </mat-step>

               <mat-step [stepControl]="frmStepThird">
                <ng-template matStepLabel>Mestiere</ng-template>
                <tg-step-third [ethnicity]="selectedEthnicity"></tg-step-third>
              </mat-step>
              
              <mat-step [stepControl]="frmStepFour">
                <ng-template matStepLabel>Caratteristiche</ng-template>
                <tg-step-four></tg-step-four>
              </mat-step>

              <mat-step [stepControl]="frmStepFive">
                <ng-template matStepLabel>Città di partenza</ng-template>
                <tg-step-five></tg-step-five>
              </mat-step>

              <mat-step [stepControl]="frmStepFive">
                <ng-template matStepLabel>Accesso</ng-template>
                <tg-step-six></tg-step-six>
              </mat-step>

            </mat-horizontal-stepper>

          </section>
        </div>
        <div class="tg-border-box">
          <div class="tg-border tg-border-top"></div>
          <div class="tg-border tg-border-left"></div>
          <div class="tg-border tg-border-right"></div>
          <div class="tg-border tg-border-bottom"></div>
        </div>
      </div>
    </div>
  </div>
