.scrollbar-dialog .ng-scroll-view {
  max-height: 65vh;
}

.ng-scrollbar-thumb {
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

ng-scrollbar.scrollbar.disabled,
ng-scrollbar.scrollbar-output.disabled {
  .ng-scroll-viewport {
    overflow-y: hidden !important;
    overflow-x: hidden !important;
  }
}

ng-scrollbar.scrollbar {
  --scrollbar-border-radius: 0;
  --scrollbar-padding: 2px;
  --scrollbar-track-color: #1b150f;
  --scrollbar-wrapper-color: transparent;
  --scrollbar-thumb-color: #695e50;
  --scrollbar-size: 8px;
  --scrollbar-thumb-hover-color: #796b58;
  --scrollbar-viewport-margin: 0;
  --scrollbar-hover-size: var(--scrollbar-size);
  min-height: 100%;
}

ng-scrollbar.scrollbar-output {
  --scrollbar-border-radius: 0;
  --scrollbar-padding: 2px;
  --scrollbar-track-color: #1b150f;
  --scrollbar-wrapper-color: transparent;
  --scrollbar-thumb-color: #695e50;
  --scrollbar-size: 8px;
  --scrollbar-thumb-hover-color: #796b58;
  --scrollbar-viewport-margin: 0;
  --scrollbar-hover-size: var(--scrollbar-size);
  min-height: 100%;
  .ng-scroll-view-container {
    border-right: 1px solid #3a3530;
  }
}

ng-scrollbar.through {
  --scrollbar-track-color: rgba(68, 62, 56, 0.4);
}
