@import 'variables';
@import '~src/scss/colors';
@import 'sprites';
@import 'utils/sprites-mixins';

.tg-geolocal {
    height: 100%;
    width: 100%;
    cursor: pointer;
    position: relative;

    .tg-geolocal--title {
        @include sprite($territorio-title-box-sprite);
        position: absolute;
        top: -11px;
        left: 50%;
        transform: translateX(-50%);
    }

    &:after, &:before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    &:after {
        left:0;
        @include sprite($input-right-decoration-sprite);
    }
    &:before {
        @include sprite($input-left-decoration-sprite);
        right: 0;
    }
}

.tg-geolocal--image, .tg-geolocal--data {
    height: 50%;
    flex: 1 1 50%;
    overflow: hidden;
}

.tg-geolocal--image {
    background: url("/assets/images/borders/border-002-tiny.png") repeat-x bottom left;
    padding-bottom: 3px;

    div {
      @include sprite($collina-sprite);
      background-repeat: no-repeat;
      box-shadow: inset 0 0 10px 2px black;
      max-height: 100%;
      //temp
      width: 100%!important;
      background-size: cover;
    }
}
.tg-geolocal--data {
    text-align: center;
    place-content: center;
    opacity: 0;
    padding: 0 .5em;

    tg-icons {
        vertical-align: middle;
        margin-top: -4px!important;
    }
    
    .tg-geolocal--region {
        font-size: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: $tg-yellow;    
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-bottom: 2px;
    }

    .tg-geolocal--control {
        font-size: 11px;        
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #c0c0c0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}