  <ng-container *ngIf="region$ | async as region">
    <div class="tg-geolocal"  fxLayout="column" fxFlex="1 1 185px">
      <div class="tg-geolocal--title"></div>
      <div class="tg-geolocal--image">
        <div></div>
      </div>
      <div class="tg-geolocal--data" fxLayout="column">
        <span class="tg-geolocal--region" [@fadeInFadeOut]="changeState">
          {{regionName}}
        </span>
        <span class="tg-geolocal--control"  [@fadeInFadeOut]="changeState">
          {{clanName}}
        </span>
      </div>
    </div>
  </ng-container>