<div class="tg-auth-form" fxLayout="row wrap" fxLayoutAlign="center center">
  <form [formGroup]="frmLogin" (ngSubmit)="onSubmit()">
    <div class="tg-auth-form-header">
      <div class="tg-base-logo"></div>
      <h1>Accedi a The Gate</h1>
    </div>
    <div class="tg-auth-form-body">
      <label for="authEmail">Username (la tua e-mail)</label>
      <input type="text" formControlName="email" class="input-block form-control">
  
      <label for="authEmail">Password
          <a class="label-link" [routerLink]="[ '/auth/password-reset']">Password dimenticata?</a>
      </label>
      <input type="password" formControlName="password" class="input-block form-control">
      <input type="submit" value="Accedi" name="submit" class="tg-submit-primary">
    </div>

    <div class="tg-auth-create">
      Nuovo di The Gate? <a [routerLink]="[ '/auth/registration' ]" class="tg-brown">Crea un account</a>
    </div>


  </form>
</div>