@import 'variables';

:host {
  display: block;
  background: url($imgPath + '/registration/bg.jpg') no-repeat top left;
  background-size: contain;
  background-attachment: fixed;
  background-color: black;
  min-height: 100vh;
  min-height: 400px;
}

.tg-auth-form {
  width: 340px;
  margin: auto;
  color: #9b9285;

  .tg-auth-form-header {
    margin-bottom: 15px;
    text-align: center;

    > div {
      padding-top: 32px;
    }

    h1 {
      font-weight: 300;
      font-size: 24px;
      letter-spacing: -.5px;
      margin-top: 0;
    }
  }

  .tg-auth-form-body, .tg-auth-create {
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 20px;
    font-size: 14px;
    background-color: black;
  }
  
  .tg-auth-form-body {
    background: #190f06 url($imgPath + '/background/bg-ironbrown.jpg') repeat;
  }

  form {
    width: 100%;

    label, input {
      display: block;
    }

    label {
      font-weight: 600;
      margin-bottom: 6px;
    }

    .label-link {
      float:right;
      font-size: 12px;
      text-decoration: none;
      color: $tg-brown;
    }

    input {
      color: #e4dcd2;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.49);
      padding: .5em;
      box-sizing: border-box;
      border: 1px solid rgba(255, 255, 255, 0.18);
      transition: border .4s ease-out;
  
      &:hover, &:focus {
        border: 1px solid rgba(255, 255, 255, 0.50);
      }
    }

    .input-block {
      margin-bottom: 15px;
      margin-top: 5px;
    }

    .tg-submit-primary {
      background-color: #ca8d14;
      background-image: linear-gradient(-180deg, #d69813, #a96f17 90%);
      color: #fff;
      cursor: pointer;
    }

    .tg-submit-primary:disabled {
      opacity: .6;
    }
  }


  .tg-auth-create {
    text-align: center;
    margin-top: 10px;

    a {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

.api-error {
  border: 1px solid #dc3545;
  color: white;
  font-weight: 500;
  background: #360e10;
  margin: 1em 0 0;
  padding: 1em;
}

