@import 'variables';
/* Others */

@import 'sprites';
@import 'utils/sprites-mixins';
@import './glow';


@keyframes birds {
  0% {
    right: -100px;
  }
  100% {
    right: 100%;
  }
}


:host {
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  min-height: 700px;

  * {
    outline: none;
  }
}

.tg-loginpanel {
  background-color: #0b0807;
  background-image: url($imgPath + '/login/login_background_01.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  padding: .5rem;
  z-index: 10;
  overflow: hidden;

  &:before {
    content: '';
    display: block;
    background: url($imgPath + '/login/birds.gif') no-repeat top left;
    background-size: contain;
    width: 100px;
    height: 46.8px;
    position: absolute;
    right: 0;
    top: 50px;
    background-size: contain;
    animation: birds 45s  infinite linear;
  }

  >.row {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .tg-login-container {
    width: 415px;
    max-width: 100%;
    position: relative;
    font-size: 10px;
  }

  .tg-logo-composit {
    width: 244px;
    height: 184px;
    position: relative;
    box-sizing: content-box;
    visibility: visible;
    background: url($imgPath + '/login/logo_hd.png');
    z-index: 3;
    margin: 0 auto;

    &:after {
      content: '';
      display: block;
      position: absolute;
      background: url($imgPath + '/login/logo_light_triangle.png') no-repeat;
      width: 98px;
      height: 91px;
      left: 70px;
      top: 58px;
      opacity: 0;
      animation: logolightAnimation 8s infinite;
      animation-delay: .5s;
    }
  }

  .tg-loginform {
    background: url($imgPath + '/login/border-top-mainbox.png') no-repeat top center;
    background-size: 100%;
    text-align: center;
    padding-top: 40px;
    margin-top: -28px;
    position: relative;


    .tg-loginform-wrap {
      background: url($imgPath + '/login/border-bottom-mainbox.jpg') no-repeat bottom center;
      background-size: 100%;
      padding-bottom: 13px;
      position: relative;
      z-index: 4;
    }

    .tg-loginform-content {
      padding: 0 12px 0px;
      background: url($imgPath + '/login/border-central-mainbox.jpg') repeat-y top;
      background-size: 100%;
      color: #ababaa;
    }

    h2 {
      font-size: 14px;
      line-height: 1.2;
      font-weight: normal;
      color: #a79c8c;


      span {
        color: white;
      }
    }

    form {
      font-family: 'Modern Antiqua', cursive;
      padding: 0 12px;
    }

    input {
      
      margin-bottom: .2rem;
      line-height: 38px;
      width: 100%;
      height: auto;
      color: #feece0;
      background: rgba(11, 8, 7, .8);
      background-repeat: no-repeat;
      background-position: 1em;
      font-size: 14px;
      padding: 0 .5em 0 3.2em;
      margin-bottom: .8em;
      box-shadow: inset 0 0 9px 2px black;
      border: none;
      position: relative;
      box-sizing: border-box;
      border: 1px solid #403a32;

      &[type="text"] {
        background-image: url($imgPath + '/login/username_labelico.png');
      }

      &[type="password"] {
        background-image: url($imgPath + '/login/password_labelico.png');
      }

      background-clip: padding-box;
      transition: border-color .15s ease-in-out,
      box-shadow .15s ease-in-out;
    }


    input.is-invalid {
      border: 1px solid #9e5022;
    }

    .tg-loginbtn {
      background-color: transparent;
      @include sprite($login-button-sprite);
      text-indent: -9999px;
      cursor: pointer;
      position: relative;
      border: none;
      margin-bottom: .5em;

      &:before {
        content: '';
        opacity: 0;
        @include sprite($login_button_hover-sprite);
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity .3s linear;
      }

      &:hover:before {
        opacity: 1;
      }
    }
  }

  .tg-newcharacter {
    padding:0;
    border-top: 1px solid #4e4a2a;
    display: inline-block;
    font-size: 12px;
    background: #00000069;
    width: 100%;
    box-shadow: inset 0 0 15px 3px black;
    cursor: pointer;

    span {
      display: block;
      line-height: 12px;
      padding-top:1em;
    }

    a {
      display: block;
      text-shadow: transparent;
      transition: text-shadow .3s linear;
      text-transform: uppercase;
      text-decoration: none;
      padding-bottom: 1em;
    }
    &:hover a {
      text-shadow: 0 0 30px #fff900;
    }
  }

  .tg-loginstatus {
    padding: 0;
    text-align: center;
    height: 1.1em;
  }

  .tg-serverstatus {
    text-transform: uppercase;
    font-size: 10px;
    padding: 1em 0;
    text-align: center;
    
    span.serverstatus--txt {
      color: #ff3400;
      display: inline-block;
      &:before {
        content: '';
        display: inline-block;
        width: .5rem;
        height: .5rem;
        border-radius: 50%;
        margin-right: 0.2rem;
        background-color: $tg-red;
      }

      &.server_on {
        color: #bdb3a3;
        &:before {
          background-color: $tg-green;
        }
      }
    }

    .serverstatus--onlineuser {
      color: #bdb3a3;
    }
  }

  .tg-loginstatus {
    padding-bottom: .4em;
    padding: 1em 0;
    font-size: 1.1em;
    box-sizing: content-box;
    color: #ff4500;
  }

  .tg-login-footer {
    padding-top: .5em;
    padding-bottom: .5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    color: #867d6e;
    margin-top: auto;

    a {
      color: #bdb3a3;
      text-decoration: underline;
    }
  }
}

@keyframes logolightAnimation {
  0% {
    opacity: 0;
  }

  50% {
    opacity: .6;
  }

  100% {
    opacity: 0;
  }
}


.tg-version-name {
  text-align: center;

  span {
    display: inline-block;
    color: #f3f3f3;
  }
}

/* Preloader in Login */

.tg-preloader {
  display: none;
  position: relative;
  text-align: center;
  margin: .5em 0;
  border: 1px solid $tg-brown;

  span {
    position: relative;
    z-index: 2;
    text-shadow: 0 0 1px black;
  }

  //bar
  div.pbar {
    background-color: $tg-brown;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
  }
}
