@import 'abstract/variables';
@import '~@angular/flex-layout/mq';


tg-sidenav {

  .mat-list-base .mat-list-item,
  .mat-list-base[dense] .mat-list-item {
    color: $base-text-color;
    transition: background-color .2s ease-out;
    font-size: 1em;

    &.active,
    &:hover {
      // background-color: #675842;
      text-decoration: none;
      color: $base-text-color;
    }

    &.group {
      font-size: 1.2em;
      font-weight: bold;
      background-color: $tg-brown!important;
      color: black!important;
    }
  }

  .menu-item-label,
  .mat-icon {
    font-size: 16px;
    vertical-align: middle;
  }

  .mat-list-base.tg-sidelogin .mat-list-item {
    color: $tg-yellow;
  }


  .sub-items {
    text-align: right;
  }


  .mat-divider {
    border-top-color: rgba(255, 255, 255, 0.15);
  }
}
