<form id="characters">
  <ng-container *ngIf="charactersList as chars;">
    <div class="comp-content">

      <div class="table-responsive">

        <table #charTable mat-table matSort [dataSource]="charactersList" 
          *ngIf="charactersList"
          multiTemplateDataRows
          class="mat-table ch-table dark">

          <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef> Immagine </th>
            <td mat-cell *matCellDef="let element">
              <div class="ch-avatar mat-elevation-z4">
                <img src="{{env.media_address + element.image}}" />
                <div class="tg-base-logo big" *ngIf="!element.image"></div>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nome/Dettagli </th>
            <td mat-cell *matCellDef="let element">
              <div class="ch-char-name">
                {{element.name | capitalizeFirst}}
                <mat-icon *ngIf="element.is_default" color="tg-yellow" class="star-icon" tooltip="Personaggio primario"
                  placement="top" show-delay="500">star_rate</mat-icon>
              </div>
              <div class="ch-char-ethnicity">{{element.race | getEthnicityByCode: element.ethnicity }}</div>
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Azioni </th>
            <td mat-cell *matCellDef="let element">
              <button mat-raised-button class="tg-button-thin" class="thin" color="green"
                (click)="loginCharacter(element.name, element.secret, $event)" *ngIf="element.status === 1;">
                Connetti
              </button>

              <span *ngIf="element.status !== 1" class="char-status">
                <ng-container [ngTemplateOutlet]="charStatus" [ngTemplateOutletContext]="{char: element}">
                </ng-container>
              </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="expand">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button class="tg-btn-expand">
                <mat-icon>expand_more</mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="expandedDetail">

            <td mat-cell *matCellDef="let element; let i = dataIndex" [attr.colspan]="displayedColumns.length">

              <div #charDetail class="element-detail"
                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'" fxLayout="column">

                <p><span class="tg-white">TGID</span>: {{element.id}}<br />
                  <span class="tg-white">Data creazione</span>: {{element.createdDate}}<br />
                  <span class="tg-white">Stato</span>:
                  <ng-container [ngTemplateOutlet]="charStatus" [ngTemplateOutletContext]="{char: element}">
                  </ng-container>
                </p>

                <section *ngIf="element.status !== 0">
                  <mat-divider class="light"></mat-divider>
                  <mat-selection-list dense>
                    <mat-list-option color="accent" [selected]="element.is_default"
                      (click)="onSelectedPrimary(element.id)">
                      Personaggio principale.
                    </mat-list-option>
                  </mat-selection-list>
                  <mat-action-list dense>
                    <button mat-list-item (click)="tesT()" disabled>
                      <mat-icon matListIcon>portrait</mat-icon>
                      Cambia immagine
                    </button>
                    <button mat-list-item (click)="tesT()" disabled>
                      <mat-icon matListIcon>bug_report</mat-icon>
                      Segnala un problema
                    </button>
                    <button mat-list-item (click)="onRemoveCharFromAccount(element.id)">
                      <mat-icon matListIcon>delete_outline</mat-icon>
                      Rimuovi il personaggio da questo account
                    </button>
                    <button mat-list-item (click)="onDisableChar(element.name)" disabled class="tg-red">
                      <mat-icon matListIcon>cancel</mat-icon>
                      Disabilita
                    </button>
                  </mat-action-list>
                </section>
              </div>
            </td>
          </ng-container>

          <!-- Information Footer -->
          <!-- <ng-container matColumnDef="charactersinfo">
            <td mat-footer-cell *matFooterCellDef colspan="4">
              Il numero massimo di personaggi che hai è <span class="tg-red">2</span>.
            </td>
          </ng-container> -->

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let element; columns: displayedColumns" class="element-row" [ngClass]="{'inactive': element.status === 0,
                        'suspended': element.status === 2,
                       'expanded-row': expandedElement === element}"
            (click)="expandedElement = expandedElement === element ? null : element"></tr>

          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row {{i}}"></tr>

          <!-- <tr mat-footer-row *matFooterRowDef="['charactersinfo']" class="second-footer-row"></tr> -->

        </table>
      </div>
    </div>
  </ng-container>

</form>

<div class="no-characters-box comp-content comp-padd" fxLayout="column" fxLayoutAlign="start start">
  <p *ngIf="!charactersList">Non possiedi un personaggio attivo.</p>
  <button mat-raised-button color="accent" (click)="goToChractersManage()">
    Crea o Aggiungi
  </button>
</div>

<ng-template #charStatus let-char="char">
  <span *ngIf="char.status === 2" class="char-status tg-brown">Sospeso</span>
  <span *ngIf="char.status === 1" class="char-status tg-green">Attivo</span>
  <span *ngIf="char.status === 0" class="char-status tg-red">Disabilitato</span>
</ng-template>
