
<div id="characters" *ngIf="chars">
  
  <ng-container *ngIf="chars.length; else noCharacters">
    <div class="comp-content">
<!-- 
      <div class="comp-alert" *ngIf="enabledCharactersNumber < 1">
        <b>Attenzione</b>: Non hai un personaggio abilitato per poter accedere al gioco. 
      </div> -->

      <div class="table-responsive">

        <table class="mat-elevation-z8 mat-table ch-table ">
          <tbody>
            <tr *ngFor="let char of chars;" [ngClass]="{'disabled': char.status === 0}">

              <td>
                <div class="ch-avatar mat-elevation-z4" fxFlex="0 0 75px">
                  <img src="{{env.media_address + '/' + char.image}}" *ngIf="char.image !== ''" />
                  <div class="tg-base-logo" *ngIf="!char.image"></div>
                </div>
              </td>

              <td>
                <div class="ch-infoaction" fxLayoutAlign="center start" fxLayout="column">
                  <div class="ch-char-name"> {{char.name | capitalizeFirst}} </div>
                  {{char.race | getEthnicityByCode: char.ethnicity }}
                </div>
              </td>
              <!-- <td>
                <div class="ch-char-action">
                  <span class="tg-green" *ngIf="char.status === 1">Attivo</span>

                  <span *ngIf="char.status === 0">Inattivo</span>
                </div>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
      <p class="ch-count">
        <b>Totale</b>: {{enabledCharactersNumber}} / {{maxCharacter}}
      </p>
      
    </div>

  </ng-container>

  <!--  No Characters advice -->
  <ng-template #noCharacters>
    <div class="no-characters-box comp-content" fxLayout="column" fxLayoutAlign="center center">
      <p>
        Non possiedi ne hai creato alcun personaggio fino ad ora.
      </p>
        <button mat-raised-button color="accent">
          Crea
        </button>
    </div>
  </ng-template>

  <!-- <ng-container *ngif="let char of characters;">
    <table class="mat-elevation-z1">
      <tr>
        <td></td>
      </tr>
    </table>
  </ng-container> -->

</div>

