<div class="tg-newchar tg-auth-container" fxLayout="column wrap" fxLayoutAlign="center center">
  <div class="tg-auth-form-header" [@animate]="{value:'*', params:{delay:'150ms', y:'56px'}}">
    <div class="tg-base-logo big"></div>
    <h1>Crea il tuo personaggio ed entra a far parte di <br>The Gate <span class="tg-brown">Mud</span></h1>
    <small class="tg-lt-red">Registrazione attualmente fuori servizio</small>

  </div>
  <div class="tg-newchar--wrap tg-shadow" [@animate]="{value:'*', params:{delay:'300ms', y:'56px'}}">
    <div class="tg-newchar-content tg-shadow-inset">
      <router-outlet></router-outlet>
    </div>
    <div class="tg-newchar-footer">
    </div>
  </div>
</div>
