@import 'abstract/variables';

:host-context(.zen) :host {
  display: none!important;
}

:host {
  background-image: url($imgPath + '/interface/navbar_background.png');
  background-repeat: repeat-x;

  .tg-navbar--wrap {
    height: 28px;
    width: 100%;
    padding: 0 .5rem;
    margin-bottom: 8px;
  }

  /*Logo */
  .brand {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: auto 16px auto 0;

    img {
      height: 100%;
    }
  }
}


.mat-button, .mat-icon-button {
  height: 28px;
  line-height: 28px;
  font-size: 10px;
  min-width: auto;
  width: auto;
}

.material-icons {
  font-size: 18px;
  height: 26px;
  width: 26px;
  line-height: 26px;
}


.nav-right {
  margin-left: auto;
  line-height: 28px;
}




