<div class="comp-content comp-padd comp-center">
  <h2>I tuoi personaggi</h2>
  <div class="table-responsive" *ngIf="chars">
    <table class="mat-elevation-z8 mat-table ch-table" >
      <thead>
        <th>Immagine</th>
        <th>Nome / Dettagli</th>
        <th>Stato</th>
        <th>Azioni</th>
      </thead>
      <tbody>
        <tr *ngFor="let char of chars;" 
          [ngClass]="{'disabled': char.status === 0}"
          (click)="expandedElement = expandedElement === element ? null : element">

          <td>
            <div class="ch-avatar mat-elevation-z4">
              <img src="{{env.media_address + '/' + char.image}}" *ngIf="char.image !== ''" />
              <div class="tg-base-logo" *ngIf="!char.image"></div>
            </div>
          </td>

          <td>
            <div class="ch-infoaction" fxLayoutAlign="center start" fxLayout="column">
              <div class="ch-char-name"> {{char.name | capitalizeFirst}} </div>
              <div class="ch-char-ethnicity">{{char.race | getEthnicityByCode: char.ethnicity }}</div>
            </div>
          </td>

          <td>
            <div class="ch-char-action">
              <span class="tg-green" *ngIf="char.status === 1">Attivo</span>
              <span *ngIf="char.status === 0">Inattivo</span>
            </div>
          </td>

          <td>
            <mat-icon>expand_more</mat-icon>
          </td>

        </tr>
      </tbody>
    </table>
  </div>

  

  <div class="ch-block">
    <p *ngIf="!chars ">
      Non hai ancora creato un personaggio, inizia da qui:
    </p>
    <button mat-raised-button [routerLink]="[ '/manager/nuovo-personaggio']" id="addnewchar">
      Nuovo personaggio
    </button>

    <form name="verifyCharacterForm" 
      [formGroup]="verifyCharacterForm" 
      (ngSubmit)="verify()"
      autocomplete="off"
      novalidate>
      <h4>Aggiungi manualmente</h4>
      <p>
        Se hai già un personaggio e conosci le credenziali di accesso puoi aggiungerlo manualmente al tuo account.
      </p>

      <mat-form-field class="i-fullwidth">
        <input matInput placeholder="Nome Personaggio" type="text" formControlName="characterName">
      </mat-form-field>

      <mat-form-field class="i-fullwidth">
        <input matInput placeholder="Password" type="password" formControlName="characterPassword">
      </mat-form-field>

      <div class="tg-error-bold" *ngIf="apiError">
        Errore nell'aggiunta del personaggio. Forse non esiste.
      </div>
      <button mat-raised-button type="submit" [disabled]="verifyFormSubmitted" color="accent">Verifica</button>

      <div class="verify-text-response" [hidden]="!verifyFormSubmitted">
        <mat-spinner color="accent" diameter="24"></mat-spinner> Verifica in corso. Attendi...
      </div>
    </form>
  </div>

</div>
