<div fxLayout="row" fxFlex="1 1 100%" tgAutofocusInputbar>
  <div class="tg-leftside" fxFlex="1 1 auto" fxLayout="column" [style.margin-top.px]="6">
    <!-- Output -->
    <tg-output fxLayout fxFlex="1 1 100%" class="min-h-0"></tg-output>
    <!-- Hero Dashboard -->
    <tg-dashboard [ngClass]="{'top': 0 === tgConfig.characterPanelTopPosition}"></tg-dashboard>
    <tg-input></tg-input>
  </div>
  <!-- Right Sidebar -->
  <tg-right-sidebar fxLayout fxFlex="0 0 auto" fxHide fxShow.gt-sm="true"></tg-right-sidebar>

</div>

<!-- AUDIO & MUSIC -->
<tg-audio></tg-audio>
