<ng-container *ngIf="objs">
  <ng-container *ngTemplateOutlet="withObjects"></ng-container>
</ng-container>
<ng-container *ngIf="persons">
  <ng-container *ngTemplateOutlet="withPersons"></ng-container>
</ng-container>

<ng-template #withPersons>
  <div class="tg-persons" [ngClass]="
        {'list-50-50': (totalPersons > 6 && totalObjs < 6),
         'list-50': (totalPersons > 6 && totalObjs > 6)}">
    <ng-container *ngFor="let person of persons">
      <div class="tg-persons--line">
        <tg-icons [icon]="person.icon"></tg-icons>
        <div class="tg-persons--item_desc" [innerHtml]="person.desc | dataToHtml"></div>
      </div>
    </ng-container>
  </div>
</ng-template>

<ng-template #withObjects>
  <div class="tg-objects" [ngClass]="
    {'list-50-50': (totalObjs > 6 && totalPersons < 6),
    'list-50': (totalObjs > 6 && totalPersons > 6)}">
    <ng-container *ngFor="let object of objs">
      <div class="tg-objects--line">
        <tg-icons [icon]="object.icon"></tg-icons>
        <div class="tg-objects--item_desc" [innerHtml]="object.desc | dataToHtml"></div>
      </div>
    </ng-container>
  </div>
</ng-template>