<jqxMenu #tgMainMenu [width]="'100%'" [height]="28" [autoOpen]="true">
    <ul>
      <li>
        <a href="#" class="tg-brand">
          <img src="assets/images/logo/tgminilogo.png" alt="The Gate Mud" />
        </a>
      </li>
      <li>
        <a href="#" id="tgNavBarOpzioniDropDown">
          <i class="fas fa-user-circle"></i> Profilo
        </a>
        <ul>
          <a href="#opzioni">Opzioni</a>
          <a href="#log">Log di gioco</a>
          <a id="userDisconnect" href="#esci">Esci</a>
        </ul>
      </li>
      <li>
        <a href="#" id="tgNavBarGuidaDropDown">
          <i class="fas fa-question-circle"></i> Guida
        </a>
        <ul>
          <li>
              <a class="dropdown-item" href="#">Guida al gioco</a>
          </li>
          <li>
              <a class="dropdown-item" href="#">Ultime Novità di gioco</a>
          </li>
          <li>
              <a class="dropdown-item" href="#">Note di rilascio Webclient</a>
          </li>
          <li>
              <a class="dropdown-item" href="#">Segnala un problema</a>
          </li>
          <li>
              <a class="dropdown-item" href="#">Riferimento ai tasti di scelta rapida</a>
          </li>
          <li>
              <a class="dropdown-item" href="#">Informazioni su The Gate</a>
          </li>
        </ul>
      </li>
    </ul>
  </jqxMenu>
