
@import '~@angular/flex-layout/mq';
@import 'commons';
/**** FONTS *****/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Modern+Antiqua');
/********************/

html {
  height: 100%;
  width: 100%;
}

body {
  background: #0b0807;
  color: white;
  min-height: 100%;
  line-height: normal;
  font-size: 11px;
  font-family: 'Open Sans', sans-serif;
  min-height: 100%;
  flex-direction: column;
  display: flex;
  height: 100%;
}

body.size-xs{
  font-size: 10px;
}
body.size-s{
  font-size: 11px;
}
body.size-m{
  font-size: 12px;
}
body.size-l{
  font-size: 12.5px;
}
body.size-xl{
  font-size: 13px;
}
body.size-xxl{
  font-size: 13.5px
}
body.size-xxxl{
  font-size: 14px;
}


a,
button:focus,
input:focus,
.input:active,
textarea:focus,
select:focus,
button:active {
  outline: 0 none !important;
}

button,
input[type="checkbox"] {
  cursor: pointer;
  border: none;
}

.min-h-0 {
  min-height: 0;
}

/* CLIENT LOGIN STATUS */
body[data-loginstatus=ready] {
  overflow: hidden;
}

/* BOX SHADOWS */
.tg-shadow {
  box-shadow: 0px 6px 11px 0 black;
  background-color: black;
}

.tg-shadow-light {
  box-shadow: 0px 3px 5px 0 black;
}

.tg-shadow-inset {
  box-shadow: 0px 0px 9px 2px black inset;
}

.tg-area {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  display: flex;
  overflow: hidden;
  padding: 0;

  &.expanded {
    padding: 0;
  }
}

tg-main {
  box-sizing: border-box;
}


.tg-layout-container {
  padding-top: 40px;
  height: 100vh;
  box-sizing: border-box;
  display: block;
  background: url($imgPath + '/background/default-bg.jpg') no-repeat top center;
  background-size: 100% auto;
  background-attachment: fixed;
  background-color: black;
  min-height: 100%;
}

/* Icons & Stuff */

.tg-icon {
  margin: auto auto;
  background-image: url( $imgPath + '/tiles.png');
  background-repeat: no-repeat;
  transform: scale(.5);
  margin-top: -8px;
  width: 32px;
  height: 32px;
  line-height: 16px;
}

@include layout-bp(lt-sm) {

  
.tg-layout-container {
  padding-top: 58px;
}
  .tg-area {
    padding: 0;
  }
  
  .tg-main {
    .tg-controlpanel {
      margin-left: 0;
    }
  }
}


/* Various Sprite, Effects and State */
.cando {
  display: inline-block;
  @include sprite($checkbox-checked-sprite);
}
.cantdo {
  display: inline-block;
  @include sprite($notchecked-sprite);
}

