    
.tg-box {
    position: relative;
    
}

.tg-border-box {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    .tg-border {
        position: absolute;
        background-position: 0 0;
    }

    .tg-border-top, .tg-border-bottom {
        position: absolute;
        width: 100%;
        background-repeat: repeat-x;

        // Corners
        &::after, &::before {
            content: '';
            position: absolute;
            display: block;
        }

        &::before {
            right: 0;
            left: 0;
        }

        &::after {
            top: 0;
            right: 0;
        }
    }
    
    .tg-border-left, .tg-border-right{
        position: absolute;
    }
    
    .tg-border-top {
        top: 0;
    }

    .tg-border-bottom {
        bottom: 0;
    }
    
    .tg-border-right {
        right: 0;
    }

    .tg-border-left {
        left: 0;
    }
}


/* BORDER TYPE */

.b-ironlight {
    padding: $ironlight-border-size;  
    .tg-border-top, .tg-border-bottom {
        height: $ironlight-border-size;
        &::after, &::before {
            width: $ironlight-border-size;
            height: $ironlight-border-size;
        }
    }

    .tg-border-left, .tg-border-right{
        position: absolute;
        width: $ironlight-border-size;
        top: $ironlight-border-size;
        bottom: $ironlight-border-size;
    }

    .tg-border-top {
        background-image: url($imgPath + '/borders/border_stonelight_top.png');
        &::after {
            background-image: url($imgPath + '/borders/border_stonelight_topright.png');
        }
        &::before {
            background-image: url($imgPath + '/borders/border_stonelight_topleft.png');
        }
    }
    
    .tg-border-bottom {
        background-image:  url($imgPath + '/borders/border_stonelight_bottom.png');
        &::after {
            background-image: url($imgPath + '/borders/border_stonelight_bottomright.png');
        }
        &::before {
            background-image:  url($imgPath + '/borders/border_stonelight_bottomleft.png');
        }
    }
    
    .tg-border-right {
        background-image: url($imgPath + '/borders/border_stonelight_right.png');
    }

    .tg-border-left {
        background-image: url($imgPath + '/borders/border_stonelight_left.png');
    }
}

.b-area {
    padding: $area-border-size;  
    .tg-border-top, .tg-border-bottom {
        height: $area-border-size;
        &::after, &::before {
            width: $area-border-size;
            height: $area-border-size;
        }
    }

    .tg-border-left, .tg-border-right{
        position: absolute;
        width: $area-border-size;
        top: $area-border-size;
        bottom: $area-border-size;
    }

    .tg-border-top {
        background-image: url($imgPath + '/borders/border-wc-area-t.jpg');
        &::after {
            background-image: url($imgPath + '/borders/corner-wc-area-tr.jpg');
        }
        &::before {
            background-image: url($imgPath + '/borders/corner-wc-area-tl.jpg');
        }
    }
    
    .tg-border-bottom {
        background-image:  url($imgPath + '/borders/border-wc-area-b.jpg');
        &::after {
            background-image: url($imgPath + '/borders/corner-wc-area-br.jpg');
        }
        &::before {
            background-image:  url($imgPath + '/borders/corner-wc-area-bl.jpg');
        }
    }
    
    .tg-border-right {
        background-image: url($imgPath + '/borders/border-wc-area-r.jpg');
    }

    .tg-border-left {
        background-image: url($imgPath + '/borders/border-wc-area-l.jpg');
    }
}

