.tg-white, .default, .tg-lt-white, .tg-gray, .tg-red, .tg-lt-red,
.tg-green, .tg-lt-green, .tg-blue, .tg-lt-blue, .tg-magenta, .tg-lt-magenta,
.tg-cyan, .tg-lt-cyan, .tg-brown, .tg-yellow {
    display: inline;
} 

/* Output colors */
.tg-white, .default{
    color: $tg-white;
}
.tg-lt-white {
    color: $tg-lt-white;
}

.tg-gray {
   color: $tg-gray; 
}
.tg-red {
    color: $tg-red;
}
.tg-lt-red {
    color: $tg-lt-red;
}
.tg-green {
    color: $tg-green;
}
.tg-lt-green {
    color: $tg-lt-green;
}
.tg-blue {
    color: $tg-blue
}
.tg-lt-blue {
    color: $tg-lt-blue;
}
.tg-magenta {
    color: $tg-magenta;
}
.tg-lt-magenta {
    color: $tg-lt-magenta;
}
.tg-cyan {
    color: $tg-cyan;
}
.tg-lt-cyan {
    color: $tg-lt-cyan;
}

.tg-brown {
    color: $tg-brown;
}
.tg-yellow {
    color: $tg-yellow;
}