$tg-yellow : #ffc000;

/* Output colors */
.white {
    color: white;
}
.gray {
   color: #b8b8b8; 
}

.lt-red {
    color: #ff2a00;
}

.green {
    color: #2ce826;
}
.lt-green {
    color: #c6fac4;
}
.lt-blue {
    color: #7ccfff;
}
.brown {
    color: #d19336;
}
.yellow {
    color: #f2ff00;
}