.tgline {
    div {
        display: inline-block;
    }
}
$tg-yellow : #ffc000;

/* Output colors */
.white {
    color: white;
}
.green {
    color: #2ce826;
}
.lt-green {
    color: #c6fac4;
}
.lt-blue {
    color: #7ccfff;
}