@import 'login';
@import 'navbar';
@import 'borders';
@import 'modal';
@import 'output';

@include font-face(kingthinks, '../fonts/Kingthings_Foundation', null, null, ttf );


body,
html {
    height: 100%;
    width: 100%;
}

body {
    background: #1d1812;
    color: $white;
}

a {
    outline: 0;
}

.tg-shadow {
    box-shadow: 0px 2px 12px $black;
}


.tg-area {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}



.tg-logo-composit {
    width: 105px;
    height:91px;
    position: relative;
    margin: 0 auto 1.5rem;
    box-sizing: content-box;
    visibility: hidden;

    &:before, &:after {
        background-size: contain;
        background-repeat: no-repeat;
        content: '';
        display: block;
        height: 100%;
        width: 100%
    }
    &:before {
        background-image: url($imgPath + '/logo/triang_est.png');
    }
    &:after {
        position: absolute;
        top: 0;
        background-image: url($imgPath + '/logo/triang_int.png');
    }

    .tg-logo-composit-light {
        width: 100%;
        height: 100%;
        opacity: 0;
        background: url($imgPath + '/logo/triang_est_light.png') no-repeat;
        background-size: contain;
        position: absolute;
        top:0;
        opacity: 0;
        animation: logolightAnimation 5s infinite;
        animation-delay: .5s;
    }

    @keyframes logolightAnimation {
        0%   { opacity:0; }
        50%  { opacity:1; }
        100% { opacity:0; }
      }
}

.tg-main {

    min-height: 100%;
    display: none;
    flex-direction: column;
    z-index: 10;
    position: relative;

    .tg-main-row {
        flex-grow: 1;
    }
}

.tg-leftside {
    display: flex;
    flex-direction: column;
}



.tg-controlpanel {
    margin-bottom: $grid-gutter-width / 2;
    padding-left:0;
    padding-right:0;
    
}

.tg-characterpanel {
    margin-bottom: 8px;
    position: relative;
    background-image: url($imgPath + '/borders/controlpanel_topleft_side.png');
    background-repeat: no-repeat;
    background-position: top left;
    padding-top: 5px;
   
    .tg-characterpanel-wrap {
        background-image: url($imgPath + '/borders/controlpanel_bottomright_side.png');
        background-repeat: no-repeat;
        background-position: bottom right;
        display: flex;
        padding: 4px 8px 10px;
    }

    .tg-characteravatar {
        width: 75px;
        height: 75px;
        margin-right: 8px;
        border: 1px solid yellow;
        background-image: url($imgPath + '/logo/triang_est.png');
        background-size: 70% auto;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .tg-infochar{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    // BARS
    .tg-meterbar {
        left: 100px;
        z-index: 2;
        padding:0 0px 5px;
        flex: 1 1 100%;
        flex-direction: column;

        .barcont {
            box-sizing: border-box;
            border: 1px solid #5f5c59;
            padding: 2px 3px;
            position: relative;
            height: 50%;;
        }

        .statusTxt {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        
        .barC {
            display: block;
            width: 100%;
            height: 100%;
            background-repeat: repeat-x;
            background-position: top left;
            transition: width .2s cubic-bezier(0.65, 0.05, 0.36, 1);

            &.red {
                background-image: url($imgPath + '/bars/healt.jpg' );
            }
            &.green {
                background-image: url($imgPath + '/bars/stamina.jpg' );
            }
        }
    }

    // dashboard
    .tg-dashboard {
    }
}

.tg-input {
    position: relative;

    .tg-inputline-placeholder {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 12;
        line-height: 1rem;
        display: block;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding-left: .5rem;
        line-height: 30px;
        color: #76716d;
        font-size: 14px;
    }

    input[type="text"] {
        width: 100%;
        background-color: $inputbackground;
        border: none;
        z-index: 10;
        position: relative;
        outline: 0;
        color: $white;
        font-size: .8rem;
        padding:2px 4px 4px;
        box-shadow: inset 0 0 14px 1px black;
    }
}

.tg-rightside{
    background: url($imgPath + '/background/wood_rightside.jpg') repeat top left;
    .tg-rightside-wrap {
        height: 100%;
        width: 100%;
        background: url($imgPath + '/borders/border-paneleft-left.png') repeat-y top left;
        padding-left: 15px;
    }

    .tg-map {
        background: url($imgPath + '/interface/quadrante.png') no-repeat top left;
        background-size: contain;
        height: 543px;
        width: 100%;
        canvas {
            max-width:  100%;
            max-height: 100%;
        }
    }
}


.tg-cookielawcontent {
    display: none;
    .tg-btn-cookieconsent {
        cursor: pointer;
    }
}


// Magnific Popup Override
.mfp-close-btn-in .mfp-close{
    top: -30px;
    right: -35px;
    color: white;
}

@include media-breakpoint-down(md) {

    .tg-main {
        .tg-controlpanel {
            margin-left: 0;
        }
    }
}