@import 'buttons';
@import 'login';
@import 'navbar';
@import 'borders';
@import 'modal';
@import 'output';
@import 'dashboard';
@import 'right_sidebar';

@include font-face(kingthinks, '../fonts/Kingthings_Foundation', null, null, ttf );


body,
html {
    height: 100%;
    width: 100%;
    display: inline-block;
}

body {
    background: #1d1812;
    color: $white;
}

button:focus , input:focus, textarea:focus{
    outline: 0 none!important;
}

a {
    outline: 0;
}

button, input[type="checkbox"] {
    cursor: pointer;
}

caption {
  caption-side: top;
}

.tg-shadow {
    box-shadow: 0px 2px 12px $black;
}

.tg-shadow-inset {
    box-shadow: 0px 2px 12px #231c16 inset;
}

.tg-area {
    width: 100%;
    overflow: hidden;

    &.expanded  {
        padding:0;
    }
}

.tg-main {
    min-height: 100%;
    max-height: 100%;
    display: none;
    flex-direction: column;
    z-index: 10;
    position: relative;

    .tg-main-row {
        flex-grow: 1;
    }
}

.tg-leftside {
    display: flex;
    flex-direction: column;
    background: #0a0806;
    overflow: hidden;

}

.iconimg {
    background-image: url($imgPath + '/tiles/tiles.png');
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    min-width: 32px;
    display: inline-block;
    transform: scale(.7);
    vertical-align: middle;

    &.tg-dragging {
        transform: none;
    }
}

.popover-header {
    font-size:.6rem;
    padding-bottom: 0;
}

.popover-body {
    padding-top: 0;
    a {
        text-decoration: underline;
        color: $tg-yellow;
    }
}


@include media-breakpoint-down(md) {
    .tg-area {
        padding: 0;
    }
    .tg-main {
        .tg-controlpanel {
            margin-left: 0;
        }
    }
}


/* UI OVERRIDE */
.ui-dialog { z-index: 1000 !important ;}
.ui-dialog-titlebar {
    display:none;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
    color: #FFF;
    padding-right: 3px;
    background: url($imgPath + '/interface/modal_title_right_bg.png') no-repeat top right;
}

.ui-dialog-title {
    background: url($imgPath + '/interface/modal_title_left_bg.png') repeat-x top left;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 19px;
    padding: 0 32px;
    margin-bottom: 0;
    display: block;
}

.ui-dialog-content {
    box-shadow: 0px 2px 12px #000;
}

.ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    display: block;
    -ms-touch-action: none;
    touch-action: none;
}

.ui-resizable-w {
    cursor: e-resize;
    width: 12px;
    left: -5px;
    top: 0;
    height: 100%;
}

.ui-resizable-e {
    cursor: e-resize;
    width: 12px;
    right: 0;
    top: 0;
    height: 100%;
}

.scrollable, resizable {
    height: 100%;
}