@import 'buttons';
@import 'login';
@import 'navbar';
@import 'borders';
@import 'modal';
@import 'output';
@import 'dashboard';
@import 'right_sidebar';

@include font-face(kingthinks, '../fonts/Kingthings_Foundation', null, null, ttf );


body,
html {
    height: 100%;
    width: 100%;
    display: table;
}

body {
    background: #1d1812;
    color: $white;
}

button:focus , input:focus, textarea:focus{
    outline: 0 none!important;
}

a {
    outline: 0;
}

.tg-shadow {
    box-shadow: 0px 2px 12px $black;
}

.tg-shadow-inset {
    box-shadow: 0px 2px 12px #231c16 inset;
}

.tg-area {
    width: 100%;
    height: 100%;
    position: relative;
    transition: padding .5s linear;
    
    &.expanded  {
        padding:0;
    }
}

.tg-logo-composit {
    width: 105px;
    height: 91px;
    position: relative;
    margin: 0 auto 1.5rem;
    box-sizing: content-box;
    visibility: visible;

    &:before, &:after {
        background-size: contain;
        background-repeat: no-repeat;
        content: '';
        display: block;
        height: 100%;
        width: 100%
    }
    &:before {
        background-image: url($imgPath + '/logo/triang_est.png');
    }
    &:after {
        position: absolute;
        top: 0;
        background-image: url($imgPath + '/logo/triang_int.png');
    }

    .tg-logo-composit-light {
        width: 100%;
        height: 100%;
        opacity: 0;
        background: url($imgPath + '/logo/triang_est_light.png') no-repeat;
        background-size: contain;
        position: absolute;
        top:0;
        opacity: 0;
        animation: logolightAnimation 5s infinite;
        animation-delay: .5s;
    }

    @keyframes logolightAnimation {
        0%   { opacity:0; }
        50%  { opacity:1; }
        100% { opacity:0; }
    }
}



.tg-main {
    min-height: 100%;
    display: none;
    flex-direction: column;
    z-index: 10;
    position: relative;

    .tg-main-row {
        flex-grow: 1;
    }
}

.tg-leftside {
    display: flex;
    flex-direction: column;
    background: #0a0806;
}




.modal-cookielaw {
    &.mfp-bg {
        background: #0b0b0b;
    }
    
    .mfp-content {
        width: 450px;
    }
    .tg-cookielawcontent {
        text-align: center;
        overflow: hidden;
        background: #231c16;
        padding: 24px 12px;
        
        .tg-title {
            color: $tg-yellow;
            font-size: 11px;
            text-transform: uppercase;
        }
        .tg-btn-cookieconsent {
            cursor: pointer;
            background: #ffc000;
            border: none;
            text-transform: uppercase;
        }

        .cookie-lastalert {
            padding:.5em;
            text-decoration: underline;
            display: block;
        }
    }
}


@include media-breakpoint-down(md) {
    .tg-main {
        .tg-controlpanel {
            margin-left: 0;
        }
    }
}