/* Init Login box */

.tg-loginpanel {
    background-color: #1d1812;
    padding: .5rem;
    display: flex;
    height: 100%;
    display: flex;
    z-index: 10;
    overflow: hidden;
    overflow-y: auto;
    position: relative;
    min-height: 250px;

    > .row {
        height: 100%;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .tg-loginform {
        border-radius: 15px;
        border: 1px solid #2c2926;
        padding: 2rem;
        display: none;

        .tg-version-name {

            span {
                display: block;
                font-size: 11px;
                color: $gray-600;
            }
        }
    }

    input {
        margin-bottom: .2rem;
        border: 1px solid $tg-yellow;
        background: none;
        padding: 0;
        width: 100%;
        box-sizing: border-box;
        color: $white;
        padding: 1px 2px;
    }
    label {
        color: #ababaa;
        margin: 0;
    }

    button {
        cursor: pointer;
        background-color:$tg-yellow;
        border: none;
        color: $black;
    }

    .tg-serverstatus, .tg-loginstatus {
        padding: .5rem 0 0;
        text-align: center;
    }

    .tg-serverstatus {
        
        text-transform: uppercase;
        font-size: 10px;

        &:before {
            content: '';
            display: inline-block;
            width: .5rem;
            height: .5rem;
            border-radius: 50%;
            margin-right: 0.2rem;
        }
    }

    .tg-loginstatus {
        line-height: 1em;
        min-height: 1rem;
        box-sizing: content-box;
    }


}
body[data-serverstatus="1"] {
    .tg-serverstatus:before{
        background: green;
    }
}

body[data-serverstatus="0"] {
    .tg-loginstatus {
        display: none;
    }
        .tg-serverstatus:before{ 
            background: red;
        }
}


/* Preloader in Login */
.tg-preloader {
    display: none;
    text-align: center;
    border:1px solid $tg-yellow;
}