.tg-modal {
  max-width: 100%;
  margin: 0 auto;
  color: white;
  text-align: center;
  display: none;

  .tg-modal-icon {
    position: absolute;
    top: -6px;
    left: -25px;
    z-index: 3;
    padding: 8px;
    @include sprite($modal-icon-sprite);
    &:after {
      content: '';
      display: block;
    }
  }

  .tg-modal-title {
    cursor: pointer;
    display: inline-block;
    margin: 0 auto;
    color: #FFF;
    background: url($imgPath + '/interface/modal_title_left_bg.png') repeat-x top left;
    h3 {
      background: url($imgPath + '/interface/modal_title_right_bg.png') no-repeat top right;
      font-size: 10px;
      text-transform: uppercase;
      line-height: 19px;
      padding: 0 32px;
      margin-bottom: 0;
    }
  }

  .tg-modal-content {
    position: relative;
    background: #dabe8b;
    z-index: 2;
  }

  .tg-modal-contentwrap {
    z-index: 2;
    padding: 30px 36px 34px;
  }

  textarea {
    background: #e3ceaa;
    border: none;
    width: 100%;
    height: 100%;
    min-height: 290px;
    box-sizing: border-box;
    resize: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 1.4;
    box-shadow: 0 0 11px 4px #e3ceaa;
    position: relative;
    z-index: 3;
  }

  .tg-txt-maxcharcount {
    background: #c6a779;
    border-radius: 6px;
    display: inline-block;
    margin: 5px auto 0;
    color: black;
    padding:2px 12px;
  }

  @include media-breakpoint-down(md) {
    min-width: auto;
  }
}

/* MODALS CONTENT */

/* ==== Nofeature */
.modal-nofeature, .modal-notizie{
  .mfp-content {
    background: black;
    padding: .75rem 1.2rem;
    color: white;
    border: 1px solid white;
    border-radius: 8px;
  }
}


.mfp-ready {
  .tg-modal {
    display: block !important;
  }
}

.mfp-bg {
  background-color: transparent;
}

.mfp-content {
  max-width: 90%;
  margin: 0 auto;
  opacity: 0;
  transform: translateY(20px);
  transition: all .1s linear
}

.mfp-ready .mfp-content {
  transform: none;
  opacity: 1;
}

/* overlay animate in */

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}

/* overlay animate out */

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: auto;
  margin: 0 auto;
}

/* content at start */

.mfp-fade.mfp-wrap .mfp-content {
  width: auto;
  padding: 1rem;
  opacity: 0;
  transform: translateY(-100px);
  transition: all 0.15s ease-out;
  border: 1px solid $tg-yellow;
  box-shadow: 0 3px 20px black;
  background: #000;
  .tg-title {
    font-size: 20px;
  }
}

/* content animate it */

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
  transform: translateY(0);
}

/* content animate out */

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

.mfp-close-btn-in .mfp-close {
  opacity: 1;
  text-indent: -9999px;
  display: block;
  top: -5px;
  right: -8px;
  @include sprite($close-sprite);
}

/* ==== Editor */
.modal-editor  {
  .mfp-close {
    top: 8px;
    right: -8px;
  }
  .mfp-content {
    width: 600px !important;

    .tg-modal-icon:after {
      @include sprite($editor_lapis-sprite);
    }

    .tg-modal-buttons-group {
      position: absolute;
      margin: 0 auto;
      bottom: -18px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 4;
      .tg-button {
        float: left;
      }
    }
  }
}