@import 'elements/notizie';
@import 'elements/editor';
@import 'elements/widget-login';
@import 'elements/cookielaw';
@import 'elements/generic_table';
@import 'elements/scheda_personaggio';
@import 'elements/configpanel';


.tg-modal-content {
  background-color: #2d2518;
}
/*
.tg-mp-inline {
  display: none;
}

.tg-mp {
  &.mfp-ready .tg-mp-inline {
    display: block;
  }

  .tg-modal-content {
    position: relative;
    background: black;
    z-index: 2;
    width: 100%;
    max-width: 500px;
  }

  .tg-modal-contentwrap {
    z-index: 2;
    padding: 30px 36px 34px;
  }


  &.fx-scale {
    .mfp-content {
      transform: scale(.9);
      opacity: 0;
      transition: all .1s linear;
    }

    &.mfp-ready .mfp-content{
      opacity: 1;
      transform: none;
    }
  }

  .mfp-content {
    width: 500px;
    max-width: 100%;
    max-height: 95%;
  }
  
  .scrollable {
    overflow-y: auto;
    height: 100%;
  } 
}

.tg-modal-icon {
  position: absolute;
  top: 8px;
  left: -25px;
  z-index: 3;
  padding: 8px;
  @include sprite($modal-icon-sprite);
  &:after {
    content: '';
    display: block;
  }
}

.tg-modal-title {
  cursor: pointer;
  display: table;
  margin: 0 auto;
  color: #FFF;
  padding: 0 32px;
  background: url($imgPath + '/interface/modal_title_left_bg.png') repeat-x top left;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 19px;
  h3 {
    background: url($imgPath + '/interface/modal_title_right_bg.png') no-repeat top right;
  }
}

/* MODALS CONTENT */
/*
.mfp-content {
  max-width: 90%;
  margin: 0 auto;
  opacity: 0;
  transform: translateY(20px);
  transition: all .2s linear;
}

.mfp-ready {
  .mfp-content {
    transform: none;
    opacity: 1;
  }
}

/* overlay animate in */
/*
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}

/* overlay animate out */
/*
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: auto;
  margin: 0 auto;
}

/* content at start */
/*
.mfp-fade.mfp-wrap .mfp-content {
  width: auto;
  padding: 1rem;
  opacity: 0;
  transform: translateY(-100px);
  transition: all 0.15s ease-out;
  border: 1px solid $tg-yellow;
  box-shadow: 0 3px 20px black;
  background: #000;
  .tg-title {
    font-size: 20px;
  }
}

/* content animate it */
/*
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
  transform: translateY(0);
}

/* content animate out */
/*
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

.mfp-close-btn-in .mfp-close {
  opacity: 1;
  text-indent: -9999px;
  display: block;
  top: -5px;
  right: -8px;
  @include sprite($close-sprite);
}


/* ==== Nofeature *//*
.modal-nofeature{
  .mfp-content {
    background: black;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
  }
}

/* ==== Generic Modal *//*
.tg-generic-modal {
  display: none;
}

*/

