/* Main Navbar */

.tg-navbar {
    background-image: url($imgPath + '/interface/navbar_background.png');
    background-repeat: repeat-x;
    width: 100%;
    height: 18px;
    padding: 5px .5rem 18px;
    box-sizing: content-box;
    text-transform: uppercase;
    font-size: 9px;

    ul {
        margin-bottom: 0;
        color: $black;
        text-shadow: 0 1px 0
    }
    a {
        font-weight: bold;
        color: #110601;
        text-decoration: none;
        
        &:hover {
            color: #1c0c04;
        }
    }
    
    .tg-fnt-button {
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .v-divider:before {
        content: '';
        background-color: #1c0c04;
        width: 1px;
        height: 14px;
        margin: 0 10px;
        max-height: 100%;
        display: inline-block;
    }
}
/*SKY*/
.tg-sky-mini {
    background-color: rgb(205, 242, 253);
    width: 150px;
    height: 18px;
    border-radius: 10px;
    cursor: pointer;
}

/* Search Form*/
.tg-helpsearch {
    font-size: 13px;

    input[type="search"], button{
        padding: 0 .35rem;
        border: 0;
    }
    input {
        background-color: #2f2314;
        color: white;
    }
    
    button[type="submit"] {
        color: #2f2314;
    }

}

/* Server Status*/
.tg-serverstatus {
    width: 15px;
    height: 100%;
    text-indent: -9999px;
    display: inline-block;
    position: relative;
    &:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
    }
}