/* Main Navbar */

.tg-navbar {
    background-image: url($imgPath + '/interface/navbar_background.png');
    background-repeat: repeat-x;
    width: 100%;
    height: 28px;
    padding: 0 .5rem 8px;
    box-sizing: content-box;
    text-transform: uppercase;
    font-size: 9px;

    ul {
        margin: auto 0;
        color: $black;
        height: 100%;
    }
    
    a {
        color: #110601;
        text-decoration: none;
        z-index: 10;
        position: relative;
        
        &:hover {
            color: #1c0c04;
        }
        
        
        &[aria-expanded="true"] {
            background: #2f2314;
            color: white;
        }

        &:hover {
            background: #2f2314;
            color: white;
        }
    }
    
    .nav-item {
        margin: auto 0;
    }

    .nav-link {
        padding: 0 1rem;
        font-weight: bold;
        box-sizing: border-box;
        display: block;
        line-height: 28px;
        z-index: 2;
        position: relative;
    }

    .tg-fnt-button {
        padding: 0;
        font-size: 9px;
        text-transform: uppercase;
    }
    
    i {
        font-size: 13px;
        margin-left: 2px;
        vertical-align: middle;
    }

    .v-divider:before {
        content: '';
        background-color: #1c0c04;
        width: 1px;
        height: 14px;
        margin: 0 10px;
        max-height: 100%;
        display: inline-block;
    }

    .dropdown-toggle:after {
        font-size: 16px;
        vertical-align: middle;
    }

    .dropdown-menu {
        background-color: #2f2314;
        color: wheat;
        border: 1px solid #71624e;
        border-top: 0;
        top: 27px;
        box-shadow: 0px 5px 12px #000;
        font-size: 9px;
        margin: 0;

        .dropdown-divider {
            border-top: 1px solid #4c3b26;
        }

        a{
            font-weight: normal;
            text-shadow: none;
            color: white;
            &:hover {
                background: white;
                color: #2f2314;
            }
        }
    }
}

/*Logo */
.tg-bcdrand {
    display: block;
    font-weight: bold;
    font-family: kingthinks;
    height: 90%;
    padding:3px 0;
    margin-right: 1rem;
    img {
        max-height: 100%;
    }
}
/*SKY*/
.tg-sky-mini {
    background-color: rgb(205, 242, 253);
    width: 150px;
    height: 18px;
    border-radius: 10px;
    cursor: pointer;
}

/* Search Form*/
.tg-helpsearch {

    input[type="search"], button{
        padding: 0 .35rem;
        border: 0;
    }
    input, input:focus{
        background-color: #2f2314;
        color: white;
    }
    
    button[type="submit"] {
        color: #2f2314;
    }
}
