/* Main Navbar */

.tg-navbar {
    background-image: url($imgPath + '/interface/navbar_background.png');
    background-repeat: repeat-x;
    height: 38px;
    display: flex;
    padding-top: 2px;
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 10px;

    ul {
        padding: 2px 0;
        margin-bottom: 0;
        color: $black;
        text-shadow: 0 1px 0
    }
    a {
        font-weight: 500;
        color: #110601;
    } 
    
    // Elements
    .nav-quickinfo-group {
        max-height: 18px;
    }

    .tg-nav-item {
        padding-right: 1.5em;
    }

    .tg-icon {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: contain;
        vertical-align: middle;
        margin-right: .5em;
        &.icon-monete {
            @include sprite-image($monete-ico-sprite);
        }
    }
    /*SKY*/
    .tg-sky-mini {
        border-radius: 10px;
        width: 150px;
        height: 18px;
        cursor: pointer;
        background-color: rgb(205, 242, 253);
    }
    
    .tg-serverstatus {
        width: 15px;
        height: 100%;
        text-indent: -9999px;
        display: inline-block;
        position: relative;
        &:before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
        }
        &[data-status="1"]:before {}
        &[data-status="0"]:before {}
    }
}