
.tg-output {
    background: black;
    flex: 1 1 auto;
    font-size: 12px;
    margin-bottom: $grid-gutter-width / 2;

    .tg-output-options {
        border-bottom: $gray-900;
    }

    .tg-output-history {
        z-index: 2;
        padding: .2rem .5rem;
        max-height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        overflow-y: auto;
        margin: 8px;
    }
}


.tg-output-history {

    color: #d2d2d2; //  default color

    .tgline {
        
        padding-bottom:1em;

        p {
            padding-bottom:1em;
        }
    
        div {
            display: inline;
        }
    }

    .room {
        font-size: 22px;
        font-family: kingthinks;
        color: #ac4c55;
    }

    p {
        margin-bottom: 0;
    }
}

.iconimg {
    background-image: url($imgPath + '/icons/tiles.png');
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block!important;
    zoom: .8;
    vertical-align: middle;
}