@import 'system';
@import 'elements/interactbox';

.tg-output{
    background: black;
    flex: 1 1 auto;
    font-size: 11px;
    position: relative;
    margin-bottom: 8px;

    > div {
        overflow: hidden;
    }

    .tg-output-main {
        overflow: hidden;
        position: absolute;
        width: 50%;
        top: 0;
        bottom: 0;
    
        .ps {  
            background: url($imgPath + '/borders/border-002-tiny-v.png') top right repeat-y;
        }
    }


    .tg-output-options {
        height: 36px;
        position: absolute;
        top: 0;
        left: 2px;
        right: 0;
        z-index: 2;
        border-bottom: $gray-900;
        padding: 0 .5em 10px;
        text-align: right;
        box-shadow: inset 0 0 9px 5px black;
        background: #15100c url($imgPath + '/borders/border-001-horizontal.png') repeat-x bottom left;
        
        ul {
            margin: 0;
        }

        .tg-tabdetail {
            font-size: 12px;
            color: $gray-600;
            li {
                margin: 0 1px;
                position: relative;
                width: 25px;
                height: 24px;
                padding: 4px 0;
                text-align: center;
                background: url($imgPath + '/interface/iconbg-25.png') no-repeat top left;
                
            }

            .iconimg {
                position: absolute;
                top: 0;
                left: 0;
            }

            i {
                padding:2px;
            }
        }
    }

    .output-notify-bottom {
        color: $gray-500;
        position: absolute;
        text-align: center;
        z-index: 2000;
        text-transform: uppercase;
        padding: 6px 12px;
        font-size: 8px;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        background: #1f1f1fa6;        
        border-top: 1px solid #333;
        border-left: 1px solid #333;
        border-right: 1px solid #333;
        border-radius: 6px;
        margin-bottom: .5em;
        pointer-events: none;
        display: inline-block;
        opacity: 0;
        transition: opacity .1s linear;

        &.up {
            opacity: 1;
        }
    }

    @include media-breakpoint-down(md) {
        margin-bottom: 0;
    }
}

.tg-output-history, .tg-extraoutput-history{
    z-index: 2;
    max-height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: table;
    color: #d2d2d2; //  default color
    padding: 8px 20px 8px 8px;
    height: 100%;

    .tg-line {
        
        padding-bottom: 1em;
        overflow: hidden;

        &:first-of-type .room {
            padding-top: .5em;
        }

        br {
            clear: both;
        }

        > span {
            padding-top: 8px;           
        }

    }

    p {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .iconimg {
        float: left;
        margin: auto .5em auto 0;        
    }

    .room {
        font-size: 20px;
        font-family: kingthinks;
        color: #ac4c55;
        display: block !important;
        padding-bottom: .2em;
    }

    .out-title {
        font-size: 20px;
        color: #ac4c55;
        font-family: kingthinks;
    }

    .out-description {
        display: block;
        padding-bottom: 1.5em;
        display: flex;
        flex-direction: column;

    }

    /* Description base*/
    .out-descbase, .out-descbase-last{
        display: block;
    }

    /* LIST Mob & Object*/
    .out-list {
        display: block;
        width: 100%;
        padding-top:.5em;
        padding-bottom: .5em;
        
        /* Double Columns style */
        &.col-dispose {
            display: flex;
            flex-wrap: wrap;
            .element {
                padding: 2px 0 0;
                flex: 0 1 50%;
            } 
            .element:nth-child(odd) {
                padding-right: 10px;
            }
        }

        &.firstlist {
            padding-bottom: 0;
        }

        .tg-list-object {
            color: $tg-yellow;
        }
        .tg-list-person {
            color: $tg-lt-green;
        }
        .poseq {
            color: $tg-yellow;
        }
    }

    .hstat {
        background-position: 0 0px;
        display: inline-block;
        margin: auto .5em auto 0.3em;
        background: url($imgPath + '/interface/obj_mob_health_small.png') no-repeat;
        box-sizing: content-box;
        height: 13px;
        width: 21px;
        flex: 1 0 21px;
        
    }

    .grpcoll {
        display: block;
        &.expanded {
            flex: 1 1 100%!important;
            background-color: $gray-900;
            position: relative;
            z-index: 2;
            border: 1px solid $gray-700;
        }
    }

    .grpexp {
        border:1px solid $gray-700;
        flex: 1 1 100%;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: .2em;
        margin-top: -1px;
        padding:.2em 0;
        position: relative;
        z-index: 1;
        .element {
            flex: 1 1 50%;
        }
    }

    .out-charsubdetail{
        padding-top:.4em;
    }

    .element {
        cursor: pointer;
        display: flex;
        margin-bottom: 2px;
        vertical-align: middle;
        line-height: 14px;
    }
    
    .desc {
        display: inline-block;
        vertical-align: middle;
        margin: auto 0;
        flex-direction: row;
        display: flex;

        .dd-desc {
            /*flex-direction: row;
            display: flex;*/
        }
    }


    .tg-backdetail {
        display: flex;

        .backslot {
            cursor: pointer;
        }

        .desc {
            color: white;
        }
    }

    .extraoutput-header {
        display: none;
        overflow: hidden; 
        padding-bottom: .4em;
        margin-left: -5px;
        margin-right: -20px;
        margin-bottom: 1em;
        border-bottom: 1px solid #433b3a;
        box-shadow: inset 0 -13px 65px 0px black;
        background: url($imgPath + '/background/detaildesc-bg.jpg');
        
        .out-title {
            padding: .2em 0;
            background: url($imgPath + '/background/blood_dark.jpg') repeat top left;
            padding: .2em 10px;
            color: #dbbf90;
            border-bottom: 1px solid #433b3a;
            text-shadow: 0 0 12px #dbbf90;
            box-shadow: inset 0px 0px 20px 4px black;
            font-size: 16px;

        }

        .detaildesc {
            padding: 0.5em 10px .2em;
            
        }
        
        .extra-detailimg {
            max-width: 148px;
            border: 1px solid #60482b;
            padding:2px;
            float:left;
            margin: .5em .5em 0 .5em;

            img {
                max-width: 100%;
            }
        }

        .out-descbase {
            padding: .2em 0;
        }
    }

    // Highlight 
    .mrn-hlight {
        border:1px solid $tg-yellow;
    }
    
    /* TABLE */
    .out-table {
        border:1px solid $gray-900;

        .tg-caption {
            border-bottom: 1px solid $gray-900;
        }

        .rps-col {
            background: #0f0f0f;
        }
        .col-4, .col-5 {
            border-left:1px solid $gray-900;
        }

        .meter2 {
            width: 100%;
            height: 100%;
        }

       
    }
}

/* Extra Output Area */
.extranotice {
    display: table;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    max-width: 90%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 11px;
    padding: 10px 10px;
    border-bottom: 1px solid #222;
    border-top: 1px solid #222;
    box-sizing: border-box;
    color: #9e9e9e;
    letter-spacing: 1px;
    white-space: nowrap;
    font-family: kingthinks;

    span {
        color: #e0df9d;
    }
}

.tg-output-extra {
    width: auto;
    display: none;
    margin: 0 0 6px;
    z-index: 2;
    right: 0;
    overflow: hidden;
    position: absolute;

    .tg-extraoutput-history {
        padding-top: 0;
        padding-left: 0;
    }

    .out-list {
        padding-bottom: .2em;
    }

}