.tg-output{
    background: black;
    flex: 1 1 auto;
    font-size: 11px;
    position: relative;
    margin-bottom: 8px;
    line-height: 1.4;

    .tg-output-wrap {
        position: relative;
        flex: auto;
        padding-top: 20px;
        margin: 6px 0;
        display: flex;
    }
    .tg-output-options {
        height: 30px;
        position: absolute;
        left: $ironlight-border-size;
        right: $ironlight-border-size;
        z-index: 2;
        border-bottom: $gray-900;
        padding: 0 1em 10px;
        text-align: right;
        box-shadow: inset 0 0 9px 5px black;
        background: #15100c url($imgPath + '/borders/border-001-horizontal.png') repeat-x bottom left;
        ul {
            margin: 0;
        }
    }
    .tg-output-history, .tg-extraoutput-history {
        z-index: 2;
        max-height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: table;
        color: #d2d2d2; //  default color
        padding: 8px 20px 8px 8px;

        .iconimg {
            margin-right: .5em;
        }
    }
}

.tg-output-history, .tg-extraoutput-history{

    .tg-line {
        padding-bottom: 1em;
        &:first-of-type .room {
            padding-top: .5em;
        }
    }

    p {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .room {
        font-size: 20px;
        font-family: kingthinks;
        color: #ac4c55;
        display: block !important;
        padding-bottom: .2em;
    }

    .out-title {
        font-size: 20px;
        color: #ac4c55;
        font-family: kingthinks;
    }

    .out-description {
        display: block;
        padding-bottom: 1.5em;
        display: flex;
        flex-direction: column;

    }

    /* Description base*/
    .out-descbase, .out-descbase-last{
        display: block;
    }

    /* LIST Mob & Object*/
    .out-list {
        display: block;
        width: 100%;
        padding-top:.5em;
        
        /* Double Columns style */
        &.col-dispose {
            display: flex;
            flex-wrap: wrap;
            .element {
                padding: 2px 0;
                flex: 0 1 50%;
            } 
            .element:nth-child(odd) {
                padding-right: 10px;
            }
        }

        &.firstlist {
            padding-bottom: 0;
        }

        .cnt {
            color: #f2ff00;
        }
    }

    .grpcoll {
        display: block;
    }


    .out-charsubdetail{
        padding-top:.4em;
    }

    .element {
        cursor: pointer;
        display: flex;

        .desc {
            display: flex;
            margin: auto 0;
            display: inline-block;
        }
    }

    .iconimg {
        background-image: url($imgPath + '/tiles/tiles.png');
        background-repeat: no-repeat;
        width: 32px;
        height: 32px;
        min-width: 32px;
        display: inline-block !important;
        zoom: .8;
        vertical-align: middle;
    }
    > .iconimg {
        float:left;
    }
       
    .tg-title {
        display: block !important;
        font-size: 22px;
    }

    // Highlight 
    .mrn-hlight {
        border:1px solid $tg-yellow;
    }
}

/* Extra Output Area */

.tg-outputextra-wrap {
    display: none;
    background: url($imgPath + '/borders/border-002-tiny-v.png') top left repeat-y;
    width: 50%;
    padding-top: 20px;
    margin: 6px 0;
    z-index: 2;
    position: relative;

    .desc {
        color: #f2ff00;
    }
}
