@import 'sky';

.tg-rightside{

    background: url($imgPath + '/background/wood_rightside.jpg') repeat top left;
    overflow: hidden;

    .tg-rightside-wrap {
        height: 100%;
        width: 100%;
        background: url($imgPath + '/borders/border-paneleft-left.png') repeat-y top left;
        padding-left: 15px;
        box-shadow: inset 3px -2px 112px 7px black;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .tg-map {
        background: url($imgPath + '/interface/quadrante.png') no-repeat top left;
        background-size: contain;
        box-sizing: content-box;
        position: relative;
        z-index: 3;
        width: 288px;
        flex: 1 0 516px;
        padding-left: 47px; 
        padding-right: 47px;
       
        .tg-map-box {
            position: relative;
            //background-color: #000;
            border-radius: 50%;
            position: absolute;
            cursor: pointer;
            width: 288px;
            height: 288px;
            top: 116px;         
            
            &:after {
                display: block;
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                border-radius: 50%;
                z-index: 6;
                box-shadow: inset 0 0 20px 2px black;
            }

            canvas {
                background-color: transparent;
                max-width:  100%;
                max-height: 100%;
            }

            .canvas-snow, .canvas-rain {
                display: none;
                position: absolute;
                z-index: 5;
                height: 100%;
                width: 100%;
                background-color: transparent;
                border-radius: 50%;
            }
        }
    }

    .dir-ico {
        background-image: url($imgPath + '/interface/pass_sprite.png');
        background-repeat: no-repeat;
        width: 26px;
        height: 26px;
        display: block;
        position: absolute;
        border-radius: 50%;
        background-position: -32px;
    }

    .tg-directions {
        position: absolute;
        z-index: 4;
        left:0;
        top: 0;
        bottom:0;
        right:0;
        .tg-dir {
            position: absolute;
            zoom: .8;
        }



        .dir-nord .dir-ico {
            top: 11px;
            left: 22px;
        }
        .dir-ovest .dir-ico {
            top: 21px;
            left: 10px;
        }
        .dir-sud .dir-ico {
            top: 18px;
            left: 22px;
        }
        .dir-est .dir-ico {
            top: 21px;
            left: 17px;
        }
        .dir-basso, .dir-alto {
            &:before {
                content: attr(data-label);
                position: absolute;
                top: -16px;
                width: 100%;
                text-align: center;
                color: #d3c6ae;
                text-shadow: 0 0 4px black;
                font-family: kingthinks;
                white-space: nowrap;
            }
            .dir-ico {
                top: 4px;
                left: 4px;
                background-color: black;
                border-radius: 0;
            }
        }

        .dir-basso:before {
            top: auto;
            bottom: -16px;
        }
        
        .dir-nord {
            @include sprite($nord-dir-sprite);
            top: 66px;
            left: 148px;
        }
        .dir-est {
            @include sprite($est-dir-sprite);
            top: 208px;
            right: 4px;
        }
        .dir-sud {
            @include sprite($sud-dir-sprite);
            left: 148px;
            bottom: 68px;
        }
        .dir-ovest {
            @include sprite($ovest-dir-sprite);
            top: 208px;
            left: 4px;
        }
        .dir-alto {
            @include sprite($alto-dir-sprite);
            bottom: 145px;
            left: 22px;
        }
        .dir-basso {
            @include sprite($basso-dir-sprite);
            bottom: 104px;
            left: 58px;
        }
    }

    // Bottom Board
    .tg-right-board {
        background-color: rgba(0,0,0,.5);
        margin: 0 8px 8px;
        padding: 8px;
        flex: 1 1 100%;
    }

    @include media-breakpoint-down(lg) {
        .tg-map {
            width: 222px;
            flex: 1 0 394px;
            padding-left:35px;
            padding-right: 35px;
            
            .tg-map-box {
                top:85px;
                width: 222px;
                height: 222px;
            }
        }

    }

    @include media-breakpoint-up(xl) {
        .tg-directions {
            .tg-dir {
                zoom: 1;
            }

            .dir-nord {
                @include sprite($nord-dir-sprite);
                top: 72px;
                left: 155px;
            }
            .dir-est {
                @include sprite($est-dir-sprite);
                top: 226px;
                right: 6px;
            }
            .dir-sud {
                @include sprite($sud-dir-sprite);
                bottom: 73px;
                left: 155px;
            }
            .dir-ovest {
                @include sprite($ovest-dir-sprite);
                top: 226px;
                left: 4px;
            }

            .dir-alto {
                bottom: 145px;
                left: 16px;
            }
            .dir-basso {
                bottom: 108px;
                left: 53px;
            }
        }
    }
}
