// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$weather-moon-sprite-name: 'weather_moon@sprite';
$weather-moon-sprite-x: 0px;
$weather-moon-sprite-y: 0px;
$weather-moon-sprite-offset-x: 0px;
$weather-moon-sprite-offset-y: 0px;
$weather-moon-sprite-width: 83px;
$weather-moon-sprite-height: 83px;
$weather-moon-sprite-total-width: 83px;
$weather-moon-sprite-total-height: 83px;
$weather-moon-sprite-image: '../images/sky/sky_sprite.png';
$weather-moon-sprite: (0px, 0px, 0px, 0px, 83px, 83px, 83px, 83px, '../images/sky/sky_sprite.png', 'weather_moon@sprite', );
$spritesheet-width: 83px;
$spritesheet-height: 83px;
$spritesheet-image: '../images/sky/sky_sprite.png';
$spritesheet-sprites: ($weather-moon-sprite, );
$spritesheet: (83px, 83px, '../images/sky/sky_sprite.png', $spritesheet-sprites, );



// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$login-button-sprite-name: 'login_button@sprite';
$login-button-sprite-x: 0px;
$login-button-sprite-y: 0px;
$login-button-sprite-offset-x: 0px;
$login-button-sprite-offset-y: 0px;
$login-button-sprite-width: 309px;
$login-button-sprite-height: 84px;
$login-button-sprite-total-width: 309px;
$login-button-sprite-total-height: 168px;
$login-button-sprite-image: '../images/login/login_sprite.png';
$login-button-sprite: (0px, 0px, 0px, 0px, 309px, 84px, 309px, 168px, '../images/login/login_sprite.png', 'login_button@sprite', );
$login-button-hover-sprite-name: 'login_button_hover@sprite';
$login-button-hover-sprite-x: 0px;
$login-button-hover-sprite-y: 84px;
$login-button-hover-sprite-offset-x: 0px;
$login-button-hover-sprite-offset-y: -84px;
$login-button-hover-sprite-width: 309px;
$login-button-hover-sprite-height: 84px;
$login-button-hover-sprite-total-width: 309px;
$login-button-hover-sprite-total-height: 168px;
$login-button-hover-sprite-image: '../images/login/login_sprite.png';
$login-button-hover-sprite: (0px, 84px, 0px, -84px, 309px, 84px, 309px, 168px, '../images/login/login_sprite.png', 'login_button_hover@sprite', );
$spritesheet-width: 309px;
$spritesheet-height: 168px;
$spritesheet-image: '../images/login/login_sprite.png';
$spritesheet-sprites: ($login-button-sprite, $login-button-hover-sprite, );
$spritesheet: (309px, 168px, '../images/login/login_sprite.png', $spritesheet-sprites, );



// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$conv-ico-sprite-name: 'conv-ico@sprite';
$conv-ico-sprite-x: 0px;
$conv-ico-sprite-y: 35px;
$conv-ico-sprite-offset-x: 0px;
$conv-ico-sprite-offset-y: -35px;
$conv-ico-sprite-width: 19px;
$conv-ico-sprite-height: 19px;
$conv-ico-sprite-total-width: 65px;
$conv-ico-sprite-total-height: 54px;
$conv-ico-sprite-image: '../images/icons/icons_sprite.png';
$conv-ico-sprite: (0px, 35px, 0px, -35px, 19px, 19px, 65px, 54px, '../images/icons/icons_sprite.png', 'conv-ico@sprite', );
$editor-lapis-sprite-name: 'editor_lapis@sprite';
$editor-lapis-sprite-x: 0px;
$editor-lapis-sprite-y: 0px;
$editor-lapis-sprite-offset-x: 0px;
$editor-lapis-sprite-offset-y: 0px;
$editor-lapis-sprite-width: 35px;
$editor-lapis-sprite-height: 35px;
$editor-lapis-sprite-total-width: 65px;
$editor-lapis-sprite-total-height: 54px;
$editor-lapis-sprite-image: '../images/icons/icons_sprite.png';
$editor-lapis-sprite: (0px, 0px, 0px, 0px, 35px, 35px, 65px, 54px, '../images/icons/icons_sprite.png', 'editor_lapis@sprite', );
$heart-minus-sprite-name: 'heart-minus@sprite';
$heart-minus-sprite-x: 19px;
$heart-minus-sprite-y: 35px;
$heart-minus-sprite-offset-x: -19px;
$heart-minus-sprite-offset-y: -35px;
$heart-minus-sprite-width: 18px;
$heart-minus-sprite-height: 18px;
$heart-minus-sprite-total-width: 65px;
$heart-minus-sprite-total-height: 54px;
$heart-minus-sprite-image: '../images/icons/icons_sprite.png';
$heart-minus-sprite: (19px, 35px, -19px, -35px, 18px, 18px, 65px, 54px, '../images/icons/icons_sprite.png', 'heart-minus@sprite', );
$monete-ico-sprite-name: 'monete-ico@sprite';
$monete-ico-sprite-x: 35px;
$monete-ico-sprite-y: 0px;
$monete-ico-sprite-offset-x: -35px;
$monete-ico-sprite-offset-y: 0px;
$monete-ico-sprite-width: 30px;
$monete-ico-sprite-height: 30px;
$monete-ico-sprite-total-width: 65px;
$monete-ico-sprite-total-height: 54px;
$monete-ico-sprite-image: '../images/icons/icons_sprite.png';
$monete-ico-sprite: (35px, 0px, -35px, 0px, 30px, 30px, 65px, 54px, '../images/icons/icons_sprite.png', 'monete-ico@sprite', );
$spritesheet-width: 65px;
$spritesheet-height: 54px;
$spritesheet-image: '../images/icons/icons_sprite.png';
$spritesheet-sprites: ($conv-ico-sprite, $editor-lapis-sprite, $heart-minus-sprite, $monete-ico-sprite, );
$spritesheet: (65px, 54px, '../images/icons/icons_sprite.png', $spritesheet-sprites, );



// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$alto-dir-sprite-name: 'alto-dir@sprite';
$alto-dir-sprite-x: 120px;
$alto-dir-sprite-y: 52px;
$alto-dir-sprite-offset-x: -120px;
$alto-dir-sprite-offset-y: -52px;
$alto-dir-sprite-width: 34px;
$alto-dir-sprite-height: 34px;
$alto-dir-sprite-total-width: 188px;
$alto-dir-sprite-total-height: 123px;
$alto-dir-sprite-image: '../images/mapobj/mapobj_sprite.png';
$alto-dir-sprite: (120px, 52px, -120px, -52px, 34px, 34px, 188px, 123px, '../images/mapobj/mapobj_sprite.png', 'alto-dir@sprite', );
$basso-dir-sprite-name: 'basso-dir@sprite';
$basso-dir-sprite-x: 154px;
$basso-dir-sprite-y: 52px;
$basso-dir-sprite-offset-x: -154px;
$basso-dir-sprite-offset-y: -52px;
$basso-dir-sprite-width: 34px;
$basso-dir-sprite-height: 34px;
$basso-dir-sprite-total-width: 188px;
$basso-dir-sprite-total-height: 123px;
$basso-dir-sprite-image: '../images/mapobj/mapobj_sprite.png';
$basso-dir-sprite: (154px, 52px, -154px, -52px, 34px, 34px, 188px, 123px, '../images/mapobj/mapobj_sprite.png', 'basso-dir@sprite', );
$est-dir-sprite-name: 'est-dir@sprite';
$est-dir-sprite-x: 0px;
$est-dir-sprite-y: 55px;
$est-dir-sprite-offset-x: 0px;
$est-dir-sprite-offset-y: -55px;
$est-dir-sprite-width: 52px;
$est-dir-sprite-height: 68px;
$est-dir-sprite-total-width: 188px;
$est-dir-sprite-total-height: 123px;
$est-dir-sprite-image: '../images/mapobj/mapobj_sprite.png';
$est-dir-sprite: (0px, 55px, 0px, -55px, 52px, 68px, 188px, 123px, '../images/mapobj/mapobj_sprite.png', 'est-dir@sprite', );
$nord-dir-sprite-name: 'nord-dir@sprite';
$nord-dir-sprite-x: 0px;
$nord-dir-sprite-y: 0px;
$nord-dir-sprite-offset-x: 0px;
$nord-dir-sprite-offset-y: 0px;
$nord-dir-sprite-width: 68px;
$nord-dir-sprite-height: 55px;
$nord-dir-sprite-total-width: 188px;
$nord-dir-sprite-total-height: 123px;
$nord-dir-sprite-image: '../images/mapobj/mapobj_sprite.png';
$nord-dir-sprite: (0px, 0px, 0px, 0px, 68px, 55px, 188px, 123px, '../images/mapobj/mapobj_sprite.png', 'nord-dir@sprite', );
$ovest-dir-sprite-name: 'ovest-dir@sprite';
$ovest-dir-sprite-x: 68px;
$ovest-dir-sprite-y: 0px;
$ovest-dir-sprite-offset-x: -68px;
$ovest-dir-sprite-offset-y: 0px;
$ovest-dir-sprite-width: 52px;
$ovest-dir-sprite-height: 68px;
$ovest-dir-sprite-total-width: 188px;
$ovest-dir-sprite-total-height: 123px;
$ovest-dir-sprite-image: '../images/mapobj/mapobj_sprite.png';
$ovest-dir-sprite: (68px, 0px, -68px, 0px, 52px, 68px, 188px, 123px, '../images/mapobj/mapobj_sprite.png', 'ovest-dir@sprite', );
$sud-dir-sprite-name: 'sud-dir@sprite';
$sud-dir-sprite-x: 120px;
$sud-dir-sprite-y: 0px;
$sud-dir-sprite-offset-x: -120px;
$sud-dir-sprite-offset-y: 0px;
$sud-dir-sprite-width: 68px;
$sud-dir-sprite-height: 52px;
$sud-dir-sprite-total-width: 188px;
$sud-dir-sprite-total-height: 123px;
$sud-dir-sprite-image: '../images/mapobj/mapobj_sprite.png';
$sud-dir-sprite: (120px, 0px, -120px, 0px, 68px, 52px, 188px, 123px, '../images/mapobj/mapobj_sprite.png', 'sud-dir@sprite', );
$spritesheet-width: 188px;
$spritesheet-height: 123px;
$spritesheet-image: '../images/mapobj/mapobj_sprite.png';
$spritesheet-sprites: ($alto-dir-sprite, $basso-dir-sprite, $est-dir-sprite, $nord-dir-sprite, $ovest-dir-sprite, $sud-dir-sprite, );
$spritesheet: (188px, 123px, '../images/mapobj/mapobj_sprite.png', $spritesheet-sprites, );



// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$checked-sprite-name: 'checked@sprite';
$checked-sprite-x: 55px;
$checked-sprite-y: 150px;
$checked-sprite-offset-x: -55px;
$checked-sprite-offset-y: -150px;
$checked-sprite-width: 26px;
$checked-sprite-height: 26px;
$checked-sprite-total-width: 256px;
$checked-sprite-total-height: 205px;
$checked-sprite-image: '../images/various/various_sprite.png';
$checked-sprite: (55px, 150px, -55px, -150px, 26px, 26px, 256px, 205px, '../images/various/various_sprite.png', 'checked@sprite', );
$combatpanel-box-notarget-sprite-name: 'combatpanel_box_notarget@sprite';
$combatpanel-box-notarget-sprite-x: 0px;
$combatpanel-box-notarget-sprite-y: 0px;
$combatpanel-box-notarget-sprite-offset-x: 0px;
$combatpanel-box-notarget-sprite-offset-y: 0px;
$combatpanel-box-notarget-sprite-width: 256px;
$combatpanel-box-notarget-sprite-height: 75px;
$combatpanel-box-notarget-sprite-total-width: 256px;
$combatpanel-box-notarget-sprite-total-height: 205px;
$combatpanel-box-notarget-sprite-image: '../images/various/various_sprite.png';
$combatpanel-box-notarget-sprite: (0px, 0px, 0px, 0px, 256px, 75px, 256px, 205px, '../images/various/various_sprite.png', 'combatpanel_box_notarget@sprite', );
$combatpanel-box-target-sprite-name: 'combatpanel_box_target@sprite';
$combatpanel-box-target-sprite-x: 0px;
$combatpanel-box-target-sprite-y: 75px;
$combatpanel-box-target-sprite-offset-x: 0px;
$combatpanel-box-target-sprite-offset-y: -75px;
$combatpanel-box-target-sprite-width: 256px;
$combatpanel-box-target-sprite-height: 75px;
$combatpanel-box-target-sprite-total-width: 256px;
$combatpanel-box-target-sprite-total-height: 205px;
$combatpanel-box-target-sprite-image: '../images/various/various_sprite.png';
$combatpanel-box-target-sprite: (0px, 75px, 0px, -75px, 256px, 75px, 256px, 205px, '../images/various/various_sprite.png', 'combatpanel_box_target@sprite', );
$input-left-decoration-sprite-name: 'input_left_decoration@sprite';
$input-left-decoration-sprite-x: 125px;
$input-left-decoration-sprite-y: 150px;
$input-left-decoration-sprite-offset-x: -125px;
$input-left-decoration-sprite-offset-y: -150px;
$input-left-decoration-sprite-width: 9px;
$input-left-decoration-sprite-height: 16px;
$input-left-decoration-sprite-total-width: 256px;
$input-left-decoration-sprite-total-height: 205px;
$input-left-decoration-sprite-image: '../images/various/various_sprite.png';
$input-left-decoration-sprite: (125px, 150px, -125px, -150px, 9px, 16px, 256px, 205px, '../images/various/various_sprite.png', 'input_left_decoration@sprite', );
$input-right-decoration-sprite-name: 'input_right_decoration@sprite';
$input-right-decoration-sprite-x: 134px;
$input-right-decoration-sprite-y: 150px;
$input-right-decoration-sprite-offset-x: -134px;
$input-right-decoration-sprite-offset-y: -150px;
$input-right-decoration-sprite-width: 9px;
$input-right-decoration-sprite-height: 16px;
$input-right-decoration-sprite-total-width: 256px;
$input-right-decoration-sprite-total-height: 205px;
$input-right-decoration-sprite-image: '../images/various/various_sprite.png';
$input-right-decoration-sprite: (134px, 150px, -134px, -150px, 9px, 16px, 256px, 205px, '../images/various/various_sprite.png', 'input_right_decoration@sprite', );
$modal-icon-sprite-name: 'modal-icon@sprite';
$modal-icon-sprite-x: 0px;
$modal-icon-sprite-y: 150px;
$modal-icon-sprite-offset-x: 0px;
$modal-icon-sprite-offset-y: -150px;
$modal-icon-sprite-width: 55px;
$modal-icon-sprite-height: 55px;
$modal-icon-sprite-total-width: 256px;
$modal-icon-sprite-total-height: 205px;
$modal-icon-sprite-image: '../images/various/various_sprite.png';
$modal-icon-sprite: (0px, 150px, 0px, -150px, 55px, 55px, 256px, 205px, '../images/various/various_sprite.png', 'modal-icon@sprite', );
$notchecked-sprite-name: 'notchecked@sprite';
$notchecked-sprite-x: 81px;
$notchecked-sprite-y: 150px;
$notchecked-sprite-offset-x: -81px;
$notchecked-sprite-offset-y: -150px;
$notchecked-sprite-width: 26px;
$notchecked-sprite-height: 26px;
$notchecked-sprite-total-width: 256px;
$notchecked-sprite-total-height: 205px;
$notchecked-sprite-image: '../images/various/various_sprite.png';
$notchecked-sprite: (81px, 150px, -81px, -150px, 26px, 26px, 256px, 205px, '../images/various/various_sprite.png', 'notchecked@sprite', );
$submitcerca-sprite-name: 'submitcerca@sprite';
$submitcerca-sprite-x: 107px;
$submitcerca-sprite-y: 150px;
$submitcerca-sprite-offset-x: -107px;
$submitcerca-sprite-offset-y: -150px;
$submitcerca-sprite-width: 18px;
$submitcerca-sprite-height: 18px;
$submitcerca-sprite-total-width: 256px;
$submitcerca-sprite-total-height: 205px;
$submitcerca-sprite-image: '../images/various/various_sprite.png';
$submitcerca-sprite: (107px, 150px, -107px, -150px, 18px, 18px, 256px, 205px, '../images/various/various_sprite.png', 'submitcerca@sprite', );
$spritesheet-width: 256px;
$spritesheet-height: 205px;
$spritesheet-image: '../images/various/various_sprite.png';
$spritesheet-sprites: ($checked-sprite, $combatpanel-box-notarget-sprite, $combatpanel-box-target-sprite, $input-left-decoration-sprite, $input-right-decoration-sprite, $modal-icon-sprite, $notchecked-sprite, $submitcerca-sprite, );
$spritesheet: (256px, 205px, '../images/various/various_sprite.png', $spritesheet-sprites, );



// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$back-square-sprite-name: 'back_square@sprite';
$back-square-sprite-x: 131px;
$back-square-sprite-y: 197px;
$back-square-sprite-offset-x: -131px;
$back-square-sprite-offset-y: -197px;
$back-square-sprite-width: 25px;
$back-square-sprite-height: 23px;
$back-square-sprite-total-width: 366px;
$back-square-sprite-total-height: 257px;
$back-square-sprite-image: '../images/buttons/buttons_sprite.png';
$back-square-sprite: (131px, 197px, -131px, -197px, 25px, 23px, 366px, 257px, '../images/buttons/buttons_sprite.png', 'back_square@sprite', );
$base-square-sprite-name: 'base-square@sprite';
$base-square-sprite-x: 181px;
$base-square-sprite-y: 170px;
$base-square-sprite-offset-x: -181px;
$base-square-sprite-offset-y: -170px;
$base-square-sprite-width: 25px;
$base-square-sprite-height: 24px;
$base-square-sprite-total-width: 366px;
$base-square-sprite-total-height: 257px;
$base-square-sprite-image: '../images/buttons/buttons_sprite.png';
$base-square-sprite: (181px, 170px, -181px, -170px, 25px, 24px, 366px, 257px, '../images/buttons/buttons_sprite.png', 'base-square@sprite', );
$base-brown-sprite-name: 'base_brown@sprite';
$base-brown-sprite-x: 68px;
$base-brown-sprite-y: 224px;
$base-brown-sprite-offset-x: -68px;
$base-brown-sprite-offset-y: -224px;
$base-brown-sprite-width: 31px;
$base-brown-sprite-height: 31px;
$base-brown-sprite-total-width: 366px;
$base-brown-sprite-total-height: 257px;
$base-brown-sprite-image: '../images/buttons/buttons_sprite.png';
$base-brown-sprite: (68px, 224px, -68px, -224px, 31px, 31px, 366px, 257px, '../images/buttons/buttons_sprite.png', 'base_brown@sprite', );
$btn-annulla-sprite-name: 'btn-annulla@sprite';
$btn-annulla-sprite-x: 0px;
$btn-annulla-sprite-y: 34px;
$btn-annulla-sprite-offset-x: 0px;
$btn-annulla-sprite-offset-y: -34px;
$btn-annulla-sprite-width: 115px;
$btn-annulla-sprite-height: 34px;
$btn-annulla-sprite-total-width: 366px;
$btn-annulla-sprite-total-height: 257px;
$btn-annulla-sprite-image: '../images/buttons/buttons_sprite.png';
$btn-annulla-sprite: (0px, 34px, 0px, -34px, 115px, 34px, 366px, 257px, '../images/buttons/buttons_sprite.png', 'btn-annulla@sprite', );
$btn-config-graph-sprite-name: 'btn-config-graph@sprite';
$btn-config-graph-sprite-x: 0px;
$btn-config-graph-sprite-y: 224px;
$btn-config-graph-sprite-offset-x: 0px;
$btn-config-graph-sprite-offset-y: -224px;
$btn-config-graph-sprite-width: 34px;
$btn-config-graph-sprite-height: 33px;
$btn-config-graph-sprite-total-width: 366px;
$btn-config-graph-sprite-total-height: 257px;
$btn-config-graph-sprite-image: '../images/buttons/buttons_sprite.png';
$btn-config-graph-sprite: (0px, 224px, 0px, -224px, 34px, 33px, 366px, 257px, '../images/buttons/buttons_sprite.png', 'btn-config-graph@sprite', );
$btn-continua-sprite-name: 'btn-continua@sprite';
$btn-continua-sprite-x: 0px;
$btn-continua-sprite-y: 0px;
$btn-continua-sprite-offset-x: 0px;
$btn-continua-sprite-offset-y: 0px;
$btn-continua-sprite-width: 127px;
$btn-continua-sprite-height: 34px;
$btn-continua-sprite-total-width: 366px;
$btn-continua-sprite-total-height: 257px;
$btn-continua-sprite-image: '../images/buttons/buttons_sprite.png';
$btn-continua-sprite: (0px, 0px, 0px, 0px, 127px, 34px, 366px, 257px, '../images/buttons/buttons_sprite.png', 'btn-continua@sprite', );
$btn-equip-active-sprite-name: 'btn-equip-active@sprite';
$btn-equip-active-sprite-x: 0px;
$btn-equip-active-sprite-y: 102px;
$btn-equip-active-sprite-offset-x: 0px;
$btn-equip-active-sprite-offset-y: -102px;
$btn-equip-active-sprite-width: 106px;
$btn-equip-active-sprite-height: 34px;
$btn-equip-active-sprite-total-width: 366px;
$btn-equip-active-sprite-total-height: 257px;
$btn-equip-active-sprite-image: '../images/buttons/buttons_sprite.png';
$btn-equip-active-sprite: (0px, 102px, 0px, -102px, 106px, 34px, 366px, 257px, '../images/buttons/buttons_sprite.png', 'btn-equip-active@sprite', );
$btn-equip-graph-sprite-name: 'btn-equip-graph@sprite';
$btn-equip-graph-sprite-x: 303px;
$btn-equip-graph-sprite-y: 169px;
$btn-equip-graph-sprite-offset-x: -303px;
$btn-equip-graph-sprite-offset-y: -169px;
$btn-equip-graph-sprite-width: 34px;
$btn-equip-graph-sprite-height: 33px;
$btn-equip-graph-sprite-total-width: 366px;
$btn-equip-graph-sprite-total-height: 257px;
$btn-equip-graph-sprite-image: '../images/buttons/buttons_sprite.png';
$btn-equip-graph-sprite: (303px, 169px, -303px, -169px, 34px, 33px, 366px, 257px, '../images/buttons/buttons_sprite.png', 'btn-equip-graph@sprite', );
$btn-equip-sprite-name: 'btn-equip@sprite';
$btn-equip-sprite-x: 0px;
$btn-equip-sprite-y: 136px;
$btn-equip-sprite-offset-x: 0px;
$btn-equip-sprite-offset-y: -136px;
$btn-equip-sprite-width: 106px;
$btn-equip-sprite-height: 34px;
$btn-equip-sprite-total-width: 366px;
$btn-equip-sprite-total-height: 257px;
$btn-equip-sprite-image: '../images/buttons/buttons_sprite.png';
$btn-equip-sprite: (0px, 136px, 0px, -136px, 106px, 34px, 366px, 257px, '../images/buttons/buttons_sprite.png', 'btn-equip@sprite', );
$btn-info-active-sprite-name: 'btn-info-active@sprite';
$btn-info-active-sprite-x: 106px;
$btn-info-active-sprite-y: 136px;
$btn-info-active-sprite-offset-x: -106px;
$btn-info-active-sprite-offset-y: -136px;
$btn-info-active-sprite-width: 106px;
$btn-info-active-sprite-height: 34px;
$btn-info-active-sprite-total-width: 366px;
$btn-info-active-sprite-total-height: 257px;
$btn-info-active-sprite-image: '../images/buttons/buttons_sprite.png';
$btn-info-active-sprite: (106px, 136px, -106px, -136px, 106px, 34px, 366px, 257px, '../images/buttons/buttons_sprite.png', 'btn-info-active@sprite', );
$btn-info-graph-sprite-name: 'btn-info-graph@sprite';
$btn-info-graph-sprite-x: 235px;
$btn-info-graph-sprite-y: 169px;
$btn-info-graph-sprite-offset-x: -235px;
$btn-info-graph-sprite-offset-y: -169px;
$btn-info-graph-sprite-width: 34px;
$btn-info-graph-sprite-height: 33px;
$btn-info-graph-sprite-total-width: 366px;
$btn-info-graph-sprite-total-height: 257px;
$btn-info-graph-sprite-image: '../images/buttons/buttons_sprite.png';
$btn-info-graph-sprite: (235px, 169px, -235px, -169px, 34px, 33px, 366px, 257px, '../images/buttons/buttons_sprite.png', 'btn-info-graph@sprite', );
$btn-info-sprite-name: 'btn-info@sprite';
$btn-info-sprite-x: 106px;
$btn-info-sprite-y: 102px;
$btn-info-sprite-offset-x: -106px;
$btn-info-sprite-offset-y: -102px;
$btn-info-sprite-width: 106px;
$btn-info-sprite-height: 34px;
$btn-info-sprite-total-width: 366px;
$btn-info-sprite-total-height: 257px;
$btn-info-sprite-image: '../images/buttons/buttons_sprite.png';
$btn-info-sprite: (106px, 102px, -106px, -102px, 106px, 34px, 366px, 257px, '../images/buttons/buttons_sprite.png', 'btn-info@sprite', );
$btn-inventario-active-sprite-name: 'btn-inventario-active@sprite';
$btn-inventario-active-sprite-x: 127px;
$btn-inventario-active-sprite-y: 34px;
$btn-inventario-active-sprite-offset-x: -127px;
$btn-inventario-active-sprite-offset-y: -34px;
$btn-inventario-active-sprite-width: 108px;
$btn-inventario-active-sprite-height: 34px;
$btn-inventario-active-sprite-total-width: 366px;
$btn-inventario-active-sprite-total-height: 257px;
$btn-inventario-active-sprite-image: '../images/buttons/buttons_sprite.png';
$btn-inventario-active-sprite: (127px, 34px, -127px, -34px, 108px, 34px, 366px, 257px, '../images/buttons/buttons_sprite.png', 'btn-inventario-active@sprite', );
$btn-inventario-graph-sprite-name: 'btn-inventario-graph@sprite';
$btn-inventario-graph-sprite-x: 34px;
$btn-inventario-graph-sprite-y: 224px;
$btn-inventario-graph-sprite-offset-x: -34px;
$btn-inventario-graph-sprite-offset-y: -224px;
$btn-inventario-graph-sprite-width: 34px;
$btn-inventario-graph-sprite-height: 33px;
$btn-inventario-graph-sprite-total-width: 366px;
$btn-inventario-graph-sprite-total-height: 257px;
$btn-inventario-graph-sprite-image: '../images/buttons/buttons_sprite.png';
$btn-inventario-graph-sprite: (34px, 224px, -34px, -224px, 34px, 33px, 366px, 257px, '../images/buttons/buttons_sprite.png', 'btn-inventario-graph@sprite', );
$btn-inventario-sprite-name: 'btn-inventario@sprite';
$btn-inventario-sprite-x: 127px;
$btn-inventario-sprite-y: 68px;
$btn-inventario-sprite-offset-x: -127px;
$btn-inventario-sprite-offset-y: -68px;
$btn-inventario-sprite-width: 108px;
$btn-inventario-sprite-height: 34px;
$btn-inventario-sprite-total-width: 366px;
$btn-inventario-sprite-total-height: 257px;
$btn-inventario-sprite-image: '../images/buttons/buttons_sprite.png';
$btn-inventario-sprite: (127px, 68px, -127px, -68px, 108px, 34px, 366px, 257px, '../images/buttons/buttons_sprite.png', 'btn-inventario@sprite', );
$btn-modifica-sprite-name: 'btn-modifica@sprite';
$btn-modifica-sprite-x: 235px;
$btn-modifica-sprite-y: 54px;
$btn-modifica-sprite-offset-x: -235px;
$btn-modifica-sprite-offset-y: -54px;
$btn-modifica-sprite-width: 131px;
$btn-modifica-sprite-height: 27px;
$btn-modifica-sprite-total-width: 366px;
$btn-modifica-sprite-total-height: 257px;
$btn-modifica-sprite-image: '../images/buttons/buttons_sprite.png';
$btn-modifica-sprite: (235px, 54px, -235px, -54px, 131px, 27px, 366px, 257px, '../images/buttons/buttons_sprite.png', 'btn-modifica@sprite', );
$btn-pieta-sprite-name: 'btn-pieta@sprite';
$btn-pieta-sprite-x: 292px;
$btn-pieta-sprite-y: 202px;
$btn-pieta-sprite-offset-x: -292px;
$btn-pieta-sprite-offset-y: -202px;
$btn-pieta-sprite-width: 57px;
$btn-pieta-sprite-height: 19px;
$btn-pieta-sprite-total-width: 366px;
$btn-pieta-sprite-total-height: 257px;
$btn-pieta-sprite-image: '../images/buttons/buttons_sprite.png';
$btn-pieta-sprite: (292px, 202px, -292px, -202px, 57px, 19px, 366px, 257px, '../images/buttons/buttons_sprite.png', 'btn-pieta@sprite', );
$btn-salva-sprite-name: 'btn-salva@sprite';
$btn-salva-sprite-x: 235px;
$btn-salva-sprite-y: 135px;
$btn-salva-sprite-offset-x: -235px;
$btn-salva-sprite-offset-y: -135px;
$btn-salva-sprite-width: 87px;
$btn-salva-sprite-height: 34px;
$btn-salva-sprite-total-width: 366px;
$btn-salva-sprite-total-height: 257px;
$btn-salva-sprite-image: '../images/buttons/buttons_sprite.png';
$btn-salva-sprite: (235px, 135px, -235px, -135px, 87px, 34px, 366px, 257px, '../images/buttons/buttons_sprite.png', 'btn-salva@sprite', );
$btn-skill-active-sprite-name: 'btn-skill-active@sprite';
$btn-skill-active-sprite-x: 0px;
$btn-skill-active-sprite-y: 68px;
$btn-skill-active-sprite-offset-x: 0px;
$btn-skill-active-sprite-offset-y: -68px;
$btn-skill-active-sprite-width: 108px;
$btn-skill-active-sprite-height: 34px;
$btn-skill-active-sprite-total-width: 366px;
$btn-skill-active-sprite-total-height: 257px;
$btn-skill-active-sprite-image: '../images/buttons/buttons_sprite.png';
$btn-skill-active-sprite: (0px, 68px, 0px, -68px, 108px, 34px, 366px, 257px, '../images/buttons/buttons_sprite.png', 'btn-skill-active@sprite', );
$btn-skill-graph-sprite-name: 'btn-skill-graph@sprite';
$btn-skill-graph-sprite-x: 322px;
$btn-skill-graph-sprite-y: 135px;
$btn-skill-graph-sprite-offset-x: -322px;
$btn-skill-graph-sprite-offset-y: -135px;
$btn-skill-graph-sprite-width: 34px;
$btn-skill-graph-sprite-height: 33px;
$btn-skill-graph-sprite-total-width: 366px;
$btn-skill-graph-sprite-total-height: 257px;
$btn-skill-graph-sprite-image: '../images/buttons/buttons_sprite.png';
$btn-skill-graph-sprite: (322px, 135px, -322px, -135px, 34px, 33px, 366px, 257px, '../images/buttons/buttons_sprite.png', 'btn-skill-graph@sprite', );
$btn-skill-sprite-name: 'btn-skill@sprite';
$btn-skill-sprite-x: 127px;
$btn-skill-sprite-y: 0px;
$btn-skill-sprite-offset-x: -127px;
$btn-skill-sprite-offset-y: 0px;
$btn-skill-sprite-width: 108px;
$btn-skill-sprite-height: 34px;
$btn-skill-sprite-total-width: 366px;
$btn-skill-sprite-total-height: 257px;
$btn-skill-sprite-image: '../images/buttons/buttons_sprite.png';
$btn-skill-sprite: (127px, 0px, -127px, 0px, 108px, 34px, 366px, 257px, '../images/buttons/buttons_sprite.png', 'btn-skill@sprite', );
$btn-stato-graph-sprite-name: 'btn-stato-graph@sprite';
$btn-stato-graph-sprite-x: 269px;
$btn-stato-graph-sprite-y: 169px;
$btn-stato-graph-sprite-offset-x: -269px;
$btn-stato-graph-sprite-offset-y: -169px;
$btn-stato-graph-sprite-width: 34px;
$btn-stato-graph-sprite-height: 33px;
$btn-stato-graph-sprite-total-width: 366px;
$btn-stato-graph-sprite-total-height: 257px;
$btn-stato-graph-sprite-image: '../images/buttons/buttons_sprite.png';
$btn-stato-graph-sprite: (269px, 169px, -269px, -169px, 34px, 33px, 366px, 257px, '../images/buttons/buttons_sprite.png', 'btn-stato-graph@sprite', );
$btn-tregua-sprite-name: 'btn-tregua@sprite';
$btn-tregua-sprite-x: 235px;
$btn-tregua-sprite-y: 202px;
$btn-tregua-sprite-offset-x: -235px;
$btn-tregua-sprite-offset-y: -202px;
$btn-tregua-sprite-width: 57px;
$btn-tregua-sprite-height: 19px;
$btn-tregua-sprite-total-width: 366px;
$btn-tregua-sprite-total-height: 257px;
$btn-tregua-sprite-image: '../images/buttons/buttons_sprite.png';
$btn-tregua-sprite: (235px, 202px, -235px, -202px, 57px, 19px, 366px, 257px, '../images/buttons/buttons_sprite.png', 'btn-tregua@sprite', );
$carat-btn-active-sprite-name: 'carat-btn-active@sprite';
$carat-btn-active-sprite-x: 235px;
$carat-btn-active-sprite-y: 27px;
$carat-btn-active-sprite-offset-x: -235px;
$carat-btn-active-sprite-offset-y: -27px;
$carat-btn-active-sprite-width: 131px;
$carat-btn-active-sprite-height: 27px;
$carat-btn-active-sprite-total-width: 366px;
$carat-btn-active-sprite-total-height: 257px;
$carat-btn-active-sprite-image: '../images/buttons/buttons_sprite.png';
$carat-btn-active-sprite: (235px, 27px, -235px, -27px, 131px, 27px, 366px, 257px, '../images/buttons/buttons_sprite.png', 'carat-btn-active@sprite', );
$carat-btn-sprite-name: 'carat-btn@sprite';
$carat-btn-sprite-x: 0px;
$carat-btn-sprite-y: 197px;
$carat-btn-sprite-offset-x: 0px;
$carat-btn-sprite-offset-y: -197px;
$carat-btn-sprite-width: 131px;
$carat-btn-sprite-height: 27px;
$carat-btn-sprite-total-width: 366px;
$carat-btn-sprite-total-height: 257px;
$carat-btn-sprite-image: '../images/buttons/buttons_sprite.png';
$carat-btn-sprite: (0px, 197px, 0px, -197px, 131px, 27px, 366px, 257px, '../images/buttons/buttons_sprite.png', 'carat-btn@sprite', );
$close-sprite-name: 'close@sprite';
$close-sprite-x: 337px;
$close-sprite-y: 169px;
$close-sprite-offset-x: -337px;
$close-sprite-offset-y: -169px;
$close-sprite-width: 26px;
$close-sprite-height: 26px;
$close-sprite-total-width: 366px;
$close-sprite-total-height: 257px;
$close-sprite-image: '../images/buttons/buttons_sprite.png';
$close-sprite: (337px, 169px, -337px, -169px, 26px, 26px, 366px, 257px, '../images/buttons/buttons_sprite.png', 'close@sprite', );
$close-square-sprite-name: 'close_square@sprite';
$close-square-sprite-x: 206px;
$close-square-sprite-y: 170px;
$close-square-sprite-offset-x: -206px;
$close-square-sprite-offset-y: -170px;
$close-square-sprite-width: 25px;
$close-square-sprite-height: 23px;
$close-square-sprite-total-width: 366px;
$close-square-sprite-total-height: 257px;
$close-square-sprite-image: '../images/buttons/buttons_sprite.png';
$close-square-sprite: (206px, 170px, -206px, -170px, 25px, 23px, 366px, 257px, '../images/buttons/buttons_sprite.png', 'close_square@sprite', );
$dashboard-sprite-name: 'dashboard@sprite';
$dashboard-sprite-x: 131px;
$dashboard-sprite-y: 170px;
$dashboard-sprite-offset-x: -131px;
$dashboard-sprite-offset-y: -170px;
$dashboard-sprite-width: 25px;
$dashboard-sprite-height: 25px;
$dashboard-sprite-total-width: 366px;
$dashboard-sprite-total-height: 257px;
$dashboard-sprite-image: '../images/buttons/buttons_sprite.png';
$dashboard-sprite: (131px, 170px, -131px, -170px, 25px, 25px, 366px, 257px, '../images/buttons/buttons_sprite.png', 'dashboard@sprite', );
$descr-btn-active-sprite-name: 'descr-btn-active@sprite';
$descr-btn-active-sprite-x: 235px;
$descr-btn-active-sprite-y: 108px;
$descr-btn-active-sprite-offset-x: -235px;
$descr-btn-active-sprite-offset-y: -108px;
$descr-btn-active-sprite-width: 131px;
$descr-btn-active-sprite-height: 27px;
$descr-btn-active-sprite-total-width: 366px;
$descr-btn-active-sprite-total-height: 257px;
$descr-btn-active-sprite-image: '../images/buttons/buttons_sprite.png';
$descr-btn-active-sprite: (235px, 108px, -235px, -108px, 131px, 27px, 366px, 257px, '../images/buttons/buttons_sprite.png', 'descr-btn-active@sprite', );
$descr-btn-sprite-name: 'descr-btn@sprite';
$descr-btn-sprite-x: 235px;
$descr-btn-sprite-y: 81px;
$descr-btn-sprite-offset-x: -235px;
$descr-btn-sprite-offset-y: -81px;
$descr-btn-sprite-width: 131px;
$descr-btn-sprite-height: 27px;
$descr-btn-sprite-total-width: 366px;
$descr-btn-sprite-total-height: 257px;
$descr-btn-sprite-image: '../images/buttons/buttons_sprite.png';
$descr-btn-sprite: (235px, 81px, -235px, -81px, 131px, 27px, 366px, 257px, '../images/buttons/buttons_sprite.png', 'descr-btn@sprite', );
$expand-sprite-name: 'expand@sprite';
$expand-sprite-x: 156px;
$expand-sprite-y: 170px;
$expand-sprite-offset-x: -156px;
$expand-sprite-offset-y: -170px;
$expand-sprite-width: 25px;
$expand-sprite-height: 25px;
$expand-sprite-total-width: 366px;
$expand-sprite-total-height: 257px;
$expand-sprite-image: '../images/buttons/buttons_sprite.png';
$expand-sprite: (156px, 170px, -156px, -170px, 25px, 25px, 366px, 257px, '../images/buttons/buttons_sprite.png', 'expand@sprite', );
$generalita-btn-active-sprite-name: 'generalita-btn-active@sprite';
$generalita-btn-active-sprite-x: 235px;
$generalita-btn-active-sprite-y: 0px;
$generalita-btn-active-sprite-offset-x: -235px;
$generalita-btn-active-sprite-offset-y: 0px;
$generalita-btn-active-sprite-width: 131px;
$generalita-btn-active-sprite-height: 27px;
$generalita-btn-active-sprite-total-width: 366px;
$generalita-btn-active-sprite-total-height: 257px;
$generalita-btn-active-sprite-image: '../images/buttons/buttons_sprite.png';
$generalita-btn-active-sprite: (235px, 0px, -235px, 0px, 131px, 27px, 366px, 257px, '../images/buttons/buttons_sprite.png', 'generalita-btn-active@sprite', );
$generalita-btn-sprite-name: 'generalita-btn@sprite';
$generalita-btn-sprite-x: 0px;
$generalita-btn-sprite-y: 170px;
$generalita-btn-sprite-offset-x: 0px;
$generalita-btn-sprite-offset-y: -170px;
$generalita-btn-sprite-width: 131px;
$generalita-btn-sprite-height: 27px;
$generalita-btn-sprite-total-width: 366px;
$generalita-btn-sprite-total-height: 257px;
$generalita-btn-sprite-image: '../images/buttons/buttons_sprite.png';
$generalita-btn-sprite: (0px, 170px, 0px, -170px, 131px, 27px, 366px, 257px, '../images/buttons/buttons_sprite.png', 'generalita-btn@sprite', );
$spritesheet-width: 366px;
$spritesheet-height: 257px;
$spritesheet-image: '../images/buttons/buttons_sprite.png';
$spritesheet-sprites: ($back-square-sprite, $base-square-sprite, $base-brown-sprite, $btn-annulla-sprite, $btn-config-graph-sprite, $btn-continua-sprite, $btn-equip-active-sprite, $btn-equip-graph-sprite, $btn-equip-sprite, $btn-info-active-sprite, $btn-info-graph-sprite, $btn-info-sprite, $btn-inventario-active-sprite, $btn-inventario-graph-sprite, $btn-inventario-sprite, $btn-modifica-sprite, $btn-pieta-sprite, $btn-salva-sprite, $btn-skill-active-sprite, $btn-skill-graph-sprite, $btn-skill-sprite, $btn-stato-graph-sprite, $btn-tregua-sprite, $carat-btn-active-sprite, $carat-btn-sprite, $close-sprite, $close-square-sprite, $dashboard-sprite, $descr-btn-active-sprite, $descr-btn-sprite, $expand-sprite, $generalita-btn-active-sprite, $generalita-btn-sprite, );
$spritesheet: (366px, 257px, '../images/buttons/buttons_sprite.png', $spritesheet-sprites, );


