// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$weather-moon-sprite-name: 'weather_moon@sprite';
$weather-moon-sprite-x: 0px;
$weather-moon-sprite-y: 0px;
$weather-moon-sprite-offset-x: 0px;
$weather-moon-sprite-offset-y: 0px;
$weather-moon-sprite-width: 83px;
$weather-moon-sprite-height: 83px;
$weather-moon-sprite-total-width: 83px;
$weather-moon-sprite-total-height: 83px;
$weather-moon-sprite-image: '../images/sky/sky_sprite.png';
$weather-moon-sprite: (0px, 0px, 0px, 0px, 83px, 83px, 83px, 83px, '../images/sky/sky_sprite.png', 'weather_moon@sprite', );
$spritesheet-width: 83px;
$spritesheet-height: 83px;
$spritesheet-image: '../images/sky/sky_sprite.png';
$spritesheet-sprites: ($weather-moon-sprite, );
$spritesheet: (83px, 83px, '../images/sky/sky_sprite.png', $spritesheet-sprites, );



// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$conv-ico-sprite-name: 'conv-ico@sprite';
$conv-ico-sprite-x: 0px;
$conv-ico-sprite-y: 35px;
$conv-ico-sprite-offset-x: 0px;
$conv-ico-sprite-offset-y: -35px;
$conv-ico-sprite-width: 19px;
$conv-ico-sprite-height: 19px;
$conv-ico-sprite-total-width: 65px;
$conv-ico-sprite-total-height: 54px;
$conv-ico-sprite-image: '../images/icons/icons_sprite.png';
$conv-ico-sprite: (0px, 35px, 0px, -35px, 19px, 19px, 65px, 54px, '../images/icons/icons_sprite.png', 'conv-ico@sprite', );
$editor-lapis-sprite-name: 'editor_lapis@sprite';
$editor-lapis-sprite-x: 0px;
$editor-lapis-sprite-y: 0px;
$editor-lapis-sprite-offset-x: 0px;
$editor-lapis-sprite-offset-y: 0px;
$editor-lapis-sprite-width: 35px;
$editor-lapis-sprite-height: 35px;
$editor-lapis-sprite-total-width: 65px;
$editor-lapis-sprite-total-height: 54px;
$editor-lapis-sprite-image: '../images/icons/icons_sprite.png';
$editor-lapis-sprite: (0px, 0px, 0px, 0px, 35px, 35px, 65px, 54px, '../images/icons/icons_sprite.png', 'editor_lapis@sprite', );
$heart-minus-sprite-name: 'heart-minus@sprite';
$heart-minus-sprite-x: 19px;
$heart-minus-sprite-y: 35px;
$heart-minus-sprite-offset-x: -19px;
$heart-minus-sprite-offset-y: -35px;
$heart-minus-sprite-width: 18px;
$heart-minus-sprite-height: 18px;
$heart-minus-sprite-total-width: 65px;
$heart-minus-sprite-total-height: 54px;
$heart-minus-sprite-image: '../images/icons/icons_sprite.png';
$heart-minus-sprite: (19px, 35px, -19px, -35px, 18px, 18px, 65px, 54px, '../images/icons/icons_sprite.png', 'heart-minus@sprite', );
$monete-ico-sprite-name: 'monete-ico@sprite';
$monete-ico-sprite-x: 35px;
$monete-ico-sprite-y: 0px;
$monete-ico-sprite-offset-x: -35px;
$monete-ico-sprite-offset-y: 0px;
$monete-ico-sprite-width: 30px;
$monete-ico-sprite-height: 30px;
$monete-ico-sprite-total-width: 65px;
$monete-ico-sprite-total-height: 54px;
$monete-ico-sprite-image: '../images/icons/icons_sprite.png';
$monete-ico-sprite: (35px, 0px, -35px, 0px, 30px, 30px, 65px, 54px, '../images/icons/icons_sprite.png', 'monete-ico@sprite', );
$spritesheet-width: 65px;
$spritesheet-height: 54px;
$spritesheet-image: '../images/icons/icons_sprite.png';
$spritesheet-sprites: ($conv-ico-sprite, $editor-lapis-sprite, $heart-minus-sprite, $monete-ico-sprite, );
$spritesheet: (65px, 54px, '../images/icons/icons_sprite.png', $spritesheet-sprites, );



// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$input-left-decoration-sprite-name: 'input_left_decoration@sprite';
$input-left-decoration-sprite-x: 55px;
$input-left-decoration-sprite-y: 18px;
$input-left-decoration-sprite-offset-x: -55px;
$input-left-decoration-sprite-offset-y: -18px;
$input-left-decoration-sprite-width: 9px;
$input-left-decoration-sprite-height: 16px;
$input-left-decoration-sprite-total-width: 73px;
$input-left-decoration-sprite-total-height: 55px;
$input-left-decoration-sprite-image: '../images/various/various_sprite.png';
$input-left-decoration-sprite: (55px, 18px, -55px, -18px, 9px, 16px, 73px, 55px, '../images/various/various_sprite.png', 'input_left_decoration@sprite', );
$input-right-decoration-sprite-name: 'input_right_decoration@sprite';
$input-right-decoration-sprite-x: 64px;
$input-right-decoration-sprite-y: 18px;
$input-right-decoration-sprite-offset-x: -64px;
$input-right-decoration-sprite-offset-y: -18px;
$input-right-decoration-sprite-width: 9px;
$input-right-decoration-sprite-height: 16px;
$input-right-decoration-sprite-total-width: 73px;
$input-right-decoration-sprite-total-height: 55px;
$input-right-decoration-sprite-image: '../images/various/various_sprite.png';
$input-right-decoration-sprite: (64px, 18px, -64px, -18px, 9px, 16px, 73px, 55px, '../images/various/various_sprite.png', 'input_right_decoration@sprite', );
$modal-icon-sprite-name: 'modal-icon@sprite';
$modal-icon-sprite-x: 0px;
$modal-icon-sprite-y: 0px;
$modal-icon-sprite-offset-x: 0px;
$modal-icon-sprite-offset-y: 0px;
$modal-icon-sprite-width: 55px;
$modal-icon-sprite-height: 55px;
$modal-icon-sprite-total-width: 73px;
$modal-icon-sprite-total-height: 55px;
$modal-icon-sprite-image: '../images/various/various_sprite.png';
$modal-icon-sprite: (0px, 0px, 0px, 0px, 55px, 55px, 73px, 55px, '../images/various/various_sprite.png', 'modal-icon@sprite', );
$submitcerca-sprite-name: 'submitcerca@sprite';
$submitcerca-sprite-x: 55px;
$submitcerca-sprite-y: 0px;
$submitcerca-sprite-offset-x: -55px;
$submitcerca-sprite-offset-y: 0px;
$submitcerca-sprite-width: 18px;
$submitcerca-sprite-height: 18px;
$submitcerca-sprite-total-width: 73px;
$submitcerca-sprite-total-height: 55px;
$submitcerca-sprite-image: '../images/various/various_sprite.png';
$submitcerca-sprite: (55px, 0px, -55px, 0px, 18px, 18px, 73px, 55px, '../images/various/various_sprite.png', 'submitcerca@sprite', );
$spritesheet-width: 73px;
$spritesheet-height: 55px;
$spritesheet-image: '../images/various/various_sprite.png';
$spritesheet-sprites: ($input-left-decoration-sprite, $input-right-decoration-sprite, $modal-icon-sprite, $submitcerca-sprite, );
$spritesheet: (73px, 55px, '../images/various/various_sprite.png', $spritesheet-sprites, );



// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$alto-dir-sprite-name: 'alto-dir@sprite';
$alto-dir-sprite-x: 120px;
$alto-dir-sprite-y: 52px;
$alto-dir-sprite-offset-x: -120px;
$alto-dir-sprite-offset-y: -52px;
$alto-dir-sprite-width: 34px;
$alto-dir-sprite-height: 34px;
$alto-dir-sprite-total-width: 188px;
$alto-dir-sprite-total-height: 123px;
$alto-dir-sprite-image: '../images/mapobj/mapobj_sprite.png';
$alto-dir-sprite: (120px, 52px, -120px, -52px, 34px, 34px, 188px, 123px, '../images/mapobj/mapobj_sprite.png', 'alto-dir@sprite', );
$basso-dir-sprite-name: 'basso-dir@sprite';
$basso-dir-sprite-x: 154px;
$basso-dir-sprite-y: 52px;
$basso-dir-sprite-offset-x: -154px;
$basso-dir-sprite-offset-y: -52px;
$basso-dir-sprite-width: 34px;
$basso-dir-sprite-height: 34px;
$basso-dir-sprite-total-width: 188px;
$basso-dir-sprite-total-height: 123px;
$basso-dir-sprite-image: '../images/mapobj/mapobj_sprite.png';
$basso-dir-sprite: (154px, 52px, -154px, -52px, 34px, 34px, 188px, 123px, '../images/mapobj/mapobj_sprite.png', 'basso-dir@sprite', );
$est-dir-sprite-name: 'est-dir@sprite';
$est-dir-sprite-x: 0px;
$est-dir-sprite-y: 55px;
$est-dir-sprite-offset-x: 0px;
$est-dir-sprite-offset-y: -55px;
$est-dir-sprite-width: 52px;
$est-dir-sprite-height: 68px;
$est-dir-sprite-total-width: 188px;
$est-dir-sprite-total-height: 123px;
$est-dir-sprite-image: '../images/mapobj/mapobj_sprite.png';
$est-dir-sprite: (0px, 55px, 0px, -55px, 52px, 68px, 188px, 123px, '../images/mapobj/mapobj_sprite.png', 'est-dir@sprite', );
$nord-dir-sprite-name: 'nord-dir@sprite';
$nord-dir-sprite-x: 0px;
$nord-dir-sprite-y: 0px;
$nord-dir-sprite-offset-x: 0px;
$nord-dir-sprite-offset-y: 0px;
$nord-dir-sprite-width: 68px;
$nord-dir-sprite-height: 55px;
$nord-dir-sprite-total-width: 188px;
$nord-dir-sprite-total-height: 123px;
$nord-dir-sprite-image: '../images/mapobj/mapobj_sprite.png';
$nord-dir-sprite: (0px, 0px, 0px, 0px, 68px, 55px, 188px, 123px, '../images/mapobj/mapobj_sprite.png', 'nord-dir@sprite', );
$ovest-dir-sprite-name: 'ovest-dir@sprite';
$ovest-dir-sprite-x: 68px;
$ovest-dir-sprite-y: 0px;
$ovest-dir-sprite-offset-x: -68px;
$ovest-dir-sprite-offset-y: 0px;
$ovest-dir-sprite-width: 52px;
$ovest-dir-sprite-height: 68px;
$ovest-dir-sprite-total-width: 188px;
$ovest-dir-sprite-total-height: 123px;
$ovest-dir-sprite-image: '../images/mapobj/mapobj_sprite.png';
$ovest-dir-sprite: (68px, 0px, -68px, 0px, 52px, 68px, 188px, 123px, '../images/mapobj/mapobj_sprite.png', 'ovest-dir@sprite', );
$sud-dir-sprite-name: 'sud-dir@sprite';
$sud-dir-sprite-x: 120px;
$sud-dir-sprite-y: 0px;
$sud-dir-sprite-offset-x: -120px;
$sud-dir-sprite-offset-y: 0px;
$sud-dir-sprite-width: 68px;
$sud-dir-sprite-height: 52px;
$sud-dir-sprite-total-width: 188px;
$sud-dir-sprite-total-height: 123px;
$sud-dir-sprite-image: '../images/mapobj/mapobj_sprite.png';
$sud-dir-sprite: (120px, 0px, -120px, 0px, 68px, 52px, 188px, 123px, '../images/mapobj/mapobj_sprite.png', 'sud-dir@sprite', );
$spritesheet-width: 188px;
$spritesheet-height: 123px;
$spritesheet-image: '../images/mapobj/mapobj_sprite.png';
$spritesheet-sprites: ($alto-dir-sprite, $basso-dir-sprite, $est-dir-sprite, $nord-dir-sprite, $ovest-dir-sprite, $sud-dir-sprite, );
$spritesheet: (188px, 123px, '../images/mapobj/mapobj_sprite.png', $spritesheet-sprites, );



// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$base-square-sprite-name: 'base-square@sprite';
$base-square-sprite-x: 50px;
$base-square-sprite-y: 70px;
$base-square-sprite-offset-x: -50px;
$base-square-sprite-offset-y: -70px;
$base-square-sprite-width: 25px;
$base-square-sprite-height: 24px;
$base-square-sprite-total-width: 117px;
$base-square-sprite-total-height: 95px;
$base-square-sprite-image: '../images/buttons/buttons_sprite.png';
$base-square-sprite: (50px, 70px, -50px, -70px, 25px, 24px, 117px, 95px, '../images/buttons/buttons_sprite.png', 'base-square@sprite', );
$base-brown-sprite-name: 'base_brown@sprite';
$base-brown-sprite-x: 86px;
$base-brown-sprite-y: 0px;
$base-brown-sprite-offset-x: -86px;
$base-brown-sprite-offset-y: 0px;
$base-brown-sprite-width: 31px;
$base-brown-sprite-height: 31px;
$base-brown-sprite-total-width: 117px;
$base-brown-sprite-total-height: 95px;
$base-brown-sprite-image: '../images/buttons/buttons_sprite.png';
$base-brown-sprite: (86px, 0px, -86px, 0px, 31px, 31px, 117px, 95px, '../images/buttons/buttons_sprite.png', 'base_brown@sprite', );
$btn-annulla-sprite-name: 'btn-annulla@sprite';
$btn-annulla-sprite-x: 0px;
$btn-annulla-sprite-y: 0px;
$btn-annulla-sprite-offset-x: 0px;
$btn-annulla-sprite-offset-y: 0px;
$btn-annulla-sprite-width: 86px;
$btn-annulla-sprite-height: 35px;
$btn-annulla-sprite-total-width: 117px;
$btn-annulla-sprite-total-height: 95px;
$btn-annulla-sprite-image: '../images/buttons/buttons_sprite.png';
$btn-annulla-sprite: (0px, 0px, 0px, 0px, 86px, 35px, 117px, 95px, '../images/buttons/buttons_sprite.png', 'btn-annulla@sprite', );
$btn-salva-sprite-name: 'btn-salva@sprite';
$btn-salva-sprite-x: 0px;
$btn-salva-sprite-y: 35px;
$btn-salva-sprite-offset-x: 0px;
$btn-salva-sprite-offset-y: -35px;
$btn-salva-sprite-width: 74px;
$btn-salva-sprite-height: 35px;
$btn-salva-sprite-total-width: 117px;
$btn-salva-sprite-total-height: 95px;
$btn-salva-sprite-image: '../images/buttons/buttons_sprite.png';
$btn-salva-sprite: (0px, 35px, 0px, -35px, 74px, 35px, 117px, 95px, '../images/buttons/buttons_sprite.png', 'btn-salva@sprite', );
$close-sprite-name: 'close@sprite';
$close-sprite-x: 86px;
$close-sprite-y: 31px;
$close-sprite-offset-x: -86px;
$close-sprite-offset-y: -31px;
$close-sprite-width: 26px;
$close-sprite-height: 26px;
$close-sprite-total-width: 117px;
$close-sprite-total-height: 95px;
$close-sprite-image: '../images/buttons/buttons_sprite.png';
$close-sprite: (86px, 31px, -86px, -31px, 26px, 26px, 117px, 95px, '../images/buttons/buttons_sprite.png', 'close@sprite', );
$dashboard-sprite-name: 'dashboard@sprite';
$dashboard-sprite-x: 0px;
$dashboard-sprite-y: 70px;
$dashboard-sprite-offset-x: 0px;
$dashboard-sprite-offset-y: -70px;
$dashboard-sprite-width: 25px;
$dashboard-sprite-height: 25px;
$dashboard-sprite-total-width: 117px;
$dashboard-sprite-total-height: 95px;
$dashboard-sprite-image: '../images/buttons/buttons_sprite.png';
$dashboard-sprite: (0px, 70px, 0px, -70px, 25px, 25px, 117px, 95px, '../images/buttons/buttons_sprite.png', 'dashboard@sprite', );
$expand-sprite-name: 'expand@sprite';
$expand-sprite-x: 25px;
$expand-sprite-y: 70px;
$expand-sprite-offset-x: -25px;
$expand-sprite-offset-y: -70px;
$expand-sprite-width: 25px;
$expand-sprite-height: 25px;
$expand-sprite-total-width: 117px;
$expand-sprite-total-height: 95px;
$expand-sprite-image: '../images/buttons/buttons_sprite.png';
$expand-sprite: (25px, 70px, -25px, -70px, 25px, 25px, 117px, 95px, '../images/buttons/buttons_sprite.png', 'expand@sprite', );
$spritesheet-width: 117px;
$spritesheet-height: 95px;
$spritesheet-image: '../images/buttons/buttons_sprite.png';
$spritesheet-sprites: ($base-square-sprite, $base-brown-sprite, $btn-annulla-sprite, $btn-salva-sprite, $close-sprite, $dashboard-sprite, $expand-sprite, );
$spritesheet: (117px, 95px, '../images/buttons/buttons_sprite.png', $spritesheet-sprites, );


