.out-system {
    color: #6c757d;
    padding: .5em 0;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    text-transform: uppercase;
    &:before {
        content: '> ';
        display: inline-block;
        color: #00e22d;
    }

    b {
        font-weight: normal;
        color: #00e22d;
    } 

    a {
        text-decoration: underline;
    }

    padding: .5em 0;
}