/*Bootstrap override*/
$input-border-radius: 0;
$input-border-radius-lg: 0;
$input-border-radius-sm: 0;
$btn-border-radius: 0;

$font-size-base: 0.7rem;


//Custom
$bodybackground : 'frame/background/dark-wood.jpg';