

/*Bootstrap override*/
$grid-gutter-width:16px;

$input-border-radius: 0;
$input-border-radius-lg: 0;
$input-border-radius-sm: 0;
$btn-border-radius: 0;

$font-size-base: 0.7rem;


// System 
$imgPath: "../images";

//Custom
$bodybackground : 'frame/background/dark-wood.jpg';

$area-border-size: 25px;
$ironlight-border-size : 8px;