
as-split.tg-output--splitter {
	height: 100%;
	
	&.is-horizontal {
		> .as-split-gutter {
			border: 0;
			background: url($imgPath + '/borders/border-002-tiny-v.png') center center repeat-y;
			background-color: transparent;
		}
		.as-split-gutter-icon {
			background-image: none!important;
		}
	}
}