

.tg-app {

 
  /*checkbox */
  .mat-checkbox-frame {
    background: #5d5d5d;
  }

  .mat-raised-button {
    line-height: 24px;
  }


  /* Dialog */

  .tg-dialog-content,
  .tg-dialog-content-nopadding {
    position: relative;
    z-index: 10;
    background: #190f06 url($imgPath + '/background/bg-ironbrown.jpg') repeat;
    height: 100%;
    max-height: 100%;
    border-radius: 5px;
    font-size: 12px;
  }

   .overlay-dark {
    background-color: rgba(0, 0, 0, 1);
  }
    
  .mat-dialog-container {
    background: transparent;
    border-radius: 8px;
    padding: 24px 0 0;
    position: relative;
  }

  .tg-dialog-content {
    margin: 0;
    padding: 8px;
  }
    
  .mat-dialog-title {
    cursor: pointer;
    margin: 0 auto;
    max-height: 24px !important;
    border: none;
    width: auto !important;
    line-height: 24px;
    font-size: 13px;
    font-family: kingthings;
    letter-spacing: 1px;
    text-transform: capitalize;
    text-align: center;
    padding: 0 16px;
    box-sizing: content-box;
    color: #ccaa31;
    border-radius: 0;
    background: url($imgPath + '/interface/modal_title_center_bg.png') repeat-x top left;
    transition: width .3s linear;
    box-shadow: inset 0px -3px 10px 0px black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
    display: table;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
  
    &:before, &:after {
      content: '';
      display: block;
    }

    &:before {
      background: url($imgPath + '/interface/modal_title_left_bg.png') no-repeat 0 0;
      position: absolute;
      width: 6px;
      display: block;
      left: 0;
      top: 0;
      height: 100%;
    }
  
    &:after {
      position: absolute;
      width: 6px;
      display: block;
      right: 0px;
      top: 0;
      height: 100%;
      background: url($imgPath + '/interface/modal_title_right_bg.png') no-repeat top right;
    }

    .tg-dialog--close {
      line-height: 1;
      color: $tg-red;
      vertical-align: middle;
      height: auto;
      width: auto;
      margin: auto 0 0 16px;
    }
  }

  /* Menu */
  .mat-menu-panel {
    border-radius: 0;
    background-color: #352f26;
  }
  
  .mat-menu-item {
    color: #eceae3;
    line-height: 1;
    height: auto;
    padding: .4em 16px;
    font-size: 11px;
  }
}

// /* Tooltip */
// body {
//   .ui-tooltip .ui-tooltip-arrow {
//     border-color: black!important;
//   }
//   .ui-tooltip .ui-tooltip-text {
//     background: black;
//     font-size: 11px;
//     text-align: center;
//   }
// }

// /* Buttons */
// p-button {
//   .ui-button.ui-button-icon-only {
//     width: auto;

//     .ui-button-text {
//       padding: 0;
//     }
//   }
// }

// /* Table */
// p-table {

//   .ui-table .ui-sortable-column{
//     padding-left:.5em;
//     padding-right: .5em;
//   }
  
//   .ui-table .ui-sortable-column.ui-state-highlight {
//     background-color: #221915;
//     color: #dedede;
//     outline: none;

//     .ui-sortable-column-icon {
//       color: #dedede;
//     }
//   }

//   .ui-table .ui-sortable-column:not(.ui-state-highlight):hover {
//     background-color: #271d18;
//   }

//   >.ui-widget {
//     font-size: 11px;
//   }

//   .ui-table {
//     display: flex;
//     flex-direction: column;
//     height: 100%;
//     border-collapse: collapse;

//     .ui-table-thead>tr>th {
//       color: #FFB300;
//       position: sticky;
//       top: 0;
//       border: 0;
//     }
//   }

//   thead {
//     th {
//       padding-top:.5em;
//       padding-bottom:.5em;
//     }
//   }


//   .ui-table-wrapper {
//     flex: 1 1 auto;
//   }

//   tbody {
//     text-align: center;
//     td {
//       overflow: hidden;
//       text-overflow: ellipsis;
//       padding: 0.571em 1.857em!important;
//     }

//     td:first-child {
//       border-left: 0!important
//     }

//     td:last-child {
//       border-right: 0!important;
//     }
    
//   }

// }

// p-paginator {
//   .ui-paginator {
//     padding: 8px 0;

//     .ui-paginator-pages .ui-paginator-page,
//     .ui-paginator-first,
//     .ui-paginator-prev,
//     .ui-paginator-next,
//     .ui-paginator-last {
//       height: 1.5em;
//       min-width: 1.5em;
//       line-height: 1.5em;
//     }
//   }

//   p-dropdown {
//     .ui-dropdown {
//       height: 1.5em!important;
//     }

//     .ui-dropdown-label {
//       padding: 0;
//     }

//     .pi {
//       font-size: 1em!important;
//     }

//     .ui-dropdown-trigger {
//       line-height: 1.5!important;
//     }
//   }
// }

// body .ui-dropdown-panel {
//   z-index: 1100!important;
// }
