
@import 'dialog';

.tg-app {

  // Buttons
  .mat-raised-button {
    font-weight: 700;
    line-height: 28px;
  }

  .mat-button-wrapper {
    height: 100%; 
  }

  /*checkbox */
  .mat-checkbox-frame {
    background: #5d5d5d;
  }
    
  /* Dialog */

  .mat-dialog-container {
    background: transparent;
    border-radius: 8px;
    position: relative;
    padding: 0;
    box-shadow: 
      0px 11px 15px -7px rgb(0, 0, 0), 
      0px 24px 38px 3px rgba(0, 0, 0, 0.14), 
      0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  }

  .mat-dialog-actions {
    margin: 0;
    padding: 0;
  }

  .mat-dialog-content {
    margin: 0;
    padding: 0;
  }
    

  .cdk-drag {
    display: block;
    height: 100%;
  }

  /* Menu */
  .mat-menu-content {
    background-color: #171614;
    > div {
      margin: -8px 0;
    }
  }

  .mat-menu-panel {
    border-radius: 0;
    background-color: #171614;

    .mat-divider {
      border-top-color: rgba(255, 255, 255, 0.32);
    }
  }

  .mat-menu-item {
    color: rgb(236, 234, 227);
    line-height: 1;
    height: auto;
    padding: 8px 16px;
    font-size: 10px;
    
    .mat-icon {
      color: #eceae3;
      line-height: 1;
      height: auto;
      padding: .4em 0;
      font-size: 10px;
      width: auto;
      margin-right: 8px;
    }

    &:hover:not(disabled) {
      background: rgba(177, 116, 39, 0.68);
    }
    
    .mat-divider {
      background:rgb(51, 50, 46);
    }
  }

  .mat-menu-item-submenu-trigger::after {
    color: rgba(236, 234, 227, 0.54);
  }
 
 
 
  /* Table */

  .mat-table {
    background: #271d18;
    width: 100%;

    .mat-header-cell {
      color: #FFB300;
      border-right: 1px solid black;
      padding: 0 5px;
      background-color: #0b0907;
      border-right: 1px solid rgba(255, 255, 255, 0.12);
      border-bottom-color: rgba(255, 255, 255, 0.12);
    }

    td.mat-cell {
      border-bottom-color: rgba(255, 255, 255, 0.12);
      border-right: 1px solid rgba(255, 255, 255, 0.12);
      color: #dedede;
      font-size: 100%;
      background: #191512;
      padding: 0 5px;
    }

    tr.mat-footer-row, tr.mat-row {
      height: 28px;
      background: #0b0907;
    }
  }


  /* Paginator */
  .mat-paginator {
    background: #0b0907;
  }

  .mat-paginator, .mat-paginator-page-size .mat-select-trigger {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.54);
  }

  .mat-select-value {
    color: rgba(255, 214, 0, 0.87);
  }

  .mat-select-row {
    color: rgba(255, 255, 255, 0.54);
  }


  /* Form and more*/
  .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  /* ProgressBar */
  .mat-progress-bar {
    height: 2px;

    .mat-progress-bar-buffer {
      background-color: #ff9b00;
    }

    .mat-progress-bar-fill:after {
      background-color: $tg-yellow;
    }
  }
}
