
@import 'dialog';

.tg-app {

  // Buttons
  .mat-raised-button {
    font-weight: 700;
    line-height: 28px;
  }

  .mat-button-wrapper {
    height: 100%; 
  }

  /*checkbox */
  .mat-checkbox-frame {
    background: #5d5d5d;
  }
    
  /* Dialog */

  .mat-dialog-container {
    background: transparent;
    border-radius: 8px;
    position: relative;
    box-shadow: none;
  }

  .mat-dialog-actions {
    margin: 0;
    padding: 0;
  }

  .mat-dialog-content {
    margin: 0;
    padding-left: 12px;
    padding-right: 0;
  }
    

  .cdk-drag {
    display: block;
    height: 100%;
  }

  /* Menu */
  .mat-menu-content {
    background-color: #171614;
    > div {
      margin: -8px 0;
    }
  }

  .mat-menu-panel {
    border-radius: 0;
    background-color: #171614;

    .mat-divider {
      border-top-color: rgba(255, 255, 255, 0.32);
    }
  }

  .mat-menu-item {
    color: rgb(236, 234, 227);
    line-height: 1;
    height: auto;
    padding: 8px 16px;
    font-size: 10px;
    
    .mat-icon {
      color: #eceae3;
      line-height: 1;
      height: auto;
      padding: .4em 0;
      font-size: 10px;
      width: auto;
      margin-right: 8px;
    }

    &:hover:not(disabled) {
      background: rgba(177, 116, 39, 0.68);
    }
    
    .mat-divider {
      background:rgb(51, 50, 46);
    }
  }

  .mat-menu-item-submenu-trigger::after {
    color: rgba(236, 234, 227, 0.54);
  }
 
 
 
  /* Table */

  .mat-table {
    background: #271d18;

    .mat-header-cell {
      color: #FFB300;
    }

    td.mat-cell {
      border-bottom-color: rgba(255, 255, 255, 0.12);
      color: #dedede;
      font-size: 100%;
    }

    tr.mat-footer-row, tr.mat-row {
      height: 28px;
    }
  }


  /* Paginator */
  .mat-paginator {
    background: #191611;
  }

  .mat-paginator, .mat-paginator-page-size .mat-select-trigger {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.54);
  }


  /* ProgressBar */
  .mat-progress-bar {
    height: 2px;

    .mat-progress-bar-buffer {
      background-color: #ff9b00;
    }

    .mat-progress-bar-fill:after {
      background-color: $tg-yellow;
    }
  }
}

// /* Table */
// p-table {

//   .ui-table .ui-sortable-column{
//     padding-left:.5em;
//     padding-right: .5em;
//   }
  
//   .ui-table .ui-sortable-column.ui-state-highlight {
//     background-color: #221915;
//     color: #dedede;
//     outline: none;

//     .ui-sortable-column-icon {
//       color: #dedede;
//     }
//   }

//   .ui-table .ui-sortable-column:not(.ui-state-highlight):hover {
//     background-color: #271d18;
//   }

//   >.ui-widget {
//     font-size: 11px;
//   }

//   .ui-table {
//     display: flex;
//     flex-direction: column;
//     height: 100%;
//     border-collapse: collapse;

//     .ui-table-thead>tr>th {
//       color: #FFB300;
//       position: sticky;
//       top: 0;
//       border: 0;
//     }
//   }

//   thead {
//     th {
//       padding-top:.5em;
//       padding-bottom:.5em;
//     }
//   }


//   .ui-table-wrapper {
//     flex: 1 1 auto;
//   }

//   tbody {
//     text-align: center;
//     td {
//       overflow: hidden;
//       text-overflow: ellipsis;
//       padding: 0.571em 1.857em!important;
//     }

//     td:first-child {
//       border-left: 0!important
//     }

//     td:last-child {
//       border-right: 0!important;
//     }
    
//   }

// }

// p-paginator {
//   .ui-paginator {
//     padding: 8px 0;

//     .ui-paginator-pages .ui-paginator-page,
//     .ui-paginator-first,
//     .ui-paginator-prev,
//     .ui-paginator-next,
//     .ui-paginator-last {
//       height: 1.5em;
//       min-width: 1.5em;
//       line-height: 1.5em;
//     }
//   }

//   p-dropdown {
//     .ui-dropdown {
//       height: 1.5em!important;
//     }

//     .ui-dropdown-label {
//       padding: 0;
//     }

//     .pi {
//       font-size: 1em!important;
//     }

//     .ui-dropdown-trigger {
//       line-height: 1.5!important;
//     }
//   }
// }

// body .ui-dropdown-panel {
//   z-index: 1100!important;
// }