// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$weather-moon-sprite-name: 'weather_moon@sprite';
$weather-moon-sprite-x: 0px;
$weather-moon-sprite-y: 0px;
$weather-moon-sprite-offset-x: 0px;
$weather-moon-sprite-offset-y: 0px;
$weather-moon-sprite-width: 83px;
$weather-moon-sprite-height: 83px;
$weather-moon-sprite-total-width: 83px;
$weather-moon-sprite-total-height: 83px;
$weather-moon-sprite-image: '/assets/images/sky/sky_sprite.png';
$weather-moon-sprite: (0px, 0px, 0px, 0px, 83px, 83px, 83px, 83px, '/assets/images/sky/sky_sprite.png', 'weather_moon@sprite', );
$spritesheet-width: 83px;
$spritesheet-height: 83px;
$spritesheet-image: '/assets/images/sky/sky_sprite.png';
$spritesheet-sprites: ($weather-moon-sprite, );
$spritesheet: (83px, 83px, '/assets/images/sky/sky_sprite.png', $spritesheet-sprites, );



// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$login-button-sprite-name: 'login_button@sprite';
$login-button-sprite-x: 0px;
$login-button-sprite-y: 0px;
$login-button-sprite-offset-x: 0px;
$login-button-sprite-offset-y: 0px;
$login-button-sprite-width: 309px;
$login-button-sprite-height: 84px;
$login-button-sprite-total-width: 309px;
$login-button-sprite-total-height: 168px;
$login-button-sprite-image: '/assets/images/login/login_sprite.png';
$login-button-sprite: (0px, 0px, 0px, 0px, 309px, 84px, 309px, 168px, '/assets/images/login/login_sprite.png', 'login_button@sprite', );
$login-button-hover-sprite-name: 'login_button_hover@sprite';
$login-button-hover-sprite-x: 0px;
$login-button-hover-sprite-y: 84px;
$login-button-hover-sprite-offset-x: 0px;
$login-button-hover-sprite-offset-y: -84px;
$login-button-hover-sprite-width: 309px;
$login-button-hover-sprite-height: 84px;
$login-button-hover-sprite-total-width: 309px;
$login-button-hover-sprite-total-height: 168px;
$login-button-hover-sprite-image: '/assets/images/login/login_sprite.png';
$login-button-hover-sprite: (0px, 84px, 0px, -84px, 309px, 84px, 309px, 168px, '/assets/images/login/login_sprite.png', 'login_button_hover@sprite', );
$spritesheet-width: 309px;
$spritesheet-height: 168px;
$spritesheet-image: '/assets/images/login/login_sprite.png';
$spritesheet-sprites: ($login-button-sprite, $login-button-hover-sprite, );
$spritesheet: (309px, 168px, '/assets/images/login/login_sprite.png', $spritesheet-sprites, );



// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$coins-ico-sprite-name: 'coins-ico@sprite';
$coins-ico-sprite-x: 35px;
$coins-ico-sprite-y: 0px;
$coins-ico-sprite-offset-x: -35px;
$coins-ico-sprite-offset-y: 0px;
$coins-ico-sprite-width: 24px;
$coins-ico-sprite-height: 24px;
$coins-ico-sprite-total-width: 71px;
$coins-ico-sprite-total-height: 54px;
$coins-ico-sprite-image: '/assets/images/icons/icons_sprite.png';
$coins-ico-sprite: (35px, 0px, -35px, 0px, 24px, 24px, 71px, 54px, '/assets/images/icons/icons_sprite.png', 'coins-ico@sprite', );
$conv-ico-sprite-name: 'conv-ico@sprite';
$conv-ico-sprite-x: 0px;
$conv-ico-sprite-y: 35px;
$conv-ico-sprite-offset-x: 0px;
$conv-ico-sprite-offset-y: -35px;
$conv-ico-sprite-width: 19px;
$conv-ico-sprite-height: 19px;
$conv-ico-sprite-total-width: 71px;
$conv-ico-sprite-total-height: 54px;
$conv-ico-sprite-image: '/assets/images/icons/icons_sprite.png';
$conv-ico-sprite: (0px, 35px, 0px, -35px, 19px, 19px, 71px, 54px, '/assets/images/icons/icons_sprite.png', 'conv-ico@sprite', );
$conva-ng-sprite-name: 'conva_ng@sprite';
$conva-ng-sprite-x: 59px;
$conva-ng-sprite-y: 0px;
$conva-ng-sprite-offset-x: -59px;
$conva-ng-sprite-offset-y: 0px;
$conva-ng-sprite-width: 12px;
$conva-ng-sprite-height: 12px;
$conva-ng-sprite-total-width: 71px;
$conva-ng-sprite-total-height: 54px;
$conva-ng-sprite-image: '/assets/images/icons/icons_sprite.png';
$conva-ng-sprite: (59px, 0px, -59px, 0px, 12px, 12px, 71px, 54px, '/assets/images/icons/icons_sprite.png', 'conva_ng@sprite', );
$default-statuslabel-sprite-name: 'default-statuslabel@sprite';
$default-statuslabel-sprite-x: 37px;
$default-statuslabel-sprite-y: 35px;
$default-statuslabel-sprite-offset-x: -37px;
$default-statuslabel-sprite-offset-y: -35px;
$default-statuslabel-sprite-width: 16px;
$default-statuslabel-sprite-height: 16px;
$default-statuslabel-sprite-total-width: 71px;
$default-statuslabel-sprite-total-height: 54px;
$default-statuslabel-sprite-image: '/assets/images/icons/icons_sprite.png';
$default-statuslabel-sprite: (37px, 35px, -37px, -35px, 16px, 16px, 71px, 54px, '/assets/images/icons/icons_sprite.png', 'default-statuslabel@sprite', );
$editor-lapis-sprite-name: 'editor_lapis@sprite';
$editor-lapis-sprite-x: 0px;
$editor-lapis-sprite-y: 0px;
$editor-lapis-sprite-offset-x: 0px;
$editor-lapis-sprite-offset-y: 0px;
$editor-lapis-sprite-width: 35px;
$editor-lapis-sprite-height: 35px;
$editor-lapis-sprite-total-width: 71px;
$editor-lapis-sprite-total-height: 54px;
$editor-lapis-sprite-image: '/assets/images/icons/icons_sprite.png';
$editor-lapis-sprite: (0px, 0px, 0px, 0px, 35px, 35px, 71px, 54px, '/assets/images/icons/icons_sprite.png', 'editor_lapis@sprite', );
$heart-minus-sprite-name: 'heart-minus@sprite';
$heart-minus-sprite-x: 19px;
$heart-minus-sprite-y: 35px;
$heart-minus-sprite-offset-x: -19px;
$heart-minus-sprite-offset-y: -35px;
$heart-minus-sprite-width: 18px;
$heart-minus-sprite-height: 18px;
$heart-minus-sprite-total-width: 71px;
$heart-minus-sprite-total-height: 54px;
$heart-minus-sprite-image: '/assets/images/icons/icons_sprite.png';
$heart-minus-sprite: (19px, 35px, -19px, -35px, 18px, 18px, 71px, 54px, '/assets/images/icons/icons_sprite.png', 'heart-minus@sprite', );
$spritesheet-width: 71px;
$spritesheet-height: 54px;
$spritesheet-image: '/assets/images/icons/icons_sprite.png';
$spritesheet-sprites: ($coins-ico-sprite, $conv-ico-sprite, $conva-ng-sprite, $default-statuslabel-sprite, $editor-lapis-sprite, $heart-minus-sprite, );
$spritesheet: (71px, 54px, '/assets/images/icons/icons_sprite.png', $spritesheet-sprites, );



// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$alto-dir-sprite-name: 'alto-dir@sprite';
$alto-dir-sprite-x: 120px;
$alto-dir-sprite-y: 52px;
$alto-dir-sprite-offset-x: -120px;
$alto-dir-sprite-offset-y: -52px;
$alto-dir-sprite-width: 34px;
$alto-dir-sprite-height: 34px;
$alto-dir-sprite-total-width: 188px;
$alto-dir-sprite-total-height: 123px;
$alto-dir-sprite-image: '/assets/images/mapobj/mapobj_sprite.png';
$alto-dir-sprite: (120px, 52px, -120px, -52px, 34px, 34px, 188px, 123px, '/assets/images/mapobj/mapobj_sprite.png', 'alto-dir@sprite', );
$basso-dir-sprite-name: 'basso-dir@sprite';
$basso-dir-sprite-x: 154px;
$basso-dir-sprite-y: 52px;
$basso-dir-sprite-offset-x: -154px;
$basso-dir-sprite-offset-y: -52px;
$basso-dir-sprite-width: 34px;
$basso-dir-sprite-height: 34px;
$basso-dir-sprite-total-width: 188px;
$basso-dir-sprite-total-height: 123px;
$basso-dir-sprite-image: '/assets/images/mapobj/mapobj_sprite.png';
$basso-dir-sprite: (154px, 52px, -154px, -52px, 34px, 34px, 188px, 123px, '/assets/images/mapobj/mapobj_sprite.png', 'basso-dir@sprite', );
$est-dir-sprite-name: 'est-dir@sprite';
$est-dir-sprite-x: 0px;
$est-dir-sprite-y: 55px;
$est-dir-sprite-offset-x: 0px;
$est-dir-sprite-offset-y: -55px;
$est-dir-sprite-width: 52px;
$est-dir-sprite-height: 68px;
$est-dir-sprite-total-width: 188px;
$est-dir-sprite-total-height: 123px;
$est-dir-sprite-image: '/assets/images/mapobj/mapobj_sprite.png';
$est-dir-sprite: (0px, 55px, 0px, -55px, 52px, 68px, 188px, 123px, '/assets/images/mapobj/mapobj_sprite.png', 'est-dir@sprite', );
$nord-dir-sprite-name: 'nord-dir@sprite';
$nord-dir-sprite-x: 0px;
$nord-dir-sprite-y: 0px;
$nord-dir-sprite-offset-x: 0px;
$nord-dir-sprite-offset-y: 0px;
$nord-dir-sprite-width: 68px;
$nord-dir-sprite-height: 55px;
$nord-dir-sprite-total-width: 188px;
$nord-dir-sprite-total-height: 123px;
$nord-dir-sprite-image: '/assets/images/mapobj/mapobj_sprite.png';
$nord-dir-sprite: (0px, 0px, 0px, 0px, 68px, 55px, 188px, 123px, '/assets/images/mapobj/mapobj_sprite.png', 'nord-dir@sprite', );
$ovest-dir-sprite-name: 'ovest-dir@sprite';
$ovest-dir-sprite-x: 68px;
$ovest-dir-sprite-y: 0px;
$ovest-dir-sprite-offset-x: -68px;
$ovest-dir-sprite-offset-y: 0px;
$ovest-dir-sprite-width: 52px;
$ovest-dir-sprite-height: 68px;
$ovest-dir-sprite-total-width: 188px;
$ovest-dir-sprite-total-height: 123px;
$ovest-dir-sprite-image: '/assets/images/mapobj/mapobj_sprite.png';
$ovest-dir-sprite: (68px, 0px, -68px, 0px, 52px, 68px, 188px, 123px, '/assets/images/mapobj/mapobj_sprite.png', 'ovest-dir@sprite', );
$sud-dir-sprite-name: 'sud-dir@sprite';
$sud-dir-sprite-x: 120px;
$sud-dir-sprite-y: 0px;
$sud-dir-sprite-offset-x: -120px;
$sud-dir-sprite-offset-y: 0px;
$sud-dir-sprite-width: 68px;
$sud-dir-sprite-height: 52px;
$sud-dir-sprite-total-width: 188px;
$sud-dir-sprite-total-height: 123px;
$sud-dir-sprite-image: '/assets/images/mapobj/mapobj_sprite.png';
$sud-dir-sprite: (120px, 0px, -120px, 0px, 68px, 52px, 188px, 123px, '/assets/images/mapobj/mapobj_sprite.png', 'sud-dir@sprite', );
$spritesheet-width: 188px;
$spritesheet-height: 123px;
$spritesheet-image: '/assets/images/mapobj/mapobj_sprite.png';
$spritesheet-sprites: ($alto-dir-sprite, $basso-dir-sprite, $est-dir-sprite, $nord-dir-sprite, $ovest-dir-sprite, $sud-dir-sprite, );
$spritesheet: (188px, 123px, '/assets/images/mapobj/mapobj_sprite.png', $spritesheet-sprites, );



// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$carat-title-box-sprite-name: 'carat_title_box@sprite';
$carat-title-box-sprite-x: 55px;
$carat-title-box-sprite-y: 132px;
$carat-title-box-sprite-offset-x: -55px;
$carat-title-box-sprite-offset-y: -132px;
$carat-title-box-sprite-width: 86px;
$carat-title-box-sprite-height: 18px;
$carat-title-box-sprite-total-width: 256px;
$carat-title-box-sprite-total-height: 240px;
$carat-title-box-sprite-image: '/assets/images/various/various_sprite.png';
$carat-title-box-sprite: (55px, 132px, -55px, -132px, 86px, 18px, 256px, 240px, '/assets/images/various/various_sprite.png', 'carat_title_box@sprite', );
$checkbox-checked-sprite-name: 'checkbox-checked@sprite';
$checkbox-checked-sprite-x: 212px;
$checkbox-checked-sprite-y: 132px;
$checkbox-checked-sprite-offset-x: -212px;
$checkbox-checked-sprite-offset-y: -132px;
$checkbox-checked-sprite-width: 18px;
$checkbox-checked-sprite-height: 18px;
$checkbox-checked-sprite-total-width: 256px;
$checkbox-checked-sprite-total-height: 240px;
$checkbox-checked-sprite-image: '/assets/images/various/various_sprite.png';
$checkbox-checked-sprite: (212px, 132px, -212px, -132px, 18px, 18px, 256px, 240px, '/assets/images/various/various_sprite.png', 'checkbox-checked@sprite', );
$checkbox-sprite-name: 'checkbox@sprite';
$checkbox-sprite-x: 207px;
$checkbox-sprite-y: 150px;
$checkbox-sprite-offset-x: -207px;
$checkbox-sprite-offset-y: -150px;
$checkbox-sprite-width: 16px;
$checkbox-sprite-height: 16px;
$checkbox-sprite-total-width: 256px;
$checkbox-sprite-total-height: 240px;
$checkbox-sprite-image: '/assets/images/various/various_sprite.png';
$checkbox-sprite: (207px, 150px, -207px, -150px, 16px, 16px, 256px, 240px, '/assets/images/various/various_sprite.png', 'checkbox@sprite', );
$checked-sprite-name: 'checked@sprite';
$checked-sprite-x: 26px;
$checked-sprite-y: 187px;
$checked-sprite-offset-x: -26px;
$checked-sprite-offset-y: -187px;
$checked-sprite-width: 26px;
$checked-sprite-height: 26px;
$checked-sprite-total-width: 256px;
$checked-sprite-total-height: 240px;
$checked-sprite-image: '/assets/images/various/various_sprite.png';
$checked-sprite: (26px, 187px, -26px, -187px, 26px, 26px, 256px, 240px, '/assets/images/various/various_sprite.png', 'checked@sprite', );
$clip-img-region-sprite-name: 'clip-img-region@sprite';
$clip-img-region-sprite-x: 0px;
$clip-img-region-sprite-y: 213px;
$clip-img-region-sprite-offset-x: 0px;
$clip-img-region-sprite-offset-y: -213px;
$clip-img-region-sprite-width: 18px;
$clip-img-region-sprite-height: 27px;
$clip-img-region-sprite-total-width: 256px;
$clip-img-region-sprite-total-height: 240px;
$clip-img-region-sprite-image: '/assets/images/various/various_sprite.png';
$clip-img-region-sprite: (0px, 213px, 0px, -213px, 18px, 27px, 256px, 240px, '/assets/images/various/various_sprite.png', 'clip-img-region@sprite', );
$combatpanel-box-notarget-sprite-name: 'combatpanel_box_notarget@sprite';
$combatpanel-box-notarget-sprite-x: 0px;
$combatpanel-box-notarget-sprite-y: 66px;
$combatpanel-box-notarget-sprite-offset-x: 0px;
$combatpanel-box-notarget-sprite-offset-y: -66px;
$combatpanel-box-notarget-sprite-width: 256px;
$combatpanel-box-notarget-sprite-height: 66px;
$combatpanel-box-notarget-sprite-total-width: 256px;
$combatpanel-box-notarget-sprite-total-height: 240px;
$combatpanel-box-notarget-sprite-image: '/assets/images/various/various_sprite.png';
$combatpanel-box-notarget-sprite: (0px, 66px, 0px, -66px, 256px, 66px, 256px, 240px, '/assets/images/various/various_sprite.png', 'combatpanel_box_notarget@sprite', );
$combatpanel-box-target-sprite-name: 'combatpanel_box_target@sprite';
$combatpanel-box-target-sprite-x: 0px;
$combatpanel-box-target-sprite-y: 0px;
$combatpanel-box-target-sprite-offset-x: 0px;
$combatpanel-box-target-sprite-offset-y: 0px;
$combatpanel-box-target-sprite-width: 256px;
$combatpanel-box-target-sprite-height: 66px;
$combatpanel-box-target-sprite-total-width: 256px;
$combatpanel-box-target-sprite-total-height: 240px;
$combatpanel-box-target-sprite-image: '/assets/images/various/various_sprite.png';
$combatpanel-box-target-sprite: (0px, 0px, 0px, 0px, 256px, 66px, 256px, 240px, '/assets/images/various/various_sprite.png', 'combatpanel_box_target@sprite', );
$descr-title-box-sprite-name: 'descr_title_box@sprite';
$descr-title-box-sprite-x: 136px;
$descr-title-box-sprite-y: 150px;
$descr-title-box-sprite-offset-x: -136px;
$descr-title-box-sprite-offset-y: -150px;
$descr-title-box-sprite-width: 71px;
$descr-title-box-sprite-height: 18px;
$descr-title-box-sprite-total-width: 256px;
$descr-title-box-sprite-total-height: 240px;
$descr-title-box-sprite-image: '/assets/images/various/various_sprite.png';
$descr-title-box-sprite: (136px, 150px, -136px, -150px, 71px, 18px, 256px, 240px, '/assets/images/various/various_sprite.png', 'descr_title_box@sprite', );
$info-title-box-sprite-name: 'info_title_box@sprite';
$info-title-box-sprite-x: 141px;
$info-title-box-sprite-y: 132px;
$info-title-box-sprite-offset-x: -141px;
$info-title-box-sprite-offset-y: -132px;
$info-title-box-sprite-width: 71px;
$info-title-box-sprite-height: 18px;
$info-title-box-sprite-total-width: 256px;
$info-title-box-sprite-total-height: 240px;
$info-title-box-sprite-image: '/assets/images/various/various_sprite.png';
$info-title-box-sprite: (141px, 132px, -141px, -132px, 71px, 18px, 256px, 240px, '/assets/images/various/various_sprite.png', 'info_title_box@sprite', );
$input-left-decoration-sprite-name: 'input_left_decoration@sprite';
$input-left-decoration-sprite-x: 223px;
$input-left-decoration-sprite-y: 150px;
$input-left-decoration-sprite-offset-x: -223px;
$input-left-decoration-sprite-offset-y: -150px;
$input-left-decoration-sprite-width: 9px;
$input-left-decoration-sprite-height: 16px;
$input-left-decoration-sprite-total-width: 256px;
$input-left-decoration-sprite-total-height: 240px;
$input-left-decoration-sprite-image: '/assets/images/various/various_sprite.png';
$input-left-decoration-sprite: (223px, 150px, -223px, -150px, 9px, 16px, 256px, 240px, '/assets/images/various/various_sprite.png', 'input_left_decoration@sprite', );
$input-right-decoration-sprite-name: 'input_right_decoration@sprite';
$input-right-decoration-sprite-x: 232px;
$input-right-decoration-sprite-y: 150px;
$input-right-decoration-sprite-offset-x: -232px;
$input-right-decoration-sprite-offset-y: -150px;
$input-right-decoration-sprite-width: 9px;
$input-right-decoration-sprite-height: 16px;
$input-right-decoration-sprite-total-width: 256px;
$input-right-decoration-sprite-total-height: 240px;
$input-right-decoration-sprite-image: '/assets/images/various/various_sprite.png';
$input-right-decoration-sprite: (232px, 150px, -232px, -150px, 9px, 16px, 256px, 240px, '/assets/images/various/various_sprite.png', 'input_right_decoration@sprite', );
$modal-icon-sprite-name: 'modal-icon@sprite';
$modal-icon-sprite-x: 0px;
$modal-icon-sprite-y: 132px;
$modal-icon-sprite-offset-x: 0px;
$modal-icon-sprite-offset-y: -132px;
$modal-icon-sprite-width: 55px;
$modal-icon-sprite-height: 55px;
$modal-icon-sprite-total-width: 256px;
$modal-icon-sprite-total-height: 240px;
$modal-icon-sprite-image: '/assets/images/various/various_sprite.png';
$modal-icon-sprite: (0px, 132px, 0px, -132px, 55px, 55px, 256px, 240px, '/assets/images/various/various_sprite.png', 'modal-icon@sprite', );
$notchecked-sprite-name: 'notchecked@sprite';
$notchecked-sprite-x: 0px;
$notchecked-sprite-y: 187px;
$notchecked-sprite-offset-x: 0px;
$notchecked-sprite-offset-y: -187px;
$notchecked-sprite-width: 26px;
$notchecked-sprite-height: 26px;
$notchecked-sprite-total-width: 256px;
$notchecked-sprite-total-height: 240px;
$notchecked-sprite-image: '/assets/images/various/various_sprite.png';
$notchecked-sprite: (0px, 187px, 0px, -187px, 26px, 26px, 256px, 240px, '/assets/images/various/various_sprite.png', 'notchecked@sprite', );
$slider-handle-sprite-name: 'slider-handle@sprite';
$slider-handle-sprite-x: 52px;
$slider-handle-sprite-y: 187px;
$slider-handle-sprite-offset-x: -52px;
$slider-handle-sprite-offset-y: -187px;
$slider-handle-sprite-width: 20px;
$slider-handle-sprite-height: 20px;
$slider-handle-sprite-total-width: 256px;
$slider-handle-sprite-total-height: 240px;
$slider-handle-sprite-image: '/assets/images/various/various_sprite.png';
$slider-handle-sprite: (52px, 187px, -52px, -187px, 20px, 20px, 256px, 240px, '/assets/images/various/various_sprite.png', 'slider-handle@sprite', );
$submitcerca-sprite-name: 'submitcerca@sprite';
$submitcerca-sprite-x: 230px;
$submitcerca-sprite-y: 132px;
$submitcerca-sprite-offset-x: -230px;
$submitcerca-sprite-offset-y: -132px;
$submitcerca-sprite-width: 18px;
$submitcerca-sprite-height: 18px;
$submitcerca-sprite-total-width: 256px;
$submitcerca-sprite-total-height: 240px;
$submitcerca-sprite-image: '/assets/images/various/various_sprite.png';
$submitcerca-sprite: (230px, 132px, -230px, -132px, 18px, 18px, 256px, 240px, '/assets/images/various/various_sprite.png', 'submitcerca@sprite', );
$territorio-title-box-sprite-name: 'territorio_title_box@sprite';
$territorio-title-box-sprite-x: 55px;
$territorio-title-box-sprite-y: 150px;
$territorio-title-box-sprite-offset-x: -55px;
$territorio-title-box-sprite-offset-y: -150px;
$territorio-title-box-sprite-width: 81px;
$territorio-title-box-sprite-height: 19px;
$territorio-title-box-sprite-total-width: 256px;
$territorio-title-box-sprite-total-height: 240px;
$territorio-title-box-sprite-image: '/assets/images/various/various_sprite.png';
$territorio-title-box-sprite: (55px, 150px, -55px, -150px, 81px, 19px, 256px, 240px, '/assets/images/various/various_sprite.png', 'territorio_title_box@sprite', );
$spritesheet-width: 256px;
$spritesheet-height: 240px;
$spritesheet-image: '/assets/images/various/various_sprite.png';
$spritesheet-sprites: ($carat-title-box-sprite, $checkbox-checked-sprite, $checkbox-sprite, $checked-sprite, $clip-img-region-sprite, $combatpanel-box-notarget-sprite, $combatpanel-box-target-sprite, $descr-title-box-sprite, $info-title-box-sprite, $input-left-decoration-sprite, $input-right-decoration-sprite, $modal-icon-sprite, $notchecked-sprite, $slider-handle-sprite, $submitcerca-sprite, $territorio-title-box-sprite, );
$spritesheet: (256px, 240px, '/assets/images/various/various_sprite.png', $spritesheet-sprites, );



// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$abilita-btn-active-sprite-name: 'abilita-btn-active@sprite';
$abilita-btn-active-sprite-x: 0px;
$abilita-btn-active-sprite-y: 0px;
$abilita-btn-active-sprite-offset-x: 0px;
$abilita-btn-active-sprite-offset-y: 0px;
$abilita-btn-active-sprite-width: 220px;
$abilita-btn-active-sprite-height: 33px;
$abilita-btn-active-sprite-total-width: 443px;
$abilita-btn-active-sprite-total-height: 398px;
$abilita-btn-active-sprite-image: '/assets/images/buttons/buttons_sprite.png';
$abilita-btn-active-sprite: (0px, 0px, 0px, 0px, 220px, 33px, 443px, 398px, '/assets/images/buttons/buttons_sprite.png', 'abilita-btn-active@sprite', );
$abilita-btn-sprite-name: 'abilita-btn@sprite';
$abilita-btn-sprite-x: 0px;
$abilita-btn-sprite-y: 99px;
$abilita-btn-sprite-offset-x: 0px;
$abilita-btn-sprite-offset-y: -99px;
$abilita-btn-sprite-width: 220px;
$abilita-btn-sprite-height: 33px;
$abilita-btn-sprite-total-width: 443px;
$abilita-btn-sprite-total-height: 398px;
$abilita-btn-sprite-image: '/assets/images/buttons/buttons_sprite.png';
$abilita-btn-sprite: (0px, 99px, 0px, -99px, 220px, 33px, 443px, 398px, '/assets/images/buttons/buttons_sprite.png', 'abilita-btn@sprite', );
$back-square-sprite-name: 'back_square@sprite';
$back-square-sprite-x: 417px;
$back-square-sprite-y: 73px;
$back-square-sprite-offset-x: -417px;
$back-square-sprite-offset-y: -73px;
$back-square-sprite-width: 25px;
$back-square-sprite-height: 23px;
$back-square-sprite-total-width: 443px;
$back-square-sprite-total-height: 398px;
$back-square-sprite-image: '/assets/images/buttons/buttons_sprite.png';
$back-square-sprite: (417px, 73px, -417px, -73px, 25px, 23px, 443px, 398px, '/assets/images/buttons/buttons_sprite.png', 'back_square@sprite', );
$base-square-sprite-name: 'base-square@sprite';
$base-square-sprite-x: 417px;
$base-square-sprite-y: 26px;
$base-square-sprite-offset-x: -417px;
$base-square-sprite-offset-y: -26px;
$base-square-sprite-width: 24px;
$base-square-sprite-height: 24px;
$base-square-sprite-total-width: 443px;
$base-square-sprite-total-height: 398px;
$base-square-sprite-image: '/assets/images/buttons/buttons_sprite.png';
$base-square-sprite: (417px, 26px, -417px, -26px, 24px, 24px, 443px, 398px, '/assets/images/buttons/buttons_sprite.png', 'base-square@sprite', );
$base-brown-sprite-name: 'base_brown@sprite';
$base-brown-sprite-x: 0px;
$base-brown-sprite-y: 367px;
$base-brown-sprite-offset-x: 0px;
$base-brown-sprite-offset-y: -367px;
$base-brown-sprite-width: 31px;
$base-brown-sprite-height: 31px;
$base-brown-sprite-total-width: 443px;
$base-brown-sprite-total-height: 398px;
$base-brown-sprite-image: '/assets/images/buttons/buttons_sprite.png';
$base-brown-sprite: (0px, 367px, 0px, -367px, 31px, 31px, 443px, 398px, '/assets/images/buttons/buttons_sprite.png', 'base_brown@sprite', );
$btn-annulla-sprite-name: 'btn-annulla@sprite';
$btn-annulla-sprite-x: 0px;
$btn-annulla-sprite-y: 300px;
$btn-annulla-sprite-offset-x: 0px;
$btn-annulla-sprite-offset-y: -300px;
$btn-annulla-sprite-width: 115px;
$btn-annulla-sprite-height: 34px;
$btn-annulla-sprite-total-width: 443px;
$btn-annulla-sprite-total-height: 398px;
$btn-annulla-sprite-image: '/assets/images/buttons/buttons_sprite.png';
$btn-annulla-sprite: (0px, 300px, 0px, -300px, 115px, 34px, 443px, 398px, '/assets/images/buttons/buttons_sprite.png', 'btn-annulla@sprite', );
$btn-backhome-hover-sprite-name: 'btn-backhome-hover@sprite';
$btn-backhome-hover-sprite-x: 220px;
$btn-backhome-hover-sprite-y: 68px;
$btn-backhome-hover-sprite-offset-x: -220px;
$btn-backhome-hover-sprite-offset-y: -68px;
$btn-backhome-hover-sprite-width: 197px;
$btn-backhome-hover-sprite-height: 34px;
$btn-backhome-hover-sprite-total-width: 443px;
$btn-backhome-hover-sprite-total-height: 398px;
$btn-backhome-hover-sprite-image: '/assets/images/buttons/buttons_sprite.png';
$btn-backhome-hover-sprite: (220px, 68px, -220px, -68px, 197px, 34px, 443px, 398px, '/assets/images/buttons/buttons_sprite.png', 'btn-backhome-hover@sprite', );
$btn-backhome-sprite-name: 'btn-backhome@sprite';
$btn-backhome-sprite-x: 220px;
$btn-backhome-sprite-y: 102px;
$btn-backhome-sprite-offset-x: -220px;
$btn-backhome-sprite-offset-y: -102px;
$btn-backhome-sprite-width: 197px;
$btn-backhome-sprite-height: 34px;
$btn-backhome-sprite-total-width: 443px;
$btn-backhome-sprite-total-height: 398px;
$btn-backhome-sprite-image: '/assets/images/buttons/buttons_sprite.png';
$btn-backhome-sprite: (220px, 102px, -220px, -102px, 197px, 34px, 443px, 398px, '/assets/images/buttons/buttons_sprite.png', 'btn-backhome@sprite', );
$btn-config-graph-sprite-name: 'btn-config-graph@sprite';
$btn-config-graph-sprite-x: 34px;
$btn-config-graph-sprite-y: 334px;
$btn-config-graph-sprite-offset-x: -34px;
$btn-config-graph-sprite-offset-y: -334px;
$btn-config-graph-sprite-width: 34px;
$btn-config-graph-sprite-height: 33px;
$btn-config-graph-sprite-total-width: 443px;
$btn-config-graph-sprite-total-height: 398px;
$btn-config-graph-sprite-image: '/assets/images/buttons/buttons_sprite.png';
$btn-config-graph-sprite: (34px, 334px, -34px, -334px, 34px, 33px, 443px, 398px, '/assets/images/buttons/buttons_sprite.png', 'btn-config-graph@sprite', );
$btn-continua-sprite-name: 'btn-continua@sprite';
$btn-continua-sprite-x: 197px;
$btn-continua-sprite-y: 266px;
$btn-continua-sprite-offset-x: -197px;
$btn-continua-sprite-offset-y: -266px;
$btn-continua-sprite-width: 127px;
$btn-continua-sprite-height: 34px;
$btn-continua-sprite-total-width: 443px;
$btn-continua-sprite-total-height: 398px;
$btn-continua-sprite-image: '/assets/images/buttons/buttons_sprite.png';
$btn-continua-sprite: (197px, 266px, -197px, -266px, 127px, 34px, 443px, 398px, '/assets/images/buttons/buttons_sprite.png', 'btn-continua@sprite', );
$btn-equip-graph-sprite-name: 'btn-equip-graph@sprite';
$btn-equip-graph-sprite-x: 68px;
$btn-equip-graph-sprite-y: 334px;
$btn-equip-graph-sprite-offset-x: -68px;
$btn-equip-graph-sprite-offset-y: -334px;
$btn-equip-graph-sprite-width: 34px;
$btn-equip-graph-sprite-height: 33px;
$btn-equip-graph-sprite-total-width: 443px;
$btn-equip-graph-sprite-total-height: 398px;
$btn-equip-graph-sprite-image: '/assets/images/buttons/buttons_sprite.png';
$btn-equip-graph-sprite: (68px, 334px, -68px, -334px, 34px, 33px, 443px, 398px, '/assets/images/buttons/buttons_sprite.png', 'btn-equip-graph@sprite', );
$btn-info-graph-sprite-name: 'btn-info-graph@sprite';
$btn-info-graph-sprite-x: 136px;
$btn-info-graph-sprite-y: 334px;
$btn-info-graph-sprite-offset-x: -136px;
$btn-info-graph-sprite-offset-y: -334px;
$btn-info-graph-sprite-width: 34px;
$btn-info-graph-sprite-height: 33px;
$btn-info-graph-sprite-total-width: 443px;
$btn-info-graph-sprite-total-height: 398px;
$btn-info-graph-sprite-image: '/assets/images/buttons/buttons_sprite.png';
$btn-info-graph-sprite: (136px, 334px, -136px, -334px, 34px, 33px, 443px, 398px, '/assets/images/buttons/buttons_sprite.png', 'btn-info-graph@sprite', );
$btn-inventario-graph-sprite-name: 'btn-inventario-graph@sprite';
$btn-inventario-graph-sprite-x: 102px;
$btn-inventario-graph-sprite-y: 334px;
$btn-inventario-graph-sprite-offset-x: -102px;
$btn-inventario-graph-sprite-offset-y: -334px;
$btn-inventario-graph-sprite-width: 34px;
$btn-inventario-graph-sprite-height: 33px;
$btn-inventario-graph-sprite-total-width: 443px;
$btn-inventario-graph-sprite-total-height: 398px;
$btn-inventario-graph-sprite-image: '/assets/images/buttons/buttons_sprite.png';
$btn-inventario-graph-sprite: (102px, 334px, -102px, -334px, 34px, 33px, 443px, 398px, '/assets/images/buttons/buttons_sprite.png', 'btn-inventario-graph@sprite', );
$btn-lavora-hover-sprite-name: 'btn-lavora-hover@sprite';
$btn-lavora-hover-sprite-x: 377px;
$btn-lavora-hover-sprite-y: 300px;
$btn-lavora-hover-sprite-offset-x: -377px;
$btn-lavora-hover-sprite-offset-y: -300px;
$btn-lavora-hover-sprite-width: 31px;
$btn-lavora-hover-sprite-height: 23px;
$btn-lavora-hover-sprite-total-width: 443px;
$btn-lavora-hover-sprite-total-height: 398px;
$btn-lavora-hover-sprite-image: '/assets/images/buttons/buttons_sprite.png';
$btn-lavora-hover-sprite: (377px, 300px, -377px, -300px, 31px, 23px, 443px, 398px, '/assets/images/buttons/buttons_sprite.png', 'btn-lavora-hover@sprite', );
$btn-lavora-sprite-name: 'btn-lavora@sprite';
$btn-lavora-sprite-x: 31px;
$btn-lavora-sprite-y: 367px;
$btn-lavora-sprite-offset-x: -31px;
$btn-lavora-sprite-offset-y: -367px;
$btn-lavora-sprite-width: 31px;
$btn-lavora-sprite-height: 23px;
$btn-lavora-sprite-total-width: 443px;
$btn-lavora-sprite-total-height: 398px;
$btn-lavora-sprite-image: '/assets/images/buttons/buttons_sprite.png';
$btn-lavora-sprite: (31px, 367px, -31px, -367px, 31px, 23px, 443px, 398px, '/assets/images/buttons/buttons_sprite.png', 'btn-lavora@sprite', );
$btn-modifica-sprite-name: 'btn-modifica@sprite';
$btn-modifica-sprite-x: 220px;
$btn-modifica-sprite-y: 170px;
$btn-modifica-sprite-offset-x: -220px;
$btn-modifica-sprite-offset-y: -170px;
$btn-modifica-sprite-width: 131px;
$btn-modifica-sprite-height: 27px;
$btn-modifica-sprite-total-width: 443px;
$btn-modifica-sprite-total-height: 398px;
$btn-modifica-sprite-image: '/assets/images/buttons/buttons_sprite.png';
$btn-modifica-sprite: (220px, 170px, -220px, -170px, 131px, 27px, 443px, 398px, '/assets/images/buttons/buttons_sprite.png', 'btn-modifica@sprite', );
$btn-newlogin-hover-sprite-name: 'btn-newlogin-hover@sprite';
$btn-newlogin-hover-sprite-x: 0px;
$btn-newlogin-hover-sprite-y: 232px;
$btn-newlogin-hover-sprite-offset-x: 0px;
$btn-newlogin-hover-sprite-offset-y: -232px;
$btn-newlogin-hover-sprite-width: 197px;
$btn-newlogin-hover-sprite-height: 34px;
$btn-newlogin-hover-sprite-total-width: 443px;
$btn-newlogin-hover-sprite-total-height: 398px;
$btn-newlogin-hover-sprite-image: '/assets/images/buttons/buttons_sprite.png';
$btn-newlogin-hover-sprite: (0px, 232px, 0px, -232px, 197px, 34px, 443px, 398px, '/assets/images/buttons/buttons_sprite.png', 'btn-newlogin-hover@sprite', );
$btn-newlogin-sprite-name: 'btn-newlogin@sprite';
$btn-newlogin-sprite-x: 197px;
$btn-newlogin-sprite-y: 232px;
$btn-newlogin-sprite-offset-x: -197px;
$btn-newlogin-sprite-offset-y: -232px;
$btn-newlogin-sprite-width: 197px;
$btn-newlogin-sprite-height: 34px;
$btn-newlogin-sprite-total-width: 443px;
$btn-newlogin-sprite-total-height: 398px;
$btn-newlogin-sprite-image: '/assets/images/buttons/buttons_sprite.png';
$btn-newlogin-sprite: (197px, 232px, -197px, -232px, 197px, 34px, 443px, 398px, '/assets/images/buttons/buttons_sprite.png', 'btn-newlogin@sprite', );
$btn-pieta-sprite-name: 'btn-pieta@sprite';
$btn-pieta-sprite-x: 204px;
$btn-pieta-sprite-y: 334px;
$btn-pieta-sprite-offset-x: -204px;
$btn-pieta-sprite-offset-y: -334px;
$btn-pieta-sprite-width: 57px;
$btn-pieta-sprite-height: 19px;
$btn-pieta-sprite-total-width: 443px;
$btn-pieta-sprite-total-height: 398px;
$btn-pieta-sprite-image: '/assets/images/buttons/buttons_sprite.png';
$btn-pieta-sprite: (204px, 334px, -204px, -334px, 57px, 19px, 443px, 398px, '/assets/images/buttons/buttons_sprite.png', 'btn-pieta@sprite', );
$btn-reconnect-hover-sprite-name: 'btn-reconnect-hover@sprite';
$btn-reconnect-hover-sprite-x: 220px;
$btn-reconnect-hover-sprite-y: 34px;
$btn-reconnect-hover-sprite-offset-x: -220px;
$btn-reconnect-hover-sprite-offset-y: -34px;
$btn-reconnect-hover-sprite-width: 197px;
$btn-reconnect-hover-sprite-height: 34px;
$btn-reconnect-hover-sprite-total-width: 443px;
$btn-reconnect-hover-sprite-total-height: 398px;
$btn-reconnect-hover-sprite-image: '/assets/images/buttons/buttons_sprite.png';
$btn-reconnect-hover-sprite: (220px, 34px, -220px, -34px, 197px, 34px, 443px, 398px, '/assets/images/buttons/buttons_sprite.png', 'btn-reconnect-hover@sprite', );
$btn-reconnect-sprite-name: 'btn-reconnect@sprite';
$btn-reconnect-sprite-x: 220px;
$btn-reconnect-sprite-y: 0px;
$btn-reconnect-sprite-offset-x: -220px;
$btn-reconnect-sprite-offset-y: 0px;
$btn-reconnect-sprite-width: 197px;
$btn-reconnect-sprite-height: 34px;
$btn-reconnect-sprite-total-width: 443px;
$btn-reconnect-sprite-total-height: 398px;
$btn-reconnect-sprite-image: '/assets/images/buttons/buttons_sprite.png';
$btn-reconnect-sprite: (220px, 0px, -220px, 0px, 197px, 34px, 443px, 398px, '/assets/images/buttons/buttons_sprite.png', 'btn-reconnect@sprite', );
$btn-salva-sprite-name: 'btn-salva@sprite';
$btn-salva-sprite-x: 324px;
$btn-salva-sprite-y: 266px;
$btn-salva-sprite-offset-x: -324px;
$btn-salva-sprite-offset-y: -266px;
$btn-salva-sprite-width: 87px;
$btn-salva-sprite-height: 34px;
$btn-salva-sprite-total-width: 443px;
$btn-salva-sprite-total-height: 398px;
$btn-salva-sprite-image: '/assets/images/buttons/buttons_sprite.png';
$btn-salva-sprite: (324px, 266px, -324px, -266px, 87px, 34px, 443px, 398px, '/assets/images/buttons/buttons_sprite.png', 'btn-salva@sprite', );
$btn-skill-graph-sprite-name: 'btn-skill-graph@sprite';
$btn-skill-graph-sprite-x: 170px;
$btn-skill-graph-sprite-y: 334px;
$btn-skill-graph-sprite-offset-x: -170px;
$btn-skill-graph-sprite-offset-y: -334px;
$btn-skill-graph-sprite-width: 34px;
$btn-skill-graph-sprite-height: 33px;
$btn-skill-graph-sprite-total-width: 443px;
$btn-skill-graph-sprite-total-height: 398px;
$btn-skill-graph-sprite-image: '/assets/images/buttons/buttons_sprite.png';
$btn-skill-graph-sprite: (170px, 334px, -170px, -334px, 34px, 33px, 443px, 398px, '/assets/images/buttons/buttons_sprite.png', 'btn-skill-graph@sprite', );
$btn-stato-graph-sprite-name: 'btn-stato-graph@sprite';
$btn-stato-graph-sprite-x: 0px;
$btn-stato-graph-sprite-y: 334px;
$btn-stato-graph-sprite-offset-x: 0px;
$btn-stato-graph-sprite-offset-y: -334px;
$btn-stato-graph-sprite-width: 34px;
$btn-stato-graph-sprite-height: 33px;
$btn-stato-graph-sprite-total-width: 443px;
$btn-stato-graph-sprite-total-height: 398px;
$btn-stato-graph-sprite-image: '/assets/images/buttons/buttons_sprite.png';
$btn-stato-graph-sprite: (0px, 334px, 0px, -334px, 34px, 33px, 443px, 398px, '/assets/images/buttons/buttons_sprite.png', 'btn-stato-graph@sprite', );
$btn-tregua-sprite-name: 'btn-tregua@sprite';
$btn-tregua-sprite-x: 351px;
$btn-tregua-sprite-y: 170px;
$btn-tregua-sprite-offset-x: -351px;
$btn-tregua-sprite-offset-y: -170px;
$btn-tregua-sprite-width: 57px;
$btn-tregua-sprite-height: 19px;
$btn-tregua-sprite-total-width: 443px;
$btn-tregua-sprite-total-height: 398px;
$btn-tregua-sprite-image: '/assets/images/buttons/buttons_sprite.png';
$btn-tregua-sprite: (351px, 170px, -351px, -170px, 57px, 19px, 443px, 398px, '/assets/images/buttons/buttons_sprite.png', 'btn-tregua@sprite', );
$btn-wannulla-hover-sprite-name: 'btn-wannulla-hover@sprite';
$btn-wannulla-hover-sprite-x: 197px;
$btn-wannulla-hover-sprite-y: 198px;
$btn-wannulla-hover-sprite-offset-x: -197px;
$btn-wannulla-hover-sprite-offset-y: -198px;
$btn-wannulla-hover-sprite-width: 197px;
$btn-wannulla-hover-sprite-height: 34px;
$btn-wannulla-hover-sprite-total-width: 443px;
$btn-wannulla-hover-sprite-total-height: 398px;
$btn-wannulla-hover-sprite-image: '/assets/images/buttons/buttons_sprite.png';
$btn-wannulla-hover-sprite: (197px, 198px, -197px, -198px, 197px, 34px, 443px, 398px, '/assets/images/buttons/buttons_sprite.png', 'btn-wannulla-hover@sprite', );
$btn-wannulla-sprite-name: 'btn-wannulla@sprite';
$btn-wannulla-sprite-x: 0px;
$btn-wannulla-sprite-y: 198px;
$btn-wannulla-sprite-offset-x: 0px;
$btn-wannulla-sprite-offset-y: -198px;
$btn-wannulla-sprite-width: 197px;
$btn-wannulla-sprite-height: 34px;
$btn-wannulla-sprite-total-width: 443px;
$btn-wannulla-sprite-total-height: 398px;
$btn-wannulla-sprite-image: '/assets/images/buttons/buttons_sprite.png';
$btn-wannulla-sprite: (0px, 198px, 0px, -198px, 197px, 34px, 443px, 398px, '/assets/images/buttons/buttons_sprite.png', 'btn-wannulla@sprite', );
$btn-wlogin-hover-sprite-name: 'btn-wlogin-hover@sprite';
$btn-wlogin-hover-sprite-x: 220px;
$btn-wlogin-hover-sprite-y: 136px;
$btn-wlogin-hover-sprite-offset-x: -220px;
$btn-wlogin-hover-sprite-offset-y: -136px;
$btn-wlogin-hover-sprite-width: 197px;
$btn-wlogin-hover-sprite-height: 34px;
$btn-wlogin-hover-sprite-total-width: 443px;
$btn-wlogin-hover-sprite-total-height: 398px;
$btn-wlogin-hover-sprite-image: '/assets/images/buttons/buttons_sprite.png';
$btn-wlogin-hover-sprite: (220px, 136px, -220px, -136px, 197px, 34px, 443px, 398px, '/assets/images/buttons/buttons_sprite.png', 'btn-wlogin-hover@sprite', );
$btn-wlogin-sprite-name: 'btn-wlogin@sprite';
$btn-wlogin-sprite-x: 0px;
$btn-wlogin-sprite-y: 266px;
$btn-wlogin-sprite-offset-x: 0px;
$btn-wlogin-sprite-offset-y: -266px;
$btn-wlogin-sprite-width: 197px;
$btn-wlogin-sprite-height: 34px;
$btn-wlogin-sprite-total-width: 443px;
$btn-wlogin-sprite-total-height: 398px;
$btn-wlogin-sprite-image: '/assets/images/buttons/buttons_sprite.png';
$btn-wlogin-sprite: (0px, 266px, 0px, -266px, 197px, 34px, 443px, 398px, '/assets/images/buttons/buttons_sprite.png', 'btn-wlogin@sprite', );
$close-sprite-name: 'close@sprite';
$close-sprite-x: 417px;
$close-sprite-y: 0px;
$close-sprite-offset-x: -417px;
$close-sprite-offset-y: 0px;
$close-sprite-width: 26px;
$close-sprite-height: 26px;
$close-sprite-total-width: 443px;
$close-sprite-total-height: 398px;
$close-sprite-image: '/assets/images/buttons/buttons_sprite.png';
$close-sprite: (417px, 0px, -417px, 0px, 26px, 26px, 443px, 398px, '/assets/images/buttons/buttons_sprite.png', 'close@sprite', );
$close-square-sprite-name: 'close_square@sprite';
$close-square-sprite-x: 417px;
$close-square-sprite-y: 50px;
$close-square-sprite-offset-x: -417px;
$close-square-sprite-offset-y: -50px;
$close-square-sprite-width: 25px;
$close-square-sprite-height: 23px;
$close-square-sprite-total-width: 443px;
$close-square-sprite-total-height: 398px;
$close-square-sprite-image: '/assets/images/buttons/buttons_sprite.png';
$close-square-sprite: (417px, 50px, -417px, -50px, 25px, 23px, 443px, 398px, '/assets/images/buttons/buttons_sprite.png', 'close_square@sprite', );
$equipinv-btn-active-sprite-name: 'equipinv-btn-active@sprite';
$equipinv-btn-active-sprite-x: 0px;
$equipinv-btn-active-sprite-y: 132px;
$equipinv-btn-active-sprite-offset-x: 0px;
$equipinv-btn-active-sprite-offset-y: -132px;
$equipinv-btn-active-sprite-width: 220px;
$equipinv-btn-active-sprite-height: 33px;
$equipinv-btn-active-sprite-total-width: 443px;
$equipinv-btn-active-sprite-total-height: 398px;
$equipinv-btn-active-sprite-image: '/assets/images/buttons/buttons_sprite.png';
$equipinv-btn-active-sprite: (0px, 132px, 0px, -132px, 220px, 33px, 443px, 398px, '/assets/images/buttons/buttons_sprite.png', 'equipinv-btn-active@sprite', );
$equipinv-btn-sprite-name: 'equipinv-btn@sprite';
$equipinv-btn-sprite-x: 0px;
$equipinv-btn-sprite-y: 66px;
$equipinv-btn-sprite-offset-x: 0px;
$equipinv-btn-sprite-offset-y: -66px;
$equipinv-btn-sprite-width: 220px;
$equipinv-btn-sprite-height: 33px;
$equipinv-btn-sprite-total-width: 443px;
$equipinv-btn-sprite-total-height: 398px;
$equipinv-btn-sprite-image: '/assets/images/buttons/buttons_sprite.png';
$equipinv-btn-sprite: (0px, 66px, 0px, -66px, 220px, 33px, 443px, 398px, '/assets/images/buttons/buttons_sprite.png', 'equipinv-btn@sprite', );
$generale-btn-active-sprite-name: 'generale-btn-active@sprite';
$generale-btn-active-sprite-x: 0px;
$generale-btn-active-sprite-y: 33px;
$generale-btn-active-sprite-offset-x: 0px;
$generale-btn-active-sprite-offset-y: -33px;
$generale-btn-active-sprite-width: 220px;
$generale-btn-active-sprite-height: 33px;
$generale-btn-active-sprite-total-width: 443px;
$generale-btn-active-sprite-total-height: 398px;
$generale-btn-active-sprite-image: '/assets/images/buttons/buttons_sprite.png';
$generale-btn-active-sprite: (0px, 33px, 0px, -33px, 220px, 33px, 443px, 398px, '/assets/images/buttons/buttons_sprite.png', 'generale-btn-active@sprite', );
$generale-btn-sprite-name: 'generale-btn@sprite';
$generale-btn-sprite-x: 0px;
$generale-btn-sprite-y: 165px;
$generale-btn-sprite-offset-x: 0px;
$generale-btn-sprite-offset-y: -165px;
$generale-btn-sprite-width: 220px;
$generale-btn-sprite-height: 33px;
$generale-btn-sprite-total-width: 443px;
$generale-btn-sprite-total-height: 398px;
$generale-btn-sprite-image: '/assets/images/buttons/buttons_sprite.png';
$generale-btn-sprite: (0px, 165px, 0px, -165px, 220px, 33px, 443px, 398px, '/assets/images/buttons/buttons_sprite.png', 'generale-btn@sprite', );
$generalita-btn-active-sprite-name: 'generalita-btn-active@sprite';
$generalita-btn-active-sprite-x: 246px;
$generalita-btn-active-sprite-y: 300px;
$generalita-btn-active-sprite-offset-x: -246px;
$generalita-btn-active-sprite-offset-y: -300px;
$generalita-btn-active-sprite-width: 131px;
$generalita-btn-active-sprite-height: 27px;
$generalita-btn-active-sprite-total-width: 443px;
$generalita-btn-active-sprite-total-height: 398px;
$generalita-btn-active-sprite-image: '/assets/images/buttons/buttons_sprite.png';
$generalita-btn-active-sprite: (246px, 300px, -246px, -300px, 131px, 27px, 443px, 398px, '/assets/images/buttons/buttons_sprite.png', 'generalita-btn-active@sprite', );
$generalita-btn-sprite-name: 'generalita-btn@sprite';
$generalita-btn-sprite-x: 115px;
$generalita-btn-sprite-y: 300px;
$generalita-btn-sprite-offset-x: -115px;
$generalita-btn-sprite-offset-y: -300px;
$generalita-btn-sprite-width: 131px;
$generalita-btn-sprite-height: 27px;
$generalita-btn-sprite-total-width: 443px;
$generalita-btn-sprite-total-height: 398px;
$generalita-btn-sprite-image: '/assets/images/buttons/buttons_sprite.png';
$generalita-btn-sprite: (115px, 300px, -115px, -300px, 131px, 27px, 443px, 398px, '/assets/images/buttons/buttons_sprite.png', 'generalita-btn@sprite', );
$spritesheet-width: 443px;
$spritesheet-height: 398px;
$spritesheet-image: '/assets/images/buttons/buttons_sprite.png';
$spritesheet-sprites: ($abilita-btn-active-sprite, $abilita-btn-sprite, $back-square-sprite, $base-square-sprite, $base-brown-sprite, $btn-annulla-sprite, $btn-backhome-hover-sprite, $btn-backhome-sprite, $btn-config-graph-sprite, $btn-continua-sprite, $btn-equip-graph-sprite, $btn-info-graph-sprite, $btn-inventario-graph-sprite, $btn-lavora-hover-sprite, $btn-lavora-sprite, $btn-modifica-sprite, $btn-newlogin-hover-sprite, $btn-newlogin-sprite, $btn-pieta-sprite, $btn-reconnect-hover-sprite, $btn-reconnect-sprite, $btn-salva-sprite, $btn-skill-graph-sprite, $btn-stato-graph-sprite, $btn-tregua-sprite, $btn-wannulla-hover-sprite, $btn-wannulla-sprite, $btn-wlogin-hover-sprite, $btn-wlogin-sprite, $close-sprite, $close-square-sprite, $equipinv-btn-active-sprite, $equipinv-btn-sprite, $generale-btn-active-sprite, $generale-btn-sprite, $generalita-btn-active-sprite, $generalita-btn-sprite, );
$spritesheet: (443px, 398px, '/assets/images/buttons/buttons_sprite.png', $spritesheet-sprites, );


