
@import '~@angular/material/theming';

$tg-theme-primary: mat-palette($mat-brown, A800, A600, A900);
$tg-theme-accent : mat-palette($mat-amber, A400, A100, A400);
$tg-theme-warn   : mat-palette($mat-red);

$tg-theme: mat-light-theme(
    $tg-theme-primary,
    $tg-theme-accent,
    $tg-theme-warn
);


$general-typography: mat-typography-config(
  $font-family: '"Open Sans", "Helvetica Neue", sans-serif',
  $body-2:        mat-typography-level(14px, 24px, 600)  
);


@include mat-button-theme($tg-theme);

@include mat-core($general-typography);
@include angular-material-theme($tg-theme);

