<form [formGroup]="frmStepThird">
  <div class="tg-registration-step" fxLayout>
    <div class="tg-sidebar" fxFlex="1 1 150px" *ngIf="culturesList['uma']; let cultures">
      <div *ngFor="let cult of cultures" class="tg-sidebar-item" [ngClass]="{'active': cult.name === selectedCulture}"
        (click)="setCultures(cult.name)">
        {{cult.name}}
      </div>
    </div>
    <div class="tg-detail-content" fxFlex="1 1 100%">
      <div class="tg-detail-text">
        <ng-container *ngIf="!selectedCulture; else cultureDetailContent">
          <p>La <b class="tg-cyan">cultura o professione</b> del tuo personaggio determina le esperienze vissute durante
            la sua giovinezza, come la famiglia e l'ambiente in cui è cresciuto. Ogni razza
            ed etnia ha culture o professioni prevalenti che il tuo personaggio può aver appreso.
            <p>Questa scelta determina le abilità e l'equipaggiamento iniziali del tuo personaggio. Durante il gioco
              potrai comunque ottenere nuovi oggetti e imparare nuove abilità.</p>
        </ng-container>
      </div>
    </div>
  </div>
</form>

<ng-template #cultureDetailContent>
    <div class="tg-detail-text" [innerHtml]="cultureDetailText"></div>
    <button mat-raised-button matStepperPrevious>Indietro</button>&nbsp;
    <button mat-raised-button matStepperNext color="accent">Avanti</button>
</ng-template>

