@import 'variables';
@import '~src/scss/colors';
@import 'sprites';
@import 'utils/sprites-mixins';

:host {
  background: url($imgPath + "/borders/border-002-tiny.png") repeat-x top left;
  padding-top: 2px;
}

.tg-geolocal {
    position: relative;
    padding: 8px;
    background: #190f06 url($imgPath + "/background/bg-ironbrown.jpg") repeat;
    height: 100%;
}

.tg-geolocal--title {
    @include sprite($territorio-title-box-sprite);
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }

.tg-geolocal--imagecnt{
    border: 2px solid #4b3d2b;
    border-radius: 2px;
    height: 143px;
    background: black;
}

.tg-geolocal--image{
    background: url($imgPath + '/regions/region_default.jpg') no-repeat center center;
    background-size: contain;
    height: 100%;
    width: 100%;
}

.tg-geolocal--data {
    background: url($imgPath + '/regions/bg_dataregions.jpg') no-repeat center center;
    background-size: cover;
    padding: 1em 0 0;
}

.tg-geolocal--databox {
    border:1px solid #593f29;
    margin: auto 1em;
    padding: 2em;
    background: rgba(9,7,6, 0.6);
    margin: 10% auto 4%;
    text-align: center;

    span {
    }
}