  <div class="tg-alert">
    <div class="b-ironlight-mini b-ironlight-thin tg-box">
      <div class="tg-dialog-content tg-shadow-inset">
        <div class="tg-dialog-inside tg-shadow-inset">
          <div class="tg-base-logo"></div>
          <p>{{data.replayMessage}}</p>
          <div>
            <!-- <button mat-button [mat-dialog-close]="true" class="tg-button tg-button-continua" (click)="onClose()">Chiudi</button> -->
          </div>
        </div>
      </div>
      <div class="tg-border-box">
        <div class="tg-border tg-border-top"></div>
        <div class="tg-border tg-border-left"></div>
        <div class="tg-border tg-border-right"></div>
        <div class="tg-border tg-border-bottom"></div>
      </div>
    </div>
  </div>
  