  <div class="tg-alert mat-elevation-z4 tg-shadow-inset">
    <div class="b-ironlight-mini b-ironlight-thin tg-box">
      <div class="tg-dialog-content">
          <div class="tg-base-logo big"></div>
          <p [innerHtml]="data.replayMessage"></p>
          <ng-container *ngIf="data.hasError">
            <button mat-button>Riprova</button>&nbsp;&nbsp;
            <button mat-button>Chiudi</button>
          </ng-container>
      </div>
      <div class="tg-border-box">
        <div class="tg-border tg-border-top"></div>
        <div class="tg-border tg-border-left"></div>
        <div class="tg-border tg-border-right"></div>
        <div class="tg-border tg-border-bottom"></div>
      </div>
    </div>
  </div>
  