@import 'abstract/variables';

.opacize-3{
  opacity: .3;
}
.opacize-5{
  opacity: .5;
}

.tg-icons, tg-icons {
  margin: auto 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
  box-sizing: content-box;
  line-height: 16px;
  position: relative;

  .tg-icon {
    background-image: url($imgPath + '/tiles.png');
    background-repeat: no-repeat;
    transform: scale(.5);
    width: 32px;
    height: 32px;
    position: absolute;
    left: -8px;
    top: -8px;
    margin: auto;
  }
  
  &.squared {
    @include sprite($base-square-sprite);
    width: 26px!important;
    display: flex;
  
    .tg-icon {
      top: -4px;
      left: -4px;
    }
}


}

.tg-error {
  border: 1px solid #dc3545;
  color: $base-text-color;
  font-weight: 500;
  background: #360e10;
  margin: 1em 0 0;
  padding: 1em;

  a {
    color: $base-text-color;
    text-decoration: underline;
  }
}

.tg-error-bold {
  padding: 1em 0;
  color: $tg-red;
  font-weight: bold;
}


/* BOX SHADOWS */
.tg-shadow {
  box-shadow: 0px 6px 11px 0 black;
  background-color: black;
}

.tg-shadow-light {
  box-shadow: 0px 3px 5px 0 black;
}

.tg-shadow-inset {
  box-shadow: 0px 0px 9px 2px black inset;
}

.tg-shadow-inout {
  box-shadow: 0px -2px 9px 2px black inset, 0px 5px 9px 2px black; 
}


.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.clear {
  width: 100%;
  clear:both;
}