@import 'abstract/variables';


.tg-error {
  border: 1px solid #dc3545;
  color: $base-text-color;
  font-weight: 500;
  background: #360e10;
  margin: 1em 0 0;
  padding: 1em;

  a {
    color: $base-text-color;
    text-decoration: underline;
  }
}

.tg-error-bold {
  padding: 1em 0;
  color: $tg-red;
  font-weight: bold;
}


/* BOX SHADOWS */
.tg-shadow {
  box-shadow: 0px 6px 11px 0 black;
  background-color: black;
}

.tg-shadow-light {
  box-shadow: 0px 3px 5px 0 black;
}

.tg-shadow-inset {
  box-shadow: 0px 0px 9px 2px black inset;
}

