.tg-box-header {
  line-height: 1;
  font-size: 1em;
  padding: 0;
  border-bottom: 1px solid #433b3a;
  box-shadow: inset 0px -5px 11px 0px black;
  position: relative;
  background: url($imgPath + '/background/blood_dark.jpg') repeat top left !important;

  .tg-box-tab-container {
    height: 100%;
  }


  .tg-box-title {
    padding: 6px 8px;
    margin-right: 12px;
    border-radius: 0;
    font-size: 1.2em;
    color: #dad6c1a8;
    font-family: $modern-antiqua;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 0;

  }
  h3 {
    font-weight: normal;
    color: #dad6c1!important;
  }

  .tg-box-collapsebtn {
    line-height: normal;
    height: 22px;
    width: 22px;
    margin: auto 6px auto auto;

    .mat-icon {
      line-height: 22px;
      width: 22px;
      height: 22px;
    }
  }

  .active .tg-box-title {
    color: #dad6c1!important;
  }
}

.tg-objects-list {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: $base-text-color;
  box-sizing: border-box;
  background-color: black;
  height: 100%;



  .objlist-caption {
    background-color: #0c0c0c;
    color: white;
    border-bottom: 1px solid #433b3a;
    text-transform: uppercase;
    font-size: .8em;

    >div {
      padding: 3px 8px;
      line-height: 1;
    }
  }

  .objlist-wrapper-list {
    padding: 6px 0;
  }

  .objlist-wrapper {
    padding: 4px 8px 0;
  }

  .objlist-item-wrap {
    border-bottom: 1px solid #191616;
    cursor: pointer;

    &:hover {
      background-color: rgba(158, 158, 158, 0.1);
    }
  }

  .objlist-item-text,
  .objlist-item-weight,
  .objlist-item-position,
  .objlist-item-qty {
    line-height: 1;
    border-left: 1px solid #191616;
    padding: 0 8px;

    .objlist-item-text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

}


.no-items-notice {
  padding: 12px 4px;
}