<div class="tg-area tg-box b-area">
  <div class="tg-border-box">
    <div class="tg-border tg-border-top"></div>
    <div class="tg-border tg-border-left"></div>
    <div class="tg-border tg-border-right"></div>
    <div class="tg-border tg-border-bottom"></div>
  </div>
  <!-- Main Panel -->
 <div class="tg-main" fxLayout="column" fxFill>
    <tg-navbar fxFlex="0 0 36px"></tg-navbar>
    <div fxLayout="row" fxFlex="1 1 0%" class="tg-main-row">
      <div class="tg-leftside" fxFlex="1 1 auto" fxLayout="column">
        <tg-output fxLayout fxFlex="1 1 auto" ></tg-output>
        <tg-dashboard></tg-dashboard>
      </div>
      <tg-right-sidebar fxLayout fxFlex="0 0 auto" fxHide.xs="true"></tg-right-sidebar>
    </div>
  </div>
  <tg-audio></tg-audio> 
</div>

<!-- <tg-login-smart></tg-login-smart>
<tg-commands-list></tg-commands-list> -->
<!-- <tg-generic-table></tg-generic-table> -->