@import 'variables';

@import 'sprites';
@import 'utils/sprites-mixins';

/* Tg Extra Board */
.extraboard-content {
  padding-left: 2px;
  height: 100%;
  background: #0f0e0e url($imgPath + '/borders/border-002-tiny-v.png') top left repeat-y;
}

.tg-main-buttons{
  background: black url($imgPath + "/borders/border-002-tiny-v.png") repeat-y top left;
	box-sizing: content-box;
	height: 100%;
	width: 102px;

  // Buttons 
  button {
    margin: auto;
  }

  button:hover {
    box-shadow: inset 0 0 17px 0px #8e5f18;
  }
}
