@import 'variables';

:host {
  display: block;
  background: url($imgPath + '/registration/bg.jpg') no-repeat top left;
  background-size: 100% auto;
  background-attachment: fixed;
  background-color: black;
  min-height: 100%;
}

.tg-auth-form {
  width: 340px;
  margin: auto;
  color: #9b9285;

  .tg-auth-form-header {
    margin-bottom: 15px;
    text-align: center;

    >div {
      padding-top: 32px;
    }

    h1 {
      font-weight: 300;
      font-size: 24px;
      letter-spacing: -.5px;
      margin-top: 0;
    }
  }

  .tg-auth-form-body,
  .tg-auth-create {
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 20px;
    font-size: 14px;
  }


  .tg-auth-form-body {
    background: #181411;
  }

  form, .noform {
    width: 100%;

    .form-field-group {
      width: 100%;
      position: relative;
      overflow: hidden;
      margin-bottom: 1em;
    }

    label,
    input {
      display: block;
    }

    label {
      font-weight: 600;
      margin-bottom: 6px;
    }


    .label-link {
      float: right;
      font-size: 12px;
      text-decoration: none;
      color: $tg-brown;
    }

    input {
      color: #e4dcd2;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.49);
      padding: .5em;
      box-sizing: border-box;
      border: 1px solid rgba(255, 255, 255, 0.18);
      transition: border .4s ease-out;

      &:hover,
      &:focus {
        border: 1px solid rgba(255, 255, 255, 0.50);
      }
    }

    .input-block {
      margin-top: .5em;
    }

    .tg-submit-primary {
      background-color: #ca8d14;
      background-image: linear-gradient(-180deg, #d69813, #a96f17 90%);
      color: #fff;
      cursor: pointer;
    }

    .tg-submit-primary:disabled {
      opacity: .6;
		}
		
		

		.tg-auth-create {
			text-align: center;
			margin-top: 10px;
	
			a {
				text-decoration: none;
			}
	
			a:hover {
				text-decoration: underline;
			}
    }
    
    .mat-hint {
      position: absolute;
      right: 0;
      bottom: 0;
      color: rgba(255, 255, 255, 0.50);
      font-size: 80%;
    }
  
    .invalid-feedback {
      display: none;
      width: 100%;
      margin-top: .25rem;
      font-size: 80%;
      color: #dc3545;
    }
    
    &.ng-invalid .invalid-feedback {
      display: block;
    }
  }



  .api-error {
    border: 1px solid #dc3545;
    color: white;
    font-weight: 500;
    background: #360e10;
    margin: 1em 0 0;
    padding: 1em;
  }

}
